.AdvanceSearchInputFields{
  .InputField{
    // margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 1024px){
  .AdvanceSearchInputFields{
    .ui.grid{
      .row{
        .column{
          width: 100% !important;
          .InputField{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}