

.ManageCompnies{
  .manageCompany_body{
    .SearchCard{
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      margin-top: 12px;
      border-radius: 6px;
    }
    .SearchCardAccordion{
      
      
      .ui.accordion .title{
        padding-top: 0;
        .manegeCard_img{
          border-radius: 6px;
          width: 50px;
          height: 50px;
        }
      }
      .SearchCardHeader{
        margin-top: -7px;
      }
    }
  }
}