.MessagingChatInitiate{
  // height: 85Vh;
  .messaginMobile_chatsideBar{

    margin-top: 10px;
    padding: 15px;

    .searchField{
      .field{
        input{
          border-radius: 30px;
        }
      }
    }
  }
}