.AboutusBody{
  margin-top: 50px;
  margin-bottom: 30px;
  .AboutusBody_header{
    text-align: center;
    padding-bottom: 14px;
  }
  .AboutusCard_container{
    display: flex;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 20px 30px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
    .AboutusCard_left{
      min-width: 200px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .header_left{

      }
      .body_left{
        text-align: center;
        padding-top: 10px;
        .title{
          font-family: 'Quicksand';
          font-size: 15px;
          font-weight: bold;
          color: #323232;
        }
        .subTitle{
          font-size: 13px;
          font-weight: 600;
          color: #797979;
        }
        p{
          margin-bottom: 5px;
        }
      }
    }

    .AboutusCard_right{
      display: flex;
      img{
        height: 25px;
        width: 36px;
      }
      p{
        margin-top: 10px;
        margin-left: 10px;
        color: #797979;
      }
    }
  }
  .aboutPeople_CardContainer{
    margin-top: 30px;
  }
  .aboutPeople_Card{
    position: relative;
    margin-bottom: 20px;
    .aboutPeople_CardHover{
      opacity: 1;
      transition: 0.5s ease;
      backface-visibility: hidden;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 250px;
      .aboutPeople_CardHoverHeader{
        
      }
      .aboutPeople_CardHoverBody{
        margin-top: 10px;
        p{
          margin-bottom: 2px;
          text-align: center;
        }
        .title{
          font-family: 'Quicksand';
          font-size: 15px;
          font-weight: bold;
          color: #797979;
        }
        .subTitle{
          font-size: 13px;
          font-weight: 600;
          color: #a1a1a1;
        }
      }
    }
    .aboutPeople_CardShow{
      transition: 0.5s ease;
      padding: 20px 25px;
      top: 0;
      opacity: 0;
      background-color: white;
      position: absolute;
      bottom: 0;
      transform-origin: center;
      display: flex;
      justify-content: space-around;
      text-align: center;
      border-radius: 6px;
      width: 100%;

      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
      // background-color: #eef6f9 !important;

      .aboutPeople_CardShowHeader{
        .AboutusSocial{
          margin-top: 6px;
        }
        img{

        }
        p{
          margin-bottom: 2px;
          text-align: center;
        }
        .title{
          font-family: 'Quicksand';
          font-size: 15px;
          font-weight: bold;
          color: #797979;
          margin-top: 10px;
        }
        .subTitle{
          font-size: 13px;
          font-weight: 600;
          color: #a1a1a1;
        }
      }
      .aboutPeople_CardShowBody{
        img{
          height: 13px;
          width: 18px;
        }
        p{
          margin-top: 10px;
          color: #797979;
        }
      }
    }
    .aboutPeople_CardShow{
      flex-direction: column;
    }
  }

  .aboutPeople_Card:hover .aboutPeople_CardHover {
    opacity: 0.1;
  }

  .aboutPeople_Card:hover .aboutPeople_CardShow {
    opacity: 1;
    width: 100%;
  }

}