.Interview_suggestedBox{
  background-color: #ffffff;
  border-radius: 6px;
  padding-bottom: 20px;
  .suggestedBox_header{
    display: flex;
    align-items: center;
    background-color: #0b9ed0;
    border-radius: 6px 6px 0px 0px;
    padding: 10px 16px;
    img{
      height: 32px;
      width: 32px;
    }
    p{
      font-family: 'Quicksand';
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
      margin-left: 10px;
      
    }
  }
  .suggestedBox_Body{
    display: flex;
    padding: 14px;
    .suggestedBox_BodyLeft{
      min-width: 45px;
      font-family: 'Open Sans';
      font-size: 14px;
      font-weight: 600;
      color: #a1a1a1;
    }
    .suggestedBox_BodyRight{
      margin-left: 16px;
      p{
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 600;
        color: #323232;
        margin-bottom: 8px;
        span{
          color: #797979;
        }
      }
    }
  }
  .suggestedBox_Footer{
    padding-left: 10px;
    padding-right: 10px;
    .alternativeBtn{
      background-color: transparent;
      color: #0b9ed0;
    }
  }
}