.DashboardMessaging{
  .footerBtn{
    text-align: center;
  }
}

@media only screen and (max-width: 1024px){
  .DashboardMessaging{
    .MessagingMobileChatField{
      position: relative;
      z-index: 1;
    }
  }
}