.best-panel-tab{
  .bestPanel_cardBtn{
		text-align: center;
		margin-top: 43px;
		.ui.button{
			background-color: transparent;
			padding: 0;
			color: #797979;
			&:hover{
				color: #0B9ED0;
				svg path{
					fill: #0B9ED0;
				}
			}
			svg{
				margin-left: 10px;
			}
		}
	}
}