.UserSignUp{
    .social_login{
      padding: 0 15px 20px 15px !important;
      .social_loginContent{
        background-color: #F8F7FC !important;
        border-radius: 5px;
        padding: 10px 15px 10px !important;
      }
  
      .UserSignUp_form{
  
        .field:first-child{
          margin-top: 20px !important;
        }
        .field{
          margin-bottom: 20px !important;
        }
      }
      
    }
  }
  
  .displayNone{
    display: none !important;
  }