.repost-button {
  background-color: transparent !important;
  border: 2px solid transparent !important;
  border-radius: 18px !important;
  font-family: "Open Sans" !important;
  font-size: 13px !important;
  color: #0b9ed0 !important;
  text-align: center;
  transform: scale(1, 1.01);
  padding: 0.58571429em 1.5em 0.58571429em !important;
  transition: border 0.3s ease-in-out !important;
}
.repost-button:hover {
  border: 2px solid #0b9ed0 !important;
}
.repost-active {
  border: 2px solid #0b9ed0 !important;
}
.repost-button:active {
  background-color: #0b9ed0 !important;
  color: #ceeefe !important;
}
.repost-open-modal-block {
  .text-style-font1 {
    font-family: "Open Sans";
    font-size: 15px;
    color: #575757;
    text-align: center;
    line-height: 24px;
    margin: 0 0 0.2em;
  }
  .text-style-font2 {
    font-family: "Open Sans";
    font-size: 13px;
    color: #575757;
    text-align: center;
    line-height: 24px;
    margin: 0 0 0.2em;
  }
  .action-button {
    text-align: center;
    margin-top: 20px;
  }
  .cross-button {
    margin-bottom: 20px;
  }
  .cross-icon {
    float: right;
    cursor: pointer;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
}
@media (max-width: 1025px) {
  .repost-open-modal-block {
    .cross-button {
      margin-bottom: 30px;
    }
    .text-style-font1 {
      font-family: "Open Sans";
      font-size: 14px;
      color: #575757;
      text-align: center;
      line-height: 24px;
      margin: 0 0 0.2em;
    }
    .text-style-font2 {
      font-family: "Open Sans";
      font-size: 13px;
      color: #575757;
      text-align: center;
      line-height: 24px;
      margin: 0 0 0.2em;
    }
  }
}
