.messagingMainDoc{
  // display: flex;
  // background-color: #f7f7fb !important;
  .MessagingDownload:hover{
    svg{
      g{
        fill: #0b9eb0;
      }
    }
  }
  .messagingMainDocDiv{
    display: flex;
    margin-left: 14px;
  .messagingTxt{
    .messagingTxt_truncate{
      overflow: hidden;
      text-overflow: ellipsis;
      display: grid;
      white-space: nowrap;
      p{
        padding-left: 9px;
        margin-top: -3px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
  }
}}
.messagingList{
  .messagingListItem{
    font-size: 12px !important;
  }
}
