.panel-cardBody {
    .New_add:not(:first-child) {
        padding-top: 80px;
    }

    .education_skillYear{
      .completed_yearColumn{
        display: flex !important;
        align-items: center;
        justify-content:center;
        padding-left: 0 !important;
        padding-right: 0 !important;

      }
    }
}

.ui.checkbox input:focus~label{
  color: #575757 !important;
}

@media only screen and (max-width: 1024px){
  .panel-cardBody {
    .education_skillYear {
      .completed_yearColumn{
        display: none !important;
      }
    }
  }
}