.tempMainDiv{
  .tempHeader{
    padding: 20px;
    background-color: #f7f7fb;
  }

  .UploadeDocMessaging{
    padding-bottom: 10px;
    .messagingMainDoc{
      background-color: #f7f7fb !important;
    }
  }

  .tempContainerBody{
    min-height: 300px;
  }

  .tempContainerFooter{
    padding: 20px;
    border-top: 1px solid #eeeef2;
  }
}