.user-profile-feedback-modal-block {
  .cross-button {
    margin-bottom: 15px;
  }
  .cross-icon {
    float: right;
    cursor: pointer;
  }
  .modal-title {
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    text-align: center;
    line-height: 24px;
  }
  .modal-card-popup {
    display: flex;
    border-bottom: 1px solid #e4e4e6;
    padding: 15px 0;
  }
  .border-top {
    border-top: 1px solid #e4e4e6;
  }
  .item-card-popup > .modal-card-popup:last-child {
    border-bottom: none;
  }
  .user-icon {
    margin-right: 20px;
  }
  .img-responsive {
    width: 50px;
    height: auto;
    border-radius: 500rem;
  }
  .user-details-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .user-name {
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 500;
    color: #323232;
    text-align: left;
    transform: scale(1, 1.01);
    margin-bottom: 5px;
  }
  .user-location {
    font-family: "Open Sans";
    font-size: 14px;
    color: #a1a1a1;
    text-align: left;
    transform: scale(1, 1.01);
    margin-bottom: 5px;
  }
  .user-applied-text {
    font-family: "Open Sans";
    font-size: 14px;
    color: #a1a1a1;
    text-align: left;
    margin-bottom: 5px;
  }
  .user-applied-text1 {
    font-family: "Open Sans";
    font-size: 13px;
    color: #a1a1a1;
    text-align: right;
  }
  .user-designation {
    font-family: "Open Sans";
    font-size: 14px;
    color: #575757;
    text-align: left;
    transform: scale(1, 1.01);
    margin-bottom: 5px;
  }
  .user-status {
    font-family: "Open Sans";
    font-size: 13px;
    color: #0b9ed0;
    text-align: right;
    transform: scale(1);
  }
  .skip-button {
    font-family: "Open Sans";
    font-size: 15px;
    color: #0b9ed0;
    text-align: center;
    transform: scale(1, 1.01);
  }
  .text-center {
    text-align: center;
  }
  .mb-8 {
    margin-bottom: 8px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .user-card-right {
    display: flex;
    flex-direction: column;
  }
  .hidden-mobile {
    display: block;
  }
  .loader-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #0b9ed0;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 1025px) {
  .user-profile-feedback-modal-block {
    .modal-content {
      padding: 0.8rem !important;
    }
    .user-details-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .user-name {
      font-size: 16px;
    }
    .user-applied-text {
      font-size: 14px;
    }
    .user-applied-text1 {
      font-size: 13px;
    }
    .user-designation {
      font-size: 14px;
    }
    .user-status {
      font-size: 13px;
    }
    .modal-title {
      font-size: 15px;
    }
    .hidden-mobile {
      display: none;
    }
    .modal-title {
      margin-bottom: 20px;
    }
  }
}
