.profileCardExperience{
  .ui.grid{
    .experienceGridRow{
      padding-top: 0;
    }
  }
  
  .InfoSection{
    .ui.header{
      color: #575757 !important;
      margin-bottom: 5px !important;
    }
    .experienceTitle{
      .ui.header{
        font-size: 16px;
      }
      .title{
        font-size: 14px;
        color: #575757;
        margin-bottom: 5px;
      }
      .subTitle{
        font-size: 12px;
        color: #797979;
      }
    }
    
  }
}