// .CreateProfileBannerHead{
//   padding-top: 140px;

//   .FileuploadBtn{
//     padding-top: 40px;
//   }
// }

// @media only screen and (max-width: 767px) { 
//   .CreateProfileBannerHead{
//     padding-top: 125px;

//     .FileuploadBtn{
//       padding-top: 0;
//     }
//   }
// }