.BestPaneLeft{
  background-color: #ffffff;
  .content{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .bestPane_header{
    padding: 15px;
    // border-top-right-radius: 6px;
    // border-top-left-radius: 6px;
    background-color: #009D8C;

    h3{
      color: white !important;
      font-size: 20px;
    }

    p{
      font-family: "Open Sans" !important;
      font-weight: 500 !important;
      color: #edf3ff;
    }
  }
}

