

.mainMessaging{
  // margin-top: 70px;
  .chatSideBarPeopleList{
    // overflow: hidden;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    // height: 88%;

    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    // height: 100%;
    height: calc(100% - 120px);
    // border-width: 1px;
    // border-style: solid;
    // border-color: rgb(247, 247, 247);
    border-image: initial;
    padding: 0px !important;
    margin: 0px !important;
  }

    /* width */
    .chatSideBarPeopleList::-webkit-scrollbar {
      width: 4px;
      height: 100px !important;
      border-radius: 0 !important;
    }

    /* Track */
    .chatSideBarPeopleList::-webkit-scrollbar-track {
      background: transparent; 
    }

    /* Handle */
    .chatSideBarPeopleList::-webkit-scrollbar-thumb {
      background: #a1a1a1 !important; 
      border-radius: 0 !important;
      height:50px !important;
    }

    /* Handle on hover */
    // .chatSideBarPeopleList::-webkit-scrollbar-thumb:hover {
    //   background: #555; 
    // }
}

.ChatSideBar{
  height: 100%;
}