.p2p-tracker-icon-block {
  .p2p-tracker-button-icon {
    border-radius: 2px;
    background: none !important;
  }
  button:hover {
    background-color: #f7f7fb;
    svg path {
      fill: #0b9ed0 !important;
    }
  }
}
