.SharedImagePreview{
  .SharedImagePreview_Header{
    svg{
      transform: rotate(180deg);
    }
    .ui.header{
      padding-left: 7px;
    }
  }

  .SharedImagePreview_img{
    padding-top: 50px;
  }
}