.Chatbot__smallView {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30px;
  background: #0b9ed0;
  right: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px
    rgba(
      $color: (
        #000000
      ),
      $alpha: 0.6
    );
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  // -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  // -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  // animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: 1.25s ease infinite pulse;
  &:hover {
    cursor: pointer;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
  }
  img {
    height: auto;
    width: 34px;
  }
}
// @-webkit-keyframes pulse {
// to {
// box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
// }
// }
// @-moz-keyframes pulse {
// to {
// box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
// }
// }
// @-ms-keyframes pulse {
// to {
// box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
// }
// }
// @keyframes pulse {
// to {
// box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
// }
// }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0b9ed0;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(21, 101, 192, 0);
  }
}
@media screen and (max-width: 1024px) {
  .Chatbot__smallView {
    right: 20px;
    bottom: 50px;
  }
}
