.companyOption_dropdown{
  display: flex;
  .company_logo{
    svg{
      border-radius: 6px;
    }
    img{
      border-radius: 6px;
      height: 27px;
      width: 27px;
    }
  }
  .companyoption_right{
    margin-left: 10px;
    p{
      margin-bottom: 0 !important;
      padding: 0 !important;
    }
    .title{
      color: #323232 !important;
      .spanTitle{
        color: #a1a1a1;
      }
      .spanSub{
        color: #797979;
      }
    }
    .subTitle{
      font-size: 12px;
      color: #a1a1a1;
    }
  }
}