.PostJobHeader {
  background-color: #0b9ed0;
  padding: 30px 20px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-top: -40px;
  .header_text {
    padding-bottom: 30px;
    h2 {
      font-size: 22px;
      color: #ceeefe;
    }
  }

  .selectOption_column.column.computer {
    padding-right: 0;
  }

  .selectOption_jobLinkColumn.column.computer {
    padding-left: 0;
  }

  .selectOption {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    .header_btnColumn.column {
      padding-left: 0;
      padding-right: 0;
    }
    // .SelectOptionField{
    //   .selection{
    //     border: 1px solid #99d9f9 !important;
    //   }
    // }
  }

  .header_inputField.row {
    padding-top: 5px;

    .downArrow__icon {
      // margin-top: -30px;
    }
    .selectOption_label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #575757;
      font-size: 16px;

      svg {
        margin-left: 10px;
      }
      .header_list {
        // .list{
        //   margin-left: 14px;
        // }
        .item {
          font-size: 18px;
        }
      }
    }

    .inputField_lavel.row {
      padding-bottom: 0;
      h4 {
        color: #575757;
        font-size: 16px;
        padding-bottom: 2px;
        .list_item {
          .item:first-child:before {
            display: block !important;
          }

          .item {
            margin-left: 12px !important;
            color: #797979;
            &::before {
              color: #c8c8c8;
              margin-left: -8px;
            }
          }
        }
      }
    }

    // .header_inputField.row{
    //   padding-top: 0;
    //   h3{

    //   }
    // }

    // .selection{
    //   background-color: inherit;
    //   .text{
    //     color: #ceeefe !important;
    //   }

    //   .item {
    //     .text {
    //       color: #575757 !important;
    //     }
    //   }
    // }

    // .header_inputField{
    //   input{
    //     background-color: inherit;
    //     color: #ceeefe !important;
    //     &::placeholder{
    //       color: #ceeefe !important;
    //     }
    //   }
    // }
  }

  .inputField_divider {
    display: flex !important;
    justify-content: space-around;
    padding-top: 12px;
    h4 {
      color: #ceeefe;
      padding-top: 35px;
    }
  }

  .header_footerText {
    padding-top: 10px;
    text-align: right;
    color: #ceeefe;

    svg {
      transform: rotate(-90deg);
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .InfoSection h2.ui.header.is-large {
    font-size: 18px !important;
  }
  .PostJobHeader {
    .header_text {
      h2 {
        font-size: 15px;
      }
    }

    .selectOption_column.column.computer {
      padding-right: 14px;
    }

    .selectOption_jobLinkColumn.column.computer {
      padding-left: 14px;
    }

    .selectOption {
      margin-bottom: 20px;
      .selectOption_label {
        display: block !important;
        svg {
          margin-top: 2px;
        }
      }
    }

    .header_inputField.row {
      .selectOption_label {
        font-size: 14px;
      }
      .inputField_lavel.row {
        h4 {
          font-size: 14px;
          span {
            font-size: 13px;
          }
        }
      }
    }
    .selectOption_label {
      font-size: 14px;
    }
  }

  .mobileGrid_bannerHeader {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    flex-direction: column !important;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .PostJobHeader {
    padding: 16px 12px 0px;
  }
}
