.LikeJobs_condidate{
  
  .noFound{
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LikeJobs_container{
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    border-radius: 6px;
    background-color: #ffffff;
    .RecommendedJobs_cardContainer{
      box-shadow: none !important;
      border-bottom: 1px solid  #eeeef2;
      background-color: transparent;
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
  .MyJob_cardContainer{
    .jobDefault_card{
      .MyJobCards_leftSide{
        .MyjobCard_leftDetails{
          .profleIncrease{
            display: none !important;
          }
        }
        .companydetails{
          .subTitle{
            .Recommendation{
              display: none !important;
            }
          }
        }
      }
    }
  }  
}