.ManageCompniesMobile {
  .MediaCard {
    .manegeCardHeaderRight {
      display: none !important;
    }

    .ui.grid {
      .row {
        .column.manegeCardHeaderLeft {
          width: 100% !important;
        }
      }
    }
  }
}

.ManageCompnies {
  .manegeCardFooter {
    display: none;
  }
  .CardSummary {
    .CreateTime {
      display: none;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .ManageCompniesMobile {
    .ManageCompniesMobile_body {
      margin-top: 55px;
      .ManageCompnies {
        .manageCompany_body {
          .SearchCard {
            .MediaCard {
              box-shadow: none;
            }
          }
        }
      }
    }
    .manegeCardFooter {
      display: block !important;
      padding: 14px;
      .manegeCardFooterBtn {
        .ActionBtn{
          font-size:13px;
        }
        display: flex;
        justify-content: space-between;
        .FooterDeleteBtn {
          background-color: transparent;
          color: #575757;
          box-shadow: none !important;
        }
      }
    }

    .header_title {
      .gridColumnLeft {
        display: none !important;
      }
      .gridColumnRight {
        text-align: left !important;
        .header_btn {
          margin-top: 10px;
          font-size: 13px;
          padding: 0.58571429em 1.5em 0.58571429em;
          svg {
            height: 9px;
          }
        }
      }
    }

    .CardSummary {
      .CreateTime {
        display: block !important;
      }
    }
  }
}
