.InputFieldLabel{
  padding-top: 9px;
  padding-bottom: 9px;
  h3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px !important;

    // .iconInfo{
    //   height: 16px;
    //   width: 16px;
    // }

    svg{
      margin-left: 10px;
      
    }
  }
  
}

@media only screen and (max-width: 767px) { 
  .InputFieldLabel{
    h3{
      justify-content: flex-start;
      font-family: 'Open Sans' !important;
      font-size: 14px !important;
      color: #575757 !important;
    }
  }
}
