.AboutusHeader{
  background-color: #0b9ed0;
  margin-top: -30px;
  padding: 23px 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  .ui.header{
    // font-size: 28px;
    font-weight: 500;
    color: #ffffff;
  }
  .Headtitle{
    color: #ceeefe;
  }
  .HeadSubTitle{
    font-weight: 600;
    color: #ceeefe;
    span{
      font-weight: 400;
    }
  }
}