.SearchPages{
  .ui.segment{
    background-color: inherit;
    border: none;
    box-shadow: none;
  }

  .SearchPages_tab{
    margin-top: -110px;
    .ui.text.menu{
      margin-left: 30%;
       .item {
        margin-left: 30px;
        font-size: 20px;
        padding-bottom: 12px;
        color: #ffffff;

        .floating.label {
          border-radius: 10px;
          background-color: #ffffff;
          color: #1f2532;
          font-size: 9px;
          font-weight: 500;
        }
        
      }
      
      .active.item {
        border-bottom: 2px solid #0b9ed0;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(11, 158, 208);
        color: #0b9ed0;
        margin-bottom: -2px !important;
      }
    }
  }
}