.CandidatesDetailsBody {
  .detailsBody_container {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
    // padding: 5px 30px 20px;
    .ChatThreadMessageSection {
      overflow-y: auto !important;
      height: 300px !important;
    }
    .ChatThreadMessageField {
      .chatThread_messageFieldBox {
        .chatBox_btn {
          .footerBtn.row {
            text-align: left;
            padding-bottom: 0;
          }
        }
      }
    }
    .ui.text.menu::-webkit-scrollbar {
      display: none;
    }
    .ui.text.menu {
      border-bottom: 1px solid #eeeef2;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-left: 33px;
      margin-right: 33px;
      padding-top: 14px;
      .item {
        padding: 14px 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: #575757;
      }
      .active.item {
        border-bottom: 2px solid #0b9ed0;
        color: #0b9ed0;
      }
    }
    .detailPageTab {
      // padding: 5px 30px 20px;
      .ui.segment.tab {
        box-shadow: none;
        border: none;
        padding: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .CandidatesDetailsBody {
    .detailsBody_container {
      .ui.text.menu {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0;
        .item {
          padding-left: 14px;
          padding-right: 14px;
          font-size: 13px !important;
        }
        .active.item {
          font-size: 13px !important;
        }
      }
      .detailPageTab {
        .InterViewPageSection {
          padding-left: 14px;
          padding-right: 14px;
          .SearchCardAccordion {
            .accordion.ui {
              .title {
                padding: 10px 14px 10px !important;
                .PageSectionHeaderTitle {
                  white-space: nowrap;
                  .HeaderTitle_left {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    .headerTitle {
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
