.MyJobsDetails_bodyContainer{
  margin-top: 14px;
  margin-bottom: 30px;
  
}

.MyJobsDetailsBody{
  // padding-left: 30px;
  // padding-right: 30px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  
  .MyJobsDetailsBody_header{
    background-color: #0b9ed0;
    border-radius: 6px 6px 0 0;
    padding: 20px 10px 10px;
  }

  .MyJobsDetailsBody_headerStatus{
    padding-left: 20px;
    padding-right: 20px;
  }

  .BodyHeaderDetail{
    .description_container{
      padding: 14px 0 0 !important;
    }
  }
  
}