.NoInterviewScheduled{
  .Scheduled_innerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    .logo{
      padding-bottom: 20px;
    }
    p{
      margin-bottom: 0;
    }
    .NoInterviewTitle{
      font-weight: 600;
      padding-bottom: 10px;
    }
    .NoInterview_titleSub{
      color: #979797;
      
    }
    .NoInterviewBtn{
      margin-top: 20px;
      background-color: #ffffff;
      font-size: 16px;
      color: #0b9ed0;
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
      svg{
        transform: rotate(-90deg);
        margin-left: 5px;
      }
    }
  }
}