.UserInput {
  height: 42px;
  position: relative;

  &.is-hidden {
    display: none;
  }

  .UserInput__input {
    height: 42px;
    width: 100%;
    padding: 12px 40px 12px 20px;
    border: none;
    border-top: 1px solid #dce3f3;
  }

  .UserInput__button {
    position: absolute;
    right: 5px;
    bottom: 10px;
    transform: rotate(180deg);
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}