.ApplyHeader{
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  .mobile_Header{
    background-color: #1f2532;
    padding-top: 28px !important;

    .topBottom_center{
      display: flex !important;
      align-items: center;
    }

    .ui.header{
      font-size: 20px;
      color: #ffffff;
      margin-left: 5px;
    }

    .apply_btn{
      background-color: #1f2532;
      border: 1px solid #0b9ed0;
      border-radius: 33px;
      color: #0b9ed0 !important;
      // margin-right: 50px;
      &:hover{
        color: #0b9ed0 !important;
        background-color: inherit!important;
      }
    }

    .close_btn{
      box-shadow: none !important;
      padding: 5px !important;
      margin-left: 5px;
     
      &:hover{
        background-color: inherit!important;
        box-shadow: none !important;
      }
    }
  .applyHeader_rightColumn{
    display: flex;
    justify-content: flex-end;
  }
    
  }

  .mobileHeader_clearBtn{
    background-color: #ffffff;
    padding-left: 10px !important;
    .allClear_btn{
      box-shadow: none !important;
      padding-left: 0px;
      &:hover{
        background-color: inherit!important;
        box-shadow: none !important;
      }
    }
    span{
      color: #0b9ed0;
    }
  }
  .filterValue_Btn.ui.inverted{
    color: #797979 !important;
    font-size: 14px !important;
    box-shadow: none !important;
    padding: 0;
  }
}

@media only screen and (max-width: 767px){
  .ui.modal>.close {
    top: 3px!important;
    right: 0px!important;
    color: #6e768a ;
  }
}