.SkillCountBlock {
  .skillShowMoreButton {
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 16px;
    font-family: "Open Sans";
    font-size: 13px;
    color: #a1a1a1;
    text-align: left;
    transform: scale(1);
    padding: 2px 10px;
    margin-left: 1rem;
  }
}
