.DesiredJobSubHeader {
  display: inline-block;
  padding-left: 10px;
  svg {
    margin-right: 10px;
  }

  span {
    font-family: "Open Sans";
    font-size: 12px;
    color: #a1a1a1;
  }
}
@media (max-width: 1025px) {
  .DesiredJobSubHeader {
    padding-left: 0px !important;
  }
}
