

.FilterAcordian{
  color: #575757;
}
// .InfoSection {
//     background-color: white;
  
//     h2.ui.header {
//       user-select: none;
  
//       &.is-small {
//         font-size: 1.28571429rem;
//         margin-bottom: 18px;
//       }
  
//       &.is-medium {
//         font-size: 1.43rem;
//         margin-bottom: 20px;
//       }
  
//       &.is-large {
//         font-size: 1.71428571rem;
//         margin-bottom: 20px;
//       }
//     }
  
//     &.is-collapsible, 
//     &.is-subheader {
//       h2.ui.header {
//         &.is-small, &.is-medium, &.is-large {
//           margin-bottom: 0px;
//         }
//       }
  
//       .subheader-container {
//         font-family: 'Open Sans';
//         padding: 0px;
//         * {
//           user-select: none;
//         }
//       }
      
//     }
  
//     &.is-subheader {
//       .subheader-container {
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         padding: 10px 0px;
  
//         .sub.header {
//           color: rgba(200, 200, 200, 1);
//           font-size: 14px;
//         }
  
//         .header-item:not(:first-child) {
//           margin-left: 10px;
//         }
//       }
//     }
//   }