// .Main_Grid{
//     margin-top: 10px;
//     .Main_Grid_Show{
//         .Main_Grid_Row{
//             h2{
//                 margin-left: 43px !important;
//                 margin-top: 4px;
//             }
//         }
//         .SelectOptionField .dropdown .text{
//             font-size: 20px;
//             color: #0b9ed0;
//         }
//     }
// }

// .aplicantSearch{
//    .ui.input {
//     font-weight: 500;
//     margin-top: 13px;
//     }
//     .ui.transparent.icon.input>i.icon {
//         color:#c8c8c8;
//         margin: 1px 84px;
//     }
// }