.tempMainDiv{
  background-color: #ffffff;

  .tempMainContainer{
    .ql-formats{
      .ql-picker{
        width: 162px;
        height: 32px;
        background-color: #edeff1;
        // border-radius: 30px;
  
        .ql-picker-label{
          padding-top: 7px;
          font-family: 'Open Sans';
          font-size: 14px;
          color: #575757;
          font-weight: 600;
        }
      }
    }
    .QuillText.is-small{
      margin-bottom: 20px;
    }
    .tempMainContainerFooter{
      .saveTamplateBtn{
        margin-left: 10px;
        svg{
          margin-right: 5px;
        }
      }
      .newTempBtn{
        padding: 0px;
        background-color: transparent !important;
        color: #0b9ed0;
      }
    }
  }
  // .tempMainContainer{
  //   padding-bottom: 42px;
  //   padding: 20px;
  //   span{
  //     color: #0b9ed0;
  //     font-size: 14px !important;
  //   }
  //   p{
  //     font-size: 14px !important;
  //     color: #797979;
  //   }
  // }
}