.thradPeople_Message {
  margin-top: 10px;
  // margin-bottom: 10px;
  // padding-bottom: 15px;
  padding-right: 0px;
  text-align: right;
  // display: flex;
  // float: right;
  // align-items: flex-end;

  .thradPeople_MessageRight {
    position: relative;
    display: inline-block;

    max-width: 70%;

    .thradPeople_MessageRightbox {
      display: flex;
      align-items: flex-end;
      .quill .ql-editor {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }

      .FlatDefaultBtn {
        background-color: #f7f7fb;
        border: 1px solid #c8c8c8;
        color: #a1a1a1;
      }
    }
  }
  .messageProfile {
    display: inline-block;
    margin-left: 5px;
  }
  .messageTitle {
    display: inline-block;
    background-color: #e7f3fd;
    border-radius: 15px 15px 0px 15px;
    padding: 15px 15px 10px;
    min-width: 40px;

    img.ui.image {
      max-height: 200px;
    }
    .subTitle {
      font-size: 13px;
      color: #a1a1a1;
      text-align: right;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1025px) {
  .thradPeople_Message {
    padding-right: 35px;
  }
}
