.JobPaneRight{
  .RecentDropdown{
    padding-top: 10px;
    color: #ffffff;
    .dropdown{
      color: #ffffff;
    }
  }

  .SearchCardAccordion{
    background-color: #ffffff;
    padding-top: 10px;
    .title{
      padding-top: 0 !important;
      .card{
        border: 0 ;
        border-radius: 0;
        box-shadow: none;
      }
    }

    .InfoCard_body{
      padding-top: 15px;
      // padding: 15px 45px;
      // .InfoCard_bodyContainer{
      //   border-top: 1px solid #efefef;
      //   // padding-top: 30px;
      //   // padding-left: 30px;
      // }

      .InfoSection{
        h2{
          margin-bottom: 10px;
        }

        p{
          color: #575757;

          span{
            color: #a1a1a1;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
      
      .InfoCard_jobDescription{
        padding-top: 15px;
      }

      .InfoCard_bodySkill{
        padding-top: 30px;
      }

      .InfoCard_bodyBtn{
        padding-top: 30px;
      }

      .InfoCard_bodyExp{
        padding-top: 30px;
      }
    }

    .InfoCard_footer{
      padding: 0px 15px 25px;
    }
  }
}

.searchCard_divider{
  border-top: 1px solid #efefef;
  width: 90%;
  margin: 0 auto;
}