.MobileSearchTab{
  .menu {
    margin: 0 !important;
    background-color: #1f2532 !important;
    -ms-flex-pack: center;
    justify-content: center;
    .item{
      color: #eee !important;
      font-size: 16px;
      padding-top: 14px !important;
      margin-right: 30px !important;
    }

    .active.item{
      color: #0b9ed0 !important;
      border-bottom: 2px solid #0b9ed0 !important;
      margin-bottom: -2px !important;
    }

    
  }
  
  .segment{
    background: transparent;
    box-shadow: none;
    border: none;
  }
}