.DetailsBodyHeaderStatus{
  margin-top: 10px;
  
  .BodyHeaderStatus_container{
    border-top: 1px solid #1aaadb;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
  .BodyHeaderStatusLeft{
    display: flex;
    align-items: center;
    p{
      margin-bottom: 0;
      font-family: 'Quicksand';
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
    }
    .ui.button{
      background-color: #ffffff;
      color: #0b9ed0;
      border-radius: 6px;
      margin-left: 10px;
    }
  }
  .BodyHeaderStatusRight{
    display: flex;
    .jobEditBtn{
      background-color: transparent;
      color: #ceeefe;
      svg{
        margin-right: 5px;
      }
    }
    .jobMoreOption{
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}