.ModalBanner{
  background-color: #0b9ed0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 20px 20px 20px;
    .banner_HeaderText{
      display: flex !important;
      align-items: center;
      h3{
        display: flex;
        align-items: center;
        color: #ceeefe;

        svg{
          margin-left: 10px;
        }
      }
    }

  .banner_HeaderBtn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .close_btn{
      background-color: transparent!important;
    }
  }
}