.AboutUsPage{
  margin-top: 74px;
  background-image: url("../../../assets/img/AboutUs/ic_texture.png");
}

@media only screen and (max-width: 1024px){
  .AboutUsPage{
    margin-top: 28px;
    .AboutUsPageMobile{
      .AboutUsPageContainer{
        .AboutUsPageHeader{
          padding-bottom: 35px;
          .ui.header{
            font-size: 24px;
          }
          p{
            font-size: 14px;
            // text-align: center;
          }
        }
        .AboutUsPageBodyContainer{
          padding: 14px 20px;
          margin-bottom: 30px;
          .BodyContainer_header{
            p{
              font-size: 14px;
            }
          }
          .BodyContainer_bodySection{
            margin-top: 60px;
            .BodyContainer_bodySectionContainer{
              flex-direction: column;
              .aboutCard_container{
                width: 100%;
                padding: 0;
                margin-bottom: 40px;
                &:last-child{
                  margin-bottom: 30px;
                }
                .card_logo{
                  
                }
                .card_title{
                  .ui.header{
                    font-size: 18px;
                  }
                  p{
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}