.AboutusContainer{
  .banner_header{
    min-height: 300px;
    display: flex;
    align-items: center;
    .ui.header{
      color: #ffffff;
    }
    p{
      font-family: 'Quicksand';
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
    }
  }
}