.RecruiterDashboard{
  
  
  margin-top: 70px;
  .Main_Grid{
    .Main_Grid_Show{
      .column{
        padding-left: 0;
        padding-right: 0;
        .aplicantSearch{
          input{
            background-color: transparent;
            border: none;
          }
        }
      }
    }
  }
  .RecommendedJobs{
    .recommendedJobs_header{
      .column{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .segment{
    background-color: transparent;
    border: none !important;
  }

  .grid>.two.column{
    position: fixed !important;
    height: 100%;
    padding-bottom: 0;
    padding-right: 0;
    // overflow: auto;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    background-color: #ffffff !important;
    z-index: 0;
    margin-top: 10px;
  }

  .grid>.twelve.column{
    margin-left: 15.5%;
  }
  .ui.vertical.tabular.menu{
    // box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    background-color: #ffffff !important;
    border-right: 0px solid #ffffff !important;
    .RecruiterTabMenu.item{
      color: #797979;
      font-weight: 500;
      text-align: center;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-right: 5px;
      padding-left: 5px;
      p{
        padding-bottom: 5px;
      }
    }
  
    .RecruiterTabMenu.active.item{
      // border: none;
      box-shadow: none;
      border-color: transparent;
      // border-right: 2px solid #0b9ed0;
      // border-left: 2px solid transparent;
      // border-bottom: 2px solid transparent;
      // border-top: 2px solid transparent;
      // border-right: 2px solid #0b9ed0;
      color: #0b9ed0;
      margin:0 !important;
      // margin-bottom: -2px;
      &:after{
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        border: 1px solid #0b9ed0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }
      p {
        svg path{
          fill: #0b9ed0;
        }
      }
    }
  }

  
}

@media only screen and (max-width: 1024px){
  .modal_form {
    .close.icon{
      color: #ffffff !important;
    }
    .form_fields{
      padding: 0 !important;
    }
  }
  
  
}

.flatpickr-innerContainer{
  
}

.flatpickr-day.selected{
  background: #0b9ed0;
  border-color: #0b9ed0;
}

