.MyJobCardStatusMore{
  .status_list{
    min-width: 70px;
  }
  .status{
    display: flex;
    .total_countMobile{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .total{
      // width: 100%;
      font-family: 'Quicksand';
      font-weight: 500;
      color: #575757;
    }
    .count{
      font-family: 'Quicksand';
      font-size: 20px;
      font-weight: 500;
      color: #0bd0bb;
    }
  }

  .mobile_MyJobsCardListStatus{
    .status_menuBtn{
      display: flex;
      margin-top: 10px;
      .status_menuSpace{
        min-width: 70px;
      }
      .ui.button{
        border-radius: 6px;
        background-color: #ffffff;
        border: 1px solid #efefef;
        font-size: 13px;
        color: #a1a1a1;
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
    .mobile_statusMenu{
      background-color: #f7f7fb;
      padding: 15px;
      border-radius: 6px;

      
      .statusList{
        display: flex;
        justify-content: space-between;
        color: #575757;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-top: 5px;
        p{
          margin-bottom: 0;
        }
      }
    }
    
  }
}

