.CandidateStatistic{
  display: flex;
  justify-content: space-between;
  .slick-prev{
    svg{
      transform: rotate(-180deg)
    }
  }
  .slick-prev:before{
    content: '';
  }
  .slick-next:before{
    content: '';
  }
  .slider_list{
    &:focus{
      outline: none !important;
    }
    .slider_listItem{
      font-weight: 600;
      font-family: 'Open Sans';
      color: #797979;
      text-align: center;
      padding: 10px !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
      // margin-right: 20px;
      font-size: 12px;

      &:focus{
        outline: none !important;
      }

      p{
        font-family: 'Quicksand';
        font-size: 16px;
        color: #575757;
        font-weight: 500;
      }

      &.active{
        background-color: #0b9ed0;
        border-radius: 6px;
        color: #ceeefe;
        p{
          color: #ffffff;
        }

        .lavelText{
          color: #ceeefe !important;
        }
        .dropdown.icon{
          background-color: #057398;
          color: #ceeefe;
        }
      }

      &:hover{
        background-color: #0b9ed0;
        border-radius: 6px;
        color: #ceeefe;
        cursor: pointer;
        p{
          color: #ffffff !important;
        }
        .lavelText{
          color: #ceeefe !important;
        }
        .dropdown.icon{
          background-color: #057398;
          color: #ceeefe;
        }
      }
    }

   
  }
  
}