<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
  <meta name="theme-color" content="#000000" />
  <meta name="og:type" content="article" />
  <meta name="title" content="{{ TITLE }}">
  <meta name="twitter:title" content="{{ TITLE }}">
  <meta property="og:title" content="{{ TITLE }}" />
  <meta property="og:description" content="{{ DESCRIPTION }}" />
  <meta property="twitter:description" content="{{ DESCRIPTION }}" />
  <meta name="keywords" content="Job, Job vacancies, Career, free job alert, government job, resume format, free job, artificial
    intelligence, free job posting, resume template, online jobs, free resume, Hr recruiter, recruitment,
    resume maker, job vacancies, vacancy, job search, jobs sites, freejobs, apply job online, recruitment
    meaning, jobs websites, jobs, job opportunities, job consultancy, resume creator, job portal, jobsite, job
    seeker, job sites in india, job websites" />
  <meta name="twitter:site" content="@Vasitum">
  <meta property="og:url" content="https://vasitum.com" />
  <meta property="og:site_name" content="Vasitum" />
  <link rel="search" type="application/opensearchdescription+xml" title="Vasitum" href="/osd.xml" />
  <link rel="canonical" href="https://vasitum.com/" />
  <meta name="robots" content="index, follow">
  <link rel="manifest" href="/manifest.json" />
  <link rel="shortcut icon" href="/vasitum_favicon_v2.png" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Job - Resume Format - Job Vacancies - Recruitment - Career - Vasitum</title>
  <script>!function (e, t, a, n, g) { e[n] = e[n] || [], e[n].push({ "gtm.start": (new Date).getTime(), event: "gtm.js" }); var m = t.getElementsByTagName(a)[0], r = t.createElement(a); r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-T5B6J9N", m.parentNode.insertBefore(r, m) }(window, document, "script", "dataLayer")</script>
  <link href="/static/css/main.b94f9163.css" rel="stylesheet">
</head>
 
<body><noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4iaZSsg-jMbGT-2NKRNsVVnMix47tlxw&libraries=places"
    type="text/javascript"></script>
  <script defer="defer" src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
    crossorigin="anonymous"></script><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5B6J9N"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script type="text/javascript" src="/static/js/main.868d107f.js"></script>
</body>

</html>