.CloseIcon{
  text-align: right;
  padding-bottom: 15px;
  cursor: pointer;
  span {
    display: inline-block;
    height: 28px;
    width: 28px;
    background-color: #f7f7fb;
    border-radius: 30px;
    padding-top: 7px;
    padding-right: 2px;
    svg{
      margin-right: 7px;
    }
  }
}

.CreateProfilePage{
  .CloseIcon{
    span{
      padding-top: 4px;
    }
  }
}