.LikeJobsCondidateMobile{
  .MyJob_cardContainer{
    .MyJobCards_leftSide{
      .MyjobCard_leftDetails{
        .profleIncrease{
          display: none !important;
        }
      }

      .companydetails{
        .subTitle{
          .Recommendation{
            display: none !important;
          }
        }
      }
    }
  }
}