.EnterTemplateName_mobile{
  .templateMobileHeader{
    .templateName{
      input{
        border-radius: 0;
        min-height: 50px;
      }
    }
  }
  .templateMobilemiddleContainer{
    min-height: 300px;
  }
}