.MobileCondidate{
  .MobileHeader{
    .MobileHeader_Left{
      svg{
        transform: rotate(180deg);
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .MobileCondidate{
    .SearchApplicant{
      .mobile_allCandidates{
        .ui.dropdown{
          .visible.menu{
            min-height: 220px;
          }
        }
      }
    }
  }
  .CandidateMyJobsMobile{
    
    .CandidateApplyedJobsCards{
      .MediaCard{
        .MediaCardAvatar{
          img{
            height: 50px !important;
            width: 50px !important;
          }

          .SvgLogo{
            svg{
              border-radius: 6px;
            }
          }
        }
        .CardSummary{
          margin-left: 8px;
          margin-right: 0;
        }
      }
      .CardProfileHeaderDetail{
        .LocationExp{
          .exp{
            display: none;
          }
        }
        .skills{
          display: none;
        }
      }
    }
    .CandidatesCardDetail{
      .CandidateApplyedJobsCards{
        .ui.card.MediaCard{
          padding-left: 75px !important;
        }
      }
    }
  }

  

  .SearchApplicant{
    border-radius: 6px;
    margin-top: 10px;
    padding: 5px !important;
    .mobile_allJobs{
      .ui.dropdown > .text{
        font-size: 14px !important;
        text-transform: uppercase;
      }
    }
  }
}