.PostJobPageEditMobile{
  .InfoSection{
    .ui.header{
      font-size: 18px !important;
    }
    .DownArrowCollaps{
      line-height: 1;
    }
  }
  .EditInterviewPreference{
    .InterviewPreferenceContainer{
      .ui.container{
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
  .PageEditMobile_footer{
    .footerBtnPreview{
      .ui.button{
        padding: 0;
        background-color: transparent;
        color: #6e768a;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .PostJobPageEdit{
    margin-top: 50px !important;
  }

 
  .PostJobPageEditMobile{
    .InfoSection {
      .InputFieldLabel{
        .ui.header{
          font-size: 14px !important;
        }
      }
      
    }
    .EditContainerBody{
      // margin-bottom: 85px;
      .ModalFooterBtn{
        text-align: center;
        .previewJob_btnFooter{
          display: none;
        }
      }

    }
    .BannerHeader{
      margin-top: 50px;
      .row.BannerHeader_title{
        // display: none;
        .column{
          width: 100% !important;
          .ui.header{}
        }
      }
      .mobileGrid_bannerHeader{
        margin-top: 25px !important;
      }
    }
    .ModalFooterBtn{
      // display: none !important;
    }
  }
}