.InputGridContainer{
  .salary_header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 6px;

    .salary_label{
      padding-right: 10px;
    }
  }

  .field {
    input{
      color: #0b9ed0;
    }
  }

  .SalaryDropdown{
    padding-left: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #a1a1a1;
    font-weight: 500 !important;
  }

  .divider_to{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // .divider_to{
  //   display: inline-block;
  //   padding-top: 10px;
  // }

  .mobile_inputLabel{
    p{
      padding-bottom: 11px;
    }
  }

  .mobile_inputLabel{
    span{
      padding-bottom: 10px;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

// .InputGridContainer{
//   .divider_to{
//     display: flex !important;
//     align-items: center;
//     justify-content: space-around;
//     padding-left: 0 !important;
//     padding-right: 0 !important;
//   }
// }


@media only screen and (max-width: 767px) { 
  .InputGridContainer{

    .mobile_inputField{
      padding-bottom: 14px;
      
    }
  }
}