.ChatStart{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  h3{
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    color: #575757;
    
  }
  p{
    color: #979797;
  }
  .chatButton{
   
    svg{
      transform: rotate(-90deg);
    }
  }
}