.PrimaryCard.ui{
  padding: 20px;
  background-color: #ffffff;
  box-shadow: none ;
  border: none;
  border-radius: 5px;
  margin-top: 30px !important;

  .active.content{
    padding-bottom: 20px !important;
  }
}

@media only screen and (max-width: 1024px){
  .PrimaryCard.ui{
    padding: 10px 12px !important;
    .active.content{
      padding-bottom: 10px !important;
    }
  }
}