.InterviewPreference{
  .InterviewPreferenceContainer{
   .scheduling_calendarBody{
     margin-bottom: 5px;
      .interview_type{
        .checkbox_lableField{

        }
        .InterviewTypeOpenCard {

        }
        .VideoCall{
          padding-top: 17px;
          .checkboxField{
            .field{
              margin-bottom: 10px !important;
            }
          }
        }
        .InterviewTelephonic{
          padding-bottom: 17px;
        }

        .InPerson{
          padding-bottom: 17px;
          .field_labelTitle{
            
            .InputFieldLabel{
              display: flex;
            }
          }
        }
        .InterviewTypeOpenCard{
          // padding-bottom: 17px;
          // padding-top: 5px;
        }
        .private_note{
          .notifyInterview_box{
            
          }
          .notifyInterView_field{
            
            textarea{
              margin-bottom: 10px;
            }
          }
        }
        .notifyInterview_box{
          margin-bottom: 14px;
        }
      }
   }
    .scheduling_calendarFooter{
      display: none;
    }
  }
}

@media only screen and (max-width: 1024px){
  .InterviewPreferenceContainer{
    .preference_container{
      padding-top: 0 !important;
      .select_interviewType{
        flex-direction: column;
        .manage_interviews{
          margin-left: 0 !important;
          margin-top: 5px;
        }
      }
      .interviewsCard_body{
        min-height: 150px;
        padding-left: 12px !important;
        padding-right: 12px !important;
        .scheduling_calendarHeader{
          .calendarTitle{
            font-size: 16px;
          }
        }
      }
      .ApplicationWorkflow{
        .Workflow_headerTitle{
          .ui.header{
            font-size: 16px;
          }
        }
      }

      .interview_connectBox{
        .interviewsCard_bodyTitle{
          .ui.header{
            font-size: 16px;
          }
        }
        .connect_interviewBox{
          .calendar_box{
            height: 121px;
            width: 130px;
            img{
              height: 30px;
              width: 30px;
            }
          }
        }
      }
  
      .interviewScheduling_calendar{
        .scheduling_calendarBody{
          .interview_type{
            .checkbox_lableField{
              .field{
                margin-bottom: 10px;
              }
            }
          }
          .ui.grid{
            .row{
              .column{
                width: 100% !important;
              }
            }
          }
        }
      }
  
      .ApplicationWorkflow{
        .Workflow_body{
          .ui.grid{
            .row{
              .column{
                width: 100% !important;
                margin-bottom: 15px;
              }
            }
          }
        }
      }
      .InterviewPreferenceFooter{
        .footer_containerLeft{
          display: none;
        }

        
        .footer_containerRight{
          // flex-direction: column;
          width: 100%;
          justify-content: center;
          .actionBtn_title{
            display: none !important;
          }
          .saveDraftBtn{
           
            .previewBtn{
              display: inline-block;
              display: none;
            }
          }
          .cancelBtn{
            text-align: center;
          }
          .actionBtn_title{
            display: flex;
            .subTitle{
              margin-left: 2px;
            }
          }
        }
        
      }
    }
  
    .RadioButton_default {
      .ui.radio.checkbox label:after{
        top: 4px;
      }
    }
    }
}
  
