.aboutCompany_container {
  border-top: 1px solid #2c3342;
  margin-top: 25px;
  padding-top: 20px;
  background-color: #1f2532;
  .ui.container {
    .text-align {
      display: block;
      text-align: center;
    }
    .ui.list {
      .item {
        font-size: 13px;
        font-weight: 300;
        color: #515867;
        padding-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .aboutCompany_container {
    margin-top: 0 !important;
    padding-bottom: 12px;
    padding-top: 13px;
  }
}
