.CategoryTitle {
  text-align: center;
  .ui.header {
    // font-weight: bold;
    color: #1f2532;
    margin-bottom: 2px;
    font-size: 30px;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    color: #797979;
  }
  .headTitle{
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 500;
    color: #1f2532;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 1024px) {
  .CategoryTitle {
    .headTitle{
      font-size: 16px;
    }
    p {
      font-size: 13px;
    }
  }
}
