.OtherDetails{
  .FullList{
       margin-left: 372px;
       margin-top: 35px !important;
    .why{
      padding-bottom: 10px;
      .ui.header{
        color: #323232 !important;
        font-weight: 500 !important;
        
      }
      
    }
    .list_item{
      padding-bottom: 20px;
      .listItem_header{
        font-size: 16px;
        font-weight: 600;
        color: #1f2532;
        p{
        
          margin-bottom: 0;
        }
        .listItem_subheader{
          font-size: 15px;
          color: #0b9ed0;
         
        }
      }
    }
  }
}