.postJob__inputField{
  .input__label{
    padding-top: 8px;
    padding-bottom: 8px;
    h3{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      svg{
        margin-left: 10px;
      }
    }
    
  }

  input{
    border: 1px solid #efefef !important;
    color: $pacific-blue !important;
    border-radius: 5px !important;
    
    &::placeholder{
      font-family: 'Open Sans';
      font-size: 14px;
      // color: #a1a1a1 !important; 
    }
    
  }
  
  .select__input{
    position: relative;
    .selection{
      @extend input;
      .default.text{
        font-family: 'Open Sans';
        font-size: 14px;
        // color: #a1a1a1 !important;
      }
      
    }
    .active.dropdown .menu{
      border-color: transparent;
      &:hover{
        border-color: transparent;
      }
    }

    .downArrow__icon{
      position: absolute;
      right: 20px;
      // margin-top: -43px;
      z-index: 10;
    }
  }

  .input__tag{

    .menu{
      display: none !important;
    }

    .ui.label{
      background-color: #ecedf1;
      border-radius: 16px;
      color: #323232;
      font-weight: 500;
      border: 0;
      box-shadow: none;
    }

    .skill__btn{
      background-color: inherit;
      color: #575757;
      position: absolute;
      margin-top: -47px;
      right: 10px;
      cursor: pointer;
      &:hover{
        box-shadow: none !important;
      }
      span{
        margin-left: 10px;
      }
    }
  }
  

  
}