
.navbar{
  color: $midnight-xpress;

  .navbar-menu{
    height: 54px;
    color: white;
    border: 0 !important;
    .vasitum-logo{
      height: 34px;
    }

    .userDropdownNavbar{
      padding: 7px 10px 10px;
      display: flex;
    }
    
    
    .navbar-search {
      position: relative;
      display: flex;
      
      input{
        @extend .b-r-30; 
      }

      input::placeholder{
        padding-left: 10px;
        color: $night-rider;
        
      }
    }

    .btn-signIn{
      border: 1px solid #2c3342;
      padding-right: 10px;
      padding-top: 8px;
      padding-bottom: 8px;
      @extend .bg-transparent;
      @include font-weight(normal);
      i{
        @extend .margin-left-5;
        @include font-weight(normal);
        color: #546270;

      }
    }
  }
}

/*color*/
.midnight-express{background-color: #1F2532;}
.bg-pacific-blue{background-color: #0B9ED0 !important;}
.text-white{color: #ffffff !important;}
.text-matterhorn{color: #575757;}

// .text-facbook{color: #406AA6;}
// .text-google{color: #E74742;}
/*  color  end*/

/* position */
.position-r{position: relative;}
/* position */


/* border */
.b-r-30{border-radius: 30px !important;}

.text-center{text-align: center;}

/* padding */
.p-20{padding: 20px;}

.p-l-0{padding-left: 0 !important;}
.p-r-0{padding-right: 0 !important;}

.p-t-10{padding-top: 10px;}
.p-t-30{padding-top: 30px;}
.p-t-50{padding-top: 50px;}

.p-b-20{padding-bottom: 20px;}
.p-b-30{padding-bottom: 30px;}
.p-b-50{padding-bottom: 50px;}
.p-b-70{padding-bottom: 70px;}
/* padding end*/

/* margin */
.margin-0{margin: 0;}
.margin-t-0{margin-top: 0;}
.margin-b-0{margin-bottom: 0 !important;}
/* margin end*/

.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}
.signIn-signUp-modal{
  position: relative;
}

.signIn-signUp-modal .signIn-signUp-form{
  position: relative;

  .ui.checkbox label{
    color: $trolley-grey;
  }
}

.signIn-signUp-modal .signIn-signUp-panels{
  padding: 10px 10px;
  .signIn-signUp{
    .socialSignIn{
      padding: 5px 20px 10px;
      background-color: $magnolia;
    }
  }
}

.signIn-signUp-modal .signIn-signUp-panels .menu>.item{
  font-size: 20px;
  color: #323232;
  margin-right: 18px;
  font-family: Quicksand;
  font-weight: 500;
}

.signIn-signUp-modal .signIn-signUp-panels .menu .active.item{
  border-bottom: 2px solid #0B9ED0;
  color: #0B9ED0;
  // padding: 5px 5px 10px;
  font-family: Quicksand;
  font-weight: 500;
  margin-bottom: -2px !important
}



.signIn-signUp-modal .ui.text.menu{
  margin: 0px;
  padding-left: 14px;
}

.small.modal .close.icon{
  top: 0 !important;
  right: 0 !important;
}

.signIn-signUp .ui.segment{
  box-shadow: none;
  border: 0;
}

.signIn-signUp{
  .sign-email{
    input{
      border: 1px solid #efefef !important;

      &:hover {
        box-shadow: 0px 0px 20px rgba(3, 0, 73, 0.09) !important;
      }
    }
    input::placeholder{
      color: #575757;
    }
    
    button{
      margin-top: 24px;
    }
  }


      // .ui.checkbox label{
      //   color: $trolley-grey;
      // }
      // .ui.checkbox .box:hover::before, 
      // .ui.checkbox label:hover::before{
      //     border: 1px solid #efefef;
      //     border-radius: 5px;
      // }
      // .ui.checkbox .box:before,
      // .ui.checkbox label:before{
      //     border: 1px solid #efefef;
      //     border-radius: 5px;
      // }
      // .ui.checkbox input:checked~.box:after,
      // .ui.checkbox input:checked~label:after{
      //     color: $pacific-blue !important;
      // }
  
  

}

.signIn-signUp .social-login .content>a{
  color: #575757;
}

.signIn-signUp .social-login .item{
  padding-bottom: 10px;
}

/* slider */
.signIn-signUp-modal .slick-slider .slick-dots{
  bottom: -10px;
}

.signIn-signUp-modal .slick-slider .slick-dots li button{
  width: 10px !important;
  height: 10px !important;
  padding: 0px !important;
  border-radius: 50%;
  border: 1px solid #0B9ED0 !important;
}

.signIn-signUp-modal .slick-slider .slick-dots li button:before{
  font-size: 10px;
  width: 10px;
  height: 10px;
  padding-top: 1px;
  line-height: 10px;
  
}

.signIn-signUp-modal .slick-slider .slick-dots li.slick-active button:before{
  color: #0B9ED0;
}

.sideSearchInput {
  input {
    border: 1px solid #efefef !important;

    &:hover {
      box-shadow: 0px 0px 20px rgba(3, 0, 73, 0.09) !important;
    }
  }
}