.post-login-profile{
  .post-login-profile-left{
    .profile-progress{
      .progress{
        @extend .margin-bottom-10;
        .bar{
          @extend .bg-pacific-blue;
        }
      }
      
    }
  }
}