.primaryCard {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;

  .headerTitle {
    font-weight: 500 !important;
    font-size: 18px !important;
  }

  .headerSubTitle {
    font-family: "Open Sans" !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
}
