.publicJobViews {
  @extend .position-r;
  // .publicJobBanner{
  //   background: linear-gradient(
  //       rgba(0,0,0, 0.2),
  //       rgba(0,0,0, 0.6)
  //     ), url('../assets/img/searchFilter/bestBanner.png');
  height: 300px;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 68px;
}
.publicJobDetails {
  margin-top: -114px;

  .leftSideJobDetails {
    margin-top: -84px !important;

    .jobDetailsHeader {
      .headerLeftSide {
        .header {
          font-weight: 500;
          color: $white;
          padding-bottom: 5px;
          .ui.header{
            font-size: 24px;
          }
        }
      }

      .headerRightSide {
        margin-top: 20px;
      }
    }

    .jobProfileCard {
      padding: 20px;
      // margin-top: 20px;
      .companyLogo {
        svg {
          border-radius: 6px;
        }

        img {
          border-radius: 6px;
        }
      }
      .profileCardHeader {
        .headerSubTitle {
          color: $trolley-grey;
          .headerSubLavel {
            color: #323232;
            display: inline;
          }
        }

        .publicJob__HeaderExp {
          padding-right: 20px;
          padding-top: 5px;
        }
      }
      .profileCardBody {
        .publicjob__body {
          // .InfoSectionGridHeader{
          //   .button{
          //     cursor: text;
          //   }
          // }
        }
        // padding-bottom: 10px;
        padding-top: 10px;
        .cardBody__Header {
          font-size: 20px;
        }
      }
    }

    .public-similar-job {
      background-color: #f7f7fb;
      border: 1px solid #efefef;
      border-radius: 6px;
      .ui.list .similar-job-header {
        padding: 20px 20px 0;
      }
      .ui.list .similar-job-body {
        @extend .padding-20;
        border-bottom: 1px solid #efefef;
      }
    }
  }

  .publicJobRightSide {
    .aboutCompany {
      // padding-top: 10px;
      // padding-bottom: 20px;
      .title {
        font-weight: 500 !important;
      }
    }
  }
}

.aboutCompany_body {
  padding: 30px 20px 30px 6px;
  background-color: #eeeef2;
  .aboutCompany {
    .ql-editor {
      background: #eeeef2;
    }
  }
}
