.public-profile {
  // .publicPprofileBanner{
  //   background: linear-gradient(
  //     rgba(0,0,0, 0.2),
  //     rgba(0,0,0, 0.6)
  //   ), url('../assets/img/publicProfileBanner.png');
  height: 300px;
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 68px;
}
.preProfileDetail {
  padding: 5px 30px 30px 30px;
  // margin-top: -60px;

  .preProfileHeaderBtn {
    .has-hover-blue {
      background-color: transparent !important;
      padding: 5px 10px;
      color: $white;
      transition: inherit;
    }
  }

  .preProfileHeaderDetail {
    margin-top: -46px;
    padding-bottom: 20px;
    .content{
      position: relative;
    }
    .content img {
      height: 100px;
      width: 100px;
    }
    .preProfileTitle {
      padding-top: 10px;
      .ui.header {
        font-size: 24px;
        font-weight: 500 !important;
        color: #0b9ed0 !important;
        padding-bottom: 5px;
      }
      p {
        font-size: 18px;
        font-weight: 500 !important;
        font-family: "Open Sans" !important;
        padding-bottom: 5px;
      }
    }
  }

  .preProfileDetailBody {
    .preHeaderTitle {
      font-weight: 500 !important;
      font-size: 20px;
      color: #0b9ed0 !important;
      padding-bottom: 5px;
    }

    .headerSubTitle {
      font-family: "Open Sans" !important;
      color: #575757 !important;
    }

    .expDescription {
      .expDescriptionHeader {
        font-size: 16px;
        margin-bottom: 0;
        color: $night-rider;
        padding-bottom: 5px !important;
        font-weight: 500 !important;
        font-family: "Open Sans";
      }

      .expDescriptionSub {
        color: $davy-grey !important;
      }

      .list {
        padding: 0 !important;
      }

      .expSummary {
        font-weight: 500 !important;
        color: $trolley-grey;
        // padding-top: 15px;
      }
    }
  }
  .divider {
    position: relative;
    .divider-border {
      border-top: 1px solid $white-smoke;
    }
  }
}
