.description
  .quill
    .ql-toolbar
      display: none !important
    .ql-container
      border: none
    .ql-editor
      padding: 0

      & *
        color: #575757 !important
        text-align: left !important
        font-family: 'Open Sans' -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      & ul, & ol
        padding-left: 0 
      & ol li:not(.ql-direction-rtl), 
      & ul li:not(.ql-direction-rtl)
        padding-left: 1.7em
      
      & ul > li::before
        content: '\2713'
        color: green
        font-size: 18px
        line-height: 18px

