@import "../global/globals";

.search-filter-page {
  margin-top: 49px;
  .search-filter-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
      url("../../../../assets/img/searchFilter/bestBanner.png");
    height: 135px;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .search-result-panel {
    .ui.text.menu {
      margin-left: 23%;
    }
  }
}

.search-filter-menu {
  .job-search-filter {
    position: relative;
    .searchFilterAccordian {
      &.is-white {
        background: white !important;
      }

      .filter_title {
        h3 {
          font-weight: 500;
          font-size: 14px;
        }
      }

      .jobSearchForm {
        .SearchShowMoreBtn {
          background-color: transparent !important;
          &:hover {
            color: #0b9ed0 !important;
            background-color: transparent !important;
          }
        }
        .item {
          padding-bottom: 14px;
          .label {
            background-color: transparent;
            padding: 0;
            color: $night-rider;
            font-weight: 500;
            font-family: $font-f-open-sans !important;
          }

          .checkbox {
            font-size: 16px;
          }

          input {
            @extend .b-r-30;
            border: 1px solid #efefef;
            &::placeholder {
              color: #a1a1a1 !important;
            }
          }

          input::placeholder {
            color: #a1a1a1 !important;
          }

          .ui.checkbox label {
            @extend .text-Matterhorn;
            font-size: 14px;
          }

          .ui.checked label {
            color: #0b9ed0 !important;
          }

          .ui.checkbox .box:before,
          .ui.checkbox label:before {
            border-radius: 30px;
            height: 14px !important;
            width: 14px !important;
          }

          .ui.checkbox input:checked ~ .box:after,
          .ui.checkbox input:checked ~ label:after {
            color: #0b9ed0;
          }

          .ui.radio.checkbox label:before {
            height: 14px !important;
            width: 14px !important;
          }
          .ui.checkbox .box:after,
          .ui.checkbox label:after {
            border-radius: 526rem;
            height: 14px !important;
            width: 14px !important;
            background-color: #0b9ed0;
          }
        }
      }
    }
  }
}

.search-result-panel {
  margin-top: -100px; // new design

  .ui.text.menu .item {
    .ui.header{
      margin-left: 30px;
      font-size: 20px; // new design
      color: #ffffff;
    }
  }
  .ui.text.menu .active.item {
    .ui.header{
      border-bottom: 2px solid #0b9ed0;
      color: #0b9ed0;
    }
  }

  .ui.text.menu .item:hover {
    .ui.header{
      color: #0b9ed0;
    }
  }

  .ui.menu .item .floating.label {
    border-radius: 10px;
    background-color: #ffffff;
    color: #1f2532;
    font-size: 9px;
    font-weight: 500;
  }

  .Best-Pane-Left {
    .facebook_icon {
      margin-top: 2px;
    }

    .google_icon {
      margin-top: 2px;
    }

    .SearchSignIn {
      input {
        &::placeholder {
          color: #575757;
        }
      }
    }
  }
  .segment {
    padding: 0;
    border: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
    .foundPeopleBanner {
      background: url("../../../../assets/img/searchFilter/foundPeople.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 30px 20px;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;

      h3 {
        color: white !important;
      }

      .header {
        button {
          background-color: #ffffff;
          color: #323232;
          font-size: 12px;
        }
      }
    }

    .best-panel {
      .bestFoundJobBanner {
        background: url("../../../../assets/img/searchFilter/foundJob.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px 20px;
        position: relative;
        z-index: 10;

        h3 {
          color: #ffffff;
          // font-size: 26px;
          font-weight: 500px;
        }
      }

      .bestFoundPeopleBanner {
        background: url("../../../../assets/img/searchFilter/foundPeople.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 30px 20px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        position: relative;
        z-index: 10;

        h3 {
          color: #ffffff;
          // font-size: 26px;
          font-weight: 500px !important; /* Mobile */
          @media only screen and (max-width: 767px) {
            .mobile__SearchFilter {
              padding-left: 0 !important;
              padding-right: 0 !important;
            }
          }
        }
      }
      .ui.grid {
        padding-left: 14px;
        padding-right: 14px;
        .row.vdivide .column:not(:nth-child(even)):after {
          background: #efefef;
          width: 1px;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          min-height: 70px;
        }
      }

      .cards-group {
        .card {
          margin: 0;
          box-shadow: none;
          // border: 1px solid #efefef;
          border-radius: 0;
        }
      }
    }
    /* Mobile */
    @media only screen and (max-width: 767px) {
      .mobile__SearchFilter {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
    .searchFilterCard {
      .accordion {
        .accordion-panel {
          .title {
            padding: 0 !important;
          }
          .headerExperiance {
            display: inline-block;
          }
          .experienceDisplay {
            display: none;
          }

          .currentDesignation {
            display: none;
          }

          .active {
            .skillsDisplay {
              display: none !important;
            }

            .experienceDisplay {
              display: block !important;
            }

            .headerExperiance {
              display: none;
            }

            .currentDesignation {
              display: inline-block;
            }
          }

          .content .accordian-body {
            .searchCard_divider {
              border-top: 1px solid $white-smoke;
              width: 95%;
              margin: 0 auto;
              padding-bottom: 25px;
            }

            .ui.horizontal.bulleted.list > .item::before {
              color: $very-light-grey;
            }
          }
        }
      }
    }
  }

  .peoplePane {
    .foundJobBanner {
      background: url("../../../../assets/img/searchFilter/foundJob.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 30px 20px;
      border-top-right-radius: 6px; /* Mobile */
      @media only screen and (max-width: 767px) {
        .mobile__SearchFilter {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
      border-top-left-radius: 6px;
      h3 {
        color: white !important;
        // font-size: 26px;
        font-weight: 500;
      }
    }
  }
}

.best-panel-tab {
  .Best-Pane-Left {
    .ui.list {
      margin: 0;
    }
    .signUp {
      padding: 15px;

      h3 {
        color: white !important;
        font-size: 20px;
      }
    }
    .description {
      .google-signup {
        border-bottom: 1px solid #efefef;
        padding-bottom: 15px;
      }
    }

    .sign-up-email {
      padding: 0 15px 20px 15px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      // padding-left: 15px;
      // padding-right: 15px;
      .header {
        .ui.header {
          font-weight: 500;
          @extend .text-night-rider;
        }
      }
      .Sign-in-form {
        .ui.fluid.button {
          @extend .bg-pacific-blue;
          @extend .text-white;
          font-size: 16px;
          font-weight: 500;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }

    .divider {
      padding: 40px 15px 0px;
      .divider-border {
        border-top: 1px solid $white-smoke;
      }
    }

    .why-vasitum {
      padding-left: 0px; // make it right
      padding-right: 15px;
      .ui.header {
        font-weight: 500;
        @extend .text-night-rider;
      }

      .listItem_menu {
        .header {
          font-weight: 600 !important;
        }
      }
    }
  }

  .best-panel {
    .cards-group {
      .column {
        padding-left: 0;
        padding-right: 0;

        .best-card-hover {
          opacity: 1;
          transition: 0.5s ease;
          backface-visibility: hidden;
        }

        .best-card-hover-show {
          transition: 0.5s ease;
          padding: 35px 25px;
          top: 0;
          opacity: 0;
          background-color: white;
          position: absolute;
          bottom: 0;
          transform-origin: center;
          display: flex;
          justify-content: space-around;
          text-align: center;
          background-color: #eef6f9 !important;
          .list {
            display: flex;
            align-items: center;
          }
          .apply-btn {
            @extend .bg-pacific-blue;
            @extend .text-white;
          }
        }

        .best-card-body:hover .best-card-hover {
          opacity: 0.1;
        }

        .best-card-body:hover .best-card-hover-show {
          opacity: 1;
        }
      }
      .eight:nth-child(3) {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
}

.searchFilterCard {
  .card {
    box-shadow: none;
    border-radius: none;
    margin-top: 0;
    .content {
      padding: 0;
    }
  }
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .search-filter-page {
    .searchFilterAccordian {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.search__cardHeader {
  padding: 20px 20px 15px;
  border-top: 1px solid $white-smoke;
  .searchCard_headerLeft {
    .header_location {
      margin-left: 3px !important;
      display: flex;
      align-items: center;
      // svg{
      //   display: inline-flex;
      //   margin-top: 2px;
      //   line-height: 109px;
      // }
    }
  }
  .serarchCard_leftHeader {
    margin-top: -14px;
    .serarchCard_leftHeaderItem.header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // .rotetIcon{

      // }
    }
  }
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .search-filter-page {
    .searchFilterAccordian {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .search__cardHeader {
    .searchCard_headerLeft {
      .header_location {
        margin-left: 0px !important;
      }
    }
  }
}
.searchFilterAccordian {
  .accordion {
    .active {
      .serarchCardIcon_circle {
        background-color: #eeeef2;
        .rotetIcon {
          transform: rotate(180deg);
        }
      }
    }

    .serarchCardIcon_circle {
      height: 28px;
      width: 28px;
      border-radius: 30px;
      padding-top: 7px;
      display: inline-block;
      padding-left: 5px;
      &:hover {
        background-color: #eeeef2;
      }
      .icon {
        box-shadow: none !important;
        color: #c8c8c8 !important;
      }
      // &:hover{
      //   background-color: #eeeef2;
      // }
    }
  }
}

.searchFilterCard {
  .accordion {
    .active {
      .serarchCardIcon_circle {
        background-color: #f7f7fb;
        .rotetIcon {
          transform: rotate(180deg);
        }
      }
    }

    .serarchCardIcon_circle {
      height: 28px;
      width: 28px;
      border-radius: 30px;
      padding-top: 7px;
      padding-right: 2px;
      .icon {
        box-shadow: none !important;
        color: #c8c8c8 !important;
      }
      &:hover {
        background-color: #f7f7fb;
      }
    }
  }
}

.foundJobBanner {
  background: url("../../../../assets/img/searchFilter/foundJob.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 20px;
  border-top-right-radius: 6px; /* Mobile */
  @media only screen and (max-width: 767px) {
    .mobile__SearchFilter {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  border-top-left-radius: 6px;
  h3 {
    color: white !important;
    // font-size: 26px;
    font-weight: 500;
  }
}

.foundPeopleBanner {
  background: url("../../../../assets/img/searchFilter/foundPeople.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  h3 {
    color: white !important;
  }

  .header {
    button {
      background-color: #ffffff;
      color: #323232;
      font-size: 12px;
    }
  }
}

// fix pagination display
.ais-Pagination-item--disabled {
  display: none;
}
