.InterviewPreference{
  margin-top: 72px;
  
}

.InterviewPreferenceContainer{
  .preference_container{
    padding-top: 30px;
    .preference_headerTitle{
      padding-bottom: 20px;
     
      .ui.header{
        margin-bottom: 5px;
        color: #575757;
      }
      p{
        color: #797979;
      }
    }
    .select_interviewType{
      display: flex;
      margin-bottom: 20px;
      .manage_interviews{
        margin-left: 50px;

      }
    }
    .interview_divider{
      border-bottom: 1px solid #efefef;
      height: 1px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}


