.CardSummary {
  .is-centered {
    display: flex;
    align-items: center;
  }

  h2.ui.header {
    font-size: 18px;
    margin-bottom: 3px;
  }

  &.is-marginless {
    .CardSummaryItem {
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }

  .CardSummaryItem {
    user-select: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:not(.header) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: "Open Sans";

      &.is-centered {
        justify-content: center;
      }

      &.is-big {
        font-size: 16px;
      }

      &.has-text-black {
        color: #323232;
      }

      &.has-icon {
        svg {
          margin-right: 8px;
          width: 20px;
        }
      }

      &.is-grouped {
        .CardSummaryItem {
          margin-bottom: 0px;

          &:not(:first-child) {
            margin-left: 40px;
          }
        }
      }
    }
  }

  .CardSummaryExtra {
    font-family: "Open Sans";

    &:not(:first-child) {
      margin-left: 40px;
    }

    .head {
      margin-right: 5px;
      color: #797979;
    }

    .body {
      color: #0b9ed0;
    }
  }
}

@media (max-width: 1025px) {
  .CardSummary {
    h2.ui.header {
      font-size: 15px;
    }
  }
}
