
.SelectTemplateMobile{
  .mobileHeader_status{
    .MobileHeader_Left{
      
    }
  }
}

.InterviewStatusMobile_message{
  .status_header{
    .header_dateTitle{
      border-top-left-radius: 6px;
      display: inline-block;
      background-color: #0b9ed0;
      color: #fffefe;
      padding: 10px;
      font-family: 'Quicksand';
      font-size: 16px;
      font-weight: 500;
    }
    .header_mainTitle{
      display: inline-block;
      font-family: 'Quicksand';
      font-size: 16px;
      font-weight: 500;
      color: #323232;
      margin-left: 15px;
    }  

    .header_mainEditColumn{
      border-top-right-radius: 6px;
      display: flex !important;
      align-items: center;
      justify-content: flex-end;
      .header_mainEdit{
        margin-right: 15px;
      }
    }
  }

  .status_body{
    background-color: #ffffff;
    padding: 15px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .status_bodyHeader{
      .leftSide_title{
        color: #a1a1a1;
      }
      .rightSide_title{
        margin-left: 10px;
        p{
          margin-bottom: 0;
          color: #575757;
        }
      }
    }
  }
  
}
 