.FlatFileuploadBtn{
  label{
    border-radius: 20px !important;
    cursor: pointer;
    background-color: #edeff1 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .fileUplaod_icon{
    svg{
      margin-right: 10px;
    }
  }
    
  .fileUplaod_text{
    font-size: 14px;
    color: #575757;
    font-weight: 500;
  }


}