.templateMobileHeader{
  .MobileHeader{
    background-color: #ffff !important;
    border-bottom: 1px solid #eeeef2;
    .MobileHeader_Left{
      button{
        padding: 0;
        background-color: transparent;
      }
      h3{
        font-family: 'Open Sans';
        font-size: 14px;
        color: #797979;
        display: inline-block;
        margin-top: 0;
        padding-left: 20px;
      }
      svg{
        transform: rotate(180deg);
        height: 14px;
        width: 23px;
      }
    }
  }
}

.selectTemDrop{
  .templateMobilemiddleContainer{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.templateMobileFooter{         
  .button{
    background-color: transparent;
    color: #6e768a;
    &:hover{
      background-color: inherit;
      color: #6e768a;
    }

    &:focus{
      background-color: transparent;
      color: #6e768a;
    }
}
}