.mediaSlider_modal {
  background-color: transparent !important;
  box-shadow: none !important;
}

.AtTop {
  margin-bottom: 500px;
}

.MediapreviewSlider {
  margin: 0 auto;
  .slick-slider {
    .slick-list {
      img {
        max-width: 300px;
        height: auto;
        margin: 0 auto;
      }
    }

    .slick-dots {
      bottom: -65px;
      li {
        height: auto;
        width: auto;
      }
      img {
        height: 50px;
        width: 70px;
      }
    }
  }
  .slick-prev {
    left: -60%;
    &::before {
      content: "";
    }
    svg {
      transform: rotate(-180deg);
    }
  }

  .slick-next {
    right: -60%;
    &::before {
      content: "";
    }
  }
}
