.form_Contanier{
    padding: 0 !important;
    .Button_classes{
    .panel_cardBody{
        background-image: url("./i1.jpg");
				height: 300px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
        
        .InputFieldLabel{
            // margin-right: 335px;
            .ui.header{
                font-family: 'Open Sans' !important;
                font-size: 12px !important;
                color: #c8c8c8; 
            }
        }
    }
}
.ModalFooterBtn{
    padding-bottom: 20px;
    padding-right: 16px;
}
}