.SearchFilterInput{
  .search{
    .ui.input{
      width: 100%;
    }
    .prompt{
      border-radius: 6px !important;
    }
    .results{
      margin-top: 0 !important;
      border-top-left-radius: 2px !important;
      border-top-right-radius: 2px !important;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      border: none !important;
    }
  }
}