.UserMessage__Vasi {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row-reverse;
  margin-top: 25px;
  .UserMessage_image {
    width: 32px;
    img {
      width: 100%;
    }
    svg{
      border-radius: 50%;
    }
  }

  .UserMessage_bodyContainer {
    min-width: 62px;
    max-width: calc(100% - 42px);
    margin-right: 10px;
  }

  .UserMessage_body {
    background: #afece6;
    padding: 10px 10px 20px 10px;
    line-height: 24px;
    color: #575757;
    font-size: 13px;
    border-radius: 15px 15px 0 15px;
    position: relative;
    // max-width: inherit;
    min-width: inherit;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .UserMessage_time {
      display: none;
      font-size: 10px;
      position: absolute;
      bottom: 0px;
      right: 10px;
    }
  }
}
