.PublicProfileLeftPane{
  margin-top: -100px;
  .publicprofileHeader{
    h2.header{
      color: #ffffff;
      margin-bottom: 5px;
    }
    p{
      color: #ffffff;
      svg{
        margin-right: 5px;
      }
    }
  }
}