.BestCard_body {
  .BestCard_bodyDetails {
    .card_detailTitle {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.best-card-hover-show {
  .hover_title:hover {
    color: #000000 !important;
  }

  .p2p-tracker-icon-block {
    position: absolute;
    top: 10px;
    left: 5px;
  }
  .external-job-button-best {
    svg {
      margin: 0 0 -2px 8px;
    }
  }
}
