.SkillList {

  user-select: none;

  &.is-small {
    span {
      margin-right: 5px;
      color: #a1a1a1;
    }

    .item {
      color: #575757;
    }
    
  }

  .item {
    color: #323232;

    &::before {
      font-size: 22px;
      color: #c8c8c8 !important;
    }
  }
}