.SearchApplicant {
  padding: 10px;
  background-color: #ffffff;
  .mobile_allJobs {
    .selection.dropdown {
      border: none;
    }

    .dropdown.icon {
      color: #cdcdcd;
    }

    .ui.dropdown > .text {
      color: #0b9ed0;
      font-size: 16px !important;
      font-weight: 500;
    }
  }

  .mobile_allCandidates {
    .selection.dropdown {
      background-color: #0b9ed0;
      color: #ceeefe;
      border: none;
      height: 65px;
      display: flex;
      align-items: center;
    }

    .ui.dropdown > .text {
      color: #ceeefe;
      font-size: 16px !important;
      font-weight: 600;
      display: block !important;
      width: 100%;
    }
    .dropdown.icon {
      margin-top: 6px;
    }
  }
}
