.WhiteCardBackground {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  border-radius: 6px;
}
.todayManageTemplateCard {
  color: rgba(11, 158, 208, 1);
}
.interviewInvite {
  font-family: "Quicksand";
  font-size: 20px;
  font-weight: 500;
  color: rgba(50, 50, 50, 1);
}
.ForwardedCandidate {
  font-family: "Open Sans";
  font-size: 13px;
  color: rgba(121, 121, 121, 1);
}
.ManageTemplateCardFirstName {
  font-family: "Open Sans";
  font-size: 14px;
  color: rgba(121, 121, 121, 1);
}
.ManageTemplateCardDeleteBtn {
  background-color: rgba(238, 238, 242, 1);
}
.createdInManageTemplateForMobile {
  span {
    color: rgba(161, 161, 161, 1);
  }
  font-family: "Open Sans";
  font-size: 12px;
  color: rgba(11, 158, 208, 1);
}

.ManageTemplate {
  .ManageTemplateBody {
    .AccordionCardContainer {
      .active {
        .DownArrowCollaps {
          background-color: #e9ebee !important;
          svg {
            transform: rotate(-180deg);
          }
        }
      }
      .ManageTemplateCard_ApplyHeader {
        .ApplyHeader_container {
          display: flex;
          justify-content: flex-end;
          .arrowUp {
            margin-left: 5px;
            .DownArrowCollaps {
              margin-top: -5px;
              margin-right: -2px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
// .IcAttachmentMarginright {
//   margin-right: 10px;
// }
.attactmentMarginFix {
  padding-top: 6px !important;
}
.attachmentNumbermanageTem {
  margin-right: 4px;
  font-size: 14px;
}
.dotMarginFixOfDot {
  // margin-left: 10px !important;
}

.manageTemModal_form {
  .close.icon {
    color: #797979;
    top: 5px;
    right: 5px;
  }
}

.ManageTemplateCard{
  .MyJobCards_leftSide{
    .interviewInvite{
      display: flex;
      .manageTem_cardLogoLeft{
        width: 30px;
      }
      .manageTem_detailRight{
        width: 100%;
        .ui.header{
          margin-bottom: 3px;
        }
        p{
          margin-bottom: 3px;
        }
      }
    }
  }
  
}

.ManageTemplateBody{
  .ManageTemplateCard_body{
    display: flex;
    .manageCard_bodyleft{
      width: 30px;
    }
    .manageCard_bodyRight{
      width: 100%;
    }
  }
  .ManageTemplateCard_ApplyHeader{
    .manaTem_editBtn{
      background-color: #eeeef2;
      color: #575757;
      font-size: 13px;
      &:hover{
        color: #0b9ed0;
      }
    }
  }
}
