.RejectModal{
  background-color: #f7f7fb;
  border-radius: 6px;
  // padding: 30px;

  // .notify_field{
  //   .Textarea_field{
  //     margin-top: 20px;
  //   }

  //   .InputContainer{
  //     background-color: #F8F7FC;
  //     border-radius: 5px;
  //     padding: 20px 20px 20px 0;
  //     margin-top: 20px;
  //   }
  // }


  .userInterView_staus{
    // padding: 20px;
    .userInterView_stausInner{
      background-color: #ffffff;
      border-radius: 6px;
      padding: 20px;
       
      .notify_Label{
        margin-top: 15px;
        margin-bottom: 12px;
        
        .ui.header{
          display: flex;
          justify-content: end;
        }
      }
    }
  }

  .notify_Label{
    .NotifyAplicationLabel{
      label{
        color: #323232;
        font-family: 'Quicksand';
        font-size: 16px;
      }
    }
    
  }

  .RejectModal_footer{
    padding: 20px;
    text-align: right;
  }
}

.rejectModal_container.ui>.close{
  margin-top: 40px;
  margin-right: 40px;
  color: #ffffff !important;
}

.rejectModal_container{
  margin-top: 0px !important;
}

// .rejectModal_container{
//   .close.icon{
//     color: #ffffff;
//     margin-top: 48px;
//   }
// }

@media only screen and (max-width: 1024px) {
  .rejectModal_container.ui>.close{
    margin-top: 0px;
    margin-right: 0px;
    // color: #ffffff ;
  }
  .RejectModal{
    .userInterView_staus{
      .notify_Label{
        .four.wide{
          width: 35% !important;
        }
      }
      .IsShowNotifyAplication{
        .ui.header{
          font-size: 16px;
        }
        .ui.grid{
          .selectOption{
            .selectOption_left{
              width: 100% !important;

            }
            .selectOption_right{
              width: 100% !important;
              margin-top: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
              .ui.button{
                padding: 0;
              }
            }
          }
        }
        .QuillText{
          .ql-formats:last-child{
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .rejectModal_container.ui>.close{
    margin-top: 8px;
    margin-right: 6px;
  }
}
