.AdvanceSearchHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  .AdvanceSearchHeader_left{

  }
  .AdvanceSearchHeader_right{
    .booleanSearchQueryBtn{
      background-color: transparent;
      color: #0b9ed0;
      .upArrow{
        
        svg{
          transform: rotate(-180deg);
        }
      }
      svg{
        margin-left: 5px;
      }
    }
  }
}

.BooleanSearchQueryField{
  margin-bottom: 20px;
}