.Vasi__InitScreen {
  text-align: center;

  &.is--hidden {
    display: none;
  }

  img {
    margin-top: 34px;
    height: 120px;
  }

  img.Vasi__initClose {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 20px;
    margin-top: 0px; 
    
    &:hover {
      cursor: pointer;
    }
  }

  img.Vasi__initBack {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 12px;
    margin-top: 0px; 
    
    &:hover {
      cursor: pointer;
    }
  }

  h2 {
    font-size: 18px;
    color: white;

    &.focused {
      margin-top: 1rem;
      font-size: 22px;
      color: #f7bb01;
      margin-bottom: 2rem;
    }
  }

  .Vasi__InitScreen--footer {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;

    p {
      font-weight: 500;
      margin-bottom: 5px;
      margin-left: 10px;
      color: #656e7b;
    }

    .Vasi__InitScreen--footer_child {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    button {
      outline: 0;
      border: 1px solid #16c9d5;
      font-family: 'Helvetica';
      font-size: 18px;
      color: #16c9d5;
      text-align: left;
      background: transparent;
      border-radius: 20px;
      padding: 8px 18px 8px 18px;
      width: 140px;
      text-align: center;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        background: #16c9d5;
        color: #fff;
      }
    }
  }
}

.VasiIntialMessage_loading {
  color: #f7bb01;
  min-width: inherit;
  max-width: inherit;
  padding-bottom: 10px;

  span {
    font-size: 64px;
    animation: vasiblink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}
