.HomePageFooterUpper {
  margin-top: 30px;
  background-color: #1f2532;
  padding-top: 30px;
  padding-bottom: 17px;
  margin: 0 auto;
  .ui.grid{
    .HomePageFooterUpper_Row_Container{
      .five.column{
        width: 33.33% !important;
        // border-right: 1px solid #2c3342;
        // &:last-child{
        //   border-right: none;
        // }
      }
      .top_skills{
        padding-left: 25px;
      }
      .trending_jobs{
        padding-left: 25px;
      }
    }
  }
  .HomePageFooterUpper_Row_Container {
    


    h3 {
      font-family: "Quicksand";
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 30px;
    }
    .HomePageFooterUpper_Row {
      display: flex !important;
      justify-content: space-between !important;
      .HomePageFooterUpper_Row_Left {
        cursor: pointer;
        display: inline-block;
        span {
          display: block;
          font-family: "Open Sans";
          font-size: 13px;
          color: #727b8f;
          margin-bottom: 10px;
        }
        span:hover {
          color: #0b9ed0;
        }
        span:hover svg g {
          fill: #0b9ed0;
        }
      }
      .HomePageFooterUpper_Row_Right {
        display: inline-block;
        cursor: pointer;
        width: 165px;
        span {
          display: block;
          font-family: "Open Sans";
          font-size: 13px;
          color: #727b8f;
          margin-bottom: 10px;
        }
        span:hover {
          color: #0b9ed0;
        }
        span:hover svg g {
          fill: #0b9ed0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .HomePageFooterUpper {
    display: none !important;
  }
}
