.CandidateCardDetailTag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 16px;
  padding: 0px 10px 2px 10px;
  color: #797979;
  margin-top: 2px;
  
  .CandidateCardDetailTag__indicator {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #d0bb0b;
    margin-right: 5px;
  }
  .CandidateCardDetailTag__text {
    line-height: 20px;
    
  }
}

@media only screen and (max-width: 1024px){
  .CandidateCardDetailTag{
    .CandidateCardDetailTag__text {
      font-size: 11px;
    }
  }
}