.MobileHomePageFooterUpper {
  // margin-top: 10px;
  .AccordionCardContainer {
    .active {
      .DownArrowCollaps {
        background-color: #e9ebee !important;
        svg {
          transform: rotate(-180deg);
          margin-left: 7px;
        }
      }
    }
  }
}
.MobileHomePageFooterUpperHeader {
  background-color: #f7f7fb;
  border-bottom: 1px solid #eaeaee;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .MobileHomePageFooterUpperHeaderRight {
    .DownArrowCollaps {
      display: flex;
      align-items: center;
      svg {
        margin-left: 7px;
      }
    }
  }

  span {
    display: inline-block;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    color: #575757;
  }
}

.MobileHomePageFooterItem {
  // margin-top: 3px;
  // margin-bottom: 3px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  padding: 10px 20px;

}
