.Main_Grid{
  margin-top: 10px;
  padding-bottom: 30px;
  
}



.ShowApplicantMain_Grid{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 20px;
  .ShowApplicant_left{
    display: flex;
    width: 77%;
    align-items: center;
    .ui.header{
      margin-bottom: 0;
      font-weight: 500;
      color: #575757;
    }
    .ShowApplicant_form{
      width: 60%;
      margin-left: 10px;
      .SelectOptionField {
        line-height: 20px;
        height: 40px;
        .dropdown {
          .text{
            color: #0b9ed0;
          }
          
        }
        .dropdown>.text{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 90%;
        }
        .visible.menu{
          .item{
            padding-left: 25px !important;
            padding-right: 25px !important;
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            .text{
              color: #575757;
              &:hover{
                color: #0b9ed0;
              }
            }
          }
        } 
      }
    }
  }
  .ShowApplicant_right{
    width: 23%;
    .aplicantSearch{
      .ui.input {
        font-weight: 500;
        input{
          background-color: transparent;
          border: none;
        }
        .search.icon{
          // color: #eaeaee;
        }
      }
       .ui.transparent.icon.input>i.icon {
           color:#c8c8c8;
       }
       border-radius: 6px;
     }
  }
}