.Tag_Form{
    border-radius: 6px;
    padding: 25px;
    .field{
        label{
            font-family: 'Open Sans' !important;
            font-size: 18px !important;
            color: #0b9dcf !important;
            font-weight: 500 !important;
            svg{
                margin-left: 6px;
            }
        }
        input{
            margin-top: 15px !important;
        }
    }
    .Tag_Button{
        padding-top: 20px !important;
        display: flex;
        justify-content: flex-end;
    }
}

.addTagModal_container.ui > .close {
  color: rgb(121, 121, 121);
  margin-top: 7px;
  margin-right: 10px;
}