.RecruiterMyjobMobileContainer {
  .MyjobMobile_footer {
    .MobileHeader_Left {
      .filterBtn {
        background-color: transparent;
        color: #6e768a;
      }
    }
    .recent_status {
      color: #6e768a;
      font-size: 13px;
      .ui.dropdown {
        .text {
          color: #0b9dcf;
        }
        .visible.menu {
          .text {
            color: #575757;
            &:hover {
              color: #0b9dcf;
            }
          }
        }
      }
    }
  }
  .MyjobMobile_body {
    margin-top: 65px;
    margin-bottom: 75px;

    .mobile_allMyJobStatistic {
      .selection.dropdown {
        border: none !important;
        .text {
          color: #0b9ed0;
        }

        .visible.menu {
          .text {
            color: #575757;
            &:hover {
              color: #0b9dcf;
            }
          }
        }
        .dropdown.icon {
          color: #cdcdcd;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .RecruiterMyjobMobile {
    .MyJob_cardContainer {
      .JobCardsHeader_details {
        border-bottom: none !important;
        .ui.grid {
          .row {
            .MyJobCards_leftSide {
              width: 100% !important;
            }
            .MyJobCards_rightSide {
              display: none !important;
            }
          }
        }
      }
    }
  }
}
