.RejectAplication{
  .RejectAplication_btnGroup{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .btnWidth{
      width: 32%;
    }
  }
}

@media only screen and (max-width: 1024px){
  .RejectAplication_btnGroup{
    // display: flex;
    flex-direction: column;
    // justify-content: space-between;
    margin-bottom: 0 !important;
    .btnWidth{
      width: 100% !important;
      margin-bottom: 14px;
    }
  }
}