.AboutUs {
  margin-top: 70px;
  .banner_header h1 {
    font-family: "Quicksand";
    font-size: 40px;
    font-weight: 500;
    color: white;
  }
  .Pagebanner {
    display: flex;
    align-items: center;
    margin-top: -25px;
  }
  .card_panel {
    margin-top: -55px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    border-radius: 6px;
    background-color: #fff;
    padding: 25px 20px;
    margin-bottom: 50px;
  }
  .header_text {
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: 500;
    color: #575757;
    padding-top: 3px;
  }
  .sub_header_text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    color: #797979;
    line-height: 24px;
  }
  .text {
    font-family: "Open Sans";
    font-size: 14px;
    color: #797979;
    text-align: left;
    line-height: 24px;
  }
  .p-tag {
    margin: 0 0 10px;
  }
  .mb-10 {
    margin-bottom: 10px !important;
  }
  a {
    color: rgba(11, 158, 208, 1);
  }
  a:hover {
    color: rgba(11, 158, 208, 1);
  }
}
@media (max-width: 992px) {
  .AboutUs {
    margin-top: 70px;
    .banner_header h1 {
      font-family: "Quicksand";
      font-size: 28px;
      font-weight: 500;
      color: white;
      text-align: center;
      padding-top: 80px;
    }
    .Pagebanner {
      display: block;
      margin-top: -25px;
    }
    .Pagebanner.is-medium {
      height: 250px;
    }
  }
}
