@media (max-width: 556px) {
  .resume-action-button-modal-preview {
    .close {
      top: -0.5rem !important;
      right: -0.5rem !important;
      opacity: 1 !important;
      border-radius: 35px;
      background-color: #0b9ed0;
      color: #fff !important;
      padding: 0.55rem 0 0 0 !important;
      font-size: 16px !important;
    }
    .modal-image img {
      display: block;
      margin: 0 auto;
    }
    .ui.medium.image,
    .ui.medium.images .image,
    .ui.medium.images img,
    .ui.medium.images svg {
      width: 100% !important;
      height: auto;
      font-size: 1rem;
    }
  }
}
