.p2p-tracker-modal {
  .p2p-tracker-modal-content {
    padding: 0px !important;
  }
  .label {
    display: block;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 3.5em !important;
    height: auto;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    text-align: left;
    svg {
      border-radius: 50%;
    }
  }
  .ui.card,
  .ui.cards > .card {
    box-shadow: none;
    width: 100%;
    // padding: 15px;
    .p2p_modalCard {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-align: center;
      border-radius: 6px;
      margin-bottom: 10px;
      padding: 10px 15px;
      .event {
        .content {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .ui.feed > .event > .content .summary {
    margin: 3px 0;
    font-weight: normal;
  }
  .ui.feed > .event > .content .date {
    font-family: "Open Sans";
    font-size: 16px;
    color: rgba(50, 50, 50, 1);
  }
  .ui.modal > .content {
    padding: 0 !important;
  }
  .tracker-title {
    font-family: "Quicksand" !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #323232 !important;
    background-color: rgba(247, 247, 251, 1) !important;
    border-bottom: none !important;
    padding: 0.8rem 1.5rem !important;
  }
  .p2p-tracker-modal-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sub-title {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(87, 87, 87, 1);
  }
  .sub-title1 {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(161, 161, 161, 1);
  }
  .sub-title2 {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(161, 161, 161, 1);
  }
  .sub-title3 {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(87, 87, 87, 1);
  }
  .modal-action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .tracker-status-title {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(121, 121, 121, 1);
    margin-right: 15px;
  }
  .tracker-status-action {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 5px;
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(87, 87, 87, 1);
    text-transform: uppercase;
    padding: 0.38571429em 1.5em 0.38571429em;
  }
  .tracker-title-view-all {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(11, 158, 208, 1);
    cursor: pointer;
  }
  .close {
    cursor: pointer;
    position: absolute;
    top: 0.3rem !important;
    right: 1rem !important;
    z-index: 1;
    opacity: 0.8;
    font-size: 1.25em;
    color: rgba(200, 200, 200, 1) !important;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.625rem 0 0 0;
  }
  .ui.card > .content,
  .ui.cards > .card > .content {
    border-top: 1px solid #efefef;
  }
}

// @media only screen and (max-width: 1024px){
//   .p2p-tracker-modal{
//     height: 100vh;
//     width: 100vw !important;
//     margin: 0 !important;
//     .scrolling.content{
//       max-height: calc(90vh) !important;
//     }
//     .ui.card{
//       padding: 0 !important;
//     }
//   }
// }

@media only screen and (max-width: 500px) {
  // .p2p-tracker-modal {
  //   height: 100vh;
  //   width: 100vw !important;
  //   margin: 0 !important;
  // }

  .p2p-tracker-modal {
    .p2p-tracker-modal-sub-header {
      flex-direction: column;
      align-items: baseline;
    }
    .modal-action-button {
      flex-direction: column;
      .tracker-title-view-all {
        margin-top: 20px;
        width: 100%;
      }
      .tracker-status {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1025px) {
  .p2p-tracker-modal {
    .p2p_modalCard {
      padding: 10px 0px !important;
    }
    .tracker-status-title {
      font-size: 13px;
    }
    .tracker-status-action {
      font-size: 13px;
    }
    .sub-title {
      font-size: 13px !important;
    }
    .date {
      font-size: 15px !important;
    }
    .ui.modal > .content {
      display: block;
      padding: 0 !important;
    }
    .ui.card,
    .ui.cards > .card {
      padding: 0px !important;
    }
    .p2p-tracker-modal-content {
      padding: 0px !important;
    }
    .label {
      width: 2.5em !important;
      svg {
        display: block;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 2.5em;
        height: auto;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        text-align: left;
        border-radius: 50%;
      }
    }
  }
}
