
.SearchCard{
  .SearchCardAccordion{
    .active{
      .header{
        color: #0b9ed0;
      }
    }
  }
}

.card.MediaCard{
  border: 0;
  border-radius: 0;
  box-shadow: none;
  .expAndPost_grid{
    padding-top: 0;
    .exp_year{
      color: #323232;
      span{
        color: #a1a1a1;
      }
    }
    .job_post{
      color: #0b9ed0;
    }
  }
}

