.SkipNowCollaps{
  font-family: 'Open Sans';
  font-size: 14px;
  color: #a1a1a1;
  margin-top: 7px;
  display: inline-block;
  &:hover{
    color: #0b9ed0;
  }

}

.CreateProfilePage{
  .is-collapsible{
    .accordion{
      .active{
        .skipNowTitle{
          display: none;
        }
        .moreDetailTitle{
          display: block;
        }
      }

      .moreDetailTitle{
        display: none;
      }
    }
  }
}