.MessagingMobile{
  height: 78vh;
  .templateMobileHeader{
    .MobileHeader{
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }

    .MobileHeader_Left {
      display: flex;
      align-items: center;
    }
  }

  .mainNewTemplate {
    .UploadeDocMessaging {
      padding-top: 15px;
      padding-left: 20px;
      // padding-bottom: 10px;
      .messagingMainDoc {
        background-color: #f7f7fb !important;
        margin-bottom: 0 !important;
      }
    }
    .createNew_temp {
      .UploadeDocMessaging {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 10px;
      }
    }
  }

  .ChatThreadMessageSection {
    padding-bottom: 30px !important;
    .newMessage_btn {
      .button {
        bottom: 13.5%;
      }
    }
  }

  .UploadeDocMessaging {
    padding-right: 20px;
  }

  .MessageingMediaMobile {
    .mobileMedia_box {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  .messaginMobile_chatsideBar {
    .chatSideBarPeopleList {
      padding-top: 10px;
      background-color: #ffffff;
    }
    background-color: #ffffff;
    height: 100%;
    .mainNewTemplate {
      background-color: #ffffff;
      .createNew_temp {
        padding: 20px 20px 0 20px;
        .UploadeDocMessaging {
          padding-bottom: 10px;
        }
        .ui.header {
          color: #0b9ed0;
        }
        p {
          // font-size: 14px;
          color: #797979;
        }
      }
    }
  }

  .ChatTreadSearchHeader {
    background-color: #ffffff;
    .MobileHeader_Left {
      display: flex;
      align-content: center;
      .button {
        padding: 0;
        background-color: transparent;
      }
    }
  }

  .templateMobilemiddleContainer {
    .mainNewTemplate {
      margin-bottom: 60px;
      background-color: #ffffff;
      .docRemoveBtn {
        .ui.button {
          margin-top: 5px !important;
        }
      }
    }
  }

  .messagingMobile_Header {
    .MobileHeader {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      .ui.grid{
        .row{
          padding-top: 7px;
          padding-bottom: 7px;
        }
      }
    }
  }

  .templateMobileFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    .MobileHeader_Left {
      .FileuploadBtn {
        margin-left: 20px;
      }
    }
  }
  
  .Messaging_mobileBody{
    margin-top: 49px;
    position: relative;
    z-index: 0;
    height: 100%;
  }

  .messaginMobile_chatsideBar {
    // height: 100%;

    .ChatThreadMessageSection {
      background-color: #ffffff;
      padding-left: 10px;
      padding-right: 10px;
    }

    // margin-bottom: 30px;
    .ChatSideBar{
      // margin-top: 52px;
    }
    .ChatStart {
      margin-top: 30%;
    }

    .ChatSidebarPeopleCard {
      .ql-editor {
        background-color: transparent;
      }
    }

    .ChatSidebarSearchField {
      position: fixed;
      width: 100%;
      top: 50px;
      background-color: #f7f7fb !important;
      z-index: 1000;
      padding-top: 3px;
      padding-bottom: 11px;

      .searchField {
        input {
          border-radius: 30px;
        }
      }
    }

    // .ChatSideBar{
    //   .chatSideBarPeopleList{
    //     overflow: hidden;
    //     outline: none;
    //     overflow-y: auto;
    //     height: calc(100% - 120px);
    //   }

    //   .chatSideBarPeopleList::-webkit-scrollbar {
    //     width: 4px;
    //     height: 100px !important;
    //     border-radius: 0 !important;
    //   }

    //   .chatSideBarPeopleList::-webkit-scrollbar-track {
    //     background: transparent;
    //   }

    //   .chatSideBarPeopleList::-webkit-scrollbar-thumb {
    //     background: #a1a1a1 !important;
    //     border-radius: 0 !important;
    //     height:50px !important;
    //   }
    // }
  }
}

@media only screen and (max-width: 1024px){
  .MessagingMobile {
    .messaginMobile_chatsideBar {
      .ChatSidebarSearchField{
        position: relative;
        top: 0;
      }
    }
  }
}
