.manage-cv-template {
  margin-top: 70px;
  .banner_header h1 {
    font-family: "Quicksand";
    font-size: 40px;
    font-weight: 500;
    color: white;
  }
  .Pagebanner {
    display: flex;
    align-items: center;
    margin-top: -25px;
  }
  .manage_cv_template_header {
    margin-top: -55px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    border-radius: 6px;
    background-color: #fff;
    padding: 25px 20px;
    margin-bottom: 50px;
  }
  .ui.card,
  .ui.cards > .card {
    width: 100% !important;
  }
  .resume-preview {
    padding: 0.68571429em 1.5em 0.68571429em !important;
    background-color: #ffffff;
    border: 2px solid #0b9ed0;
    border-radius: 18px;
    color: #0b9ed0;
    font-size: 13px;
    font-family: "Open Sans";
    margin-right: 8px;
  }
  .resume-preview:hover {
    background-color: #0b9ed0;
    color: #ceeefe;
  }
  .resume-preview:active {
    background-color: #0b9ed0;
    color: #ceeefe;
  }
  .resume-preview:focus {
    background-color: #0b9ed0;
    color: #ceeefe;
  }
  .resume-apply {
    padding: 0.68571429em 1.5em 0.68571429em !important;
    border-radius: 18px;
    background-color: #ffffff;
    color: #0b9ed0;
    border: 2px solid #0b9ed0;
    font-size: 13px;
    font-family: "Open Sans";
    margin-left: 8px;
  }
  .resume-apply:hover {
    background-color: #0b9ed0;
    color: #ceeefe;
  }
  .resume-apply:active {
    background-color: #0b9ed0;
    color: #ceeefe;
  }
  .resume-apply:focus {
    background-color: #0b9ed0;
    color: #ceeefe;
  }
  .resume-images {
    position: relative;
    overflow: hidden;
  }
  .extra-resume-content {
    position: absolute !important;
    top: 143px !important;
    left: 0 !important;
    background: #fff !important;
    width: 100% !important;
    transition: all 300ms ease-out !important;
    transform: translateY(80px);
    transition-delay: 0.3s;
    transition-duration: 0.6s;
  }
  .resume-images:hover .extra-resume-content {
    transform: translateY(0px);
  }
  .resume-images {
    box-shadow: none !important;
  }
  .resume-images:hover {
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  }
  .card-header-resume {
    .ui.header {
      color: #575757 !important;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      margin-top: -0.21425em;
      line-height: 1.28571429em;
      position: relative;
      overflow: hidden;
    }
  }
  // .card-header-resume:hover {
  //   color: #0b9ed0 !important;
  // }
  .card-main-block {
    margin-bottom: 20px !important;
  }
  .resume-grid {
    display: block !important;
  }
}
@media (max-width: 1025px) {
  .manage-cv-template {
    .resume-images {
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    }
  }
}
@media (max-width: 769px) {
  .manage-cv-template {
    .extra-resume-content {
      top: 369px !important;
    }
  }
  .manage-cv-template .banner_header h1 {
    text-align: center;
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .manage-cv-template {
    .extra-resume-content {
      top: 158px !important;
    }
  }
}
@media (max-width: 376px) {
  .manage-cv-template {
    .extra-resume-content {
      top: 135px !important;
    }
  }
}
@media (max-width: 362px) {
  .manage-cv-template {
    .extra-resume-content {
      top: 126px !important;
    }
  }
}
@media (max-width: 322px) {
  .manage-cv-template {
    .extra-resume-content {
      top: 101px !important;
    }
  }
}
