.CreateNewTemplateModal_div {
  // display: flex;
  // align-content: center;
  // justify-content: space-around;
}
.tempMainDiv {
  .tempHeader {
    background-color: #ffffff !important;
    padding: 0px;
  }
}

@media screen and (min-width: 320px) {
  .MarginAtBottomIntextLabel {
    margin-bottom: 10px;
  }
}
