.ManageCompnies{
  // margin-top: 68px;
  .Pagebanner{
    display: flex;
    align-items: center;
    .banner_header h1{
      font-size: 40px;
      color: #ffffff;
    }
  }

  .ui.grid>.row>[class*="five wide computer"].column{
    width: 33.33% !important;
  }

  .Nodata_foundBtn{
    text-align: center;
    margin-bottom: 80px;
    .header_btn{
      svg{
        margin-right: 5px;
      }
    }
  }

  
  

  .manageCompany_header{
    margin-top: -55px;
    .manageCompany_card{
      padding-top: 14px;
      padding-bottom: 40px;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      svg{
        margin-top: 14px;
        margin-bottom: 14px;
      }
      .content .header{
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 14px;
      }

      .description{
        font-size: 14px;
        color: #a1a1a1;
      }
    }
  }
  
  

  .manageCompany_body{
    margin-bottom: 30px;

    .accordion{
      .active{
        .vas_accordionArrow{
          transform: rotate(180deg);
        }
      }
    }

    .SearchCardHeader{
      .SearchCardHeader__date {
        display: inline-block;
      }

      .vas_accordionArrow{
        background-color: inherit;
        transform: rotate(0deg);
        margin-left: 10px;
        padding-top: 8px;
        line-height: 1;
        height: 28px;
        width: 28px;

        &:hover{
          border-radius: 30px;
          background-color: #f7f7fb;
        }
      }
    }
    .header_title{
      margin-top: 12px;
      margin-bottom: 10px;
      .title{
        display: flex;
        align-items: center;

        h2{
          color: #0b9ed0;
        }

        
      }

      .header_btn{
        svg{
          margin-right: 5px;
        }
      }
    }



    .MediaCard{
      margin-top: 5px;
      padding-top: 25px;
      padding-bottom: 30px;
      padding-left: 77px;
      box-shadow: none;
      // border-bottom-left-radius: 0;
      // border-bottom-right-radius: 0;
      .MediaCardAvatar{
        top: 25px;
      }

      .row{
        padding-bottom: 0;
      }

      .cardHeader_footer{
        padding-top: 0;
      }

      .CardSummary{
        h2{
          margin-bottom: 5px;
        }
        p{
          font-size: 14px;
          color: #575757;
          font-weight: 500;
          margin-bottom: 5px;
          font-family: 'Open Sans';

          svg{
            margin-right: 5px;
          }

          span{
            color: #797979;
          }
        }
      }

      .header-btn{
        .deleteBtn{
          color: #a1a1a1;
          &:hover{
            color: #0b9ed0;
          }
        }

        .editBtn{
          background-color: #eeeef2;
          color: #575757;
          font-size: 13px;
          &:hover{
            color: #0b9ed0;
          }
        }
      }
    }

    .manageCompany_bodyCard{
      box-shadow: none;
     
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 10px 30px 20px;

      .title{
        font-size: 15px;
        color: #575757;
        margin-bottom: 30px;
      }

      .bodyCard_footer{
        padding-top: 10px;
        p{
          font-size: 14px;
          color: #797979;
          margin-bottom: 5px;
          span{
            color: #575757;
          }
        }
      }
    }
  }
  
}



@media only screen and (max-width: 767px) {
  .ManageCompnies{
    .ui.grid>.row>[class*="sixteen wide"].column{
      width: 100%!important;
    }

    .manageCompany_header 
    .manageCompany_card {
      margin-bottom: 20px;
    }
  }
  
}

@media only screen and (max-width: 1024px){
  .ManageCompnies{
    margin-top: 50px;
    .banner_header{
      .ui.header{
        font-size: 24px;
      }
    }
  }
}