.CardGlobalAction{
  .ui.inverted.button{
    box-shadow: none !important;
  }
  .button{
    border-radius: 50% !important;
    height: 45px;
    width: 45px;
    padding: 15px 10px 10px !important;
    border: 0;

    &:hover{
      background: #f7f7fb !important;
      color: #0B9ED0 !important;
      box-shadow: none;

      svg g path {
        fill: #0B9ED0
      }
    }
  }

  

  
}

.socialPropup{
  background-color: #1F2532 !important;
  padding: .5em !important;
  color: #ffffff !important;
  border: none !important;
  font-size: 12px !important;
  margin-left: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  &::before{
  border-left: 5px solid #1F2532!important;
  border-right: 5px solid #1F2532!important;
  border:5px solid #1F2532 !important;
  background-color: #1F2532 !important;
  }
}