.ProfileProgress{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    background-color: #ffffff !important;
    border: 1px solid #efefef !important;
    box-shadow: none !important;
    border-radius: 6px;
  
    .Progressbar{
      .ui.progress{
        background: #ecedf1;
        margin-bottom: 5px;
      }
  
      .header{
        margin-top: 10px;
        color: #575757;
        font-size: 18px;
      }
      
      .ui.progress .bar{
        background: #0b9ed0;
      }
    }
  
    .description{
      .title{
        font-size: 14px;
        color: #575757;
        font-weight: 500;
        span{
          color: #0b9ed0;
          font-weight: 600;
        }
      }
      .subTitle{
        color: #a1a1a1;
        font-size: 12px;
      }
    }
  
    .completeProfileBtn{
      border: 0 !important;
      .addBtn{
        font-size: 12px;
      }
      .skipBtn{
        background-color: transparent !important;
        color: #575757;
        font-size: 12px;
        box-shadow: none !important;
        &:hover{
          color: #0b9ed0;
        }
      }
    }
  }
  