.FlatFileuploadBtn {
  display: inline;
  label {
    border-radius: 20px !important;
    cursor: pointer;
  }

  .fileUplaod_text {
    font-size: 13px;
    color: #575757;
    font-weight: 500;
    &:hover {
      color: #0b9ed0;
    }
  }
}
