.ScreeningQuestionCard{
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  border-radius: 6px;
  padding: 20px;
  background-color: #ffffff;
  .QuestionCard_header{
    display: flex;
    // display: -webkit-box;
    .leftHeader{
      width: 35px;
    }
    .rightHeader_width{
      width: 100%;
    }
    .QuestionCard_headerTitle{
      .titleHead{
        margin-bottom: 4px
      }
      .subTitle{
        font-size: 16px;
        color: #797979;
      }
    }
    .headerTitle{
      display: flex;
      justify-content: center;
      span{
        margin-right: 6px;
      }
    }
    .rightHeader{
      width: 100%;
      .ui.header{
        font-family: 'Open Sans';
        color: #575757;
        margin-bottom: 5px;
      }
      p{
        color: #a1a1a1;
        .InfoIconLabel{
          margin-left: 5px;
        }
      }
      .DividerHorizontal{
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
    
  }

  .QuestionCard_body{
    .divider_container{
      margin-bottom: 15px;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1024px){
  .ScreeningQuestionCard{
    padding: 12px !important;
  }
}