.chatInitiate_box {
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainMessaging {
  margin-top: 84px;
  position: fixed;
  // flex-direction: column;
  // display: flex;
  // overflow: hidden;
  width: 100%;

  .ui.grid .messaging_row {
    background-color: #f7f7f7;
    height: 100%;
    height: 92vh;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    .userSideBarColumn {
      padding: 0 !important;
      height: 100%;
      background: #ffffff;
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 3px;
      .userSideBar {
        // padding: 20px;
        height: 100%;
        background-color: #ffffff;
      }
    }
    .pr-40 {
      padding-right: 40px !important;
    }
    .userProfileColumn {
      padding-left: 0 !important;
      height: 100%;
      padding-right: 0px;
      margin-right: 5px;
      border-left: 1px solid rgba(0, 0, 0, 0.08);
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      // padding: 0px !important;
      margin: 0px !important;
      .userProfile {
        position: relative;
        height: 100%;
        background-color: #ffffff;
      }
    }

    .userInfoColumn {
      height: 100%;
      padding-left: 0;
      .userProfile {
        position: relative;
        height: 100%;
        max-width: 382px;

        .PeopleProfileInfo {
          height: 100%;

          .peopleProfileInfoBox {
            // overflow-y: auto;

            // height: calc(100% - 120px);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  // .mainMessaging{

  //   margin-top: 68px;
  // }
}
