.NavbarMenuLists {
  .NavbarMenuList_header {
    padding: 12px;
    display: flex;
    border-bottom: 1px solid #efefef;
    // align-items: baseline;
    line-height: 10px;
    cursor: pointer;
    .NavbarMenuList_headerLogo {
      width: 48px;
      img {
        height: 48px;
        width: 48px;
      }
      svg {
        border-radius: 50%;
      }
    }
    .NavbarMenuList_headerTitle {
      margin-left: 10px;
      width: 72%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      p {
        margin-bottom: 0;
        white-space: normal;
      }
      .title {
        color: #323232;
        font-family: "Quicksand";
        font-size: 16px;
        font-weight: 500;
        &:hover {
          color: #0b9ed0;
        }
      }
      .subTitle {
        font-family: "Open Sans";
        font-size: 13px;
        color: #797979;
      }
    }
  }
  .NavbarMenuList_body {
    padding: 12px;
    .NavbarMenuListItems {
      line-height: 30px;
      .FlatFileuploadBtn {
        display: inline-block;
        // margin-left: 10px;
        label {
          padding: 0;
          background-color: transparent !important;
          padding-left: 0 !important;
          &:hover span {
            color: #0b9ed0;
            svg path {
              fill: #0b9ed0;
            }
          }
        }
      }
      .ui.header {
        font-size: 14px;
        color: #797979;
        font-family: "Open Sans";
        display: inline-block;
        width: 100%;
        svg {
          margin-right: 10px;
        }

        &:hover {
          color: #0b9ed0;
          svg path {
            fill: #0b9ed0;
          }
        }
      }
      .listItemsHeader {
        p {
          font-size: 14px;
          font-weight: 600;
          color: #575757;
          margin-bottom: 5px;
          margin-top: 10px;
        }
      }
    }
  }
  .NavbarMenuList_footer {
    line-height: 30px;
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f7f7fb;
    .ui.header {
      font-size: 14px;
      color: #575757;
      margin-top: 0;
      display: flex;
      align-items: center;
      svg {
        margin-right: 10px;
      }

      &:hover {
        color: #0b9ed0;
        svg {
          g {
            fill: #0b9ed0;
            path {
              fill: #0b9ed0;
            }
          }
        }
      }
    }
  }
}
