
.uert_editProfile{
  background-color: #f7f7fb !important;
  .editProfile_form{
    padding: 14px;
  }
  .editProfile{
    padding: 14px;
  }
  .ui.form .field{
    margin: 0 !important;
  }

  .work_experience{
    .modal_monthField{
      .month{
        label{
          margin: 0 !important;
        }
      }
    }
  }

  .edit_profileForm{
    padding: 20px;
  }

  .card_panel{
    border-radius: 5px;
    margin-top: 40px;
  
    .banner_HeaderBtn{
      .save_btn{
        background-color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 40px;
      }
    }
  
    .panel-cardBody{
      padding: 20px 20px 20px 20px;
      border-radius: 6px;
      background-color: #ffffff;
      margin-top: 30px;
      .active.content{
        padding-bottom: 20px !important;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}


.input[type="checkbox" i]:focus{
  outline-offset: none;
}


.editProfile_modal{
  .close.icon{
    margin-top: 53px;
    color: #ffffff;
    margin-right: 50px;
  }
}



.phone_numberField{
  .add_newnumber{
    display: flex !important;
    align-items: center;

    button{
      display: flex !important;
      align-items: center;
      background-color: #edeff1;

      svg{
        margin-right: 7px;
      }
    }
  }
}

// .uert_editProfile{
//   .Profile_details{
//     .upload_resume{
//       padding-bottom: 22px;
//       .upload_resumeLabel{
//         font-size: 12px;
//         position: absolute;
//         padding-top: 10px;
//       }
//     }
//   }
// }

@media only screen and (max-width: 1024px){
  .uert_editProfile{
    .editProfile_form{
      .InfoSection{
        
      }
    }
  }
  .user_editProfileContainer{
    .InfoSection{
      .ui.grid{
        .row{
          // .column{
          //   width: 100% !important;
          // }
          
          .field{
            .checkbox{
              margin-bottom: 5px;
            }
          }
        }
        .row.mobile_Salary{
          // .column{
          //   width: 50% !important;
          // }
        }
      }
      .field{
        .checkbox{
          margin-bottom: 5px;
        }
      }
    }
  }
  .uert_editProfile{
    .editProfile_form{
      padding: 0 !important;
      .mobile_Salary{
        .curentSalary_input{
          margin-bottom: 10px;
        }
      }
      .ModalFooterBtn{
        padding-bottom: 14px;
        padding-right: 14px;
      }
    }
    .editProfile{
      padding: 0px;
    }
  }
}

@media only screen and (max-width: 991px){
  .editProfile_modal{
    .close.icon{
      top: 0; 
      margin-top: 18px;
      margin-right: 5px;
    }
  }
}


@media only screen and (max-width: 1024px) { 
  .uert_editProfile{
    .card_panel {
      .panel-cardBody{
        padding: 10px 12px !important;
        .active.content{
          padding-bottom: 10px !important;
        }
      }
    }
  }
  .editProfile_modal{
    .close.icon{
      top: 0; 
      margin-top: 10px;
      margin-right: 5px;
    }
  }
  .card_panel{
    .card_panelHeader{
      .panelHeader_text{
        padding-bottom: 10px;
        h3{
          font-size: 16px;
          display: inline;
        }
      }
    }

    .personal_details{
      .FlatDefaultBtn{
        margin-top: 14px;
      }
    }

    .Profile_details .upload_resume{
      padding-bottom: 25px;
    }

    .education .starting_yearField{
      padding-bottom: 14px;
    }

    .work_experience{
      .month{
        padding-bottom: 14px;
      }
    }
  }
}

.edit_profileSkill{
  .mobile_editProfileSkill{
    padding-bottom: 0 !important;
  }
}