.NotificationView{
  margin-top: 80px !important; 
  // width: 90%;
  margin: 0 auto;

  margin-bottom: 30px;
  .notifications_noDataContainer{
    // box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
    border-radius: 6px;
    background-color: #ffffff;
  }
  
  .Notification_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    .notiHeader_left{

    }
    .notiHeader_right{
      .notiBtn{
        color: #0b9ed0;
        background-color: transparent;
        border: 2px solid transparent;
        &:hover{
          border: 2px solid #0b9ed0;
        }
        &:active{
          background-color: #0b9ed0;
          color: #ceeefe;
        }
        svg{
          transform: rotate(-90deg);
          margin-left: 5px;
        }
      }
    }
  }

  .Notification_body{
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
    border-radius: 6px;
    
    .Notification_bodyTitle{
      background-color: #ffffff;
      border-radius: 6px 6px 0px 0px;
      
      padding: 10px;
      p{
        font-weight: 600;
        color: #323232;
      }
    }
    //  .Notification_bodyContainer:last-child{
    //   border-bottom: 0 !important;
    //  }
    .Notification_bodyContainer{
      background-color: #e9f9ff;
      padding: 14px 25px;
      display: flex;
      border-bottom: 1px solid #f7f7fb;
      &.is-read {
        background-color: #ffffff;
        &:hover{
          background-color: #f7f7fb;
        }
      }
      &:hover{
        color: #f7f7fb;
        cursor: pointer;
      }
      p{
        margin-bottom: 0;
      }
      .NotiBody_containerLeft{

      }
      .NotiBody_containerRight{
        margin-left: 10px;
        .titleHead{
          span {
            color: #575757;
            a {
              color: #0b9ed0;
            }
          }
        }
        .subTitle{
          font-size: 13px;
          color: #a1a1a1;
        }
      }

      
    }

    
  }

  .All_activitis{
    // background-color: #ffffff !important;
    .Notification_bodyContainer{
      background-color: #ffffff !important;
      border-radius: 6px 6px 0px 0px;
      &:hover{
        background-color: #f7f7fb !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .NotificationView {
    margin-top: 55px !important;
    .Notification_header{
      .notiHeader_left{
        .ui.header{
          font-size: 18px;
        }
      }
    }
    .Notification_body {
      .Notification_bodyContainer{
        .NotiBody_containerRight{
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
          .titleHead{
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
          }
          .subTitle{
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
          }
        }
      }
    }
  }
}

 