.MobileContainer{
  .panel-card{
    padding: 17px 20px 20px 20px;
    background-color: #ffffff;
  }
  

  .mobile_footer{
    padding-left: 14px;
    padding-right: 14px;
    .nextBtn{
      margin-top: 20px;
    }
    .skipBtn{
      margin-top: 25px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}