.EmailVerificationFooter{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px 14px;
  border-top: 1px solid #efefef;
  border-radius: 0 0 6px 6px;
  .VerificationFooter_left{
    p{
      color: #797979;
      span{
        margin-left: 5px;
      }
    }
  }

  .VerificationFooter_right{
    
  }
}