.BestPanelRight{
  .JobBestCard{
    .grid{
      margin-top: 0;

      .ui.card{
        border-radius: 0;
        box-shadow: none;
      }
    }
  }

  .PeopleBestCard{
    @extend .JobBestCard; 
  }
}