/**
  Pagination
 */
ul.ais-Pagination-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  list-style-type: none;


  .ais-Pagination-item {
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1rem;
  }

  .ais-Pagination-item--selected {
    background-color: #0B9ED0;
    
    .ais-Pagination-link--selected {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1024px){
  body, html{
    height: auto !important;
  }
}