.ui.header.white {
  color: white;
}

.text-truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Toastify__toast {
  .Toastify__toast--default{
    background: #0b9ed0 !important;
  }
}

.Toastify__progress-bar--default{
  background: #0b9ed0 !important;
}

.Toastify__toast--default{
  color: #575757 !important;
}