.edit-action-button {
  padding: 8px 0 !important;
  background-color: #edeff1 !important;
  border-radius: 14px !important;
  font-family: "Open Sans" !important;
  font-size: 13px !important;
  color: #575757 !important;
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
}
.edit-action-button:hover {
  background-color: #edeff1;
  svg path {
    fill: #0b9ed0 !important;
  }
}
.edit-action-button:active {
  background-color: #edeff1;
  svg path {
    fill: #0b9ed0 !important;
  }
}
