

@media only screen and (max-width: 1024px){
  .EmailVerification{
    margin-top: 55px !important;
    height: 44vh !important;
    justify-content: end !important;
  }

  .EmailVerificationMobile{
    .EmailVerificationContainer {
      .EmailVerification_innerContainer{
        width: 100%;
        box-shadow: none;
        .subTitle{
          padding-bottom: 40px;
        }
      }
    }
    .EmailVerificationMobile_body{
      .EmailVerificationBody{
        background-color: transparent;
        min-height: 180px;
        .emailInputField{
          // width: 100%;
          input{
            background-color: #f7f7fb;
            border: 1px solid #efefef;
          }
        }
      }
    }
    .EmailVerificationFooter{
      background-color: transparent;
      border: none;
      justify-content: center;
      flex-direction: column;
      flex-direction: column-reverse;
      padding: 0;
      align-items: center;
      .VerificationFooter_left{
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px 14px;
      }
    }
    .EmailVerificationMobile_footer{
      .EmailVerificationFooter{
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

