.RecentPicksContainer {
  background-color: #ffffff;
  .Category_headerTitle {
    padding-top: 60px;
  }
  .RecentPick_category {
    margin-top: 20px;
    .ui.secondary.menu {
      display: flex;
      justify-content: center;

      .item {
        padding: 8px 25px;
        transition: none;
        border: 2px solid #0b9ed0;
        color: #0b9ed0;
        border-radius: 30px;
        &.active {
          background-color: #0b9ed0;

          color: #ceeefe;
          box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
        }
        &:hover {
          background-color: #0b9ed0;

          color: #ceeefe;
          box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
        }
      }
    }
    .ui.segment {
      box-shadow: none;
      border: none;
      background-color: transparent;
    }
  }
  .QuillText.is-readonly .quill .ql-editor {
    padding: 5px 2px 15px;
  }
}

@media (max-width: 1025px) {
  .RecentPicksContainer {
    .RecentPick_category {
      .ui.secondary.menu {
        .item {
          padding: 6px 22px;
          font-size: 13px;
        }
      }
    }
  }
}
