.publicJobViews{
  .banner_editBtn{
    position: absolute;
    right: 15px;
    top: 6%;
    box-shadow: none !important;
    border-radius: 35px;
    height: 28px;
    width: 28px;
    padding: 1px;
    display: none;
    background-color: #f7f7fb;
  }
  .LoginJobSkill{
    .ui.button{
      cursor: pointer;
    }
  }
  .skillsRequirement_profile{
    margin-top: 400px;
    .mandatory_skill{
      padding-top: 10px;
      p{
        font-size: 15px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 5px;
      }
    }
    .optional_skill{
      p{
        padding-top: 10px;
        font-size: 15px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 5px;
      }
    }
  }
}

.publicJobViews{
  .Pagebanner:hover .banner_editBtn{
    display: block !important;
  }
}

