.skillsRequirement_profile {
  .mandatory_skill {
    padding-top: 10px;
    p {
      font-size: 15px;
      font-weight: 600;
      color: #575757;
      margin-bottom: 5px;
    }
  }
  .optional_skill {
    p {
      padding-top: 10px;
      font-size: 15px;
      font-weight: 600;
      color: #575757;
      margin-bottom: 5px;
    }
  }
}

.skill_header {
  p {
    font-size: 15px;
    font-weight: 600;
    color: #575757;
    margin-bottom: 4px;
  }
}

.header-item.header.ui {
  color: #0b9ed0;
  font-size: 18px;
}

.skillBtn button {
  background-color: inherit;
  border: 1px solid #efefef;
  border-radius: 16px;
  color: #323232;
  // cursor: text;
  &:hover {
    background-color: inherit;
  }

  &:active {
    background-color: inherit;
  }

  &:focus {
    background-color: inherit;
  }
  span {
    color: #797979;
    font-weight: 600;
  }
}
