// .Filter_Main{
// height: 71px;
// margin-top: 70px;
// background-color: rgba(255, 255, 255, 1);
// .List_Main{
//     margin-left: 20px !important;
//     .Filter_Sort{
//        margin: 15px 15px;
//         .text{
//             color: rgba(11, 158, 208, 1);
//             font-weight: 500 !important;
//         }
//         .dropdown{
//             color:rgba(205, 205, 205, 1) !important;
//         }
//     }
    
//     .Filter_Button{
//         button{
//             background-color: transparent !important;
//         }
//     }

//     .selectItem{
//         .text{
//             color: rgba(11, 158, 208, 1);
//             font-weight: 500 !important;
//         }
//         .dropdown{
//             color:rgba(205, 205, 205, 1) !important;
//         }
//     }
//     .selectItem_More{
//         .text{
//             color:rgba(87, 87, 87, 1);
//             font-weight: 500 !important;
//         }
//         .dropdown{
//             color:rgba(205, 205, 205, 1) !important;
//         }
//     }
// }
// }