.AboutCompany{
  // box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  border-top: 1px solid #efefef;
  padding: 20px;
  .AboutCompany_header{
    p{
      padding-bottom: 10px;
      font-size: 16px;
    }
  }
  .AboutCompany_body{
    p{
      margin-bottom: 3px;
      color: #575757;
      span{
        color: #797979;
      }
    }
  }
}