.MyJobsDetailsHeaderStatus{
  .MyJobsApplyStatusBtn{
    margin-top: 20px;
    p{
      text-align: right;
      font-family: 'Quicksand';
      font-size: 18px;
      font-weight: 500;
      color: #575757;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .count{
        font-family: 'Quicksand';
        font-size: 24px;
        font-weight: 500;
        color: #0b9ed0;
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .MyJobsDetailsHeaderStatus{
    .MyJobsApplyStatusBtn{
      p{
        text-align: center !important;
        .totalNum{
          display: block;
        }
      }
    }
  }
}