.CheckBoxRIghtCheck.ui.checkbox{
    label:before{
      // height: 23px;
      // width: 23px;
      // border-radius: 50%;
    }
    input:checked~label:after{
      // height: 23px;
      // width: 23px;
      // top: 4px;
      color: #43a047;
      // border: 1px solid #cdcdcd;
    }
    input:checked~label:before {
      background: #fff;
      border-color: #cdcdcd;
    }
  }