.DashboardFilterFooter{
  background-color: #1f2532;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  .filterFooter_LeftColumn{
    display: flex !important;
    align-items: center;
   
  }
  .MobileHeader_Left{
    margin-top: 3px;
    h3{
      color: #6e768a; 
      font-family: 'Open Sans' !important;
      font-size: 14px !important;
      display: flex !important;
      align-items: center;
      cursor: pointer;
      svg{
        margin-right: 10px;
      }
    }
  }
  .mobileFooter_left{
    // .header{
    //   cursor: pointer;
    // }
    
    .ui.inline.dropdown>.text{
      color: #0b9dcf;
      font-weight: 500 !important;
    }
  }
  .row{
    .filterFooter_rightColumn.column{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .MultipleChekPopup{
    width: 100%;
    right: 0;
    border-radius: 0;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  
}

.mobile_candidateFilter{
  .filterBtn{
    background-color: transparent !important;
    color: #6e768a;
    &:hover{
      color: #6e768a;
    }
  }
  // margin-top: -64px !important;
  // width: 100% !important;
}

// .MobileHeader{
//   background-color: #1f2532;
//   padding: 15px;
//   .MobileHeader_Left{
//     h3{
//       color: #ffffff;
//     }
//   }
  
// }