.PostLoginProfileMobile{
  .PostLoginProfileMobile_body{
    position: relative;
    .ConvertProfileResume{
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      .ui.button{
        border: 2px solid #0b9ed0;
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
    .preProfileHeaderDetail_container{
      
    }
    
  }
}