.ApplicationWorkflow{
  .active.title{
    .DownArrowCollaps_Icon{
      .DownArrowCollaps{
        svg{
          transform: rotate(-180deg);
        }
      }
    }
  }
  .Workflow_headerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .DownArrowCollaps_Icon{
      .DownArrowCollaps{
        height: 0;
        width: 0;
        padding-right: 14px;
      }
    }
    .ui.header{
      color: #797979;
      font-size: 20px;
      margin-bottom: 0px;
    }
    p{
      color: #a1a1a1;
    }
  }

  .Workflow_body{
    margin-top: 8px;
    .ScreeningCard{
      border-radius: 6px; 
      border: 1px solid #e0e1e2;
      // box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
      
      .header_container{
        background-color: #ffffff;
        border-radius: 6px 6px 0 0;
        padding: 20px 30px;
        .ScreeningCard_header{
          padding-bottom: 10px;
          p{
            font-size: 15px;
            font-weight: 600;
            color: #797979;
            span{
              font-weight: 500;
            }
          }
          
        }
        .ScreeningCard_body{
          .screeningCheck{
            position: relative;
            .ui.button{
              cursor: text;
            }
            span{
              position: absolute;
              right: 15px;
              top: 8px;
            }
          }
          .FullwidthDefault{
            margin-bottom: 20px;
            color: #a1a1a1;
          }
        }
      }

      .screeningCard_footer{
        background-color: #f7f7fb;
        border-radius: 0 0 6px 6px;
        padding: 20px 30px;
        .FullwidthDefault{
          color: #0b9ed0;
          cursor: text;
        }

        .InputFieldLabel{
          h3{
            justify-content: flex-start;
            font-size: 14px !important;
            font-weight: 600;
            color: #797979;
            font-family: 'Open Sans' !important;
          }
        }
        p{
          color: #a1a1a1;
          margin-top: 10px;
          span{
            font-style: italic;
          }
        }
      }
      
      
    }
  }
}

@media only screen and (max-width: 1024px){
  .ApplicationWorkflow{
    .Workflow_body{
       .Workflow_bodyTitle{
         font-size: 13px;
       }
      .ScreeningCard{
        .header_container{
          padding-left: 12px !important;
          padding-right: 12px !important;
        }
        .screeningCard_footer{
          padding-left: 12px !important;
          padding-right: 12px !important;
        }
      }
    }
  }
}