.resume-action-button-block {
  max-width: 960px;
  margin: 0 auto;
  .resume-action-button {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0px 0 50px;
    .desktop-back-button {
      display: block;
    }
    .mobile-preview-button {
      display: none;
    }
    .pdf-download {
      font-family: "Open Sans";
      font-size: 15px;
      color: #ceeefe;
      text-align: center;
      background-color: #0b9ed0;
      border-radius: 20px;
    }
    .pdf-download:hover {
      color: #ceeefe;
      background-color: #0b9ed0;
    }
    .pdf-download:active {
      color: #ceeefe;
      background-color: #0b9ed0;
    }
    .pdf-download:focus {
      color: #ceeefe;
      background-color: #0b9ed0;
      outline: 0;
    }
    .go-back {
      font-family: "Open Sans";
      font-size: 14px;
      color: #0b9ed0;
      text-decoration: none;
    }
    .go-back:hover {
      color: #0b9ed0;
      text-decoration: none;
    }
    .back-icon {
      color: #0b9ed0;
    }
  }
}

@media (max-width: 769px) {
  .resume-action-button-block {
    .resume-action-button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px 0 50px;
      background: #fff;
      position: fixed;
      left: 0;
      right: 0;
      margin: 0;
      padding: 10px;
      bottom: 0;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      .desktop-back-button {
        display: none;
      }
      .mobile-preview-button {
        display: block;
      }
      .pdf-download {
        padding: 0.58571429em 1.5em 0.58571429em !important;
        background-color: #ffffff;
        border: 1px solid #0b9ed0;
        border-radius: 18px;
        color: #0b9ed0;
        font-size: 13px;
        font-family: "Open Sans";
      }
      .pdf-download:hover {
        background-color: #0b9ed0;
        color: #ceeefe;
      }
      .pdf-download:active {
        background-color: #0b9ed0;
        color: #ceeefe;
      }
      .pdf-download:focus {
        background-color: #0b9ed0;
        color: #ceeefe;
      }
    }
  }
}
