.ChatThreadMessageSection{
  // display: flex;
  // flex-direction: column;
  // padding-right: 20px;
  // padding-left: 20px ;
  // overflow-y: auto;
  // flex: 1;
  overflow-y: auto;
  height: calc(100% - 120px);
  padding-bottom: 10px !important;
  // border-width: 1px;
  // border-style: solid;
  // border-color: rgb(247, 247, 247);
  border-image: initial;
  // padding: 0px !important;
  margin: 0px !important;

  .newMessage_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    button{
      position: fixed;
      bottom: 23.5%;
      svg{transform: rotate(0deg)}
    }
  }
}

/* width */
.ChatThreadMessageSection::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.ChatThreadMessageSection::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
.ChatThreadMessageSection::-webkit-scrollbar-thumb {
  background: #a1a1a1 !important;
  border-radius: 0 !important;
  
}

/* Handle on hover */
// .chatSideBarPeopleList::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }