.recommendedJobs_header{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 20px;
  .recommendedJobs_headerLeft{
    width: 23%;

    .ui.input{
      input{
        background-color: #f7f7fb;
        border: none;
      }
    }
  }
  .recommendedJobs_headerRight{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .dropdown_right{
      .recent_status{
        .dropdown {
          .text{
            color: #0b9ed0;
            font-weight: 500 !important;
          }
          .visible.menu{
            .text{
              color: #575757;
              &:hover{
                color: #0b9dcf;
              }
            }
          }
          .icon{
            margin-left: 7px;
            color: #cdcdcd;
            font-size: 14px;
          }
        }
        
        .visible.menu{
          .item{
            // padding-left: 25px !important;
            // padding-right: 25px !important;
            // padding-top: 15px !important;
            // padding-bottom: 15px !important;
            .text{
              color: #575757;
              &:hover{
                color: #0b9ed0;
              }
            }
          }
        }
  
      }
    }
    
    
  }
  .recommended_jobSearch{
    .ui.input input{
      background-color: #f7f7fb;
      border: none;
    }
    .SearchBtn{
      position: absolute;
      right: 5px;
      top: 11px;
      padding: 0;
      background-color: transparent;
    }

    
  }
}