.FooterP2P_mobile{
  .isMobileFooter_fixe{
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    .MobileHeader_Left h3{
      display: none;
    }
  }
  .p2p-tracker-button-icon{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    svg {
      margin-right: 5px;
    }
  }
}