.Filter_Main{
  height: 71px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  .Filter_text{
      padding-left: 15px !important;
  }
  .List_Main{
    padding-left: 11px;

    .Filter_IC{
        svg{
            margin-top: 5px;
        }
    }
      .Filter_Sort{
        //  margin: 15px 5px 15px 15px;
            margin-top: 12px;
            margin-bottom: 10px;
            margin-left: 0 !important;
            margin-right: 5px;
          .dropdown{
            .text{
              color: rgba(11, 158, 208, 1);
              font-weight: 500 !important;
            }
            .icon{
              margin-left: 7px;
              color: #cdcdcd;
              font-size: 14px;
            }

            .flatpickr-input{
              height: 45px !important;
              max-width: 135px;
            }
            .visible.menu{
              border: none;
              max-height: 300px;
              overflow-y: auto;
              min-width: 180px;
              box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
              
              &::-webkit-scrollbar {
                width: 4px;
                height: 50px !important;
                border-radius: 0 !important;
              }
          
              /* Track */
              &::-webkit-scrollbar-track {
                background: transparent; 
              }
          
              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: #a1a1a1 !important; 
                border-radius: 0 !important;
                height:50px !important;
              }
              .item{
                padding-left: 25px !important;
                padding-right: 25px !important;
                padding-top: 15px !important;
                padding-bottom: 15px !important;
                .text{
                  color: #575757;
                  &:hover{
                    color: #0b9ed0;
                  }
                }
              }
            }
          }
      }
      
      .Filter_Button{
        button{
          background-color: transparent !important;
        }
      }
  
      // .selectItem{
      //     .text{
      //       // color: rgba(11, 158, 208, 1);
      //       font-weight: 500 !important;
      //     }
      //     .dropdown{
      //         color:rgba(205, 205, 205, 1) !important;
      //     }
      // }
      // .selectItem_More{
      //     .text{
      //         color:rgba(87, 87, 87, 1);
      //         font-weight: 500 !important;
      //     }
      //     .dropdown{
      //         color:rgba(205, 205, 205, 1) !important;
      //     }
      // }
  }
  }

  .CandidateFilter{
    .addTag_section{
			margin-top: 14px;
			.addTag_sectionBtn{
				background-color: #f7f7fb;
				border: 1px solid #e1e1e3;
				border-radius: 18px;
				font-size: 13px;
        color: #575757;
        text-transform: capitalize;
				span{
					color: #323232;
				}
				svg{
					margin-left: 10px;
				}
			}
		}
  }