.modal_form {
  margin-top: 60px !important;
  background-color: #f7f7fb !important;
  .ui.form .field {
    margin: 0 !important;
    
  }

  .SelectOptionField .downArrow__icon{
    // margin-top: -27px !important;
  }

  .form_fields {
    padding: 20px;
  }

  

  .card_panel {
    border-radius: 5px;
    .banner_HeaderBtn {
      .save_btn {
        background-color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 40px;
      }
    }

    .panel_cardBody {
      padding: 20px 20px 20px 20px;
      border-radius: 6px;
      background-color: #ffffff;
      margin-top: 30px;
      .active.content{
        padding-bottom: 20px !important;
      }
      &:first-child {
        margin-top: 0;
      }
    }

    .edit_profileSkill {
      p {
        font-weight: 600;
      }
    }
  }

  // .subheader-container{
  //   padding-bottom: 17px !important;
  // }

  .subheader-container {
    svg {
      margin-left: 10px;
    }

    

    .header-item.sub {
      font-family: "Open Sans";
      font-size: 13px;
      font-style: italic;
      color: #575757 !important;
    }
  }
}

.modal_form {
  .close.icon {
    margin-top: 48px;
    color: #ffffff;
    margin-right: 50px;
  }
}

.ui.active.modal {
  display: block !important;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .modal_form {
    .close.icon {
      top: 0;
      margin-top: 15px;
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .modal_form {
    .close.icon {
      top: 0;
      margin-top: 7px;
      margin-right: 5px;
    }
  }
  .card_panel {
    .card_panelHeader { 
      .panelHeader_text {
        padding-bottom: 10px;
        h3 {
          font-size: 16px;
          display: inline;
        }
      }
    }

    .personal_details {
      .FlatDefaultBtn {
        margin-top: 14px;
      }
    }

    .Profile_details .upload_resume {
      padding-bottom: 40px;
    }

    .education .starting_yearField {
      padding-bottom: 14px;
    }

    .work_experience {
      .month {
        padding-bottom: 14px;
      }
    }
  }
}

.edit_profileSkill {
  .mobile_editProfileSkill {
    padding-bottom: 0 !important;
  }
}

.Useraccessform {
  .field {
    margin-bottom: 20px !important;
  }
}