.InputButton {
  position: relative;

  .ui.input > input {
    border-radius: 24px;
    &::placeholder{
      font-size: 13px;
    }

    &:focus {
      border-radius: 24px;
    }
  }

  .button {
    position: absolute;
    right: 0;
    transform: translateY(-110%)
  }
}