// .UserProfilePageSection{
//   padding: 5px 30px 20px;
//   .description_container{
//     display: flex;
//     background-color: #eaedf1;
//     border-radius: 6px;
//     padding: 20px;
//     justify-content: space-between;
//     .description{
//       p{
//         margin-bottom: 0;
//         font-weight: 600;
//         color: #797979;
//         span{
//           font-weight: 600;
//           color: #323232;
//         }
//       }
//       .menu-list{
//         display: flex;
//         margin-top: 5px;
//         p{
//           padding-right: 20px;
//         }
//       }
//     }

//     .downloadCVBtn{
//       .ui.button{
//         background-color: #ffffff;
//         border-radius: 6px;
//         color: #797979;
//       }
//     }
//   }
  
  
//   .Userdedail_infoHeader{
//     margin-top: 20px;
//     .InfoSectionGridHeader{
//       .header-container{
//         .ui.header{
//           font-size: 22px !important;
//           font-weight: 500;
//           color: #323232;
//         }
//       }
//     }
//   }

// }