

@media only screen and (max-width: 1024px){
  .HomePageMobile{
    .HomePageMobile_body{
      .HomePageHeader{
        
        .headerTitle{
          .ui.header{
            font-size: 24px;
          }
        }
      }

      .RecentPick_category{
        .RecentPicksCard{
          .PicksCard{
            box-shadow: none !important;
            border-radius: 0;
            padding-left: 0;
            padding-right: 0;
            .cardPicks_time{
              bottom: 5px;
              
            }
            .PicksCard_header{
              display: flex;
              .PicksCard_log{
                height: 52px;
                width: 52px;
                img{
                  height: 42px;
                  width: 42px;

                }
              }
              .PicksCard_titleContainer{
                text-align: left;
                margin-left: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                .PicksCard_title{
                  .ui.header{
                    margin-top: 0;
                  }
                }
                svg{
                  display: none;
                }
              }
            }
            .PicksCard_footer{
              display: none !important;
            }
          }
        }
      }
      
    }
  }
}