@media only screen and (max-width: 1024px) {
  .MyJobFilterMobile{
    .MobileHeader{
      background-color: #1f2532 !important;
      // padding-bottom: 10px;
      // padding-top: 10px;
      .fillterApplyBtn{
        display: flex;
        align-items: center;
        justify-content: flex-end;

      }
      .filterHeader_closeBtn{
        background-color: transparent !important;
        padding: 0;
        margin-left: 10px;
      }
    }

    .clearAll_filter{
      .filterBtn{
        background-color: transparent !important;
        color: #0b9ed0;
        font-size: 14px;
        padding: 0;
        margin-top: 16px;
        margin-bottom: 11px;
        svg{
          margin-right: 5px;
        }
      }
    }

    .jobTitleField{
      margin-top: 20px;
      .ui.button{
        position: absolute;
        background-color: transparent !important;
        z-index: 1;
        right: 10px;
        padding: 0;
        top: 11px;
      }
      .ui.input{
        input{
          background-color: #f7f7fb;
          border: 1px solid #cdcdcd;
          &::placeholder{
            color: #575757 !important;
          }
        }
      }
    }

    .jobFilterSelectField{
      margin-top: 20px;
      p{
        margin-bottom: 5px;
        color: #575757;
      }
      .SelectOptionField{
        .downArrow__icon{
          
        }
      }
      .ui.selection{
        background-color: #f7f7fb;
        color: #575757 !important;
        border: 1px solid #cdcdcd !important;
        .text{
          color: #575757 !important;
        }
      }
    }
  }
}