.personal_details{
  // .InfoSection{
  //   .ui.grid{
  //     .row{
  //       .column{
  //         width: 100% !important;
          
  //       }
  //     }
  //   }
  // }
  .personal_detailHeaderRight{
    color: #797979;
    font-size: 12px;
    text-align: right;
    span{
      color: #0b9ed0;
    }
  }
}

.InfoSection{ 
  .phonNumber_container{
    .phonNumber_label{
      display: none;
    }
    .phonNumber_innerContainer{
      display: flex;
      width: 100%;
      .contryCode_feild{
        width: 80px;
        margin-right: 10px;
      }
      .phoneNumber_feild{
        width: 100%;
      }
    }
  }
}


@media only screen and (max-width: 1024px){
  .personal_details{
    .InfoSection{
      .ui.grid{
        .row{
          .column{
            width: 100% !important;
            .phonNumber_container{
              .phonNumber_label{
                display: none !important;
              }
            }
            .is-large{
              margin-bottom: 2px;
            }
          }
        }
      }
    }
    .personal_detailHeaderRight{
      text-align: left;
    }
  }

  .InfoSection{ 
    .phonNumber_container{
      .phonNumber_label{
        display: block !important;
      }
      // .phonNumber_innerContainer{
      //   display: flex;
      //   width: 100%;
      //   .contryCode_feild{
      //     width: 80px;
      //     margin-right: 10px;
      //   }
      //   .phoneNumber_feild{
      //     width: 100%;
      //   }
      // }
    }
  }
} 