.tempMainHeader{
  height: 83px;
  background-color: #f7f7fb;
  .tempMain{
    .tempMainRow{
      margin-top: 9px;
      .ui.form{
        width: 355px;
        margin-left: 22px;
        .SelectOptionField{
          .downArrow__icon{
            // margin-top: -26px;
          }
        }
      }
    .tempMainButton{
      margin-top: 8px;

      .button{
        svg{
          margin-right: 2px;
        }
      }
    }
  }
}
}