.fileUpload {
  text-align: center;
  label {
    width: 100%;
  }

  .title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0b9ed0;
    font-size: 12px;
  }
  .subTitle {
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 5px;
  }
}

.publicProfileBanner {
  img {
    position: static !important;
  }
}

.postLoginBanner_edit {
  .Banner_editIcon {
    position: absolute;
    right: 30px;
    height: 37px;
    margin-top: -200px;
    padding-top: 10px;
    padding-left: 12px;
    width: 37px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 37px;
    display: none;
    cursor: pointer;
  }

  &:hover .Banner_editIcon {
    display: block !important;
  }
}

.public-profile {
  .similar-people {
    .fileUpload {
      .label {
        background-color: #ffffff;
      }
    }
  }
}

.PostLoginProfileMobile {
  .mobile__publicProfile {
    .preProfileDetailBody {
      .desiredJob_postLogin {
        .header-container {
          .header {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.preProfileDetailBody {
  .preProfile_SkillBtn {
    background-color: inherit;
    border: 1px solid #efefef;
    border-radius: 16px;
    color: #323232;
    cursor: text;
  }
}

.preProfileDetail {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  .postProfile {
    margin-top: -58px !important;
    .userImgThumbProfile {
      display: inline-block;
      img {
        height: 120px;
        width: 120px;
      }
    }
    .preProfileTitle {
      .ui.header {
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
      }
      .headTitle {
        font-size: 16px;
        color: #323232;
      }
      .preProfileTitle_container {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.public-profile {
  .postLoginProfileRight {
    .ConvertProfileResume {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .preProfileDetail {
    padding: 0;
    background-color: transparent;
    box-shadow: none !important;
    position: relative;
    .postProfile {
      margin-top: -45px !important;
      .userImgThumbProfile {
        margin-top: -54px;
        img {
          height: 101px;
          width: 101px;
        }
      }
    }
    .profileEdit_userIcon {
      right: 8px;
    }
    .preProfileHeaderDetail_container {
      background-color: #ffffff;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      border-radius: 6px;
      .profileUploadeResume {
        padding-bottom: 20px;
      }
      .socialLink_profilpage {
        background-color: #1f2532;
        border-radius: 0 0 6px 6px;
        .socialLink_viewContainer {
          justify-content: space-around;
          .socialLink_viewInner {
            .count {
              font-weight: 600;
              color: #ffffff;
            }
            .titleName {
              font-size: 13px;
              color: #6e768a;
            }
          }
        }
        .ui.grid {
          .row {
            .socialLink_viewColumn {
              width: 100% !important;
            }
          }
        }
      }
    }
    .preProfileDetailBody {
      background-color: #ffffff;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      padding-left: 14px;
      padding-right: 14px;
      margin-top: 14px;
      border-radius: 6px;
      padding-bottom: 20px;
    }
  }
  .socialLink_profilpage {
    padding: 13px 13px 7px;
    .socialLink_viewColumn {
      .list .item {
        margin-left: 10px;
      }
    }
  }

  .preProfileDetail_body {
    padding: 5px 14px 30px 14px !important;
  }
}
