

.Best-Pane-Left{
  .preview_Input{
    position: relative;
    .preview_Icon{
      position: absolute;
      right: 10px;
      margin-top: -41px;
      .button{
        padding: 0;
        background-color: transparent;
      }
    }
  }
}