.MessagingCheckBox{
  
  .ui.checkbox label:before{
    height: 21px !important;
    width: 23px !important;
    background: #ffffff;
    border-radius: 50%;
  }
  .ui.checkbox input:checked~label:after{
    color:#ffffff;
    padding: 2px 4px;
    background: #0b9ed0;
    border-radius: 50%;
    width: 22px;
    height: 21px;
  }
}
