.panel-cardBody {
  .New_add:not(:first-child) {
    padding-top: 80px;
  }
  .Input_check{
    .field{
      display: inline-block;
      padding-right: 24px;
    }
  }
}

.CreateProfilePage{
  .work_experience{
    .SelectOptionField{
      label{
        margin: 0px !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .work_experience{
    .Input_check{
      .field:first-child{
        margin-bottom: 10px !important;
      }
    }
  }
}