.Vasi_JobCard {
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(3,0,73,.13)!important;
  border: none;

  &:hover {
    .Vasi_BodyDataHeading {
      color: #0b9dcf;
    }
  }
}

.Vasi_Body {
  display: flex;
  .Vasi_BodyImage {
    width: 37px;
    img {
      width: inherit;
      border-radius: 50%;
    }
    svg{
      border-radius: 50%;
    }
  }

  .Vasi_BodyData {
    margin-left: 10px;
    margin-bottom: 10px;
    .Vasi_BodyDataHeading {
      color: #323232;
      h2 {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: 600;
        max-width: 214px;
      }
    }

    .Vasi_BodyExtraData {
      color: #575757;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        max-width: 214px;
      }
    }
  }

}

.Vasi_Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  border-top: 1px solid #efefef;

  .Vasi_FooterLeft {
    font-size: 12px;  
    color: #0b9dcf;

    span {
      margin-left: 8px
    }
  }

  .Vasi_FooterRight {
    font-size: 12px;
    color: rgb(110, 118, 138);
  }
}
