.CheckboxButton{
  padding: 10px;
  background-color: #f7f7fb;
  border: 1px solid #efefef;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.CheckboxButton.true{
  // background-color: #0b9ed0;
  border: 1px solid #0b9ed0;
  background-color: #ceeefe;
  span{
    color: #0b9ed0; 
  }
}