.MediaSection{
  background-color: white;
  height: 100%;


}

.mainMessaging{
  
  .MediaSection{
    .secondary.menu{
      .item{
        height: 50px;
        width: 50px;
        justify-content: center;
        padding: 0 !important;
        &:hover{
          background-color: #f3f3f8 !important;
        }
      }
  
      .item.active{
        background-color: #f3f3f8 !important;
      }
    }
    

    
    
  }
}