.JobNoFound{
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  align-items: center;
  // border-radius: 6px;
  .jobNoFound_header{
    padding-top: 10px;
    padding-bottom: 10px;
    p{
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 600;
      color: #575757;
      span{
        color: #323232;
      }
    }
    
  }

  .jobNoFound_title{
    padding-bottom: 10px;
    p{
      margin-bottom: 0;
    }
  }

  .jobNoFound_title{
    padding: 14px;
    width: 300px;
    margin-left: 80px;
    // margin: 0 auto;
    // background-color: #f7f7fb;
    // border: 1px solid #efefef;
    // border-radius: 6px;
    p{
      line-height: 22px;
    }
    .title{
      color: #575757;
      font-size: 16px;
      font-weight: 600;
    }

    .subTitle{
      color: #797979;
    }
  }
}