.ChatSidebarSearchField {
  // background-color: #ffffff;
  position: relative;
  padding: 0;
  border-bottom: 1px solid #eeeef2;
  .searchField {
    position: relative;
    margin-top: 0px;
    .InputField {
      input {
        border: 0;
      }
    }
    .searchIcon {
      padding: 0;
      position: absolute;
      right: 7px;
      background-color: transparent;
      top: 23px;
    }
  }
  .messaging_search {
    .InputField {
      margin: 0;
      input {
        padding: 1.60857143em 1em !important;
      }
    }
  }
}

@media (max-width: 1025px) {
  .ChatSidebarSearchField {
    // background-color: #ffffff;
    position: relative;
    padding: 18px 20px 0px;
    .searchField {
      position: relative;
      margin-top: 10px;
      .InputField {
        input {
          border: 0;
        }
      }
      .searchIcon {
        padding: 0;
        position: absolute;
        right: 7px;
        background-color: transparent;
        top: 10px;
      }
    }
    .messaging_search {
      .InputField {
        input {
          padding: 0.67857143em 1em !important;
        }
      }
    }
  }
}
