.Grid_Main{
    background-color: rgba(31, 37, 50, 1);
    margin-left: 180px !important;
    margin-top: 0 !important;
    height: 52px !important;
    margin-right: 400px !important;
    .Grid_Row1{
        .Grid_Column1{
            p{
                font-family: 'Quicksand';
                font-size: 20px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
            }
        }
        .Grid_Column2{
            .Button_Apply{
                background-color: rgba(31, 37, 50, 1);
                border: 1px solid rgba(11, 158, 208, 1);
                border-radius: 33px;
                height: 32px;
                width: 75px;
                
                p{
                    font-family: 'Open Sans';
                    font-size: 14px;
                    line-height: 0;
                    color: rgba(11, 158, 208, 1);
                    }
            }
            .Button_Close{
                border: none;
                box-shadow: none !important;
            }
            .Button_Close:hover{
                background-color: inherit;
            }
        }
    }
.Grid_Row2{
  margin-top: -12px;
    p{
        font-family: 'Open Sans';
        font-size: 14px;
        color: #0b9ed0;
        margin-top: 5px;
    }
}
}