.other-additional-checkbox {
  display: flex;
  align-items: center;
  padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.display-flex-other-addital {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InputGridContainer{
  .working_preferenceField{
    display: flex;
    div{
      width: 100%
    }
    .ui.button{
      padding: 0;
      background-color: transparent;
      margin-left: 14px;
      position: absolute;
      
      top: 12px;
    }
    
    .preferenceBtn_startTime{
      right: 5px;
      
    }
    .preferenceBtn_endTime{
      right: 20px;
    }
  }
}
