.RecruterDashbaordJobCards{
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  background-color: #ffffff;
  border-radius: 6px;
  .jobDefault_card{
    padding: 20px 12px 10px;
    .JobCardsHeader_details{
      border-bottom: 1px solid #eeeef2;
      padding-bottom: 14px;
    }

    .cardHeader_listStatus{
      padding-top: 14px;
      display: flex;
      justify-content: space-around;
      .listMenu{
        text-align: center;
        p{
          margin-bottom: 0;
          font-family: 'Quicksand';
          font-size: 16px;
          font-weight: 500;
          color: #575757;
         
        }
        .title{
          font-size: 12px;
          font-weight: 600;
          color: #797979;
          font-family: 'Open Sans';
        }
      }
    }
  }
}