.Tag_Form{
    label{
        font-family: 'Quicksand' !important;
        font-size: 20px !important;
        color: #0b9dcf !important;
        font-weight: 500 !important;
        svg{
            margin-left: 6px;
        }
    }
    .btnclass{
        padding-top: 20px !important;
        display: flex;
        justify-content: flex-end;
    }
}