.CreateProfileBannerHead{
  padding-top: 70px;
  .CreateProfileBannerHead_header{
    font-size: 30px !important;
    color: #ffffff;
  }

  .Progressbar{
    margin-top: 30px;
  }
  .FileuploadBtn{
    padding-top: 40px;
  }
  .fileuploadFlatBtn{
    padding: 15px !important;
    // .fileUplaod_text{
    //   &:hover{
    //     color: #0b9ed0;
    //   }
    // }
  }

  .InputFieldLabel{
    .ui.header{
      font-size: 12px !important;
      color: #c8c8c8 !important;
      margin-top: 3px;
      margin-right: 28px;
    }
  }

  .file_specLabel{
    // text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .CreateProfileBannerHead{
    // padding-top: 90px;
  }
}

@media only screen and (max-width: 767px) { 
  .CreateProfileBannerHead{
    // padding-top: 90px;

    .FileuploadBtn{
      padding-top: 0;
    }
  }
}