.MessagingMediaCard{
  max-width: 620px;
  margin: 0 auto;
  .messagingMediaCard_column-4{
    width: 33.33%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .messagingMediaCardSection{
    padding-bottom: 30px;
    .mediaCard{
      border-radius: 0 !important;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
      .ui.image{
        height: 104px;
        object-fit: cover;
      }
      .Card_content{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 12px;
        .ui.grid{
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          .row{
            display: flex;
            align-items: center;
            padding: 0 !important;
            height: 50px;
            .MessagingDownload:hover{
              svg {
                g{
                  fill: #0b9eb0;
                }
              }
            }
          }
        }
    

        .Date_content{
          display: flex;
          justify-content: flex-end;
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .MessagingMediaCard{
    .messagingMediaCard_column-4{
      width: 50%;
    }
    
  }
}
