.ConvertProfileResume{
  text-align: center;
  background-color: #ffffff;
  border-radius: 6px;
  padding-bottom: 20px;
  padding-top: 18px;
  p{
    font-size: 16px;
    color: #323232;
  }

  .ui.button{
    background-color: #ffffff;
    
    border-radius: 33px;
    color: #0b9ed0;
    border: 2px solid transparent;
    &:hover{
      border: 2px solid #0b9ed0;
    }
    &:active{
      background-color: #0b9ed0;
      color: #ceeefe;
    }
  }
}