.MobileHeader {
  background-color: #1f2532;
  padding: 15px;
  .ui.grid > .row {
    align-items: center;
  }
  .MobileHeader_Left {
    .backArrowBtn {
      background-color: transparent;
      margin-right: 10px;
      svg {
        transform: rotate(180deg);
      }
    }
    h3 {
      color: #ffffff;
      margin: 0 !important;
      display: inline-block;
    }
    .clickTitle {
      color: #ffffff !important;
    }
  }
}

.isMobileHeader_defaultColor {
  background-color: #1f2532;
}

.isMobileHeader_fixe {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #1f2532;
  z-index: 999;
  padding: 15px;
  .ui.grid > .row {
    align-items: center;
  }
  .MobileHeader_Left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // width: 200px;
    .backArrowBtn {
      background-color: transparent;
      margin-right: 10px;
      padding: 0;
      svg {
        transform: rotate(180deg);
      }
    }
    h3 {
      color: #ffffff;
      margin: 0 !important;
      display: inline-block;
    }
    .clickTitle {
      color: #ffffff !important;
    }
  }
}

// .mobile_header{
//     background-color: #1f2532;
//     padding: 15px;
//     h3{
//       color: #ffffff;
//       font-size: 20px;
//     }
//   }
