.ActivitiesPageSection{
  padding: 0 30px 8px;
  .PageSection_container{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f7f7fb;
    p{
      font-family: 'Open Sans';
      margin-bottom: 5px;
    }
    .ActivitiesTitle{
      color: #575757;
      span{
        color: #323232;
      }
    }
    .Activities_subTitle{
      font-size: 12px;
      color: #a1a1a1;
    }
  }
}