.CandidatesDetailpage{
  margin-top: 85px;

  .CandidatesDetailsBody{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


.CandidatesApplyedDetailpage{
  .CandidateApplyHeader {
    .candidateApplyStatusBtn{
      // .ui.button{
      //   margin-right: 28px;
      // }
    }
  }
  .CandidatesDetailsBody{
    .detailPageTab{
      .AboutCompany{
        padding: 30px 30px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .CandidatesApplyedDetailpage{
    .CandidateApplyHeader {
      .candidateApplyStatusBtn{
        .ui.button{
          margin-right: 30px;
        }
      }
    }
  }
}