.VasiMessage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  &:not(:first-child) {
    margin-top: 25px;
  }
  &:last-child{
    margin-bottom: 20px;
  }
  .VasiMessage_image {
    width: 32px;
    img {
      width: 100%;
    }
  }

  .VasiMessage_bodyContainer {
    min-width: 62px;
    max-width: calc(100% - 42px);
    margin-left: 10px;
  }

  .VasiMessage_loading {
    color: #00a3cc;
    min-width: inherit;
    max-width: inherit;
    padding-bottom: 10px;

    span {
      font-size: 64px;
      animation: vasiblink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }

  .VasiMessage_body {
    background: #dce3f3;
    padding: 10px 10px 20px 10px;
    line-height: 24px;
    color: #575757;
    font-size: 13px;
    border-radius: 20px 20px 20px 0;
    position: relative;
    // max-width: inherit;
    min-width: inherit;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .VasiMessage_time { 
      display: none;
      font-size: 10px;
      position: absolute;
      bottom: 0px;
      right: 10px;
    }

  }

}


@keyframes vasiblink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }

}