.MyJobsDetailsStatistic{
  .slider_list {
    .slider_listItem{
      color: #ceeefe !important;
      .count{
        p{
          color: #ffffff;
        }
      }
      
      &.active{
        background-color: #ffffff;
        font-weight: 600;
        .lavelNumber{
          color: #0b9ed0;
        }
        .lavelText{
          color: #575757 !important;
        }
        .dropdown.icon{
          background-color: transparent !important;
          color: #acaeb5 !important;
        }
       
      }
      &:hover{
        color: #575757!important;
        background-color: #ffffff !important;
        .count{
          p{
            color: #0b9ed0 !important;
          }
        }
      }
    }
    
  }  
}