.border-button-component {
  .btn {
    background-color: transparent !important;
    border: 2px solid transparent !important;
    border-radius: 18px !important;
    font-family: "Open Sans" !important;
    font-size: 13px !important;
    color: #0b9ed0 !important;
    text-align: center;
    transform: scale(1, 1.01);
    padding: 0.58571429em 1.5em 0.58571429em !important;
    transition: border 0.3s ease-in-out !important;
  }

  .btn-border {
    border: 2px solid #0b9ed0 !important;
    background-color: transparent !important;
    border-radius: 18px !important;
    font-family: "Open Sans" !important;
    font-size: 13px !important;
    color: #0b9ed0 !important;
    text-align: center;
    transform: scale(1, 1.01);
    padding: 0.58571429em 1.5em 0.58571429em !important;
    transition: background-color 0.3s ease-in-out !important;
  }
  .btn:hover {
    border: 2px solid #0b9ed0 !important;
  }
  .btn:active {
    background-color: #0b9ed0 !important;
    color: #ceeefe !important;
    transition: background-color 0.3s ease-in-out !important;
  }
  .btn-border:hover {
    background-color: #0b9ed0 !important;
    color: #ceeefe !important;
  }

  .btnGrayBorder{
    background-color: transparent !important;
    border: 1px solid #c8c8c8 !important;
    border-radius: 18px !important;
    font-family: "Open Sans" !important;
    font-size: 13px !important;
    color: #575757 !important;
    text-align: center;
    transform: scale(1, 1.01);
    padding: 0.58571429em 1.5em 0.58571429em !important;
    transition: border 0.3s ease-in-out !important;
  }

  .btnWhiteSmokeBorder{
    background-color: #f7f7fb !important;
    border: 1px solid #efefef !important;
    border-radius: 18px !important;
    font-family: "Open Sans" !important;
    font-size: 13px !important;
    color: #797979 !important;
    text-align: center;
    transform: scale(1, 1.01);
    padding: 0.58571429em 1.5em 0.58571429em !important;
    transition: border 0.3s ease-in-out !important;
  }
}
