.IsShowNotifyAplication{
  // background-color: #f7f7fb;
  border-radius: 6px;
  // padding: 20px;
  .QuillText{
    .ql-formats{
      .ql-picker{
        width: 162px;
        height: 32px;
        background-color: #edeff1;
        padding-top: 10px;
        padding-bottom: 10px;
        .ql-picker-label{
          color: #575757;
          font-weight: 500;
        }
      }
    }

  }
  .selectOption{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex !important;
    align-items: center !important;
    .selectOption_left{
      .SelectOptionField{
        .downArrow__icon{
          // margin-top: -27px;
        }

      }

    }
  }
}