.RecentPicksCard {
  .ui.grid > .row > [class*="five wide"].column {
    width: 33.33% !important;
  }
  .PicksCard {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    min-height: 250px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    .cardPicks_time {
      position: absolute;
      right: 30px;
      color: #0b9ed0;
    }
    .PicksCard_header {
      text-align: center;
      .PicksCard_log {
        img {
          border-radius: 6px;
          height: 62px;
          width: 62px;
        }
        svg {
          border-radius: 6px;
        }
      }

      .PicksCard_logUser {
        img {
          border-radius: 30px;
          height: 62px;
          width: 62px;
        }
        svg {
          border-radius: 30px;
        }
      }
    }
    .PicksCard_footer {
      text-align: center;
      border-top: 1px solid #efefef;
      margin-top: 14px;
      .SkillS {
        margin-top: 10px;
        .item {
          font-size: 13px;
        }
        p {
          color: #a1a1a1;
          .item {
            color: #575757;
            &:before {
              color: #c8c8c8;
              font-size: 22px;
              margin-left: -1rem;
            }
          }
        }
      }
      .foot_desc {
        .QuillText.is-readonly .quill .ql-editor * {
          text-align: center;
          font-size: 13px;
        }
      }
    }
  }

  .PicksCard_titleContainer {
    text-align: center;
    p {
      margin-bottom: 4px;
      svg {
        margin-right: 5px;
      }
    }
    .PicksCard_title {
      .ui.header {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        color: #323232;
        margin-top: 10px;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
          color: #0b9ed0;
        }
      }
      .head_title {
        color: #323232;
        font-size: 14px;
        // svg{
        //   margin-right: 5px;
        // }
      }
    }
    .sub_title {
      .loctaion {
        color: #575757;
        // margin-bottom: 4px;
      }
      .exp {
        color: #797979;
        span {
          color: #323232;
        }
      }
    }
  }
  .RecentPicksCard_footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 35px;

    .ui.button {
      padding: 0;
      background-color: transparent;
      font-weight: 600;
      color: #0b9ed0;
      svg {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .RecentPicksCard {
    .PicksCard_title {
      .ui.header {
        font-size: 15px !important;
      }
    }
    .ui.grid > .row > [class*="five wide"].column {
      width: 100% !important;
      border-bottom: 1px solid #efefef;
      &:last-child {
        border-bottom: none !important;
      }

      .PicksCard {
        // border-bottom: 1px solid  #efefef;
        height: auto !important;
        min-height: 120px;
        .PicksCard_header {
          .PicksCard_logUser {
            height: 52px;
            width: 52px;
            img {
              height: 42px;
              width: 42px;
            }
            svg {
              height: 42px;
              width: 42px;
            }
          }
          .PicksCard_log {
            img {
              height: 42px;
              width: 42px;
            }
            svg {
              height: 42px;
              width: 42px;
            }
          }
        }
      }
    }
    // .ui.grid{
    //   .row{
    //     .column{
    //       width: 100% !important;
    //     }
    //   }
    // }
  }
}
@media (max-width: 1025px) {
  .RecentPicksCard {
    .PicksCard {
      .cardPicks_time {
        top: 90px;
      }
    }
  }
}
