.JobPaneLeftHeader{

  .mobile_Header{
    background-color: #1f2532;

    .topBottom_center{
      display: flex !important;
      align-items: center;
    }

    .ui.header{
      font-size: 20px;
      color: #ffffff;
      margin-left: 5px;
    }

    .apply_btn{
      background-color: #1f2532;
      border: 1px solid #0b9ed0;
      border-radius: 33px;
      color: #0b9ed0 !important;
      &:hover{
        color: #0b9ed0 !important;
        background-color: inherit!important;
      }
    }

    .close_btn{
      box-shadow: none !important;
     
      &:hover{
        background-color: inherit!important;
        box-shadow: none !important;
      }
    }

    
  }

  .mobileHeader_clearBtn{
    .allClear_btn{
      box-shadow: none !important;
      padding-left: 0px;
      &:hover{
        background-color: inherit!important;
        box-shadow: none !important;
      }
    }
    span{
      color: #0b9ed0;
    }
  }
  .filterValue_Btn.ui.inverted{
    color: #797979 !important;
    font-size: 14px !important;
    box-shadow: none !important;
    padding: 0;
  }
}