.DashboardFilterFooter{
  background-color: #1f2532;
  padding: 15px;
  .filterFooter_LeftColumn{
    display: flex !important;
    align-items: center;
   
  }
  .MobileHeader_Left{
    margin-top: 3px;
    h3{
      color: #6e768a; 
      font-family: 'Open Sans' !important;
      font-size: 14px !important;
      display: flex !important;
      align-items: center;
      cursor: pointer;
      svg{
        margin-right: 10px;
      }
    }
  }
  .mobileFooter_left{
    // .header{
    //   cursor: pointer;
    // }
    
    .ui.inline.dropdown>.text{
      color: #0b9dcf;
      font-weight: 500 !important;
    }
  }
}

.mobile_candidateFilter.modal.ui.active{
  margin-top: -64px !important;
  width: 100% !important;
}

// .MobileHeader{
//   background-color: #1f2532;
//   padding: 15px;
//   .MobileHeader_Left{
//     h3{
//       color: #ffffff;
//     }
//   }
  
// }