.AdvanceSearchBodyHeaderBody{
  .AdvanceSearchChip_container{
    .border-button-component{
      margin-right: 5px;
      
      .ui.button{
        margin-bottom: 5px;
      }
    }
  }
  .AdvanceSearchAdd_moreChip{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

