.mobile__searchResult {
  .menu.text {
    margin: 0 !important;
    background-color: #1f2532 !important;
    justify-content: center;
    .item {
      color: $white !important;
      font-size: 16px;
      padding-top: 14px !important;
      margin-right: 30px !important;
    }
    .active.item {
      color: #0b9ed0 !important;
      border-bottom: 2px solid #0b9ed0 !important;
      margin-bottom: -2px !important;
    }
  }

  .segment {
    background: transparent;
    box-shadow: none;
    border: none;
  }
}

.mobile__SearchFilter {
  .mobile__FilterHeader {
    background-color: #1f2532;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;

    .row {
      padding-bottom: 5px;
      padding-top: 5px;
    }

    h3 {
      color: $white !important;
      line-height: 33px;
      padding-top: 3px;
    }

    .ApplyBtn {
      color: $white;
      border: 1px solid #0b9ed0;
      background-color: #1f2532;
      padding-left: 25px;
      padding-right: 25px;
    }
    .closeBtn {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 10px;
    }
  }

  .clearAllBtn {
    background: inherit;
    color: $pacific-blue;
    font-size: 14px !important;
    padding-left: 15px;
  }
}

.filter__headerBtn {
  // .button{
  //   color: $nobel !important;
  // }

  .filter__jobsBtn {
    // color: #575757;
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 24px;
    background-color: #0b9ed0;
    height: 40px;
    width: 40px;
    padding: 15px 13px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
    &:active {
      background-color: #0b9ed0;
    }
  }

  .search__alertBtn {
    background: transparent;
    color: $nobel !important;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile__SearchFilter {
    padding-left: 0 !important;
    padding-right: 0 !important;
    .job-search-filter {
      padding-left: 12px !important;
      padding-right: 12px !important;
      .searchFilterAccordian {
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
    }
  }

  .mobile__publicJob {
    .headerRightSide {
      margin-top: 10px !important;
      .mobile__moreOption {
        position: absolute;
        margin-top: 9px;
        margin-left: 10px;
      }
    }

    .profileCardHeader {
      .headerSubTitle {
        // span{
        //   color: #323232;
        // }
      }

      .publicJob__HeaderExp {
        display: block;
        padding-bottom: 5px;
      }
    }

    .profileCardBody {
      padding-left: 10px;
    }
  }

  .mobile__cardHeader {
    .mobile__leftHeader {
      padding-left: 10px !important;
    }

    .p2p-tracker-icon-block {
      position: absolute;
      right: 10px;
      top: 27px;
      .p2p-tracker-button-icon {
        padding: 0;
      }
    }

    .mobile__dataPost {
      font-family: "Open Sans" !important;
      font-size: 12px !important;
      color: #0b9ed0 !important;
      text-align: right;
    }
  }
}
