
@media only screen and (max-width: 767px) {
  .moblile__moreOptionBtn{
    position: absolute;
    margin-top: -15px;
    margin-left: 14px;
  }
  .moblile__actionBtn{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
