
/* Mobile */
@media only screen and (max-width: 767px) {
  
  .mobile__searchBanner{
    padding: 10px 20px !important;
    .bannrtBtn{
      .header{
        margin-top: 20px !important;
        text-align: center;
      }
    } 
  }
}
