.mobile__publicProfile {
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile__publicProfile {
    .preProfileHeaderDetail {
      margin-top: -18px !important;
      h3 {
        font-size: 20px !important;
      }

      p {
        font-size: 15px !important;
      }
    }

    .preProfileDetailBody {
      .preHeaderTitle {
        font-size: 18px !important;
      }

      // .filterSkill{

      //   .item{
      //     margin-left: 13px !important;
      //     margin-right: 16px;
      //   }
      // }
    }
  }
}
