/* Mobile */
@media only screen and (max-width: 767px) {
  .mobileAlingCenter {
    text-align: center !important;
  }

  .mobile__publicJob {
    .headerLeftSide {
      h2 {
        font-size: 16px;
      }
    }

    .primaryCard {
      .headerTitle {
        font-size: 14px !important;
      }

      .cardBody__Header {
        font-size: 18px !important;
      }
    }

    // .filterSkill {
    //   .item{
    //     margin-left: 13px !important;
    //     margin-right: 16px;
    //   }

    // }
  }
}

@media only screen and (max-width: 1024px) {
  .mobileScreen_container {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .search-filter-page {
    .mobileScreen_container {
      margin-top: 50px !important;
      margin-bottom: 20px !important;
    }
  }

  .publicJobViews {
    .publicJobDetails {
    }
  }
  .mobileAling_Center {
    text-align: center !important;
  }
}
