.ContactFeedback{

    .banner_header{
      padding-top: 200px;
      h1{
        color: #ffffff;
        font-size: 40px;
      }
    }
    .card_panel{
      padding: 20px;
      border-radius: 5px;
      background-color: #ffffff;
  
      .header_text{
        color: #0b9ed0;
      }
  
      .accordion{
        .title{
          svg{
            margin-right: 7px;
          }
        }
      }
  
      .Feedback_panelBody{
        border-radius: 5px;
        background-color: #0b9ed0;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 25px;
        margin-top: 20px;
        p{
          font-family: 'Quicksand';
          font-size: 20px;
          font-weight: 500;
          color: #ceeefe;
        }
  
        button{
          background-color: #f7f7fb;
          color: #575757;
          font-size: 18px;
          font-family: 'Quicksand';
          font-weight: 500;
        }
      }
  
      
    }
  
    .ContactFeedback_form{
      background-color: #ffffff;
      .ContactFeedback_formHeader{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #0b9ed0;
        margin-top: 20px;
        p{
          font-family: 'Quicksand';
          font-size: 20px;
          font-weight: 500;
          color: #ceeefe;
        }
      }
     
      .ContactFeedback_formField{
        padding: 30px 25px 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
  
      
  
    }
  
    .ContactFeedback__actionBtn{
      text-align: right;
      margin-top: 20px;
      margin-bottom: 20px;
      button{
        svg{
          transform: rotate(-90deg);
          margin-left: 5px;
        }
  
      }
    }
  }
  
  .mediumJungleGreen{
    color: #323232;
  }
  
  