.calender-body-container {
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  padding: 20px;
}
.rbc-month-view {
  height: auto !important;
}
.rbc-day-slot .rbc-event-content {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 0px;
  top: 0;
}
.rbc-event.rbc-selected {
  background-color: rgba(235, 235, 235, 1) !important;
}
.rbc-event {
  /* padding: 8px 10px !important; */
  background-color: #fff !important;
  border-radius: 1px !important;
  color: rgba(50, 50, 50, 1) !important;
  font-size: 12px;
}
/* .rbc-row-segment {
    padding: 2px 10px !important;
} */
abbr[title] {
  text-decoration: none !important;
}
.floating-button {
  position: absolute;
  right: 10px;
  top: -20px;
  padding: 13px 10px !important;
  background: #fff !important;
  color: #ceeefe;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}
.icon-pop {
  margin: 0 8px !important;
  color: #ceeefe;
  font-size: 12px !important;
  cursor: pointer;
}
.rbc-off-range-bg {
  background: #fff !important;
}
.rbc-off-range {
  color: #a1a1a1 !important;
}
.rbc-month-view {
  border: 1px solid #c8c8c8 !important;
}
.in-persion {
  height: 8px;
  width: 8px;
  background-color: rgb(11, 208, 187);
  border-radius: 8px;
  margin-right: 8px;
  display: inline-block;
}
.telephone {
  height: 8px;
  width: 8px;
  background-color: rgba(31, 37, 50, 1);
  border-radius: 8px;
  margin-right: 8px;
  display: inline-block;
}
.video {
  height: 8px;
  width: 8px;
  background-color: rgba(11, 158, 208, 1);
  border-radius: 8px;
  margin-right: 8px;
  display: inline-block;
}

.rbc-day-slot .rbc-event {
  border: none !important;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

/* css for MobileCalender  */

.react-calendar {
  border: none !important;
  width: 100% !important;
}

.column-style {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.border-symble {
  border-top: 1px solid #efefef;
  padding: 15px 0px 8px;
  margin-top: 10px;
}
.react-calender-1 .react-calendar__month-view {
  display: none;
}

.event-day-date {
  color: #575757;
  font-size: 14px;
}
.event-count {
  color: #a1a1a1;
  font-size: 12px;
}
.event-time {
  font-size: 12px;
  color: #797979;
}
.for-event-name {
  font-size: 12px;
  color: #575757;
}

.event-details {
  padding: 10px 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  border-bottom: 1px solid #efefef;
}

.event-details:last-child {
  border-bottom: none;
}

.event-day-detail-block {
  display: flex;
  padding: 0 20px 10px;
  justify-content: space-between;
}

.event-day-detail-block:not(:first-child) {
  margin-top: 20px;
}

.indicator-block {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  flex-direction: row;
}
.event-user-name {
  font-family: "Quicksand" !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #323232 !important;
}
.user-event-icon {
  color: #acaeb5;
  font-size: 0.7;
}
.user-event-props {
  font-family: "Open Sans";
  font-size: 14px;
  color: #575757;
}
.user-event-props-small {
  font-family: "Open Sans";
  font-size: 12px;
  color: #a1a1a1;
}
.week-day-name {
  font-family: "Quicksand";
  color: #0b9ed0 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.week-date {
  font-family: "Open Sans";
  font-size: 12px;
  color: #a1a1a1;
}
.week-date-event-count {
  font-family: "Open Sans";
  font-size: 12px;
  color: #a1a1a1;
}
.week-date-event-type {
  margin-left: 15px;
}
.week-date-event-type-indi {
  font-family: "Open Sans";
  font-size: 12px;
  color: #a1a1a1;
}
.rbc-time-view .rbc-row {
  min-height: auto;
}
.rbc-header {
  font-family: "Open Sans" !important;
  padding: 5px 3px !important;
  font-size: 14px !important;
  color: #575757 !important;
  border-bottom: none !important;
  font-weight: 600 !important;
}
.rbc-toolbar .rbc-toolbar-label {
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #a1a1a1;
  padding: 0 10px;
  text-align: center;
}
.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #c8c8c8;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #c8c8c8;
}
.calender-popup-font {
  font-family: "Open Sans" !important;
  font-size: 14px !important;
  color: #323232 !important;
}
.calendar-popup-cross {
  position: absolute;
  right: 0;
  padding: 0 !important;
  top: 5px;
}
.calendar-popup-header {
  border-radius: 5px 5px 0 0 !important;
  // background-color: #0b9ed0 !important;
  border-top: none !important;
  padding: 1em 1em 1em !important;
  .ui.feed {
    .event {
      .content {
        margin-top: -1px;
        .headTitle {
          font-size: 13px;
          color: #ceeefe;
        }
        .calender-popup-title {
          font-size: 14px;
          font-weight: 500;
          margin-top: 0px;
        }
        .calender-popup-PhoneNumber {
          font-size: 14px;
          font-weight: 500;
          margin-top: 2px;
          color: #ffffff;
        }
      }
    }
  }
}
.calendar-popup-body {
  padding: 1rem 1rem 2rem !important;
  position: relative;
  .ui.list {
    margin-top: 0;
  }
  .floating-button {
    height: 40px;
    width: 40px;
  }
}
.calender-popup-subtitle {
  color: #ceeefe !important;
  font-size: 14 !important;
  font-weight: normal !important;
}
.calender-popup-title {
  color: #fff !important;
  font-size: 16 !important;
}
.calender-popup-icon {
  color: #acaeb5 !important;
}
.calendar-popup-card {
  left: 40% !important;
  position: fixed !important;
  top: 50% !important;
  z-index: 1000 !important;
}
.calendar-popup-list {
  padding: 0.41428571em 0 !important;
}
.label {
  svg {
    display: block;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 2.5em;
    height: auto;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    text-align: left;
    border-radius: 50%;
  }
}
@media (max-width: 992px) {
  .calender-body-container {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 10px;
  }
}

.calendar {
  .item {
    svg {
      transform: rotate(180deg);
      height: 14px;
      width: 23px;
      margin-right: 12px;
      fill: #6e768a;
    }
  }
  .calendar-header-strip {
    background-color: #1f2532;
    // margin: 4px;
  }
  .calendar-header-font {
    font-family: "Quicksand";
    font-size: 18px;
    color: #fff;
  }
  .calendar-dropdown {
    min-height: 1.71428571em !important;
    background: transparent !important;
    padding: 0.48571429em 1em 0.48571429em 1em !important;
    font-family: "Open Sans" !important;
    font-size: 12px !important;
    color: #0b9dcf !important;
    border: 1px solid #6e768a !important;
    margin-top: -20px;
    border-radius: 0.28571429rem !important;
    line-height: 1em !important;
    min-width: 0 !important;
  }
  .ui.selection.visible.dropdown > .text:not(.default) {
    font-weight: 400;
    color: #0b9dcf !important;
  }
  .ui.selection.dropdown > .delete.icon,
  .ui.selection.dropdown > .dropdown.icon,
  .ui.selection.dropdown > .search.icon {
    top: 0.48571429em !important;
  }
  .calendar-view-all {
    text-align: center;
    padding: 10px 8px;
  }
  .calendar-view-all > a {
    font-family: "Open Sans";
    font-size: 12px;
    color: #0b9dcf !important;
  }
  .ui.padded.table td,
  .ui.padded.table th {
    padding: 2px;
  }
  .ui.table:not(.unstackable) tr > td,
  .ui.table:not(.unstackable) tr > th {
    padding: 0 !important;
  }
  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > td,
  .ui.table:not(.unstackable) tr > th {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between;
  }
  .ui.table {
    border: none;
  }
  .ui.table td {
    padding: 0;
  }
  .ui.table:not(.unstackable) tr {
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: none !important;
    border-bottom: 1px solid #efefef;
  }
  .ui.table tbody + tbody tr:first-child td {
    border-top: none;
  }
  .calendar-list-item {
    padding: 10px 0 !important;
  }
  .event-user-title {
    font-family: "Open Sans" !important;
    padding-top: 5px;
    font-size: 13px !important;
    color: #575757 !important;
    text-align: left !important;
    line-height: 18px !important;
    font-weight: 600 !important;
  }
  .react-calendar__tile {
    color: #575757;
    font-family: "Open Sans";
  }
  .calender-indicator-name {
    font-family: "Open Sans";
    font-size: 12px;
    color: #a1a1a1;
  }
  .calendar-event-tag {
    color: #575757;
    font-weight: 400;
  }
  .total-event-count {
    color: #575757;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #a1a1a1;
    font-family: "Open Sans";
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0 !important;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    color: #0b9ed0;
  }
  .ui.table:not(.unstackable) td:first-child,
  .ui.table:not(.unstackable) th:first-child {
    font-weight: 600;
  }
  .calendar-event-tag-sidecaledar {
    font-family: "Open Sans";
    font-size: 20px;
    color: #575757;
    text-align: center;
  }
  .calendar-event-count-sidecaledar {
    font-family: "Quicksand";
    font-size: 60px;
    font-weight: 500;
    color: #575757;
    text-align: center;
  }
  .calendar-event-tag-in-sidecaledar {
    font-family: "Open Sans";
    font-size: 16px;
    color: #a1a1a1;
    text-align: center;
  }
  .calendar-event-tag-month-sidecaledar {
    font-family: "Open Sans";
    font-size: 16px;
    color: #a1a1a1;
    text-align: center;
  }
  .text-center {
    text-align: center;
  }
  .pt {
    padding-top: 8px;
  }
  .ui.secondary.pointing.menu .active.item {
    border-color: #0b9ed0 !important;
    font-weight: normal;
    font-family: "Open Sans";
    font-size: 16px !important;
    color: #0b9ed0 !important;
  }
  .ui.secondary.pointing.menu .item {
    font-family: "Open Sans";
    font-size: 16px !important;
    color: #575757 !important;
  }
  .ui.secondary.pointing.menu {
    border-bottom: none;
    float: right;
  }
  .calendar-toolbar {
    margin-top: -10px;
    .ui.menu {
      margin: 0.12rem 0 !important;
    }
  }
  .react-calendar__navigation__prev2-button {
    display: none;
  }
  .react-calendar__navigation__next2-button {
    display: none;
  }
  .calendar-month-name {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    color: #a1a1a1;
    text-align: center;
  }
  .react-calendar__navigation__label {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    color: #0b9ed0;
  }
  .calendar-icon-nav {
    color: #0b9ed0;
  }
  .calendar-today-button {
    font-family: "Open Sans";
    color: #575757 !important;
  }
  .rbc-toolbar .rbc-btn-group:not(:first-child) button:active,
  .rbc-toolbar .rbc-btn-group:not(:first-child) button.rbc-active {
    background-color: #fff !important;
    border-radius: 0 !important;
    border-color: transparent !important;
    border-bottom: 2px solid #0b9ed0 !important;
    color: #0b9ed0;
    box-shadow: none;
    font-family: "Open Sans";
    font-size: 14px;
  }
  .rbc-toolbar .rbc-toolbar-label {
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    color: #a1a1a1;
    padding: 0 10px;
    text-align: center;
  }
  .rbc-toolbar .rbc-btn-group:not(:first-child) button {
    color: #575757 !important;
    margin: 0 0.25em 0 0 !important;
    padding: 0.38571429em 1em 0.98571429em !important;
    line-height: 1em;
    border-radius: 0 !important;
    font-family: "Open Sans";
    font-size: 14px;
    border: none !important;
  }
  .rbc-toolbar .rbc-btn-group:not(:first-child) button:hover {
    color: #575757 !important;
    border-color: #0b9ed0 !important;
    background-color: transparent !important;
  }
  .rbc-toolbar .rbc-btn-group:not(:first-child) button:focus {
    outline: none;
  }
  .rbc-toolbar {
    margin-bottom: 0px !important;
  }
  .rbc-toolbar
    .rbc-btn-group:first-child
    > button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 10px;
    border-radius: 0px;
    font-family: "Open Sans";
    font-size: 14px;
    background: #e0e1e2 none;
    color: #575757;
    cursor: pointer;
    border: none !important;
    box-shadow: 0 0 0 1px transparent inset,
      0 0 0 0 rgba(34, 36, 38, 0.15) inset;
  }
  .rbc-toolbar
    .rbc-btn-group:first-child
    > button:first-child:not(:last-child):focus {
    background: #0b9ed0 !important;
    color: #fff !important;
  }
  .rbc-toolbar .rbc-btn-group:first-child > button:nth-child(2):focus {
    outline: 0;
  }
  .rbc-toolbar .rbc-btn-group:first-child > button:nth-child(3):focus {
    outline: 0;
  }
  .rbc-toolbar .rbc-btn-group:first-child > button:nth-child(2) {
    display: inline-block;
    position: relative;
    right: 9999px;
    cursor: pointer;
    &:before {
      content: "\f104";
      position: absolute;
      top: -1px;
      right: -9999px;
      width: 100%;
      padding: 6px 0;
      color: #575757;
      text-align: center;
      font-family: "Icons";
    }
  }
  .rbc-toolbar .rbc-btn-group:first-child > button:nth-child(3) {
    display: inline-block;
    position: relative;
    right: 9999px;
    cursor: pointer;
    &:after {
      content: "\f105";
      position: absolute;
      top: -1px;
      right: -9999px;
      width: 100%;
      padding: 6px 0;
      color: #575757;
      text-align: center;
      font-family: "Icons";
    }
  }
  .rbc-toolbar .rbc-toolbar-label {
    margin-top: -10px;
  }
  .rbc-toolbar .rbc-btn-group:first-child {
    margin-top: -10px;
  }
  .react-calendar__tile {
    color: #575757;
    font-family: "Open Sans";
    border-radius: 5px !important;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #f7f7fb;
  }
  .react-calendar__tile--active {
    background: #0b9ed0 !important;
    color: #fff !important;
  }
}

@media (max-width: 767px) {
  .calendar {
    .react-calendar__tile {
      height: 43px;
    }
  }
}

.vas_rc__highlight:after {
  content: " ";
  border-bottom-style: solid;
  border-bottom-color: #f2711c;
  border-bottom-width: 2px;
  display: table-cell;
  width: 200px;
}
