.UserMessage {
  margin-top: 10px;
  margin-left: 0px;
  // margin-bottom: 10px;
  // padding-bottom: 15px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  max-width: 70%;
  .messageProfile {
    display: inline-block;
    margin-right: 5px;
  }
  .messageTitle {
    display: inline-block;
    background-color: #f5f5fa;
    border-radius: 15px 15px 15px 0px;
    padding: 15px 15px 10px;
    min-width: 40px;
    .subTitle {
      font-size: 13px;
      color: #a1a1a1;
      text-align: right;
    }
    p {
      margin-bottom: 0;
    }
    .quill .ql-editor {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    .FlatDefaultBtn {
      background-color: #f7f7fb;
      border: 1px solid #c8c8c8;
      border-radius: 15px;
      color: #a1a1a1;
      margin-top: 5px;
      margin-bottom: 5px;
      &:hover {
        border-color: #0b9ed0;
      }
    }
  }
}

@media (min-width: 1025px) {
  .UserMessage {
    margin-left: 35px;
  }
}
