.user-share-modal-block {
  .cross-button {
    position: absolute;
    right: 10px;
  }
  .cross-icon {
    float: right;
    cursor: pointer;
  }
  .modal-title {
    margin-bottom: 20px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    color: #575757;
    text-align: center;
    line-height: 24px;
  }
  .item-card-popup {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .share-form-area {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  .share-button {
    margin: 0 20px;
    width: 40px;
    height: 40px;
  }
  .twitter-share {
    background: transparent;
    border: 1px solid #1da1f2;
  }
  .facebook-share {
    background: transparent;
    border: 1px solid #3b5998;
    svg {
      margin-top: -3px;
    }
  }
  .linkedin-share {
    background: transparent;
    border: 1px solid #0077b5;
  }
  .twitter-share:hover {
    background: #1da1f2;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .facebook-share:hover {
    background: #3b5998;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .linkedin-share:hover {
    background: #0077b5;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .twitter-share:active {
    background: #1da1f2;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .facebook-share:active {
    background: #3b5998;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .linkedin-share:active {
    background: #0077b5;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .twitter-share:focus {
    background: #1da1f2;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .facebook-share:focus {
    background: #3b5998;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .linkedin-share:focus {
    background: #0077b5;
    svg {
      path {
        fill: #fff;
      }
    }
  }
  .share-font {
    font-family: "Open Sans";
    font-size: 14px;
    color: #575757;
    text-align: center;
    transform: scale(1, 1.01);
    margin-top: 5px;
  }
  .flex-button {
    display: flex;
    flex-direction: column;
  }
  .text-center {
    text-align: center;
  }
  .mb-8 {
    margin-bottom: 8px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .user-card-right {
    display: flex;
    flex-direction: column;
  }
  .hidden-mobile {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
}
@media (max-width: 1025px) {
  .user-share-modal-block {
    .modal-title {
      text-align: left;
      font-size: 15px;
    }
    .item-card-popup {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: flex-start;
    }
    .mobile-link-button {
      padding: 15px 0;
      border-top: 1px solid #efefef;
    }
    .flex-button {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
    }
    .hidden-mobile {
      display: none;
    }
    .hidden-desktop {
      display: block;
    }
    .modal-title {
      margin-bottom: 5px;
    }
    .share-button {
      margin: 0px;
      width: 30px;
      height: 30px;
    }
    .share-font {
      margin-left: 20px;
    }
    .twitter-share {
      svg {
        width: 13px;
        height: 11px;
        margin: -2px 0px 10px -3px;
      }
    }
    .facebook-share {
      svg {
        width: 6px;
        height: 14px;
        margin: -5px 0px 2px -2px;
      }
    }
    .linkedin-share {
      svg {
        width: 10px;
        height: 10px;
        margin: -5px 0px 4px -2px;
      }
    }
  }
}
