.postJob_jobDetails {
  padding: 17px 20px 30px 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  .company_field {
    padding-bottom: 14px;
    .row .eight {
      padding-left: 14px;
    }

    .remoteLocation_pastJob {
      display: flex;
      align-items: center;
      margin-top: 12px;
    }

    button {
      color: #575757;
      span {
        padding-left: 5px;
      }
    }

    .createNew_companyGrid {
      display: flex !important;
      align-items: center;
    }
  }
}

.field {
  margin: 0 !important;
}

.InputGridContainer {
  .PostJobSalary_mobileContainer {
    display: none;
  }
  .field {
    input {
      color: #0b9ed0 !important;
    }
  }
  .mobile_inputLabel {
    padding-bottom: 10px;
  }
  .grid {
    .divider_to.column {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .inputGrid_comMin.column {
      padding-right: 0;
    }

    .inputGrid_comMax.column {
      padding-left: 0;
    }
  }
}
.desktop-hidden {
  display: none;
}
.salary-heading {
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  .salary-heading {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
  }
  .desktop-hidden {
    display: block;
    margin-left: 2px;
  }
  .check-space-mobile {
    padding-left: 0 !important;
  }
  .InputGridContainer {
    .ui.grid {
      .PostJobSalary_mobileRow {
        padding-top: 9px;
      }
    }

    .PostJobSalary_mobileContainer {
      display: block !important;
    }
  }
}

@media only screen and (min-width: 992px) {
  .ui.grid > .row > .column.col-width-34 {
    width: 34.25% !important;
  }
}

@media only screen and (max-width: 767px) {
  .JobDetails {
    .company_field {
      padding-bottom: 14px;
      .button {
        margin-top: 14px;
      }
    }
  }

  .panel-card {
    padding-left: 14px;
    padding-right: 14px;
  }

  .InputGridContainer {
    .grid {
      .inputGrid_comMin.column {
        padding-right: 14px;
      }
    }
  }

  .InputGridContainer {
    .grid {
      .inputGrid_comMax.column {
        padding-left: 14px;
      }
    }
  }
}
