.FlatDefaultBtn{
  align-items: center;
  box-shadow: none !important;
  
  // margin-bottom: 10px !important;
  &:hover{
    background-color: inherit;
    color: #0b9ed0 !important;

    svg path{
      fill: #0b9ed0;
    }
  }
}

.bgGhostWhite{
  background-color: #f7f7fb !important;
}

.noPaddingBtn{
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  color: #0b9ed0 !important;
  &:hover{
    color: #0b9ed0 !important;

    svg path{
      fill: #0b9ed0;
    }
  }
}

.bgTranceparent{
  box-shadow: none !important;
  background-color: transparent !important;
  &:hover{
    color: #0b9ed0 !important;

    svg path{
      fill: #0b9ed0;
    }
  }
}

@media only screen and (max-width: 767px) { 
  .FlatDefaultBtn{
    margin-bottom: 10px !important;
  }
}