.RecommendedJobsMobile {
  .Recommended_mobileHeader {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    .MobileHeader_Left {
      .backHeaderBtn {
        background-color: transparent;
        padding: 0;
        svg {
          transform: rotate(180deg);
          margin-right: 10px;
        }
      }
    }
  }

  .Recommended_mobileBody {
    margin-top: 70px;
    margin-bottom: 70px;
    .recommendedJobs_header {
      // margin-bottom: 30px;
      .recommendedJobs_headerLeft {
        width: 100%;
      }
    }
  }

  .Recommended_mobileFooter {
    position: fixed;
    z-index: 990;
    bottom: 0;
    width: 100%;
    .MobileHeader_Left {
      .recent_status {
        color: #6e768a;
        .ui.dropdown {
          .text {
            color: #0b9dcf;
          }
          .visible.menu {
            .text {
              color: #575757;
              &:hover {
                color: #0b9dcf;
              }
            }
          }
        }
      }
    }
  }

  .MyJob_cardContainer {
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 20px;

    .MyJobCards {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .RecommendedJobsMobile {
    .AccordionCardContainer {
      .MyJobCards {
        .MyJobCards_leftSide {
          .companydetails {
            .subTitle {
              .loctionExp {
                .experience {
                  display: none;
                }
              }
              .jobTypeRoll {
                display: none;
              }
            }
          }
        }
      }
      .jobDefault_card .ui.grid > .row > .MyJobCards_leftSide {
        width: 100% !important;
      }
    }
  }
}
