.SearchCardHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -4px;

  .SearchCardHeader__date {
    user-select: none;
    margin: 0px 20px 0px 15px;
    font-family: 'Open Sans';

    span {
      &:first-child {
        color: rgba(161, 161, 161, 1);
      }

      &:last-child {
        color: rgba(11, 158, 208, 1);
      }
    }
  }
}