// .MultipleChekPopup{
//   background-color: #eeeef2;
//   border-radius: 0px 0px 6px 6px;
//   box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;

//   .BulkOptionMenu.ui.dropdown{
//     width: 50%;
//     background-color: #f7f7fb;
//   }

//   .BulkOptionMenu.ui.dropdown > .text {
//     color: #575757;
//     font-size: 14px !important;
//     font-family: "Open Sans" !important;
//     font-weight: 500;
//   }



//   .deselect_allBtn{
//     background-color: inherit;
//     color: #a1a1a1;
//     &:hover{
//       background-color: inherit;
//       color: #0b9ed0;
//     }
//   }
// }