.DashBoardNavigationDrawer{
  display: inline-block;
  .Sidebar{
    .ui.button{
      padding: 0;
      background-color: transparent;
      margin-right: 10px;
    }
  }
  .Navigation{
    z-index: 1000;
  }
}