.ChatTreadSearchHeader{
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 6px 6px;
  .ui.grid>.row{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .SearchField{
    width: 100%;
    .ui.fluid.input{
      input{
        border: none;
        &:focus{
          box-shadow: none;
        }
      }
    }
  }
}