.UserView_main {
  padding-bottom: 10px;
  background-color: #009d8c;
  border-radius: 6px;
  .ui.button {
    margin-top: 17px;
    margin-left: 30px;
    color: #323232;
    height: 34px;
    width: 154px;
    background-color: #ffffff;
    border-radius: 33px;
  }
  p {
    margin-left: 31px;
    color: #cefee6;
    font-size: 14px !important;
    padding-top: 11px;
  }
}
