.ChatThreadPeopleHeader {
  border-bottom: 1px solid #eeeef2;
  // padding-top: 15px;
  width: 100%;
  background-color: rgb(238, 238, 238);
  z-index: 1000;
  // padding: 10px 16px 10px 15px;
  margin: 0px !important;
  .MobileHeader {
    background-color: #ffffff;
    .grid.ui {
      .row {
        .right.column {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .ProfileShowBtn{
            background-color: transparent;
            padding: 0;
            margin-right: 10px;
            &:hover{
              svg g path {
                fill: #0b9ed0;
              }
            }
          }
        }
      }
    }
  }
  .MobileHeader_Left {
    display: flex;
    align-items: center;
    .ui.header {
      display: inline-block;
      margin-top: 0;
      margin-left: 7px !important;
      color: #323232;
    }
    .searchFieldBtn {
      padding: 0 !important;
      background-color: transparent;
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .viewIcon {
    background-color: transparent;
  }
}
