.ElevateContainer {
  &.is-small {
    transform: translateY(-30px);
  }

  &.is-medium {
    transform: translateY(-100px);
  }

  &.is-large {
    transform: translateY(-200px);
  }

  &.is-xlarge {
    transform: translateY(-250px);
  }
}