.SearchTagField{
  .field{
    .visible.menu{
      background-color: #edeff1;
      .selected{
        color: #575757;
        
        span{
          b{
            font-weight: 500;
            color: #0b9ed0;
          }
        }
      }
      .item{
        background: #ffffff;
      }
    }
    .selection{
      border-color: #efefef;
      &:hover{
        border-color: #efefef;
      }
      .label{
        color: #323232;
        font-weight: 500;
        background-color: #f7f7fb;
        border-radius: 16px;
        border: none;
        box-shadow: none;
        padding: 8px 15px;
        .delete{
          color: #c8c8c8;
        }

        &:hover{
          background-color: #f7f7fb;
        }
      }
    }
  }
}