.ManageTemplateFooter {
  // box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  // margin-top: -20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f7f7fb;
  border-radius: 0 0 6px 6px;
}
