.Main_top{
    .Main_header{  
    background-color: #0b9dcf !important;
    height: 56px;
    border-radius: 6px 6px 0px 0px !important;
    .headersection{
        display: flex !important;
        align-items: center;
        h4{
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 600;
            color: #ceeefe;
        }
    }
}
    .dropdownsections{
        display: flex !important;
        justify-content: flex-start;
        align-items: center;
        h5{
            padding-right: 20px;
            margin-bottom: 4px;
            color: #ceeefe;
            font-family: 'Open Sans';
        }
    }
    .Main_segment{
        .ui.list{
            .selected.item{
                background: transparent;
            }
            .item{
                padding-bottom: 16px;
                font-weight: 600;
                color: #797979;
                &:hover{
                    background-color: transparent !important;  
                }
            }
            .active>.text{
              font-weight: 600;
              color: #a1a1a1;
            }
        }
    }
    .ui.dropdown .menu{
        margin-left: -16px;
        margin-top: 10px;
        position: relative !important;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    .ui.dropdown{
      .text{
      font-weight: 600;
      color: #797979; 
    }
    .dropdown.icon{
      margin-left: 214px;
      color: #a1a1a1;
    }
  }
}
