// .Main_Card{
//     height: 61px;
//     background-color: #f7f7fb;
//     border-radius: 0px 0px 6px 6px;
//     margin-top: 20px;
//     .Main_Card_Grid{
//         .Main_Card_Grid_Row{
//             h4{
//                 margin-top: 9px;
//                 margin-left: 31px;
//                 font-size: 16px !important;
//             }
//             .Basic_Section{
//                 margin-left: -90px;
//             }
//             .ui.dropdown>.text {
//                 color: #0b9ed0;
//                 font-size: 16px !important;
//                 font-family: 'Quicksand' !important;
//                 font-weight: 500;
//             }
//             .ui.button{
//                 border-radius: 5px !important;
//                 margin-left: 10px !important;
//                 height: 37px;
//                 width: 64px;
//                 background-color: #f7f7fb;
//                 border: 1px solid #efefef;
//             }
//             .ui.inline.dropdown>.text {
//                 color: #a1a1a1;
//                 margin-top: 9px;
//                 font-family: 'Open Sans' !important;
//                 font-size: 14px !important;
//             }
//             .ui.dropdown>.dropdown.icon{
//                 color: #cdcdcd;
//             }
//         }
//     }
// }