.ManageTemplate {
  margin-top: 60px;
  .Pagebanner {
    display: flex;
    align-items: center;
    margin-top: -25px;
    .banner_header h1 {
      font-family: "Quicksand";
      font-size: 40px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
    }
  }
  .Nodata_foundBtnTemp{
    text-align: center;
    margin-bottom: 80px;
    .header_btn{
      svg{
        margin-right: 5px;
      }
    }
  }
}

.manageTemplate_header {
  margin-top: -55px;
  text-align: center;
  .manageTemplate_card {
    padding-top: 14px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    border-radius: 6px;
    svg {
      margin-top: 14px;
      margin-bottom: 14px;
    }
    .content .header {
      font-size: 20px !important;
      font-weight: 500 !important;
      padding-bottom: 14px;
    }

    .description {
      font-family: "Open Sans";
      font-size: 14px;
      color: rgba(161, 161, 161, 1) !important;
    }
  }
}

.ManageTemplateBody {
  margin-top: 20px;
  .header_title {
    margin-bottom: 20px;
    .gridColumnLeft {
      h2 {
        font-family: "Quicksand";
        font-size: 24px;
        font-weight: 500;
        color: rgba(11, 158, 208, 1);
      }
    }
    .gridColumnRight {
      .ui.button{
        svg{
          margin-right: 5px;
        }
      }
      @media only screen and (max-width: 1024px) {
        .header_btn {
          font-size: 12px !important;
          // display: flex;
          // align-items: center;
          svg{
            height: 10px;
          }
        }
      }
    }
  }

  .ManageTemplateContainerTabView {
    div {
      display: inline-block;
      font-family: "Open Sans";
      font-size: 15px;
      color: #575757;
      margin-right: 15px;
      // margin-left: 15px;
      text-align: center;
      padding-bottom: 10px;
      cursor: pointer;
      img {
        margin-right: 5px;
      }
      svg{
        margin-right: 5px;
      }
    }

    .TabViewActiveClassAll {
      // width: 45px;
      color: #0b9ed0;
      border-bottom: 2px solid #0b9ed0;
      img {
        color: #0b9ed0;
      }
    }

    .TabViewActiveClassMessage {
      // width: 100px;
      color: #0b9ed0;
      border-bottom: 2px solid #0b9ed0;
      img {
        color: #0b9ed0;
      }
      svg{
        path {
          fill: #0b9ed0;
        }
      }
    }

    .TabViewActiveClassTemp {
      // width: 115px;
      color: #0b9ed0;
      border-bottom: 2px solid #0b9ed0;
      img {
        color: #0b9ed0;
      }
      svg{
        g{
          path{
            fill: #0b9ed0;
          }
          
        }
        g:last-child{
          path{
            fill: #ffffff;
          }
        }
      }
      

      // svg{
      //   path{
      //     fill: #ffffff;
      //   }
      // }
    }
  }

  .ManageTemplateBody_container {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    border-radius: 6px;

    .AccordionCardContainer {
      padding: 20px 20px 10px;
      .MyJobCards_rightSide {
        display: flex;
        justify-content: flex-end;
      }

      .AccordionCardContainer_class {
        padding-top: 14px;
      }
    }
  }
}
.ManageTemplateContainer_container {
  margin-bottom: 20px;
}

.AccordianCollapseWhite {
  margin-top: -20px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
}
.manageTemp_container {
  .manageTemplate_header {
    .ui.grid > .row > [class*="five wide computer"].column {
      width: 33.33% !important;
    }
  }
}

.ManageApplyHeaderMobile {
  .DownArrowCollaps {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1024px){
  .ManageTemplate{
    .ManageTemplateMobile{
      .banner_header{
        .ui.header{
          font-size: 24px;
        }
      }
      .Nodata_foundBtnTemp{
        .header_btn{
          // height: 43px;
          // width: 43px;
          // padding: 16px 15px;
          // position: fixed;
          // bottom: 14px;
          // right: 16px;
          // span{
          //   display: none;
          // }
        }
      }
      .ManageTemplateBody{
        .header_title{
          .ui.grid{
            .row{
              .gridColumnLeft{
                display: none;
              }
              .gridColumnRight{
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}
