.preview_headerNotification{
  display: flex;
  align-items: center;
  height: 44px;
  justify-content: center;
  background-color: #e7f3fd;
  padding-left: 10px;
  padding-right: 10px;
  .btnBox{
    display: flex;
    width: 10%;
  }
  p{
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .notificationBtn{
    padding: 0;
    background-color: transparent;
    // position: absolute;
    left: 10%;
    transform: rotate(180deg);
    &:hover{
      background-color: transparent;
    }
  }
}