.PostJobPage{
  margin-top: 70px;
  .panel-card{
    padding: 20px;
    background-color: #ffffff;
    .active.content{
      padding-bottom: 20px !important;
    }
    .field{
      margin: 0 !important;
    }

    .company_field{
      .FlatDefaultBtn{
        svg{
          margin-right: 7px;
        }
      }
    }
  }
  

  .other_requirement{
    border-radius: 6px;
    margin-top: 30px;
  }

}

.postJob_actionBtn{
  text-align: right;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  .actionBtnFooter{
    text-align: center;
    p{
      font-size: 13px;
      color: #a1a1a1;
    }
  }
 .bgGhostWhite{
   svg{
     margin-right: 1px;
   }
 }
  // .profileView_Icon{
  //   background-color: transparent !important;
  // }
}

@media only screen and (max-width: 1024px) { 
  .PostJobPage{
    margin-top: 50px;
    .panel-card{
      padding: 10px 12px !important;
      .active.content{
        padding-bottom: 10px !important;
      }
    }
    .Pagebanner{
      .BannerHeader{
        .BannerHeader_title.row{

          // padding-top: 30px;
          .column{
            width: 100% !important;
            
          }
          .mobileGrid_bannerHeader{
            margin-top: 10px;
          }
        }
        .bannerBtn_section{
          display: flex;
        }
        
        // .removeBtn{
        //   margin-bottom: 10px;
        // }
      }
    }
  }
  .postJob_actionBtn{
    text-align: center;
  }
}