.userInterView_staus{
  .statusClose_message{
    background-color: #fff;
    padding-left: 20px;
    padding-bottom: 30px;
    color: #575757;
    .warning_text{
      color: red;
    }
    // .draft_text{

    // }
    span{
      font-weight: 600;
    }
  }
}

@media only screen  and (max-width: 1024px){
  .userInterView_staus{
    .statusClose_message{
      line-height: 20px;
      padding-right: 10px;
      font-size: 12px;
    }
  }
}