// .Filter_Main{
//   height: 71px;
//   margin-top: 70px;
//   background-color: rgba(255, 255, 255, 1);
//   border-radius: 6px;
//   box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
//   .Filter_text{
//       padding-left: 40px !important;
//   }
//   .List_Main{
//     // padding-left: 24px;
//     .Filter_IC{
//         svg{
//             margin-top: 5px;
//         }
//     }
//       .Filter_Sort{
//          margin: 15px 15px;
//           .text{
//               color: rgba(11, 158, 208, 1);
//               font-weight: 500 !important;
//           }
//           .dropdown{
//               color:rgba(205, 205, 205, 1) !important;
//           }
//       }
      
//       .Filter_Button{
//           button{
//               background-color: transparent !important;
//           }
//       }
  
//       .selectItem{
//           .text{
//               color: rgba(11, 158, 208, 1);
//               font-weight: 500 !important;
//           }
//           .dropdown{
//               color:rgba(205, 205, 205, 1) !important;
//           }
//       }
//       .selectItem_More{
//           .text{
//               color:rgba(87, 87, 87, 1);
//               font-weight: 500 !important;
//           }
//           .dropdown{
//               color:rgba(205, 205, 205, 1) !important;
//           }
//       }
//   }
//   }

//   .CandidateFilter{
//     .addTag_section{
// 			margin-top: 14px;
// 			.addTag_sectionBtn{
// 				background-color: #f7f7fb;
// 				border: 1px solid #e1e1e3;
// 				border-radius: 18px;
// 				font-size: 13px;
// 				color: #575757;
// 				span{
// 					color: #323232;
// 				}
// 				svg{
// 					margin-left: 10px;
// 				}
// 			}
// 		}
//   }