.MobileCondidate{
  .MobileHeader{
    .MobileHeader_Left{
      svg{
        transform: rotate(180deg);
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1024){
  
  // .MobileCondidate{
  //   .CandidateMediaCard{
  //     .MediaCardAvatar{
  //       img{
  //         height: 40px !important;
  //         width: 43px !important;
  //       }
  //     }
  //   }
  // }
  
}