.PostLoginMobileHeader{
  position: fixed;
  padding-left: 14px;
  padding-right: 10px;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background-color: #1f2532;
  min-height: 50px;
  .PostLoginMobileHeader_container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .PostLoginMobileHeader_right{
      display: flex;
      align-items: center;
      .searchBtn{
        margin-right: 25px;
      }
    }
  }
  .headerBtn{
    // display: flex;
    // flex-direction: column;
    // width: 33.33%;
    .mobileHeaderBtn{
      padding:  0;
      background-color: transparent;
    }
  }
  .ui.form{
    width: 100%;
    .searchField{
      width: 100%;
      .ui.input{
        width: 100%;
      }
    }
  }
  .postLoginHeaderLogin_search{
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 20px;
    // padding-right: 20px;
    .backArrow{
      svg{
        transform: rotate(-180deg);
        margin-right: 10px;
      }
    }
    .searchBtn{
      padding: 0;
      background-color: transparent;
      position: absolute;
      right: 25px;
      top: 10px;
    }
  }

}

.Sidebar {
  .SidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 99;
    background-color: black;
    transition:
      opacity 300ms ease-in-out,
      width 0ms 300ms,
      height 0ms 300ms;
  }

  .SidebarContent {
    position: fixed;
    z-index: 100;
    background-color: white;
    transition: 300ms ease-in-out;
    transition-property: left, right, top, bottom;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  
  &.is-open {
    .SidebarOverlay {
      width: 100%;
      height: 100%;
      opacity: 0.25;
      transition:
        opacity 300ms ease-in-out,
        width 0ms,
        height 0ms;
    }
    
    .SidebarContent {
      left: 0 !important;
      
      &.is-right {
        left: auto !important;
        right: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .Notification_Container{
    display: flex;
    justify-content: flex-end;
    .SidebarContent {
      .Navigation{
        .navBarAccordion_menu{
          display: flex;
          justify-content: space-between;
          // padding: 10px 17px;
          .navBarAccordion_menuLeft{
            font-family: 'Quicksand';
            color: #797979;
            font-weight: 500;
            svg{
              margin-right: 10px;
            }
          }
          .navBarAccordion_menuRight{
            .DownArrowCollaps{
              height: auto;
              width: auto;
              padding-right: 0;
              svg{
                height: 5px;
                width: 9px;
              }
            }
          }
           
          
        }
        .AccordionCardContainer{
          .active{
            .DownArrowCollaps{
              transform: rotate(-180deg);
            }
          }
        }
        .navbar_menuListBody{
          .submenu_box{
            .item{
              padding: 8px 25px;
            }
          }
        }
      }
    }
  }
  .Notications{
    position: relative;
    display: inline-block !important;
    margin-right: 25px;
    .Notications_btn.active{
      background-color: transparent;
      svg path {
        fill: #0b9ed0;
      }
    }
    .NotifyDot{
      right: 14.5% !important;
      top: -3px !important;
      // left: 0;
    }
  }
}