.CandidatesDetailsHeader {
  margin-top: 90px;
  .CandidatesDetail_headerBody {
    .jobDefault_card {
      .CandidatesDetailsHeader_leftSide {
        display: flex;
        .back_arrow {
          cursor: pointer;
          height: 30px;
          width: 30px;
          border-radius: 30px;
          &:hover {
            svg path {
              fill: #0b9ed0;
            }
          }
          svg {
            transform: rotate(180deg);
            margin-right: 15px;
          }
        }
        .companyLeftDetail {
          display: flex;
          flex-direction: column;
          align-items: center;
          .companyLogo {
            height: 50px;
            width: 50px;
            img {
              height: 50px;
              width: 50px;
            }
          }

          .companyLogoSvg {
            svg {
              border-radius: 6px;
            }
          }

          .profileIncrese {
            // background-color: #ffffff;
            border-radius: 6px;
            margin-top: 10px;
            text-align: center;
            padding: 4px;
            .increse {
              font-family: "Quicksand";
              font-size: 18px;
              font-weight: 500;
              color: #009d8c;
            }
            .match {
              font-size: 12px;
              color: #a1a1a1;
            }
            p {
              margin-bottom: 0;
            }
          }
        }

        .companyRightdetails {
          margin-left: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .headTitle {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .ui.header {
              margin-bottom: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          .subTitle {
            .comName {
              font-size: 15px;
            }
            p {
              margin-bottom: 5px;
              color: #a1a1a1;
              span {
                color: #575757;
              }
            }
          }
        }
      }
    }
  }
}

.statusSubmit {
  .CandidateApplyHeader {
    .candidateApplyStatus {
      justify-content: flex-end !important;
    }
  }
}

// @media only screen and (max-width: 1024px) {
//   .AppliedJobsDashbord{
//     .jobDefault_card{
//       padding-left: 10px;
//       padding-right: 10px;
//       .MyJobCards_leftSide{
//         .back_arrow{
//           display: none !important;
//         }
//       }

//       .MyJobCards_rightSide{
//         .applyBtn_dashbord button{
//           font-size: 12px;
//         }
//       }

//     }
//   }
// }

// .CandidatesDetailsHeader{
//   .jobDefault_card{
//     .CandidatesDetailsHeader_leftSide{
//       .companyLeftDetail{
//         .profileIncrese{
//           background-color: #ffffff;
//           border-radius: 6px;
//         }
//       }
//     }
//   }
// }

@media only screen and (max-width: 1024px) {
  .CandidatesDetailpageMobile {
    .CandidatesDetailsHeader {
      .CandidatesDetail_headerBody {
        .jobDefault_card {
          .CandidatesDetailsHeader_leftSide.column {
            width: 73.75% !important;
          }
          .CandidatesDetailsHeader_rightSide.column {
            width: 26.25% !important;
          }
          .companyLeftDetail {
            .companyLogo {
              // img{
              //   width: 40px !important;
              // }
            }
          }
        }
      }
    }
  }

  .MyJobsDetailsMobile {
    .MyJobsDetailsMobile_body {
      .CandidatesDetailsHeader {
        margin-top: 75px;
        .CandidatesDetail_headerBody {
          .companyRightdetails {
            .ui.header {
              font-size: 16px;
            }
          }
        }
      }
      .mobile_MyJobsCardListStatus {
        // background-color: #ffffff;
        // padding: 15px;

        .mobile_statusMenu {
          background-color: #ffffff;
          border-radius: 6px;
        }
        // .status_menuBtn{
        //   margin-left: 10px;
        //   margin-right: 10px;
        // }
      }
    }
  }
  .CandidatesDetailsHeader {
    .CandidatesDetail_headerBody {
      .jobDefault_card {
        .CandidatesDetailsHeader_leftSide {
          .companyRightdetails {
            .headTitle {
              .ui.header {
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }
}
