.MultipleChekPopup{
  background-color: #eeeef2;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  position: fixed;
  bottom: 0;
  width: 73.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  .BulkOptionMenu.ui.dropdown{
    width: 160px;
    background-color: #f7f7fb;
  }

  .BulkOptionMenu.ui.dropdown > .text {
    color: #575757;
    font-size: 14px !important;
    font-family: "Open Sans" !important;
    font-weight: 500;
  }
  .BulkOptionMenu.active{
    .icon{
      transform: rotate(-180deg);
    }
    
  }

  .BulkOptionMenu{
    .ui.button{
      background-color: transparent;
    }
    .visible.menu{
      border: none;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      .ui.button{
        padding: 0;
      }
      .item{
        padding: 15px 25px !important;
    
      }
    }
  }

   .multiCheckBtn{
    border-radius: 6px !important;
    // margin-left: 10px !important;
    // background-color: #ffffff;
    // border: 1px solid #efefef;
    // &:hover{
    //   background-color: #ffffff;
    // }
   }


  .deselect_allBtn{
    background-color: inherit;
    color: #a1a1a1;
    &:hover{
      background-color: inherit;
      color: #0b9ed0;
    }
    &:active{
      background-color: inherit;
      color: #0b9ed0;
    }
    &:focus{
      background-color: inherit;
      color: #0b9ed0;
    }
  }
}