.ScreeningPageSection_container{
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  margin-left: 30px;
  margin-right: 30px;
  padding: 30px;
  .ScreeningSection_header{
    display: flex;
    align-items: center;
    .overAll_matchCoutBox{
      height: 61px;
      width: 76px;
      background-color: #1f2532;
      border-radius: 6px;
      p{
        text-align: center;
      }
      .title{
        font-family: 'Quicksand';
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 2px;
      }
      .subTitle{
        font-family: 'Open Sans';
        font-size: 16px;
        color: #ffffff;
        margin-top: 2px;
        padding-top: 2px;
      }
      .divider{
        height: 1px;
        background-color: #6e768a;
        
        margin-left: 18px;
        margin-right: 18px;
      }
    }
    .leftTitle{
      p{
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 600;
        color: #323232;
        margin-left: 10px;
      }
    }
  }
  .ScreeningSection_body{
    margin-top: 20px;
    .matchHeaderTitle{
      display: flex;
      justify-content: space-between;
      p{
        font-size: 14px;
        font-weight: 600;
        color: #797979;
      }
    }

    .match_listContainer{
      display: flex;
      // justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      // flex-direction: column;
      margin-bottom: 10px;
      .list_counter{
        p{
          font-family: 'Quicksand';
          font-size: 16px;
          font-weight: 500;
          color: #575757;
        }
      }
      .match_listBox{
        background-color: #ffffff;
        border: 1px solid #efefef;
        border-radius: 5px;
        height: 42px;
        width: 100%;
        margin-left: 10px;
        // margin-bottom: 10px;
        .match_listBoxInner{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .listBoxInner_title{
            font-size: 14px;
            margin-bottom: 0;
            padding-left: 10px;
            margin-top: -3px;
            // color: #575757;
          }
          .match_parcent{
            background-color: #f7f7fb ;
            height: 42px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            .count_match{
              font-family: 'Quicksand';
              font-size: 16px;
              font-weight: 500;
            }
            .thumb{
              margin-left: 10px;
            }

            .reject_thumb{
              svg{
                transform: rotate(-180deg);
              }
            }
          }
        }
      }
    }
  }
  
}

.ScreeningPageSection{
  .ScreeningSection_footer{
    padding: 30px 30px 15px;
    .footerQuestion_title{
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      .titleLeft{
        width: 43px;
      }
      .titleRight{
        color: #797979;
      }
      .rightBox{
        height: 40px;
        width: 298px;
        background-color: #f7f7fb;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding-left: 15px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .CandidatesDetailpageMobile{
    .ScreeningPageSection_container{
      border-radius: 0;
      box-shadow: none;
      margin-left: 0;
      margin-right: 0;
    }
    .ScreeningSection_footer{
      padding-top: 0;
    }
  }
  
}