.PostJobPageEditContainer{
  .card_panel{
    .panel_cardBody{
      padding: 20px 20px 20px 20px;
      background-color: #ffffff;
      border-radius: 6px;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
      margin-top: -25px;
      .remoteLocation_pastJob{
        display: flex;
        align-items: center;
      }
    }
  }

  .PrimaryCard{
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  }
  .EditScreeningQuestions{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
    .ScreeningQuestions_body{
      margin-top: 10px;
      .ScreeningQuestionCard{
        box-shadow: none;
        border-radius: 0px;
        padding: 0px;
      }
    }
  }
  .EditInterviewPreference{
    margin-top: 20px;
    .InfoSection{
      background-color: transparent !important;
      .EditInterviewHeader{
        .header_title{
          margin-bottom: 5px;
        }
        .sub_headerTitle{
          font-family: 'Open Sans';
          font-size: 14px;
          color: #797979;
        }
      }
      .preference_container{
        padding-top: 10px;
        
      }
    }
  }
  .ModalFooterBtn{
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 1024px){
  .PostJobPageEditContainer{
    .card_panel {
      .panel_cardBody{
        // padding-left: 12px !important;
        // padding-right: 12px !important;
        padding: 12px !important;
      }
    }
  }
}