
.InterViewPageSection{
  padding: 5px 30px 30px;
  .AccordionCardContainer{
    margin-bottom: 10px;
    .SearchCardAccordion{
      .accordion.ui{
        .title{
          padding: 15px 30px 15px !important;
          border-radius: 6px 6px 6px 6px;
          border: 1px solid #eeeef2;
        }
        .active.title{
          border: none !important;
          background-color: #f7f7fb;
          border-radius: 6px 6px 0 0 !important;

          .HeaderTitle_right{
            .DownArrow{
              svg{
                transform: rotate(-180deg);
              }
            }
          }
        }
        .content.active{
          background-color: #f7f7fb;
          border-radius:0 0 6px 6px;
        }
      }
    }
  }
    
    .PageSectionHeaderTitle{
      display: flex;
      justify-content: space-between;
      
      .HeaderTitle_left{
        display: flex;
        align-items: center;
        p{
          margin-bottom: 0;
        }
        .headerTitle{
          font-family: 'Quicksand';
          font-size: 20px;
          font-weight: 500;
          color: #575757;
          span{
            color: #a1a1a1;
          }
          svg{
            margin-right: 5px;
          }
        }
        .headerSubTitle{
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 600;
          color: #a1a1a1;
          margin-left: 10px;
        }
      }
      
      
    
    }

    .HeaderTitle_right{
      .interviewFinish{
        background-color: transparent;
        padding: 5px;
        margin-right: 10px;
      }
      .DownArrow{
        background-color: transparent;
        padding: 5px;
      }
    }
    
    .Dedail_innerSection{
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      
    }    

    .InterViewPageSectionDedail_container{
      // padding: 5px 30px 20px;
      .DedailInner{
        display: flex;
        margin-bottom: 10px;
        .DedailInner_title{
          font-family: 'Open Sans';
          font-size: 14px;
          font-weight: 600;
          color: #a1a1a1;
          min-width: 50px;
        }
        .DedailInner_subTitle{
          margin-left: 20px;
          p{
            font-family: 'Open Sans';
            font-size: 14px;
            font-weight: 600;
            color: #323232;
            span{
              color: #575757;
            }
          }
        }
      } 
    }
  
    .PageSectionDedail_footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #eeeef2;
      padding: 15px 30px;
      
      .footer_title{
        margin-bottom: 0;
        font-family: 'Open Sans';
        color: #a1a1a1;
        span{
          color: #797979;
        }
      }
  
      .interviewBtn{
        .ui.button{
          color: #0b9ed0;
          background-color: transparent;
          padding: 0;
          svg{
            transform: rotate(-90deg);
            margin-left: 5px;
          }
        }
      }
    }
  }


  @media only screen and (max-width: 1024px){
    .InterViewPageSection{
      .PageSectionHeaderTitle{
        .HeaderTitle_left{
          .headerSubTitle{
            display: none !important;
          }
        }
      }
      .SearchCardAccordion{
        .PageSectionHeaderTitle{
          .HeaderTitle_left{
            .headerTitle{
              font-size: 16px !important;
            }
          }
        }
        .InterViewPageSectionDedail{
          .Dedail_innerSection{
            flex-direction: column;
            .Interview_suggestedBox{
              padding-bottom: 10px;
            }
          }
        }
        .PageSectionDedail_footer{
          flex-direction: column;
          .interviewBtn{
            margin-top: 10px;
          }
        }
      }
    }
  }