
.Useraccessmodal__left{
  .SearchSignIn{
    .facebook_icon{
      padding-top: 1px;
    }
    .preview_Input{
      position: relative;
      .preview_Icon{
        position: absolute;
        right: 13px;
        margin-top: -45px;
        .button{
          padding: 0;
          background-color: transparent;
        }
      }
    }
  }
}
