.InterviewTypeOpenCard{
  background-color: #f7f7fb;
  border-radius: 6px;
  padding: 2px 20px 8px;
  margin-top: 12px;
  
  .phoneNumber_interviewType{
    .county_code{
      padding-right: 0 !important;
      // .ui.input input{
      //   border-top-right-radius: 0 !important;
      //   border-bottom-right-radius: 0 !important;
      // }
      
    }
  
    .phone_number{
      // padding-left: 0 !important;
      .ui.input input{
        // border-top-left-radius: 0 !important;
        // border-bottom-left-radius: 0 !important;
      }
      
    }
  }
  

  // .phoneNumber_interviewType{
  //   .ui.input input{
  //     border
  //   }
  // }
}

.InterviewTelephonic{
  padding-top: 14px;
  .InterviewTelephonic_container{
    display: flex;
    align-items: center;
    .telephone_label{
      // width: 25%;
      width: 160px;
      text-align: right;
      padding-right: 20px;
      p{
        color: #323232;
        font-weight: 600;
        font-size: 16px;
      }
    }
    .telephone_inputField{
      display: flex;
      width: 100%;
      .country_feild{
        width:  100px;
        input{
          border-radius: 6px 0 0 6px;
        }
      }
      .country_number{
        width: 100%;
        // input{
        //   border-radius: 0 6px 6px 0;
        // }
      }
    }
  }
  .guest_phoneNumer{
    padding-top: 15px;
  }
  
}