.SalaryDropdown{
  width: 60px;
  span {
    color: #a1a1a1;
    font-size: 14px;
  }

  .text {
    color: #a1a1a1 !important;
    font-size: 14px;
    font-family: 'Open Sans';
    margin-left: 10px;
    font-weight: 500 !important;
  }

  i {
    font-size: 12px !important;
    color: #a1a1a1 !important;
    margin-left: 5px !important;
  }
}

span.SalaryDropdown {
  color: #a1a1a1;
  font-size: 14px;
  margin-left: 10px;
}