.BannerHeader {
  // padding-top: 50px;
  min-height: 300px;
  display: flex;
  align-items: center;
  .ui.header {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 28px;
  }

  .fileuploadFlatBtn {
    padding: 15px !important;
  }
  .mobileGrid_bannerHeader {
    .bannerBtn_section {
      display: flex;
      justify-content: flex-end;
    }
  }

  .InputFieldLabel {
    .ui.header {
      font-size: 12px !important;
      color: #c8c8c8 !important;
      margin-top: 8px;
      margin-right: 28px;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .BannerHeader {
    .ui.header {
      font-size: 16px;
      text-align: center;
    }
    .fileuploadFlatBtn {
      padding: 8px !important;
    }
    .FileuploadBtn {
      text-align: center;
      margin-top: 10px;
      .fileUplaod_text {
        font-size: 13px !important;
      }
    }
  }
}
