.MediaHeader{
  padding-top: 10px;
  height: 100%;
  .Main_Tabs{
    margin-top: 30px;
    height: 100%;
    
  }
  .MobileHeader{
    background-color: #ffff !important;
    border-bottom: 1px solid #eeeef2;
    .MobileHeader_Left{
      button{
        padding: 0;
        background-color: transparent;
      }
      h3{
        color: #323232 !important;
        display: inline-block;
        margin-top: 0;
        padding-left: 10px;
      }
      svg{
        transform: rotate(180deg);
      }
    }
  }
}