.CandidateApplyedJobsCards {
  .MediaCard {
    padding-left: 90px !important;
  }
  .CardSummary {
    .CardProfileHeaderDetail {
      p {
        color: #575757;
        margin-bottom: 3px;
        font-family: "Open Sans";
      }
      .CardSummaryItem {
        font-size: 16px;
        color: #323232 !important;
      }
      .LocationExp {
        display: flex;
        .exp {
          margin-left: 10px;
          span {
            color: #323232;
          }
        }
      }
      .skills {
        p {
          display: flex;
          color: #a1a1a1;
        }
      }
      .applied {
        p {
          color: #a1a1a1;
          span {
            color: #575757;
          }
        }
      }
    }
  }
  .desktopViewBtn_cardDetail {
    .SearchCardHeader {
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .CandidateApplyedJobsCards {
    .MediaCard {
      .MediaCardAvatar {
        // margin-left: 100px;
        .SvgLogo {
          svg {
            border-radius: 6px;
          }
        }
      }
    }
    .CardSummary {
      .CardProfileHeaderDetail {
        p {
          font-size: 14px !important;
        }
      }
      .CardSummaryItem {
        font-size: 15px !important;
      }
    }
  }
}
