.MyJobCards {
  // box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  // background-color: #ffffff;
  // border-radius: 6px;
  padding: 20px 10px 10px;
  // max-width: 1024px;
  // margin: 0 auto;
  margin-bottom: 20px;
}

.MyJob_cardContainer {
  .moreJob_btn {
    text-align: center;
    margin-bottom: 50px;
    .ui.button {
      background-color: #ffffff;
      border: 1px solid #151b33;
      border-radius: 2px;
      box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.1);
      font-family: "Overpass";
      font-size: 14px;
      color: #151b33;
      padding-bottom: 6px;
      text-transform: uppercase;
      &:hover {
        background-color: #ffffff;
        color: #151b33;
      }
      &:active {
        background-color: #ffffff;
        color: #151b33;
      }
      &:focus {
        background-color: #ffffff;
        color: #151b33;
      }

      svg {
        transform: rotate(-90deg);
        padding-bottom: 9px;
        margin-left: 10px;
      }
    }
  }
  .myJobCards_footer {
    background-color: #f7f7fb;
    padding: 10px 14px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Main_Dropdown {
      svg {
        height: 13.406px;
      }
    }
  }
}

.jobDefault_card {
  .ui.grid > .row > .MyJobCards_leftSide {
    display: flex;
    .companyLogo {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 50px;
      img {
        height: 50px;
        width: 50px;
      }
      svg {
        border-radius: 6px;
      }
    }

    .userImgThumb {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 50px;
      img {
        height: 50px;
        width: 50px;
      }
    }
    .profleIncrease {
      background-color: #f4f4f9;
      border-radius: 6px;
      text-align: center;
      margin-top: 10px;
      padding: 5px;
      p {
        margin-bottom: 0;
      }
      .increaseTitle {
        font-family: "Quicksand";
        font-size: 20px;
        font-weight: 500;
        color: #009d8c;
      }
      .subTitle {
        font-size: 12px;
        color: #a1a1a1;
      }
    }
    .checkPropfile {
      text-align: center;
      margin-top: 10px;
    }
  }
  .ui.grid > .row > .MyJobCards_rightSide {
    display: flex;
    // align-items: center;
    justify-content: flex-end;
    .CardApplyContainer {
      .postTime {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // margin-top: -17px;
        p {
          color: #a1a1a1;
          font-size: 13px;
          span {
            color: #0b9ed0;
          }
        }
      }

      .MyJobCardStatus_posted {
        // display: flex;
        text-align: right;
        // align-items: center;
        // margin-top: -17px;
        p {
          color: #a1a1a1;
          font-size: 13px;
          font-family: "Open Sans";
          span {
            color: #0b9ed0;
          }
        }
      }
      .applicantTitle {
        margin-top: 30px;
        p {
          font-family: "Quicksand";
          font-size: 18px;
          font-weight: 500;
          color: #575757;
          display: flex;
          align-items: center;

          span {
            font-size: 24px;
            font-weight: 500;
            color: #0bd0bb;
            margin-left: 10px;
          }
        }
      }
    }
    .applyBtn {
      margin-top: 20px;
      text-align: right;
      .ActionBtn {
        margin-right: 0;
      }
      .midnightExpress {
        svg {
          margin-left: 10px;
          transform: rotate(-90deg);
        }
      }
    }
  }
  .companydetails {
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .title {
      .ui.header {
        // font-family: 'Overpass';
        font-size: 18px;
        font-weight: 500;
        color: #0b9ed0;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          color: #0b9ed0;
          &:hover {
            color: #0b9ed0;
          }
        }
      }
      p {
        font-family: "Open Sans";
        font-size: 16px;
        color: #575757;
        padding-bottom: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .subTitle {
      .loctionExp {
        display: flex;
        .experience {
          margin-left: 20px;
        }
      }
      p {
        margin-bottom: 0;
        color: #a1a1a1;
        padding-bottom: 3px;
        font-family: "Open Sans";
        span {
          color: #323232;
        }
      }
      .jobTypeRoll {
        display: flex;
        p {
          span {
            color: #0b9ed0;
          }
        }
        .jobRole {
          margin-left: 20px;
        }
      }
      .Recommendation {
        p {
          span {
            color: #0b9ed0;
          }
        }
      }
      .headerTag {
        .ui.button {
          font-size: 13px;
          color: #0b9ed0;
          background-color: #ffffff;
          border: 1px solid #eeeef2;
          border-radius: 14px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
      .skills {
        .item {
          color: #575757;
          &::before {
            color: #c8c8c8;
            font-size: 22px;
            margin-left: -1rem;
          }
        }
        .ui.horizontal.bulleted.list > .item::before {
          color: #c8c8c8;
          // font-size: 22px;
          // margin-left: -1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .jobDefault_card {
    .ui.grid > .row {
      .MyJobCards_leftSide {
        .companydetails {
          padding-left: 14px;
          .title {
            .ui.header {
              font-size: 15px;
              font-weight: 500;
            }
            p {
              font-size: 14px;
            }
          }
          .subTitle {
            .loctionExp {
              display: block;
              .experience {
                margin-left: 0;
              }
            }
            .jobTypeRoll {
              display: none;
            }
          }
        }
      }
      .MyJobCards_rightSide {
        align-items: baseline;
      }
      .MyjobCard_leftDetails {
        .companyLogo {
          // width: 40px;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
