.socialLink_profilpage{
  
  background-color: #f5f5fa;
  padding: 20px 20px 15px;
  border-radius: 6px;
  .ui.grid>.row{
    align-items: center;
  }
  .socialLink_viewColumn{
    display: flex !important;
    align-items: center !important;
    .socialLink_viewContainer{
      display: flex;
      justify-content: center;
      width: 100%;
      
      .socialLink_viewInner{
        text-align: center;
        padding-left: 70px;
        padding-right: 40px;
        p{
          margin-bottom: 3px;
        }
        .count{
          font-family: 'Quicksand';
          font-size: 16px;
          font-weight: 500;
          color: #323232;
        }
        .titleName{
          color: #a1a1a1;
        }
      }
    }
    
  }
  .socialLink_Btn{
    .shareBtn{
      background-color: transparent;
      color: #a1a1a1;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: none !important;
      transition: none !important;
    }

    .moreOptionBtn{
      background-color: transparent;
      padding: 0px;
      color: #c8c8c8;
      .icon{
        margin: 0 !important;
      }
    }
  }
}


@media only screen and (max-width: 1024px){
  .socialLink_profilpage{
    padding: 13px 13px 7px;
    .socialLink_viewColumn {
      .socialLink_viewContainer{
        .socialLink_viewInner{
          padding: 0 !important;
        }
      }
    }
  }
}