
.edit_job{
  .EligibilityDetails{
    padding-top: 25px;
    h2{
      padding-bottom: 20px;
    }
  }

  .createNew_companyGrid{
    display: flex !important;
    align-items: center !important;
    button{
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 1024px){
  .edit_job{
    .form_fields{
      .ModalFooterBtn{
        padding-bottom: 20px;
        padding-right: 15px;
      }
    }
    .createNew_companyGrid{
      margin-top: 10px !important;
    }
  }
}
