.LocationInputField {
  position: relative;

  & input {
    position: relative;
  }
}

.autocomplete-dropdown-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(40px);
  background-color: white;
  box-shadow: 0 0 20px rgba(3,0,73,.09);
  z-index: 100;
}
.suggestion-item, .suggestion-item--active {
  padding: 10px;
  background: white;
  border-bottom: 1px solid #f7f7fb;
}

.suggestion-item--active {
  background: #f7f7fbc4 ; 
}