.ChatThread{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  height: 100%;
  // .chatThread_body{
  //   padding-left: 10px;
  //   padding-right: 10px;
  // }
}
