.SchedulingInterviewsCard{
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  .interviewsCard_Header{
    padding: 16px 24px;
    border-bottom: 1px solid #f0f0f0;
    .schedule_type{
      display: flex;
      .manual{
        margin-left: 50px;
      }
    }
  }
  .interviewsCard_body{
    padding: 20px 24px;
    .interviewsCard_bodyTitle{
      .ui.header{
        margin-bottom: 5px;
        color: #575757;
      }
      p{
        color: #575757;
      }
    }
    .scheduling_calendarBody{
      .SelectInterview_notyTitme{
        display: flex;
        margin-top: 10px;
      }
    }
    .connect_interviewBox{
      display: flex;
      padding-top: 30px;
      .calendar_box{
        height: 130px;
        width: 152px;
        border: 1px solid #efefef;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
          height: 43px;
          width: 41px;
        }
        .FlatDefaultBtn{
          margin-top: 10px;
        }
      }
      .outlookCalendar{
        margin-left: 20px;
      }
    }
    .interviewScheduling_calendar{
      .scheduling_calendarHeader{
        background-color: #fefaea;
        padding: 10px 18px 5px;
        .calendarTitle{
          font-family: 'Quicksand';
          font-size: 18px;
          font-weight: 500;
          color: #575757;
          margin-bottom: 5px;
          span{
            margin-right: 10px;
          }
        }
        .subTitle{
          margin-left: 25px;
          color: #a1a1a1;
        }
      }
      .scheduling_calendarBody{
        margin-top: 25px;
        margin-bottom: 20px;
        
        .InputFieldLabel{
          .ui.header{
            display: block;
            font-size: 14px;
            font-weight: 600;
            color: #575757;
          }
        }
      }
      .scheduling_calendarFooter{
        padding-top: 20px;
        padding-bottom: 10px;
        .calenderDisconnectBtn{
          background-color: transparent;
          color: #0b9ed0;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .SchedulingInterviewsCard{
    .interviewsCard_Header{
      padding-left: 12px !important;
      padding-right: 12px !important;
    }
    // .interviewsCard_body{
    //   @extend .interviewsCard_Header;
    // }
  }
}