.AboutUsPageBodyContainer{
  background-color: #f7f7fb;
  border-radius: 6px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  padding: 40px 50px;
 
  margin-bottom: 100px;
  .BodyContainer_header{
    p{
      font-family: 'Quicksand';
      font-size: 16px;
      color: #575757;
      text-align: left;
      line-height: 26px;
    }
  }
  .BodyContainer_bodySection{
    margin-top: 80px;
    margin-bottom: 20px;
    .BodyContainer_bodySectionContainer{
      display: flex;
      .aboutCard_container{
        width: 33.33%;
        padding: 15px 25px;
        text-align: center;
        .card_logo{
          margin-bottom: 20px;
          svg{
            height: 78px;
            width: 81px;
          }
        }
        .card_title{
          .ui.header{
            font-family: 'Quicksand';
            font-size: 24px;
            font-weight: bold;
            color: #183b7b;
            margin-bottom: 5px;
          }
          p{
            font-family: 'Quicksand';
            font-size: 16px;
            color: #575757;
            line-height: 26px;
          }
        }
      }
    }
  }
}