// .CandidatesDetailsBody{
  
//   .detailsBody_container{
//     background-color: #ffffff;
//     border-radius: 6px;
//     padding: 5px 30px 20px;
    
//     .ui.text.menu::-webkit-scrollbar {
//       display: none;
//     }
//     .ui.text.menu{
//       border-bottom: 1px solid #eeeef2;
//       overflow-x: scroll;
//       overflow-y: hidden;
//       .item {
//         padding: 14px 18px;
//         text-transform: uppercase;
//         font-weight: 600;
//         color: #575757;
//       }
//       .active.item{
//         border-bottom: 2px solid #0b9ed0;
//         color: #0b9ed0;
        
//       }
//     }
//     .detailPageTab{
//       .ui.segment.tab{
//         box-shadow: none;
//         border:none;
//         padding: 0 !important;
//       }
//     }
//   }
// }