.SelectOptionField {
  position: relative;
  display: flex;
  align-items: center;

  .field {
    width: 100%;
    margin-bottom: 0 !important;
    label {
      display: none !important;
    }
  }
  .selection {
    border: 1px solid #efefef !important;
    color: #0b9ed0;
    border-radius: 5px !important;
    .default.text {
      font-family: "Open Sans";
      font-size: 14px;
      // color: #a1a1a1 !important;
    }
  }

  .required.field {
    width: 100%;
    & > label {
      display: none;
    }
  }

  .active.dropdown .menu {
    border-color: transparent;
    background: #ffffff;
    &:hover {
      border-color: transparent;
    }
  }

  .dropdown .text {
    color: #0b9ed0;
  }

  .dropdown .item .text {
    color: #575757;
  }

  .active.dropdown .text {
    color: #0b9ed0;
  }

  .active.dropdown .item .text {
    color: #575757;
  }

  .downArrow__icon {
    position: absolute;
    right: 20px;
    // margin-top: -30px;
    top: 0.58571429em;
    z-index: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .SelectOptionField {
    .visible.menu {
      min-height: 250px;
    }
  }
}
