.ForgetPassword{
  margin-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  .forgetPsssword_headerTitle{
    display: flex;
    .ui.header{
      margin-top: 0;
    }
    .backArrowBtn{
      padding: 0;
      background-color: transparent;
      margin-right: 10px;
      svg{
        transform: rotate(-180deg);
      }
    }
  }
  .preview_Icon{
    margin-top: -36px !important;
  }

  .InputField{
    margin-bottom: 10px !important;
  }

  .ui.message{
    padding: 14px;
    background: rgb(11, 208, 187);
    border-radius: 6px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    box-shadow: none;
    // position: relative;
    p{
      opacity: 1;
      font-weight: 600;
    }
  }

  .forgot_container{
    margin-top: 30px;
    .resent_otpBtn{
      padding: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: transparent;
      color: #0b9ed0;
      text-decoration: underline !important;
      &:hover{
        color: #1F2532;
      }
    }
  }
}

.successfull_change{

}

@media only screen and (max-width: 1024px){
  .ForgetPassword{
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}