
.CreateProfilePage{
  margin-top: 68px;
  .card_panel{
    margin-top: -40px !important;
    .field {
      margin: 0 !important;
    }
  }

  .panel-cardBody{
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-top: 30px;
    
    .active.content{
      padding-bottom: 20px !important;
    }

    &:first-child{
      margin-top: 0px;
    }
  }

  
}
.card_panel{
  .card_panelHeader{
    background-color: #0b9ed0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
   
    .createProfile_personalDetailAutoFill{
      display: flex;
      align-items: center;
      .auto_fillLavel{
        .ui.header{
          font-size: 16px;
          font-weight: bold;
          color: #ceeefe;
          .InfoIconLabel{
            margin-left: 5px;
          }
        }
      }   
      .autoFill_btn{
        margin-left: 14px;
      }
    }
    .panelHeader_text{
      display: flex !important;
      align-items: center;
      h4{
        display: flex;
        align-items: center;
        color: #ceeefe;

        svg{
          margin-left: 10px;
        }
      }
     
    }

    button{
      display: flex;
      align-items: center;
      background-color: #f7f7fb;
      .IconLinkdin{
        transform: rotate(+90deg);
      }
      span{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px !important; 
      }
      
      svg:not(.no-rotate) {
        transform: rotate(-90deg)
      }
      
      &:hover{
        background-color: #ffffff;
      }
    }
  }

  .SelectOptionField{
    .downArrow__icon{
      // margin-top: -43px;
    }
  }

}





.phone_numberField{
  .add_newnumber{
    display: flex !important;
    align-items: center;

    button{
      display: flex !important;
      align-items: center;
      background-color: #edeff1;

      svg{
        margin-right: 7px;
      }
    }
  }
}


.Profile_details{
  .upload_resume{
    padding-bottom: 37px;
    .upload_resumeLabel{
      font-size: 12px;
      // position: absolute;
      padding-top: 10px;
    }
  }
}

.createProfile_actionBtn{
  text-align: right;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  .actionBtnFooter{
    text-align: center;
    p{
      font-size: 13px;
      color: #a1a1a1;
    }
  }
 .bgGhostWhite{
   svg{
     margin-right: 1px;
   }
 }
  // .profileView_Icon{
  //   background-color: transparent !important;
  // }
}



@media only screen and (max-width: 767px) {
  .InfoSection{
    h2.ui{
      font-size: 16px !important;
    }
  } 
  .card_panel{
    .card_panelHeader{
      .autoFill_btn{
        margin-left: 0;
      }
      .panelHeader_text{
        padding-bottom: 10px;
        h3{
          font-size: 16px;
          display: inline;
        }
      }
    }

    .personal_details{
      .FlatDefaultBtn{
        margin-top: 14px;
      }
    }

    // .Profile_details .upload_resume{
    //   padding-bottom: 55px;
    // }

    .education .starting_yearField{
      padding-bottom: 14px;
    }

    .work_experience{
      .month{
        padding-bottom: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .Profile_details{
    .upload_resume{
      
      .upload_resumeLabel{
        font-size: 10px;
        
      }
    }
  }
  .card_panel{
    .card_panelHeader{
      padding-left: 12px !important;
      padding-right: 12px !important;
      .createProfile_personalDetailAutoFill{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .autoFill_btn{
          margin-left: 0;
          margin-top: 5px;
        }
      }
    } 
  }
  
  .CreateProfilePage{
    margin-top: 49px;
    .panel-cardBody{
      padding-left: 12px !important;
      padding-right: 12px !important;
      padding-top: 10px;
      .InfoSection{

      }
      .active.content{
        padding-bottom: 0px !important;
      }
    }
    .CreateProfileBannerHead{
      padding-top: 30px;
      .CreateProfileBannerHead_header{
        font-size: 20px !important;
      }
      
      .Progressbar{
        margin-top: 0px;
        .Progressbar_Label{
          p{
            font-size: 16px;
          }
        }
      }
      .mobileGrid_bannerHeader{
        text-align: center !important;
        .file_specLabel{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.btn-linkedin {
  padding: 10px;
  color: #575757;
  outline: 0;
  border: 0;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  border-radius: 20px;
  margin-left: 10px;


  &:hover {
    cursor: pointer;
  }
  
  i {
    color: #0b9ed0;
  }
}