.Navbar {
  line-height: 63px;
  height: 70px;
  display: flex;
  align-items: center;
  .Navbar_container {
    display: flex;
    width: 100%;
    justify-content: center;
    width: 1127px;
    margin: 0 auto;
    .NavbarInnert {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      // justify-content: space-around;
    }

    .NavbarInnert_left {
      display: flex;
      width: 50%;
      justify-content: space-between;
      align-items: center;
      line-height: 70px;
      .ui.header {
        margin: 0;
        align-items: center;
        display: flex;

        .leftLogo {
          display: flex;
          svg {
            height: 45px;
          }
        }
        .rightLogo {
          display: flex;
          svg {
            height: 20px;
            margin-left: 10px;
          }
        }

        img {
          width: 182px;
          height: 42px;
        }
      }
      .navBar_form {
        display: flex;
        align-items: center;
        width: 67%;
        // justify-content: ;

        form {
          transition: 0.3s;
          width: 64%;
          &.nav_ShowForm {
            opacity: 1;
          }

          &.nav_HideForm {
            opacity: 0;
          }
        }

        .ui.input {
          width: 100%;
          input {
            border-radius: 30px;
          }
        }
        svg {
          right: 13px;
          top: 27px;
          position: absolute;
        }

        .navPostJobBtn {
          padding-left: 0px !important;
          .ui.button {
            background-color: transparent;
            color: #0b9ed0;
          }
        }
      }
    }

    .NavbarInnert_right {
      display: flex;
      // width: 50%;
      justify-content: flex-end;
      align-items: center;
      a[title]:hover:after {
        // content: attr(title);
        // content: attr(title);
        // border-radius: 6px;

        // font-size: 12px;
        // border: 1px solid;
        // background: yellow;
        // color: red;
      }
      a[title] {
        position: relative;
      }
      .active {
        svg path {
          fill: #0b9ed0;
        }
      }
      .topNavbarList.ui.header {
        margin: 0;
        padding: 10px 34px;
        line-height: 35px;
        &:hover {
          svg path {
            fill: #0b9ed0;
          }
        }
      }
      .navbarAccondian_list {
        &:hover {
          background-color: transparent !important;
        }
      }
      .NavbarDropdown {
        .divider {
          margin: 0 !important;
        }
        .navBarAccordion_menu {
          display: flex;
          justify-content: space-between;
          // padding: 10px 15px;
          &:hover {
            background: rgba(0, 0, 0, 0.05);

            z-index: 13;
            .navBarAccordion_menuLeft {
              color: rgba(0, 0, 0, 0.95);
            }
          }
          .navBarAccordion_menuLeft {
            color: #797979;
            font-family: "Quicksand";
            svg {
              margin-left: 10px;
            }
          }
          .navBarAccordion_menuRight {
            .DownArrowCollaps {
              height: auto;
              width: auto;
              padding-right: 0;
            }
          }

          // .navbar_menuListBody{
          //   padding: 10px 20px;
          // }
        }
        .navbarAccondian_list {
          padding: 0 !important;
          .DownArrowCollaps {
            svg {
              height: 5px;
              width: 9px;
            }
            svg path {
              fill: #a1a1a1;
            }
          }
          .active {
            .navBarAccordion_menuRight {
              .DownArrowCollaps {
                transform: rotate(-180deg);
                // svg{
                //   height: 5px;
                //   width: 9px;
                // }
              }
            }
          }
        }
        .submenu_box {
          .item {
            padding: 10px 0;
            padding-left: 15px;
            padding-right: 15px;
            &:hover {
              color: #575757;
              background: rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
      .NavbarDropdown.active {
        .userNavrRight_icon {
          .icon {
            transform: rotate(-180deg);
          }
        }
        svg path {
          fill: #a1a1a1;
        }
      }
      .ui.button.nav-buttonModal {
        // border-color: #6e768a !important;
        border: 1px solid #6e768a;
        color: #6e768a;
        box-shadow: none !important;
        &:hover {
          background-color: transparent;
        }
      }
      .ui.dropdown {
        display: flex;
        &.active {
          .textSlateGray {
            visibility: hidden;
          }
        }
      }
    }
  }

  form {
    svg {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .userDropdownNavbar {
    display: flex;
    align-items: center;
    .UserLogo_navBar {
      display: flex;
      align-items: center;
      img {
        height: 41px;
        width: 41px;
      }
    }
    svg {
      border-radius: 500rem;
    }
    .userDropdownNavbar_right {
      line-height: 20px;
      margin-left: 10px;
      .userTitle {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 300;
        color: #6e768a;
        line-height: 12px;
      }
      .userSubTitle {
        font-family: "Open Sans";
        font-size: 14px;
        color: #0b9ed0;
        user-select: none;
      }
    }
    .userNavrRight_icon {
      margin-left: 7px;
      .icon {
        color: #6e768a;
        line-height: 15px;
      }
    }
  }

  .ui.dropdown .menu {
    height: auto;
    max-height: 500px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    margin-top: 3px !important;
    width: 230px !important;
    .dividerNav {
      pointer-events: none !important;
      opacity: 0.5 !important;
    }
  }
}

.Notications {
  position: relative;
  .Notications_btn {
    background-color: transparent;
    padding: 0 !important;
    background: transparent;
    box-shadow: none !important;
    transition: none;

    &:hover {
      background-color: transparent;
      box-shadow: none !important;
    }

    &:active {
      background-color: transparent;
      box-shadow: none !important;
    }
    &:focus {
      background-color: transparent;
    }
  }
  // .Notications_btn:active{
  //   background-color: transparent;
  // }
  .NotifyDot {
    position: absolute;
    right: 0px;
    top: -8px;
  }
}

.dividerNavbar {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #eeeef2;
}

.mainPage_container {
  .left_container {
    width: 43px;
  }

  // .left_containerChange{
  //   width: 320px;
  // }

  .left_containerFullWidth {
    width: 100%;
  }

  .right_container {
    // margin-left: 50px;
  }

  .right_containerChange {
    margin-left: 320px;
    width: 100% !important;
  }

  .right_containerFullWidth {
    display: none;
  }

  .right_container {
    // .ui.container{
    //   width: 80%;
    // }

    .HomePage {
      .HomePageContainer {
        // .ui.container{
        //   width: 90%;
        // }
      }
    }

    // search Page
    // .search-filter-page{
    //   .ui.container{
    //     width: 90%;
    //   }
    // }

    //profile page
    // .public-profile{
    //   .ui.container{
    //     width: 90%;
    //   }
    // }

    //Job page
    // .publicJobViews{
    //   .ui.container{
    //     width: 90%;
    //   }
    // }

    // PostJobPage
    // .PostJobPage{
    //   .ui.container{
    //     width: 90%;
    //   }
    // }

    // CreateProfilePage
    // .CreateProfilePage{
    //   .ui.container{
    //     width: 90%;
    //   }
    // }

    // // ManageCompnies
    // .ManageCompnies{
    //   .ui.container{
    //     width: 90%;
    //   }
    // }

    // // ManageTemplate
    // .ManageTemplate{
    //   .ui.container{
    //     width: 90%;
    //   }
    // }

    //mainMessaging
    // .mainMessaging{
    //   width: 77%;
    // }

    // .ui.container{
    //   width: 100%;
    // }
  }

  // .left_containerChange{
  //   width: 50px !important;
  // }

  .right_containerChange {
    // margin-left: 320px;
    .HomePageContainer {
      // .ui.container{
      //   width: 90%;
      // }
    }

    // CreateProfilePage
    // .CreateProfilePage{
    //   .ui.container{
    //     width: 80%;
    //   }
    // }
  }

  // .mainMessaging{
  //   width: 90%;
  // }

  // .MyJobsDetails{
  //   .ui.container{
  //     width: 90%;
  //   }
  // }

  // .CandidatesApplyedDetailpage{
  //   .ui.container{
  //     width: 90%;
  //   }
  // }

  // .CondidateDetailPageContainer{
  //   .ui.container{
  //     width: 90%;
  //   }
  // }
}

// RecruiterDashboard
.RecruiterDashboard {
  .ui.grid {
    margin-left: 0;
    margin-right: 0;
  }
  .grid > .two.column {
    padding: 10px 0 !important;
    width: 9.5% !important;
  }

  .grid > .twelve.column {
    width: 80% !important;
  }
}

@media only screen and (min-width: 1025px) {
  .mainPage_container {
    display: flex;
    // .left_containerWidth{
    //   width: 50px;
    // }
    .left_container {
      // width: 320px;
      display: inline-block;
      background-color: black;
      // .ChatBoatComponent{
      //   background-color: black;
      // }
    }

    // right_container
    .right_container {
      flex: 1;
      display: inline-block;

      // NavBar
      .Navbar {
        .Navbar_container {
          width: 1127px;
          margin: 0 auto;
          // margin-right: 130px !important;
          .NavbarInnert_left {
            width: 60%;
          }
          .NavbarInnert_right {
            width: 40%;
          }
        }
      }

      // HomePage
      .HomePage {
        .HomePageContainer {
          .ui.container {
          }
        }
      }

      // search Page
      .search-filter-page {
        .ui.container {
          // width: 90%;
        }
      }

      // public-profile
      .public-profile {
        .ui.container {
          // width: 90%;
        }
      }

      //Job page
      .publicJobViews {
        .ui.container {
          // width: 90%;
        }
      }

      // PostJobPage
      .PostJobPage {
        .ui.container {
          // width: 1005px !important;
        }
      }

      // CreateProfilePage
      .CreateProfilePage {
        .ui.container {
          // width: 90%;
        }
      }

      // ManageCompnies
      .ManageCompnies {
        .ui.container {
          // width: 90%;
        }
      }

      // ManageTemplate
      .ManageTemplate {
        .ui.container {
          // width: 90%;
        }
      }

      // mainMessaging
      .mainMessaging {
        .mainMessaging_innerContainer {
          width: 1310px;
          // margin: 0 auto;
          margin-left: auto !important;
          margin-right: auto !important;
        }
      }
    }

    // right_containerChange
    .right_containerChange {
      // NavBar
      .Navbar {
        width: calc(100% - 320px);
        .Navbar_container {
          width: 999px;
          margin: 0 auto;
          // margin-right: 130px !important;
          .NavbarInnert_left {
            width: 55%;
          }
          .NavbarInnert_right {
            width: 45%;
          }
        }
      }

      .ui.container {
        margin: 0 auto;
        // margin-left: 14px !important;
        // margin-right: 14px !important;
      }

      .ScreenMainContainer {
        .ui.container {
          width: 1005px !important;
        }
      }
      // HomePage
      .HomePage {
        .HomePageContainer {
          .ui.container {
            width: 1005px !important;
            margin: 0 auto !important;
            // margin-left: 14px !important;
            // margin-right: 14px !important;
          }
        }
      }

      // search Page
      .search-filter-page {
        .ui.container {
          width: 1005px !important;
        }
      }

      // public-profile
      .public-profile {
        .ui.container {
          width: 1005px !important;
        }
      }

      // //mainMessaging
      // .mainMessaging{
      //   max-width: 1330px !important;
      //   .ui.grid{
      //     width: 1005px !important;
      //   }
      // }

      // mainMessaging
      .mainMessaging {
        // width: 1330px;
        width: calc(100% - 320px);
        // margin: 0 auto;
        margin-left: auto !important;
        margin-right: auto !important;
      }

      //Job page
      .publicJobViews {
        .ui.container {
          width: 1005px !important;
        }
      }

      // PostJobPage
      .PostJobPage {
        .ui.container {
          width: 1005px !important;
        }
      }

      // ReviewScreeningQuestions
      .ReviewScreeningQuestions {
        .ui.container {
          width: 1005px !important;
        }
      }

      // InterviewPreference
      .InterviewPreference {
        .ui.container {
          width: 1005px !important;
        }
      }

      // CreateProfilePage
      .CreateProfilePage {
        .ui.container {
          width: 1005px !important;
        }
      }

      // ManageCompnies
      .ManageCompnies {
        .ui.container {
          width: 1005px !important;
        }
      }

      // ManageTemplate
      .ManageTemplate {
        .ui.container {
          width: 1005px !important;
        }
      }

      // NotificationView
      .NotificationView {
        .ui.container {
          width: 1005px !important;
        }
      }
      //  RecruiterDashboard
      .RecruiterDashboard {
        .grid > .twelve.column {
          margin-left: 12.5%;
        }
        .ui.container {
          width: 1005px !important;
        }
      }

      .MyJobsDetails {
        .ui.container {
          width: 1005px !important;
        }
      }

      .CondidateDetailPageContainer {
        .ui.container {
          width: 1005px !important;
        }
      }
    }
  }
}
