.ScheduleInterview_body {
  background-color: #ffffff;
  overflow: hidden;
  overflow-y: auto;
  height: calc(100% - 120px);
  position: relative;
  padding: 15px;
  .header_title {
    .ui.header {
      font-size: 16px;
      font-weight: 500;
      color: #323232;
    }
  }

  // .field_labelTitle{
  //   .InputFieldLabel{
  //     h3{
  //       display: block !important;
  //     }
  //   }
  // }

  .InputFieldLabel h3 {
    display: flex !important;
    justify-content: flex-start;
  }
  .field_labelTitle {
    padding-top: 5px;
    .ui.header {
      font-family: "Open Sans";
      font-size: 14px;
      color: #323232;
      font-weight: 600;
    }
    
    .InputField{
      // margin-top: 10px;
    }

    // .VideoCall{
    //   .checkboxField {
    //     .field{
    //       margin-right: 10px !important;
    //     }
    //   }
    // }

    .checkboxField {
      padding-top: 10px;
      display: flex;
      
      .checkbox {
        // padding-bottom: 10px;
        label {
          color: #a1a1a1;
        }
      }

      .checked {
        label {
          color: #575757;
        }
      }
    }
    // .InputField{
    //   padding-top: 10px;
    // }
  }

  .notifyInterview_box {
    margin-top: 20px;
    background-color: #f7f7fb;
    border-radius: 6px;
    padding: 10px 20px 6px;
    .notifyInterView_field {
      .InputField {
        padding-bottom: 10px;
      }
      textarea{
        margin-bottom: 10px;
      }
      // .QuillText.is-Messagebox{
      //   margin-bottom: 10px;
      // }
    }
  }

  .notifyInterView_field {
    .SearchTagField {
      padding-bottom: 10px;
    }
  }
  .notifyOther_interview {
    .field_labelTitle {
      display: flex;
      align-items: center;
    }
    .field {
      display: inline-block !important;
    }
    .InputFieldLabel {
      margin-left: 10px;
      display: inline-block !important;
    }

    .SearchTagField {
      input {
        width: 100%;
      }
    }
  }

  .interview_scheduleFooterBtn {
    margin-top: 25px;
  }

  .suggested_timeBody {
    padding-top: 20px;
    .SingleDatePickerInput__withBorder {
      border: none !important;
    }
    .DateInput_input {
      background-color: #f7f7fb !important;
      border: 1px solid #efefef !important;
      border-radius: 6px !important;
    }
  }

  .interview_type {
    .VideoCall{
      .checkboxField{
        .field{
          margin-bottom: 0 !important;
          margin-right: 20px !important;
          padding-bottom: 10px;
        }
      }
      .InputField{
        padding-bottom: 10px;
      }
    }
    .InPerson{
      padding-bottom: 15px;
      .field_labelTitle:last-child{
        margin-top: 5px;
      }
    }
    padding-top: 20px;
    .header_title {
      padding-bottom: 10px;
    }
    .checkbox_lableField {
      .field {
        display: inline-block;
        margin-right: 13px !important;

        .checkbox {
          label {
            color: #a1a1a1;
          }
        }
      }
      .ui.radio.checkbox label:after {
        top: 3.4px;
        left: 3px;
        width: 9px;
        height: 9px;
      }
    }
  }
}

/* width */
.ScheduleInterview_body::-webkit-scrollbar {
  width: 4px;
  height: 100px !important;
  border-radius: 0 !important;
}

/* Track */
.ScheduleInterview_body::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.ScheduleInterview_body::-webkit-scrollbar-thumb {
  background: #a1a1a1 !important;
  border-radius: 0 !important;
  height: 50px !important;
}

@media only screen and (max-width: 1024px) {
  .ScheduleInterview_body {
    .interview_type {
      .checkbox_lableField .field {
        display: block !important;
        margin-bottom: 10px !important;
      }
    }
  }
}


.scheduling_calendarBody {
  .notifyInterview_box {
    margin-top: 20px;
    background-color: #f7f7fb;
    border-radius: 6px;
    padding: 10px 20px 6px;
    .notifyInterView_field {
      .InputField {
        padding-bottom: 10px;
      }
    }
  }

  .notifyInterView_field {
    .SearchTagField {
      padding-bottom: 10px;
    }
  }
  
  .notifyOther_interview {
    .field_labelTitle {
      display: flex;
      align-items: center;
    }
    .field {
      display: inline-block !important;
    }
    .InputFieldLabel {
      margin-left: 10px;
      display: inline-block !important;
    }
  }

  .interview_scheduleFooterBtn {
    margin-top: 25px;
  }

  .suggested_timeBody {
    padding-top: 20px;
    .SingleDatePickerInput__withBorder {
      border: none !important;
    }
    .DateInput_input {
      background-color: #f7f7fb !important;
      border: 1px solid #efefef !important;
      border-radius: 6px !important;
    }
  }

  .interview_type {
    padding-top: 20px;
    .header_title {
      padding-bottom: 10px;
    }
    .checkbox_lableField {
      .field {
        display: inline-block;
        margin-right: 13px !important;

        .checkbox {
          label {
            color: #a1a1a1;
          }
        }
      }
      .ui.radio.checkbox label:after {
        top: 3.4px;
        left: 3px;
        width: 9px;
        height: 9px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .scheduling_calendarBody {
    .interview_type {
      .checkbox_lableField {
        .field{
          margin-bottom: 10px !important;
        }
      }

    }
    .InputFieldLabel{
      // margin-top: 10px;
    }
    .ui.grid{
      .row{
        .column{
          width: 100% !important; 
        }
      }
    }
    
  }


}