.CandidateExperience{
  .company_logo{
    svg{
      border-radius: 50%;
    }
  }
  margin-top: 14px;
  display: flex ;
  .experienceDetail{
    margin-left: 10px;
    .ui.header{
      font-size: 16px;
      color: #323232;
      font-family: 'Open Sans';
      margin-bottom: 2px;
    }
    .companyTitle{
      color: #575757;
      margin-bottom: 2px;
    }
    .dateTime{
      color: #797979;
      margin-bottom: 2px;
    }
    .location{
      color: #a1a1a1;
    }
  }
}