

@media only screen and (max-width: 1024px){
  .addLabels_Save{
    
    .SearchTagField{
      .default.text{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}