
.CandidateDhashboard_cardFooter{
  .CardStatusFooter_container{
    .CardStatusFooter_left{
      .CardStatusFooter_Modal{
        .CardFooter_btn{
          color: #0b9ed0;
          background-color: #ffffff;
        }
      }
    }
  }
}


/* Widescreen Monitor */
@media only screen and (max-width: 1024px) {
  .DropDownMenuNotShowingOnMObile {
    display: none !important;
  }
}

// .Main_Card {
//   background-color: #f7f7fb;
//   border-radius: 0px 0px 6px 6px;
//   // padding-left: 30px;
//   padding-right: 30px;
//   padding-top: 15px;
//   .Main_Card_Grid {
//     .Main_Card_Grid_Row {
//       .mainCard_apllicationStatus{
//         padding-right: 5px;
//       }
//       h4 {
//         margin-top: 9px;
//         font-size: 16px !important;
//       }
//       // .Basic_Section {
//       //   // margin-left: -90px;
//       // }
//       .ui.dropdown > .text {
//         color: #0b9ed0;
//         font-size: 16px !important;
//         font-family: "Quicksand" !important;
//         font-weight: 500;
//       }
//       .Basic_Section{
//         .ui.button {
//           border-radius: 5px !important;
//           margin-left: 10px !important;

//           background-color: #ffffff;
//           border: 1px solid #efefef;
//         }
//       }

//       .ui.inline.dropdown > .text {
//         color: #a1a1a1;
//         margin-top: 9px;
//         font-family: "Open Sans" !important;
//         font-size: 14px !important;
//       }
//       .ui.dropdown > .dropdown.icon {
//         color: #cdcdcd;
//       }

//     }
//   }
// }

// @media only screen and (max-width: 767px) {
//   .Main_Card{
//     padding-left: 0px;
//     padding-right: 5px;
//     .CandidateCard_footerDropdown{
//       min-width: 11em !important;
//     }
//     .Main_Card_Grid_Row{
//       .fail_btn{
//         padding-left: 10px;
//         padding-right: 10px;
//         width: 50px !important;
//       }
//     }
//   }

// }
