.MessagingOpenChat{
  .MobileHeader_Left{
    svg{
      transform: rotate(180deg);
    }
    .ui.header{
      margin-left: 7px !important;
    }
  }
  .messaginMobile_chatsideBar{
    // background-color: #1f2532;
    
    .ChatThreadMessageSection{
      .messageProfile{
        img{
          height: 30px;
          width: 70px;
        }
      }
    }
  }
  .ChatThreadMessageSection{
    margin-bottom: 60px !important;
    .UploadeDocMessaging{
      .messagingUploade_time{
        padding-left: 0 !important;
      }
    }

    .UserMessage{
      // .messageTitle{
      //   width: 100%;
      // }
    }
  }
}