.jobProfileCard {
  .jobDuties {
    .jobDuties_Title {
      color: #575757;
    }
  }
  .Benefites {
    .benefites_Title {
      color: #575757;
    }
  }
  .skillsRequirement_profile {
    // margin-top: 400px;
    .mandatory_skill {
      padding-top: 10px;
      p {
        font-size: 15px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 5px;
      }
    }
    .skillBtn button {
      background-color: inherit;
      border: 1px solid #efefef;
      border-radius: 16px;
      color: #323232;
      // cursor: text;
      .span {
      }
    }
    .optional_skill {
      p {
        padding-top: 10px;
        font-size: 15px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 5px;
      }
    }
  }
}

.aboutCompany_body {
  .socialBtn.button:hover {
    background: #eeeef2 !important;
  }
}

.publicJobViews {
  .jobDetailsHeader {
    .headerRightSide {
      text-align: right;
    }
  }
  .jobCard_headerDetail {
    margin-bottom: 20px;
    .postTime {
      text-align: right;
      p {
        font-size: 12px;
        color: #575757;
        span {
          color: #0b9ed0;
        }
      }
    }
  }
  .jobProfileCard {
    .jobCard_headerDetails {
      .profileCardHeader {
        .headerSubTitle {
        }
      }
    }

    .socialLike_container {
      display: none;
    }
  }
}
.external-job-button {
  svg {
    margin: 0 0 -2px 8px;
  }
}
.external-job-button:hover {
  background-color: #0787b3 !important;
}
.socialBtn-desktop {
  transition: 0.4s;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  border: 0 !important;
  box-shadow: none !important;
  padding: 14px 10px 10px !important;
}
.socialBtn-desktop:hover {
  background: #f7f7fb !important;
  color: #0b9ed0 !important;
}
@media only screen and (max-width: 1024px) {
  .publicJobView_cardContainer {
    .profileCardBody {
      .InfoSectionGridHeader {
        .ui.grid {
          .ten.column {
            width: 100% !important;
          }
          .six.column {
            display: none !important;
          }
        }
      }
    }
  }
  .jobProfileCard {
    .profileCardBody {
      .publicjob__body {
        .InfoSectionGridHeader {
          .header-item {
            padding-left: 14px;
          }
        }
      }
    }
  }
  .publicJobViews {
    margin-top: 50px !important;
    .jobDetailsHeader {
      .headerRightSide {
        text-align: center !important;
      }
    }
    .jobProfileCard {
      .jobCard_headerDetail {
        .column {
          padding-right: 0;
          padding-left: 0;
        }
        .profileCardHeader {
          margin-top: 10px;
          .publicJob__HeaderExp {
            padding-right: 0;
          }
        }
        .postTime {
          text-align: center !important;
        }
      }
      .socialLike_container {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block !important;
      }
    }
    .ui.grid {
      .row {
        .publicjob__body {
          width: 100% !important;
        }
      }
    }
    .aboutCompany_body {
      .ui.grid {
        .row {
          .aboutCompanyRight {
            width: 100% !important;
            padding-left: 25px;
          }
        }
      }
      .MobileSocialBtn {
        text-align: center;
      }
      .moblile__actionBtn {
        margin-top: 30px;
      }
      .moblile__actionBtn:hover {
        background-color: #0787b3 !important;
      }
    }
  }
}
