// .Main_Grid{
//   margin-top: 10px;
//   padding-bottom: 30px;
//   .Main_Grid_Show{
//       .Main_Grid_Row{
//           h2{
//               margin-top: 4px;
//           }

//           // .applicant_column{
//           //   padding-right: 5px;
//           // }

//           .selectOption_column{
//             padding-left: 0px;
//           }
//       }

//       .SelectOptionField .dropdown .text{
//           font-size: 20px;
//           color: #0b9ed0;
//       }
//   }
// }

// .aplicantSearch{
//  .ui.input {
//   font-weight: 500;
//   }
//   .ui.transparent.icon.input>i.icon {
//       color:#c8c8c8;
//   }
//   border-radius: 6px;
// }