.MessageingMediaMobile{
  
  // .MobileHeader{
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  //   z-index: 100;
  // }
  .mobileMedia_box{
    .Main_Tabs{
      margin-top: 55px;
      padding-top: 25px;
    }
  }
  .MobileHeader_Left{
    svg{
      transform: rotate(180deg);
    }

    .ui.header{
      margin-left: 7px !important; 
    }
  }
}