.HomePageFeaturesClass {
  padding-bottom: 60px;
  .CategoryTitle {
    padding-top: 60px;
  }
  .HomePageFeaturesHeadingContainer {
    text-align: center;
    .HomePageFeaturesHeading {
      font-size: 40px;
      margin-top: 30px;
      // font-weight: bold;
      color: #1f2532;
      margin-bottom: 8px;
    }
    .HomepageFeaturesSubHeading {
      font-family: "Open Sans";
      font-size: 16px;
      color: #797979;
    }
  }

  .HomePageFeaturesRow {
    margin-top: 80px;
    .HomePageFeaturesRowLeft {
      text-align: right;
      @media only screen and (max-width: 1024px) {
        text-align: center;
      }
      img {
        // height: 230px !important;
        width: 80%;
      }
    }
    .HomePageFeaturesRowRight {
      display: flex !important;
      align-items: center !important;
      .HomePageFeaturesRowRightContent {
        width: 85%;
        padding-left: 70px;
        .featuresHeader {
          display: flex;
          .featuresHeader_left {
            width: 100%;
          }
        }
        @media only screen and (max-width: 1024px) {
          margin-top: 10px;
          width: 100%;
          padding-left: 10px;
        }
        .numberCircle {
          display: inline-block;
          line-height: 0px;
          border-radius: 50%;
          font-size: 32px;
          background-color: #dfeef7;
          margin-right: 6px;
          height: 33px;
          width: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
        }
        .numberCircle span {
          display: inline-block;
          // padding-top: 50%;
          // padding-bottom: 50%;
          // padding-left: 8px;
          // padding-right: 8px;
          font-family: "Open Sans";
          font-size: 18px;
          font-weight: bold;
          color: #323232;
        }
        h2 {
          font-family: "Quicksand";
          font-size: 22px;
          color: #323232;
        }
        p {
          font-family: "Open Sans";
          font-size: 18px;
          color: #797979;
          line-height: 30px;
          letter-spacing: 0.3px;
        }
      }
    }
  }

  .HomePageFeaturesRow2 {
    margin-top: 80px;

    .HomePageFeaturesRowLeft2 {
      @media only screen and (max-width: 1024px) {
        text-align: center;
      }
      img {
        // height: 235px !important;
        width: 80%;
      }
    }
    .HomePageFeaturesRowRight2 {
      display: flex !important;
      align-items: center !important;
      .HomePageFeaturesRowRightContent2 {
        width: 88%;
        padding-left: 70px;
        .featuresHeader {
          display: flex;
          .featuresHeader_left {
            width: 100%;
            text-align: left;
          }
        }
        @media only screen and (max-width: 1024px) {
          width: 100%;
          padding-left: 10px;
          margin-top: 10px;
          .featuresHeader {
            flex-direction: row-reverse;
            .featuresHeader_left {
              text-align: left;
            }
          }
        }
        .numberCircle2 {
          display: inline-block;
          line-height: 0px;
          border-radius: 50%;
          font-size: 32px;
          background-color: #dfeef7;
          margin-right: 6px;
          margin-left: 6px;
          height: 33px;
          width: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
        }
        .numberCircle2 span {
          display: inline-block;

          font-family: "Open Sans";
          font-size: 18px;
          font-weight: bold;
          color: #323232;
        }
        h2 {
          font-family: "Quicksand";
          font-size: 22px;
          // font-weight: bold;
          // text-align: left;
          color: #323232;
        }
        p {
          font-family: "Open Sans";
          font-size: 18px;
          color: #797979;
          line-height: 30px;
          letter-spacing: 0.3px;
        }
      }
    }
  }

  .viewMoreBtn {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    color: #0b9ed0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
  }
  .viewMoreBtn:hover {
    background-color: #1f2532;
    color: #fff;
  }

  @media only screen and (max-width: 1024px) {
    .HomePageFeaturesHeadingContainer {
      margin-bottom: 20px;
      .HomePageFeaturesHeading {
        font-family: "Quicksand";
        font-size: 22px;
        font-weight: bold;
        color: #1f2532;
      }
    }
    .HomePageFeaturesRow {
      margin-top: 5px;
      padding-bottom: 25px !important;
    }

    .HomePageFeaturesRow:first-child {
      margin-top: 30px;
    }
    .HomePageFeaturesRow2 {
      display: inline-block !important;
      margin-top: 0px;
      display: flex !important;
      flex-direction: column-reverse !important;
      padding-bottom: 15px !important;
    }
    .HomePageFeaturesRowRightContent2 {
      h2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-family: "Quicksand";
        font-size: 16px !important;
        // font-weight: bold;
        color: #323232;
        justify-content: flex-end;
      }
      p {
        line-height: 24px !important;
        font-size: 13px !important;
      }
      .numberCircle2 {
        width: 31px;
        height: 31px;
      }
    }
    .HomePageFeaturesRowRightContent {
      h2 {
        display: flex;
        align-items: center;
        font-family: "Quicksand";
        font-size: 16px !important;
        // font-weight: bold;
        color: #323232;
      }
      p {
        line-height: 24px !important;
        font-size: 13px !important;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .HomePageFeaturesClass {
      .HomePageFeaturesRowRight {
        padding-top: 50px;
      }

      .HomePageFeaturesRowRight2 {
        padding-top: 50px;
      }

      // .HomePageFeaturesRow{
      //   margin-top: 30px;
      // }
    }
  }
}

// @media only screen and (min-width: 1024px) {
//   .HomePageFeaturesRowRight {
//     padding-top: 50px;
//   }

//   .HomePageFeaturesRowRight2 {
//     padding-top: 50px;
//   }
// }

@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .HomePageFeaturesClass {
    .HomePageFeaturesRow2 {
      display: inline-block !important;
    }
  }
}
