@media only screen and (max-width: 1024px){
  .Useraccessmodal{
    .ui.grid{
      .column.leftSideUserLogin{
        width: 100% !important;
        .ui.segment{
          background-color: transparent;
          padding-left: 0px;
        }
     }
    }
    
    .RightSideUserLogin{
      display: none !important;
    }
  }
}