.MyJobsDetailsBodyContainer {
  .MyJobsDetailsBody_bodyDetail {
    .AboutCompany {
      background-color: #eeeef2;
      border-radius: 0px 0px 6px 6px;
      padding: 30px 30px 20px;
      .QuillText .ql-editor {
        background-color: #eeeef2;
      }
    }

    .AccordionCardContainer {
      .accordion.ui {
        .title {
          padding: 7px 30px !important;
        }
      }
      .title {
        .HideJob {
          color: #0b9ed0;
          .hideJob_detail {
            display: none;
          }
          .ShowJob_detail {
            display: inline-block;
          }
          .hideBtn {
            background-color: transparent;
          }
        }
      }
      .active.title {
        .HideJob {
          .hideJob_detail {
            display: inline-block;
          }
          .ShowJob_detail {
            display: none;
          }
          .hideBtn {
            transform: rotate(-180deg);
          }
        }
      }
    }

    .MyJobsDetailsBody_bodyDetailContainer {
      padding: 0px 30px 20px;
      .InfoSectionGridHeader {
        margin-top: 15px;
        .header-item {
          color: #323232 !important;
        }
      }
    }
  }
}

.MyJobsDetailsBody_bodyDetailContainer {
  .socialLink_profilpage {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .MyJobsDetailsBody_bodyDetailContainer {
    .socialLink_profilpage {
      display: block !important;
    }
  }
  .MyJobsDetailsBodyContainer {
    .MyJobsDetailsBody_bodyDetail {
      .AboutCompany {
        padding-left: 14px;
        padding-right: 14px;
      }
      .InfoSectionGridHeader {
        .ui.grid {
          .row {
            .column {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
