.AdvanceSearchBodyHeaderTitle{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .HeaderTitle_left{
    display: flex;
    align-items: baseline;
    .headIcon{
      margin-right: 5px;
    }

    .headTitleList{
      .headTitle{
        font-family: 'Quicksand';
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .headSubTitle{
        font-size: 13px;
        color: #a1a1a1;
        font-family: 'Open Sans';
      }
    }
  }
}