.InputTagField{

  // .menu{
  //   display: none !important;
  // }

  .selection.dropdown.ui{
    border: 1px solid #efefef !important;
    border-radius: 5px !important;
    min-height: 4.71428571em; 
  }
  
  .ui.label{
    background-color: #ecedf1 !important;
    border-radius: 16px;
    color: #323232 !important;
    font-weight: 500;
    border: 0;
    box-shadow: none !important;
    cursor: default;
    .delete.icon{
      cursor: pointer;
    }
  }

  .ui.multiple.search.dropdown{
    // z-index: 0; 
    input.search {
      max-width: 100%;
      width: 100%;
    }
  }
   
  

  .skill__btn{
    background-color: transparent;
    color: #575757;
    position: absolute;
    margin-top: -33px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
    &:hover{
      box-shadow: none !important;
    }
    span{
      margin-left: 10px;
    }

    &:hover{
      background-color: transparent;
      color: #0b9ed0;
      display: block !important;
      svg path{
        fill: #0b9ed0;
      }
    }


  }
    
}