// .CandidateApplyHeader{
//    .candidateApplyStatus{
//       display: flex;
//       justify-content: space-between;
//      .submit{
//         color: #a1a1a1;
//         span{
//           color: #0b9ed0;
//         }
//       }

//       .view{
//         color: #a1a1a1;
//         span{
//           color: #575757;
//         }
//       }
//    } 

//    .candidateApplyStatusBtn{
//     margin-top: 10px;
//     text-align: right;
//      p{
//       font-family: 'Quicksand';
//       font-size: 16px;
//       font-weight: 500;
//       color: #575757;
//       margin-bottom: 7px;
//      }
//      .ui.button{
//         background-color: #ffffff;
//         border: 1px solid #efefef;
//         border-radius: 6px;
//         font-family: 'Quicksand';
//         font-size: 16px;
//         font-weight: 500;
//         color: #0b9ed0;
//         margin-right: 40px;
//      }
//    }
// }