.Navigation{
  // width: 262px;
  text-align: left;
  .NavbarMenuLists{
    .NavbarMenuList_header{
      .NavbarMenuList_headerLogo{
        // width: 70px;
      }
    }
  }
  .Navigation_Header{
    background-color: #1f2532;
    height: 160px;
    .Profile_Img{
      // margin-left: 92px;
      padding-top: 14px;
    }
    .Profile_Name{
      font-size: 18px;
      color: #0b9ed0;
      text-align: center;
      margin-bottom: 0;
    }
    
    .Profile_Desc{
      font-size: 14px;
      color: #b1b5bd;
      text-align: center;
    }
  }

  .submenu_box{
    text-align: left;
  }

  .Detail_List{
    margin-left: 10px;
    text-align: left;
    margin-bottom: 0px;
    p{
      color: #575757;
    }
    
    h3{
      font-size: 14px;
      color: #0b9ed0;
      font-family: 'Open Sans';
      text-align: left;
      margin-top: 10px;
    }
  }

  .Signout_Footer{
    background-color: #e8e8e8;
    height: 40px;
    bottom: 0;
    position: fixed;
    width: 280px;
    display: flex;
    align-items: center;
      
    .Sign_Out{
      margin-left: 10px;
      p{
        font-size: 13px;
        color: #575757;
        // margin-top: 14px;
      }
    }
    
  }
}