.aboutus-footer {
  display: flex;
  justify-content: space-around;
  .footer-text {
    font-family: "Open Sans";
    font-size: 11px;
    color: #515867;
    text-align: center;
    line-height: 22px;
  }
  .active {
    font-family: "Open Sans";
    font-size: 11px;
    color: #0b9ed0;
    text-align: center;
    line-height: 22px;
  }
}
.mobileFooterForPrivacyPolicy {
  background-color: #1f2532;
  padding: 15px;
}
