.EmailVerificationBody{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  min-height: 225px;
  .EmailVerification_innerBody{
    max-width: 508px;
    margin: 0 auto;
    text-align: center;
    p{
      font-family: 'Quicksand';
      font-size: 16px;
      font-weight: 500;
      color: #323232;
      margin-bottom: 0;
      // padding-bottom: 10px;
      span{
        color: #0b9ed0;
      }
    }

    .subTitle{
      padding-bottom: 30px;
    }

    
    .emailInputField{
      width: 200px;
      margin: 0 auto;
      input{
        font-size: 18px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
  // .EmailVerification_innerBody:last-child{
  //   padding-bottom: 10px;
  // } 
}