.Main_Tabs{
  // display: flex !important;
  // justify-content: center !important;
  // margin-top: 25px;
  // height: 100%;
  .ui.secondary.menu{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mediaGallery{
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 120px);

    .segment{
      box-shadow: none;
      border: none;
      .UploadeDocMessaging{
        
        .messagingMainDoc{
          margin-bottom: 10px;
          background-color: #f7f7fb !important;
          .messagingDocTime_close{
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }
  }
  
  /* width */
  .mediaGallery::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .mediaGallery::-webkit-scrollbar-track {
    background: transparent; 
  }

  /* Handle */
  .mediaGallery::-webkit-scrollbar-thumb {
    background: #a1a1a1 !important;
    border-radius: 0 !important;
  }

  .active.item{
    svg {
      g{
        fill: #0b9eb0;
      }
    }
  }

  .menu {
    .item:hover{
      svg {
        g{
          fill: #0b9eb0;
        }
      }
    }
  }
}

.Main_Tabs>div:first-child{
  width: 100%;
  height: 100%;
}