.QuillText {

  .ql-formats{
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 5px;
  }

  .ql-formats button:nth-child(n-1){
      border-right:1px solid #efefef;
  }

  .ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button{
      padding: 7px 11px;
      height: 32px;
      width: 40px;
  }

  .ql-container.ql-snow{
    border: 1px solid #efefef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .ql-toolbar.ql-snow{
      background-color: #f7f7fb;
      border-radius: 5px 5px 0px 0px;
      padding:10px;
      border:none;
  }

  .ql-editor.ql-blank::before{
      font-family: 'Open Sans';
      font-size: 14px;
      color: #c8c8c8;
      text-align: left;
      line-height: 22px;
      font-style:normal;
  }

  .ql-editor {
    background-color: white;
    min-height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    // get those tick marks rolling!
    ul > li:before {
      content: '\2022';
      color: #797979;
      font-size: 18px;
      line-height: 18px;
    }

    ol, ul {
      padding-left: 0px;
    }
  }

  .ql-editor * {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #0b9ed0;
  }

  .ql-snow .ql-stroke {
    stroke: #575757;
    
  }

  .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #0b9ed0;
  }

  .ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #0b9ed0;
  }

  &.is-doubleDown {
    .ql-editor {
      max-height: 480px;
      overflow-y: auto;
    }
  }

  &.is-hidden {
    .ql-editor {
      display: none !important;
    }
  }

  &.is-Messagebox {
    &.is-small {
      .ql-editor {
        min-height: 50px !important;
      }
    }
    .quill {
      .ql-toolbar {
        display: none
      }

      .ql-editor {
        min-height: 100px;
      }
    }
  }

  &.is-MessageText {
    .ql-editor {
      background-color: transparent;
    }
  }

  &.is-readonly {
    .quill {
      .ql-toolbar {
        display: none;
      }

      .ql-container.ql-snow{
        border: 0px;
      }

      .ql-editor {
        min-height: auto;
        padding: 5px 0px 15px;

        & * {
          color: #575757;
          line-height: 24px;
        }
      }
    }
  }

  &.is-small {
    .ql-editor {
      min-height: 140px
    }

    &.is-doubleDown {
      .ql-editor {
        max-height: 280px;
        overflow-y: auto;
      }
    }
  }

  &.is-base {
    .ql-editor {
      background-color: #f7f7fb
    }
  }

  &.is-mute {
    .ql-editor {
      & * {
        color: #797979 !important;
      }
    }
  }
}