.recommendedJobs_header{
  // margin-bottom: 20px;
  .rightColumn{
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
  }
  .recommended_jobSearch{
    .ui.input input{
      background-color: #f7f7fb;
      border: none;
    }
    .SearchBtn{
      position: absolute;
      right: 5px;
      top: 11px;
      padding: 0;
      background-color: transparent;
    }
  }
}