.UploadeDocMessaging{
  .messagingMainDoc{
    // display: block;
    background-color: #ffffff !important;
    border: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 6px;
    // .ui.grid{
    //   width: 100%;
    // }

    .MessagingDownload{
      margin-right: 20px;
    }
    .messagingMainDocDiv{
      .messagingTxt {
        p{
          margin-top: 0;
          margin-bottom: 0;
        }
        .messagingList{
          padding-left: 9px;

          .ui.horizontal{
            .messagingListItem{
              color: #797979;
              font-weight: 600;
            }
          }

          .ui.horizontal.bulleted.list>.item::before{
            color: #a1a1a1;
          }

          .messagingUploade_time{
            display: inline-block;
            padding-left: 20px;
            p{
              font-size: 12px;
              color: #a1a1a1;
              font-weight: 400;
            }
          }
        }
      }
    }
    
    .messagingDocTime_close{
      text-align: right;
      display: flex !important;
      justify-content: flex-end;
      align-items: center;
      .docRemoveBtn{
        padding-right: 15px;
        margin-top: -5px;
      }
      .messagingUploade_time{
        font-size: 12px;
        color: #a1a1a1;
      }
      .docRemoveBtn{
        button{
          padding: 0px;
          background-color: transparent !important;
        }
      }
    } 
    
    
    .messagingImg{
      img{
        height: 15px;
        width: 25px;
      }
    }
  }
}