.user-exp-modal-block {
  .text-center {
    text-align: center;
  }
  .cross-button {
    margin-bottom: 35px;
  }
  .modal-card-content {
    height: 260px;
  }
  .cross-icon {
    float: right;
    cursor: pointer;
  }
  .modal-card-popup {
    display: flex;
  }
  .user-icon {
    margin-right: 10px;
    align-self: flex-end;
  }
  .img-responsive {
    width: 50px;
    height: auto;
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-1%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .user-help-text-block {
    background-color: #0b9ed0;
    border-radius: 5px;
    padding: 15px;
    margin-right: 30px;
    width: 100%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  .user-help-text {
    font-family: "Open Sans";
    font-size: 14px;
    color: #ceeefe;
    text-align: left;
    line-height: 24px;
  }
  .modal-action-button {
    margin-top: 20px;
    margin-left: 60px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  .mt--25 {
    margin-top: -25px !important;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .skip-button {
    font-family: "Open Sans";
    font-size: 13px;
    color: #0b9ed0;
    text-align: center;
    float: right;
  }
  .mb-8 {
    margin-bottom: 8px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .ml-60 {
    margin-left: 50px;
  }
  // @keyframes dot-keyframes {
  //   0% {
  //     opacity: 0.4;
  //     transform: scale(1, 1);
  //   }
  //   50% {
  //     opacity: 1;
  //     transform: scale(1.2, 1.2);
  //   }
  //   100% {
  //     opacity: 0.4;
  //     transform: scale(1, 1);
  //   }
  // }
  // .loading-dots {
  //   width: 100%;
  //   &--dot {
  //     animation: dot-keyframes 1.5s infinite ease-in-out;
  //     background-color: #0b9ed0;
  //     border-radius: 5px;
  //     display: inline-block;
  //     height: 5px;
  //     width: 5px;
  //     &:nth-child(2) {
  //       animation-delay: 0.5s;
  //       margin-left: 5px;
  //     }
  //     &:nth-child(3) {
  //       animation-delay: 1s;
  //       margin-left: 5px;
  //     }
  //   }
  // }
  .loading-dots {
    font-size: 50px;
    margin-top: -45px;
    margin-left: 67px;
    color: #00a3cc;
    position: absolute;
  }
  .loading-dots span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  .loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
  }
  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
}

@media (max-width: 1025px) {
  .user-exp-modal-block {
    .modal-card-content {
      height: 330px;
    }
  }
}
