.PostLoginMobileFooter{
  background-color: #1f2532;
  position: fixed;
  width: 100%;
  height: 65px;
  bottom: 0;
  .Main_Tabs{
    .ui.menu {
      .item{
        display: flex;
        flex-direction: column;
        width: 33.33%;
        p{
          color: #6e768a;
        }
      }
      .active.item{
        p{
          color: #0b9eb0;
        }
      }
    }
  }
}