.edit_profileSkill{
  .mobileSkill_edit{
    .SelectOptionField{
      margin-top: -4px;
    }
  }
  .closeIcon_skillEdit{
    display: flex !important;
    align-items: center;
  }

  .mobile_row{
    padding-bottom: 5px !important;
  }

  .SelectOptionField{
    margin-bottom: 10px;
    .downArrow__icon{
      // margin-top: -26px;
    }
  }

  .mobile_closeIcon{
    margin-top: 5px;
  }


  .closeIcon_skillEdit{
    .skillModal{
      display: inline-block;
      margin-top: -6px;
      height: 28px;
      width: 28px;
      border-radius: 30px;
      padding: 7px 9px;
      cursor: pointer;
      svg{
        margin-top: -10px;
      }
      &:hover{
        background-color: #f7f7fb ;
      }
    }
    
  }
}

.skillModal_fields{
  .skillModal_Body{
    background-color: #ffffff;
    padding-top: 25px;
  }

  .skillModal_footer{
    padding: 20px 20px 20px 20px;
  }
}



@media only screen and (max-width: 767px) { 
  .edit_profileSkill{
    .mobileSkill_edit{
      margin-top: 10px !important;
    }

    .mobile_closeIcon{
      margin-top: 4px !important;
    }
  }
  
}

@media only screen and (max-width: 1024px) { 
  .skillModal_fields{
    .skillModal_Body{
      padding-left: 14px;
      padding-right: 14px;
      .skillModal{
        display: none !important;
      }
    }
  }
}