.UserProfilePageSection {
  padding: 5px 30px 20px;
  .description_container {
    display: flex;
    background-color: #eaedf1;
    border-radius: 6px;
    padding: 20px;
    justify-content: space-between;
    .description {
      p {
        margin-bottom: 0;
        font-weight: 600;
        color: #797979;
        span {
          font-weight: 600;
          color: #323232;
        }
      }
      .menu-list {
        display: flex;
        margin-top: 5px;
        p {
          padding-right: 20px;
        }
      }
    }

    .downloadCVBtn {
      .ui.button {
        background-color: #ffffff;
        border-radius: 6px;
        color: #797979;
      }
      .publicProfileBtn {
        margin-right: 10px;
        padding: 20px;
        color: black;
        background-color: transparent !important;
      }
    }
  }

  .Userdedail_infoHeader {
    margin-top: 20px;
    .InfoSectionGridHeader {
      .header-container {
        .ui.header {
          // font-size: 22px !important;
          font-weight: 500;
          color: #323232;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .UserProfilePageSection {
    .description_container {
      .downloadCVBtn {
        .publicProfileBtn {
          margin-bottom: 10px;
        }
      }
    }
  }
}
