.p2p-tracker {
  max-width: 300px;
  .ui.card,
  .ui.cards > .card {
    box-shadow: none;
    width: 100%;
  }
  .ui.feed > .event > .content .summary {
    margin: 3px 0;
    font-weight: normal;
  }
  .tracker-title {
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 500;
    color: rgba(87, 87, 87, 1);
  }
  .ui.feed > .event > .content .date {
    font-family: "Open Sans";
    font-size: 16px;
    color: rgba(50, 50, 50, 1);
  }
  .sub-title {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(87, 87, 87, 1);
  }
  .sub-title1 {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(161, 161, 161, 1);
  }
  .sub-title2 {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(161, 161, 161, 1);
  }
  .sub-title3 {
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(87, 87, 87, 1);
  }
  .action-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .tracker-status-title {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(121, 121, 121, 1);
  }
  .tracker-status-action {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 5px;
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(87, 87, 87, 1);
    padding: 0.38571429em 1.5em 0.38571429em;
  }
  .p2p-tracker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tracker-title-view-all {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(11, 158, 208, 1);
    cursor: pointer;
  }
  .view-job-application {
    font-family: "Open Sans";
    font-size: 14px;
    color: #0b9ed0;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
  }
}

// P2PTracker_user
.P2PTracker_user {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #0b9ed0;
  .P2PTracker_userInner {
    .P2P_userInnerHeader {
      .label {
        svg {
          display: block;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          width: 2.5em;
          height: auto;
          -ms-flex-item-align: stretch;
          align-self: stretch;
          text-align: left;
          border-radius: 50%;
        }
      }
      .ui.card {
        margin-bottom: 0;
        .content {
          padding-bottom: 2px;
        }
      }
      border-radius: 6px;
      margin-top: 18px;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    }
    .action-button {
      background-color: #f7f7fb;
      padding-bottom: 12px;
      padding-top: 12px;
      .tracker-status-action {
        text-transform: uppercase;
      }
    }
  }
}

// P2PTracker_jobPage
.P2PTracker_jobPage {
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #0b9ed0;
  .P2PTracker_jobPageInner {
    border-radius: 6px;
    padding-top: 14px;
    // padding-bottom: 10px;

    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    .P2P_jobPageInnerHeader {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 14px;
      p {
        margin-bottom: 0;
        color: #797979;
      }
      .ui.button {
        border-radius: 6px;
        background-color: #ffffff;
        border: 1px solid #efefef;
        color: #0b9ed0;
        margin-left: 10px;
        cursor: default;
      }
    }
    .P2P_jobPageInnerBody {
      background-color: #f7f7fb;
      padding-top: 7px;
      padding-bottom: 7px;
      .ui.button {
        background-color: transparent;
        color: #0b9ed0;
      }
    }
  }

  .P2PTracker_jobPageFooter {
    padding-top: 20px;
    p {
      font-size: 13px;
      color: #a1a1a1;
      span {
        color: #575757;
      }
    }
  }
}
