.SearchBanner {
  min-height: 146px;
  display: flex;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  position: relative;

  &.is-job {
    background-image: url("../../../assets/banners/SearchBanner_job.png");
  }

  &.is-people {
    background-image: url("../../../assets/banners/SearchBanner_people.png");
  }

  h3.ui.header {
    color: rgba(254, 254, 254, 1);
    font-size: 1.86em;
    margin-bottom: 0px;
  }

  .sub.header {
    color: rgba(206, 238, 254, 1);
  }

  .ui.button {
    background: rgba(255, 255, 255, 1);
    color: #323232;
  }
}

@media only screen and (max-width: 767px) { 
  .SearchBanner {
    .ui.button {
      margin-bottom: 35px;
    }
  }

  .mobileAling_textCenter{
    text-align: center !important;
  }
}