.AboutUsPageHeader{
  padding-top: 55px;
  padding-bottom: 55px;
  .ui.header{
    font-family: 'Quicksand';
    font-size: 32px;
    font-weight: bold;
    color: #183b7b;
    margin-bottom: 10px;
  }
  p{
    font-family: 'Quicksand';
    font-size: 18px;
    font-weight: 500;
    color: #323232;
    text-align: left;
    line-height: 24px;
  }
}