.Main_Box_Filter{
  // width: 320px;
  // height: 480px;
 
  .Main_Form{
    padding: 17px !important;
    // background-color: #ffffff;
    .ui.checkbox input:focus~label{
      color: #0b9ed0 !important;
    }
    .field{
      padding-bottom: 17px;
      label{
        font-family: 'Open Sans' !important;
        font-size: 14px !important;
        color: #575757 !important;
        font-weight: 500 !important;
      }
    }
  }
}
