.PeopleProfileInfo{
  .hideBtn{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    .bgTranceparent{
      display: flex;
      svg{
        margin-right: 5px;
      }
    }

  }
  .peopleProfileInfoBox{
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    // overflow-y: auto;
    // height: 80%;
  }
  .peopleAboutTitle{
    margin-top: 10px;
    .InfoSection{
      .QuillText .ql-editor *{
        font-size: 13px;
      }
      .ui.header{
        color: #575757 !important;
        margin-bottom: 5px; 
      }
    }
  }
  .profileInfoExperience{
    padding-top: 10px;
  }

  .viewProfileBtn{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}