.DesiredJob{
  .DesiredJobHeader{
    padding-left: 5px;
    .DesiredJobHeaderTitle{
      font-family: 'Open Sans';
      font-size: 16px;
      color: #323232;
      padding-bottom: 5px;
      span{
        color: #a1a1a1;
        font-size: 16px;
      }
    }

    .subHeader{
      font-size: 14px;
      color: #575757;
      margin-bottom: 0;
      padding-bottom: 5px;
    }

    .subHeaderTitle{
      font-size: 14px;
      color: #575757;
      margin-bottom: 0;
      padding-bottom: 5px;
    }
    
  }
}