.mainNewTemplate {
  .radio {
    label {
      font-size: 14px !important;
    }
  }
  .mainNewTemplateForm {
    .mainNewTemplate {
      .SelectOptionField {
        .downArrow__icon {
          svg {
            display: flex;
            position: absolute;
            top: -10px;
          }
        }
      }
    }
  }
}

// .manageTemModal_form{
//   .close.icon{

//   }
// }
