.MyJobsDetailsMobile{
	
	.MyJobsDetailsMobile_body{
		.CandidatesDetail_headerBody{
			.CandidatesDetailsHeader_leftSide{
				.back_arrow{
          display: none !important;
          cursor: pointer;
          
				}
			}
		}
	}

  .MyJobsDetailsMobile_footer{
		.isMobileFooter_fixe{
			.MobileHeader_Left{
				.mobileFooter_status{
					display: flex;
					align-items: center;
					p{
						margin-bottom: 0;
						font-size: 14px;
						font-weight: 600;
						color: #6e768a;
						margin-right: 14px;
					}
					.ui.button{
						background-color: #1f2532;
						border: 1px solid #6e768a;
						border-radius: 6px;
						font-size: 14px;
						font-weight: 600;
            color: #0b9ed0;
            width: 100%;
					}
				}
			}
		}
	}  
}

@media only screen and (max-width: 1024px){
	.MyJobsDetailsMobile{
		.MyJobsDetailsMobile_body{
			.CandidatesDetail_headerBody{
				.CandidatesDetailsHeader_leftSide{
					.back_arrow{
						display: none !important
          }
          .companyLeftDetail{
            .companyLogo{
              width: 50px;
              height: 50px;
            }
          }
        }
        .CandidatesDetailsHeader_rightSide{
          .mobile_MyJobsCardListStatus{
            .status_menuBtn{
              .ui.button{
                background-color: #0b9ed0;
                color: #ceeefe;
              }
            }
          }
          .status{
            margin-top: 10px;
            .status_list{
              min-width: 65px;
            }
            p{
              margin-bottom: 0;
            }
          }
          
          .status_menuBtn .status_menuSpace{
            // min-width: 54px;
            display: none;
          }
        }

      }
      
      .MyJobsDetailsBody_bodyDetail{
        .BorderComponent{
          display: none;
        }

        .AccordionCardContainer{
          background-color: #ffffff;
          box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
          margin-top: 20px;
          border-radius: 6px;
          margin-bottom: 85px;
          .accordion.ui{
            .title{
              padding: 10px 15px !important;
              .HideJob{
                p{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .ui.button{
                    padding: 0px;
                  }
                }
              }
            }
            .MyJobsDetailsBody_bodyDetailContainer{
              padding: 5px 15px 20px !important;
            }
          }
        }
      }
		}
	}
}