.CreateCompanyPage{
  .ModalBanner{
    .save_btn{
      background-color: #ffffff;
      align-items: center;
      display: flex;
      svg{
        transform: rotate(-90deg);
      }
    }
    .close_btn{
  
    }
  }

  .SelectOptionField{
    .downArrow__icon{
      // margin-top: -27px;
    }
  }

  .panel-cardBody {
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    background-color: #ffffff;
    // .subheader-container{

    // }
    // .active.content{
    //   padding-bottom: 20px !important;
    // }

    .fileuploadBtn_label{
      p{
        color: #a1a1a1;
        font-size: 12px;
        // margin-top: 12px;        
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .CreateCompanyPage{
    .panel-cardBody {
      // .active.content{
      //   padding-bottom: 0px !important;
      // }
      .subheader-container{
        flex-direction: column;
        align-items: flex-start;
        // .header-item{
        //   display: none;
        // }
        svg{
          display: none;
        }
        .ui.header{
          display: none !important;
        }
        .header-item{
          margin-left: 0 !important;
          margin-top: 4px;
          
        }
      }
    }
  }
  .ModalBanner {
    .banner_HeaderText{
      display: block;
      .ui.header{
        display: block;
      }
    }
  }
}