.CardStatusFooter {
  .CardStatusFooter_container {
    display: flex;
    align-items: center;
    background-color: #f7f7fb;
    padding: 10px 27px;
    border-radius: 0px 0px 6px 6px;
    justify-content: space-between;
    .footerTItle {
      p {
        font-size: 16px;
        font-weight: 500;
        color: #797979;
        font-family: "Quicksand";
      }
    }
    .CardStatusFooter_left {
      display: flex;
      align-items: center;
    }

    .CardStatusFooter_Modal {
      margin-left: 14px;
      .status_Btn {
        // background-color: #0b9ed0;
        // border: 1px solid #efefef;
        border-radius: 6px;
        font-family: "Quicksand";
        // font-size: 14px;
        font-weight: 500;
        padding: 0.78571429em 1em 0.78571429em !important;
        // color: #ceeefe;
        svg {
          margin-left: 10px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

.CardStatusFooterModal_container {
  .close.icon {
    margin-top: 46px;
    margin-right: 46px;
  }
}

@media only screen and (max-width: 1024px) {
  .CardStatusFooter {
    .CardStatusFooter_container {
      padding: 10px 15px !important;
      .footerTItle {
        p {
          font-size: 14px;
        }
      }
      .CardStatusFooter_right {
        .Main_Dropdown {
          svg {
            height: 13.406px;
          }
        }
      }
      .CardStatusFooter_Modal {
        margin-left: 14px;
        .status_Btn {
          font-size: 13px;
          padding: 0.58571429em 1em 0.58571429em !important;
          svg {
            margin-left: 10px;
            margin-bottom: 1px;
            height: 5px;
          }
        }
      }
    }
  }
  .CardStatusFooterModal_container {
    .close.icon {
      margin-top: 10px;
      margin-right: 10px;
      color: #ffffff !important;
    }
  }
}
