@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~react-image-crop/lib/ReactCrop.scss";

@import "./overrides/_all.scss";
@import "../../components/ModalPageSection/index.scss";
@import "../../components/ModalPageSection/style/index.scss";

/**
 * - Fix Database
 **/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1025px) {
  // input[type="text"],input[type="number"], input[type="textarea"] {
  //   font-size: 12px !important;
  // }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px !important;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px !important;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px !important;
  }
}
