.AboutusMobile{
      
}


@media only screen and (max-width: 1024px){

  .AboutUs{
    margin-top: 50px !important;
    .banner_header{
      .banner_headerInner{
        text-align: center;
      }
    }
    .AboutusBody_header{
      padding-bottom: 16px;
    }
    .aboutPeople_CardContainer{
      margin-bottom: 65px;
      .ui.grid{
        .row{
          .column{
            width: 100% !important;
            .aboutPeople_Card {
              .aboutPeople_CardHover{
                display: none !important;
              }
              .aboutPeople_CardShow{
                opacity: 1 !important;
                position: relative;
                .aboutPeople_CardShowHeader{
                  img{
                    height: 86px;
                    width: 86px;
                  }
                }
                .aboutPeople_CardShowBody{
                  img{
                    margin-top: 14px;
                    margin-bottom: 5px;
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }
  .AboutusCard_container{
    flex-direction: column;
    .AboutusCard_left{
      .header_left{
        img{
          height: 86px;
          width: 86px;
          
        }
      }
    }
    .AboutusCard_right{
      flex-direction: column;
      align-items: center;
      text-align: center;
      img{
        height: 13px !important; 
        width: 18px !important;
        margin-top: 14px;
        margin-bottom: 7px;
      }
    }
  }
}