.user-feedback-modal-block.ui.modal {
  background-image: -webkit-linear-gradient(
    180deg,
    #4e6791 0%,
    #17cad6 0%,
    #1fa8d4 0%,
    #193b7b 100%
  );
  background-image: -moz-linear-gradient(
    180deg,
    #4e6791 0%,
    #17cad6 0%,
    #1fa8d4 0%,
    #193b7b 100%
  );
  background-image: -o-linear-gradient(
    180deg,
    #4e6791 0%,
    #17cad6 0%,
    #1fa8d4 0%,
    #193b7b 100%
  );
  background-image: linear-gradient(
    180deg,
    #4e6791 0%,
    #17cad6 0%,
    #1fa8d4 0%,
    #193b7b 100%
  );
  .content {
    background-color: transparent;
  }
  .cross-button {
    position: absolute;
    right: 10px;
    color: #ffffff;
    // background-color: #ffffff;
  }
  .cross-icon {
    float: right;
    cursor: pointer;
    color: #ffffff;
  }
  .modal-title {
    margin-bottom: 20px;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    .modal-titleLogo {
      img {
        height: 95px;
        width: 90px;
      }
    }
  }
  .modal-bold-title {
    font-family: "Quicksand";
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .item-card-popup {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    min-height: 120px;
  }
  .share-font {
    font-family: "Quicksand";
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    transform: scale(1, 1.01);
    margin-top: 5px;
  }
  .flex-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0 15px;
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
      &:hover {
        height: 60px;
        width: 60px;
      }
    }
    &.active {
      img {
        height: 60px;
        width: 60px;
      }
    }
  }
  .flex-button:hover {
    svg {
      path {
        fill: #0b9ed0;
      }
    }
    // .share-font {
    //   color: #0b9ed0;
    // }
  }
  .active {
    svg {
      path {
        fill: #0b9ed0;
      }
    }
    // .share-font {
    //   color: #0b9ed0;
    // }
  }
  .text-center {
    text-align: center;
  }
  .mb-8 {
    margin-bottom: 8px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-15 {
    margin-top: 15px;
  }
  .pt-15 {
    padding-top: 15px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .user-card-right {
    display: flex;
    flex-direction: column;
  }
  .hidden-mobile {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
  .remark-area {
    input[type="text"] {
      font-size: 14px;
      height: 45px;
      padding-right: 90px;
      border-radius: 30px;
    }
    max-width: 330px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    .remark-area-border {
      // border-bottom: 1px solid #e4e4e6;
      padding-bottom: 10px;
    }
    .remark {
      font-family: "Open Sans";
      font-size: 13px;
      color: #575757;
      text-align: center;
      line-height: 24px;
    }
    .remark-content {
      font-family: "Open Sans";
      font-size: 13px;
      color: #a1a1a1;
      text-align: center;
      line-height: 24px;
    }
    .remark-button {
      // padding: 0px 0 30px;
      float: right;
      position: absolute;
      right: 0;
      top: 27px;
      .btn-border {
        border: 1px solid #0b9ed0 !important;
        font-weight: 600;
      }
    }
  }
  .thank-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    .ui.header {
      color: #ffffff;
    }
  }
}
.feedback-floating-button {
  position: fixed;
  bottom: 30px;
  background-color: #0b9ed0 !important;
  color: #fff !important;
  border-radius: 50%;
  left: 30px;
  height: 50px;
  width: 50px;
  i.icon,
  i.icons {
    font-size: 1.3em !important;
  }
}
@media (max-width: 1025px) {
  .user-feedback-modal-block {
    .flex-button {
      margin: 0;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .remark-area {
      padding-top: 0px;
    }
    .modal-title {
      text-align: left;
      font-size: 13px;
    }
    .modal-bold-title {
      text-align: left;
      font-size: 15px;
    }
    .item-card-popup {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: flex-start;
    }
    .mobile-link-button {
      padding: 15px 0;
      border-top: 1px solid #efefef;
    }
    .flex-button {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
    }
    .hidden-mobile {
      display: none;
    }
    .hidden-desktop {
      display: block;
    }
    .modal-title {
      margin-bottom: 5px;
    }

    // .share-font {
    //   margin-left: 20px;
    // }
    .remark-button {
      padding: 0px 0 15px !important;
    }
  }
  .feedback-floating-button {
    bottom: 50px;
    left: 20px;
    height: 40px;
    width: 40px;
    i.icon,
    i.icons {
      font-size: 1.1em !important;
    }
    svg {
      height: 18px;
      width: 18px;
    }
  }
}
