.UserView_main{
  
  background-color: #009d8c;
  border-radius: 6px;
  background: url('../../../../../assets/img/addMoreBanner.jpg');
  // background: linear-gradient(
  //       rgba(0,0,0, 0.2),
  //       rgba(0,0,0, 0.6)
  //     ), url('../../../../../assets/img/addMoreBanner.jpg');
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 15px rgba(3, 0, 73, 0.13) !important;
  .ui.button{
    // margin-top: 17px;
    // margin-left: 30px;
    color: #323232;
    height: 34px;
    width: 154px;
    background-color: #ffffff;
    border-radius: 33px;
    &:hover{
      color: #0b9ed0;
    }
  }

  .UserView_mainInner{
    padding: 14px 20px;
  }

  p{
    // margin-left: 31px;
    color: #cefee6;
    font-size: 14px !important;
    padding-top: 11px;
  }
}



@media only screen and (max-width: 1024px){
  .UserView_main{
    .UserView_mainInner{
      text-align: center;
    }
  }
}