.AdvanceSearchFieldMobile{
  .AdvanceSearchField_headerMobile{
    .isMobileHeader_fixe{
      background-color: #ffffff;
    }
  }
  .AdvanceSearchField_footerMobile{
    .isMobileFooter_fixe{
      border-top: 1px solid #eeeef2;
      background-color: #f7f7fb;
    }
  }
}