.HomePageHeader{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .HomePageHeaderContainer{
    min-width: 700px;
    margin-left: 14px;
    margin-right: 14px;

  
    .headerTitle{
      // text-align: center;
      
      .ui.header{
        // font-weight: bold;
        color: #1f2532;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 40px;
        text-transform: uppercase;
      }
      span{
        color: #0b9ed0;
      }
    }
    .headerSearchField{
      // max-width: 605px;
      margin: 0 auto;
      margin-top: 40px;
      .ui.header{
        font-weight: 500;
        color: #323232;
        margin-bottom: 5px;
      }
      .header_inputFeild{
        position: relative;
        input{
          border-radius: 30px;
          border-color: #0b9ed0;
          min-height: 50px;
          border: 2px solid;
        }
        .searchIconBtn{
          padding: 0;
          background-color: transparent;
          position: absolute;
          right: 14px;
          top: 16px;
        }
      }
      
      .recentSearch_tag{
        display: flex;
        // justify-content: space-around;
        .recentSearch_tagRight{
          padding-top: 27px;
        }
        p{
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 5px;
          // text-align: center;
        }
        .tag_btn{
          .rounded_btn{
            border-radius: 14px;
            padding: 5px 10px;
            &:hover{
              border: 1px solid #0b9ed0 !important;
              color: #0b9ed0;
            }
          }
          .ui.button{
            height: 25px;
            background-color: #ffffff;
            border: 1px solid #eaeaee;
            font-size: 12px;
          }
          .circle_btn{
            border-radius: 50px;
            width: 28px;
            padding: 6px 1px;
          }
          
        }
      }

    }
  }
}

@media only screen and (max-width: 1024px){
  .HomePageHeader{
    min-height: 350px;
    height : auto;
    .HomePageHeaderContainer{
      max-width: 700px;
      min-width: auto;
      .headerSearchField{
        input{
          min-height: 45px !important;
        }
        .searchIconBtn{
          top: 15px !important;
        }
      }
    }
  }
}

