.LikeJobs_condidate{
  .MyJob_cardContainer{
    .jobDefault_card{
      margin-bottom: 0;
      .MyJobCards_leftSide{
        .MyjobCard_leftDetails{
          .profleIncrease{
            display: none !important;
          }
        }
        .companydetails{
          .subTitle{
            .Recommendation{
              display: none !important;
            }
          }
        }
      }
    }
  }  
}