.InfoSection{
  .accordion{
    .active{
      .DownArrowCollaps{
        background-color: #f7f7fb;
        svg{
          transform: rotate(180deg);
        }
      }
    }
  }
}


.DownArrowCollaps{
  line-height: 0.7;
  padding-right: 8px;
  height: 28px;
  width: 28px;
  background-color: inherit;
  display: inline-block;
  border-radius: 30px;
  &:hover{
    // border-radius: 30px;
    background-color: #f7f7fb;
  }
  svg{
    transform: rotate(0deg);
  }
}