// .CandidatesDetailsHeader{
//   margin-top: 90px;
//   .CandidatesDetail_headerBody{
//     .jobDefault_card{
//       .CandidatesDetailsHeader_leftSide{
//         display: flex;
//         .back_arrow{
//           svg{
//             transform: rotate(180deg);
//             margin-right: 15px;
//           }
//         }
//         .companyLeftDetail{
//           .companyLogo{
//             img{
//               height: 64px;
//               width: 64px;
//             }
//           }

//           .profileIncrese{
//             background-color: #ffffff;
//             border-radius: 6px;
//             margin-top: 10px;
//             text-align: center;
//             padding: 4px;
//             .increse{
//               font-family: 'Quicksand';
//               font-size: 20px;
//               font-weight: 500;
//               color: #009d8c;
//             }
//             .match{
//               font-size: 12px;
//               color: #a1a1a1;
//             }
//             p{
//               margin-bottom: 0;
//             }
//           }
//         }
        
//         .companyRightdetails{
//           margin-left: 14px;
//           .headTitle{
//             .ui.header{
//               margin-bottom: 5px;
//             }
//           }
//           .subTitle{
//             p{
//               margin-bottom: 5px;
//               color: #a1a1a1;
//               span{
//                 color: #575757
//               }
//             }
//           }
//         }
//       }

      
//     }
//   }
// }
  
  // @media only screen and (max-width: 1024px) {
  //   .AppliedJobsDashbord{
  //     .jobDefault_card{
  //       padding-left: 10px;
  //       padding-right: 10px;
  //       .MyJobCards_leftSide{
  //         .back_arrow{
  //           display: none !important;
  //         }
  //       }
  
  //       .MyJobCards_rightSide{
  //         .applyBtn_dashbord button{
  //           font-size: 12px;
  //         }
  //       }
       
  //     }
  //   }
  // }

// .CandidatesDetailsHeader{
//   .jobDefault_card{
//     .CandidatesDetailsHeader_leftSide{
//       .companyLeftDetail{
//         .profileIncrese{
//           background-color: #ffffff;
//           border-radius: 6px;
//         }
//       }
//     }
//   }
// }