.DashbordSechuleInterView{
  .DashbordInterView{
    background-color: #f7f7fb !important;
    .Interview_form{
      padding: 10px;
      background-color: #ffffff;
    }
    .interview_type{
      .VideoCall{
        padding-bottom: 8px;
        .field_labelTitle{
          .field{
            padding-bottom: 0;
          }
          .InputField{
            margin-bottom: 10px !important;
          }
        }
        
        .checkbox{
          margin-bottom: 10px !important;
        }
      }
      .InPerson{
        padding-bottom: 14px;
      }
    }
    .participants_body{
      .Application{
        display: none !important;
      }
     
      .header_title{
        .ui.header{
          font-family: 'Quicksand';
          // font-size: 18px;
          font-weight: 500;
          color: #323232;
          margin-bottom: 10px;
        }
      }

      .field_labelTitle{
        display: flex;
        // .labelTitle_left{
        //   min-width: 100px;
        // }
        .field_labelDate{
          width: 100%;
        }
        .labelTitle_Right{
          width: 100%;
          display: flex;
          margin-bottom: 10px;
          .InputFieldLabel{
            min-width: 130px;
            display: flex;
            justify-content: flex-end;
            margin-right: 25px;
          }
          .field.InputField{
            width: 100%;
          }
        }
        .labelRight_endDate{
          .InputFieldLabel{
            min-width: 55px;
          }
        }
      }
    }

    .suggested_timeBody{
      @extend .participants_body;
    }
    .interview_type{
      .header_title{
        .ui.header{
          font-family: 'Quicksand';
          font-size: 18px;
          font-weight: 500;
          color: #323232;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .ScheduleInterview_body{
    padding: 0 !important;
  }
  .DashbordSechuleInterView{
    .DashbordInterView{
      .participants_body{
        .field_labelTitle{
          display: block;
          .labelTitle_Right{
            display: block;
            .InputFieldLabel{
              display: block;
            }
          }
        }
      }
    }
  }
}

// .CardStatusFooterModal_container{
//   .close.icon{
//     color: #ffffff;
//   }
// }