.MobListOfInterviews {
  min-height: 100px;
  border-bottom: 1px solid #e4e4e4;
}
.CardMobListOfInterviews {
  padding: 20px;
  .date {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    color: rgba(87, 87, 87, 1);
    display: block;
  }
  .day {
    display: block;
    font-family: "Open Sans";
    font-size: 15px;
    color: rgba(50, 50, 50, 1);
  }
  .time {
    color: rgba(161, 161, 161, 1);
  }
  .content span {
    display: block;
    font-family: "Open Sans";
    font-size: 12px;
    color: rgba(50, 50, 50, 1);
  }
}
