.is-borderless {
  border: none !important
}

.is-shadowless {
  box-shadow: none !important
}

.is-flex-1 {
  flex: 1;
}

.is-hidden {
  display: none !important;
}

.has-text-white {
  color: white !important;
}
