$primary-blue: #1F2532;
$primary-blue-light: #0B9ED0; 
$primary-black: #323232;
$primary-text-black: #575757;

$primary-grey: #c8c8c8;
$primary-body-grey: #f7f7fb;
$primary-trolley-grey: #797979;

$primary-card-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
$primay-input-shadow: 0px 0px 20px rgba(3, 0, 73, 0.09);

$primary-blue-button-border: #2c3342;

$primary-smoke: #EFEFEF;

//#region Font
$font-heading: Quicksand;
//#endregion

//#region Navigation 
$navbar-height: 69px;
$navbar-button-color: #dfe9ff;
$navbar-button-icon-color: #546270;

//#endregion


$black: #000000;
$white: #ffffff;

$midnight-xpress: #1F2532;
$white-smoke: #EFEFEF;
$ghost-white: #f7f7fb;

$night-rider: #323232;
$grey: #797979;
$slateGray: #6e768a;
$dark-gray: #acaeb5;
$Matterhorn:#575757;
$davy-grey: #575757;
$dark-gray: #acaeb5;
$nobel: #A1A1A1;
$trolley-grey: #797979;
$whisper: #EDEDED;
$very-light-grey: #C8C8C8;
$lavender-grey: #c8c8c8; 
$pattens-blue: #CEEEFE;
$isabelline:#e9ebee;
$munsell: #eeeef2;
$solitude: #DFE9FF;

$magnolia: #F8F7FC;
$pacific-blue: #0B9ED0;
$tiffany-blue: #0bd0bb;
$cerulean: #0080ab;
$persian-green: #009D8C;
$dark-cyan: #009d8c;
$light-cyan: #cefee6;


$aliceBlue: #edf3ff;

$sea-green: #43a047;
$persian-red: #d32f2f;


$facebook: #406AA6;
$google: #EE1E1D;