// override default input
.input-default input {
  border: 1px solid $primary-smoke !important;

  &:hover,
  &:focus{
    box-shadow: 0px 0px 20px rgba(3, 0, 73, 0.09) !important;
  }

  &::placeholder {
    color: #575757 !important;
  }
}

// checkbox override


.Useraccessform {
  .ui.checkbox-default {
    label {
      color: $primary-trolley-grey;
    }
  
    .box:hover:before, 
    label:hover:before {
      border: 1px solid $primary-smoke;
      border-radius: 5px;
      border-color: #efefef;
    }
  
    .box:before, 
    label:before {
      border: 1px solid $primary-smoke;
      border-radius: 5px;
      border-color: #efefef;
      background-color: #ffffff;
    }
  
    input:checked~.box:after,
    input:checked~label:after {
      color: $primary-blue-light;
      border-color: #efefef;
      border: 1px solid $primary-smoke;
      border-radius: 5px;
      background-color: #ffffff;
    }
  }
}