// SEE: https://github.com/Semantic-Org/Semantic-UI-React/issues/2550
/* Fix Semantic 2.3.x CSS Verticial Positioning */
.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}

.Useraccessmodal {
  //  .close{
  //   margin-top: 35px;
  //   margin-right: 35px;
  //  }
  .close.icon{
    color: #000000 !important;
  }
  /* TODO: Shift it to signin-signup specific component? */
  .ui.checkbox.label {
    color: $primary-trolley-grey
  }

  .Useraccessmodal__left {
    padding: 10px;

    .menu {
    
      &.text {
        margin: 0px;
        padding-left: 14px;
      }

      .item {
        font-size: 20px;
        color: $primary-black;
        margin-right: 18px;
        font-family: $font-heading;
        font-weight: 500;
        transition: color 0.25s;

        &.active {
          border-bottom: 2px solid #0b9ed0;
          color: #0b9ed0;
          font-family: $font-heading;
          font-weight: 500;
          margin-bottom: -2px !important;
        }
      }
    }

    .Useraccessform{
      .segment{
        box-shadow: none;
        border: none;
        .forgetTitle_footer{
          a:hover{
            color: #0B9ED0;
          }
        }
      }
    }
  }

  .Useraccessmodal__right {
    // background-color: #ccd3b4;
    background-color: #f7f7fb;
    text-align: center;
    padding: 20px;
    min-height: 310px;
    .Useraccessmodal_slider{
      .header{
        color: #575757;
      }
      .sliderSubTitle{
        color: #575757;
      }
      .slick-slider {
        .slick-list{
          img{
            height: 140px;
          }
        }
      }
    }
    .signUpAction_message{
      min-height: 270px;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 16px;
        color: #575757;
      }
    }
  }

  // Slick Slider
  .slick-slider {
    &:focus{
      outline: none !important;
    }
    div:focus {
      outline: none !important;
    }
    .content{
      &:focus{
        outline: none !important;
      }
    }

    .slick-dots li button:before{
      color: #0b9ed0;
     
    }
    .slick-dots {
      bottom: -10px;
      li {

        &.slick-active {
          button:before {
            color: #0b9ed0;
          }
        }

        button {
          width: 10px !important;
          height: 10px !important;
          border-radius: 50%;
          // border: 1px solid #0b9ed0;
          
          &:hover{
            color: #0b9ed0;
          }

          &:before {
            font-size: 12px;
            width: 12px;
            height: 12px;
            padding-top: 1px;
            line-height: 11px;
            // color: #0b9ed0;
          }
        }
      }
    }
  }

  // .slick-dots li button:before{
  //   opacity: .1;
  // }

}

@media only screen and (max-width: 1024px){
  .Useraccessmodal{
    
    .ui.grid{
      // margin-right: 0;
      .column{
        width: 100% !important;
        .Useraccessform{
          .segment{
            background: transparent !important;
            padding-left: 0;
          }
        }
      }
    }
    .Useraccessmodal__right{
      display: none !important;
      
    }
  }
}

