.Navbar {
  background: $primary-blue;
  color: $white;
  // position: fixed;
  // top: 0;
  // margin-bottom: 30px;
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;


  /* HACK: Beacuse Fuck You Semantic */
  .ui.menu:not(.vertical) .left.menu {
    &:first-child {
      margin-right: 50px !important;
    }
  }

  .menu {
    background: inherit;
    color: inherit;
    height: $navbar-height;
    @extend .is-borderless;

    .vasitum-logo {
      height: 38px;
    }

    .form {
      width: 100%;
      max-width: 400px;
      input {
        padding-top: .67142857em !important;
        padding-bottom: .67142857em !important;
        border-radius: 5rem;

        &:focus {
          border-radius: 5rem;
        }

        &::placeholder {
          color: #575757;
        }
      }

      svg {
        position: absolute;
        right: 30px;
      }
    }

    // navigation
    .nav-button {
      border: 1px solid $primary-blue-button-border;
      color: $navbar-button-color;
      padding-right: 0.8em;
      @extend .is-shadowless;

      i {
        color: $navbar-button-icon-color;
        margin-left: 5px !important; 
      }

      &:hover {
        background: inherit;
        color: $navbar-button-color;
        @extend .is-shadowless;
      }
    }

  }
}

@media only screen and (max-width: 1024px) {
  .Navbar{
    display: none !important;
  }
}