.filter-inputField{
  input{
    border-radius: 23px !important;
  }
}

.filter-checkbox {
  padding-top: 14px;

  .ui.checkbox label:before{
    border-radius: 30px;
  }

  .ui.checkbox input:checked~label:after{
    border-radius: 526rem;
    background-color: #0b9ed0;
  }

  .ui.checked label{
    color: #0b9ed0;
  }

  .filter_label{
    .label{
      background-color: inherit;
      font-size: 14px;
      color: #323232;
      font-weight: 500;
    }
  }
}

.FilterAcordian{
  padding-top: 10px;
}


