.ui.card.MediaCard {
  padding: 1em 1em 1em 95px;

  .MediaCardAvatar {
    position: absolute;
    top: 1em;
    left: 27px;

    img {
      // width: 100%;
      // height: auto;
      max-height: 50px;
      height: 50px;
      width: 50px;
    }

    svg {
      border-radius: 50%;
    }

    .SvgLogo{
      svg {
        border-radius: 6px;
      }
    }
  }

  &.is-small {
    padding: 0em 1em 1em 64px;

    .MediaCardAvatar {
      left: 0px;
      top: 0px;
      img {
        max-height: 50px;
      }
    }
  }

  &.is-shadowless {
    box-shadow: none;
  }

  &.is-shadow {
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  }
}

@media screen and (max-width: 992px) {
  .ui.card.MediaCard {
    padding: 1em 1em 1em 84px;

    .MediaCardAvatar {
      left: 18px;
  
      img {
        width: 100%;
        height: auto;
        max-height: 50px;
      }

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }  
}
