.AdvanceSearchBody{
  .AdvanceSearchBody_inner{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    .company_details{
      .SearchCard{
        .content{
          .AdvanceSearchInputFields{
            .InputField{
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    .AccordionCardContainer{
      margin-bottom: 20px;
      .SearchCardAccordion{
        .accordion.ui{
          .title{

          }

          .title.active{
            .AdvanceSearchBodyHeaderTitle{
              .HeaderTitle_left{
                .headTitleList{
                  .headSubTitle{
                    display: none;
                  }
                }
              }
            }
            
          }
          .content{
            .AdvanceSearchBodyHeaderBody{
              margin-left: 20px;
            }
            .YearExperience{
              margin-left: 20px;
            }
          }
          .content.active{
            margin-top: 10px;
          }
        }
      }
    }
    .AdvanceSearchBody_innerLeft{
      width: 50%;
      border-right: 1px solid #eeeef2;
      padding: 20px;

    }
    .AdvanceSearchBody_innerRight{
      width: 50%;
      padding: 20px;
      .candidateActivity_checkBox{
        padding-top: 20px;
        border-top: 1px solid #eeeef2;
      }
    }
  }
}