.Main_Card {
  background-color: #f7f7fb;
  border-radius: 0px 0px 6px 6px;
  padding-right: 30px;
  padding-top: 15px;
  .Main_Card_Grid {
    .Main_Card_Grid_Row {
      .mainCard_apllicationStatus {
        padding-right: 5px;
      }
      h4 {
        margin-top: 9px;
        font-size: 16px !important;
      }
      // .Basic_Section {
      //   // margin-left: -90px;
      // }
      .ui.dropdown > .text {
        color: #0b9ed0;
        font-size: 16px !important;
        font-family: "Quicksand" !important;
        font-weight: 500;
      }
      .Basic_Section {
        .ui.button {
          border-radius: 5px !important;
          margin-left: 10px !important;
          color: #0b9ed0;
          background-color: #ffffff;
          border: 1px solid #efefef;
        }
      }

      .ui.inline.dropdown > .text {
        color: #a1a1a1;
        margin-top: 9px;
        font-family: "Open Sans" !important;
        font-size: 14px !important;
      }
      .ui.dropdown > .dropdown.icon {
        color: #cdcdcd;
      }
    }
  }
}

.CandidateCardFooter {
  .CardFooter_btn {
    border-radius: 5px !important;
    margin-left: 10px !important;
    color: #0b9ed0;
    background-color: #ffffff;
    padding: 0.78571429em 1em 0.78571429em !important;
    svg {
      margin-left: 10px;
      margin-bottom: 2px;
    }
    // margin-left: 10px !important;
    // color: #ceeefe;
    // background-color: #0b9ed0;
    // background-color: #ffffff;
    border: 1px solid #efefef;
    &:hover {
      color: #ffffff;
      background-color: #0b9ed0;
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
    &:active {
      color: #ffffff;
      background-color: #0b9ed0;
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
    &:focus {
      color: #ffffff;
      background-color: #0b9ed0;
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .CandidateCardFooter {
    .CardFooter_btn {
      margin-left: 0px !important;
      padding: 0.58571429em 1em 0.58571429em !important;
      font-size: 13px !important;
    }
  }
  .Main_Card {
    padding-left: 0px;
    padding-right: 5px;
    .CandidateCard_footerDropdown {
      min-width: 11em !important;
    }
    .Main_Card_Grid_Row {
      .fail_btn {
        padding-left: 10px;
        padding-right: 10px;
        width: 50px !important;
      }
    }
  }
}
