.ChatSidebarPeopleCard__outer {
  &:hover {
    cursor: pointer;
  }

  & *:hover {
    cursor: pointer;
  }

  &.is-active {
    // border-left: 5px solid #0b9ed0;
    background-color: #f7f7fb;
    .ChatSidebarPeopleCard {
      svg rect {
        fill: #ffffff;
      }
      .profile_summary {
        .header {
          color: #0b9ed0;
        }
        .QuillText.is-readonly .ql-editor * {
          color: #797979;
        }
        .QuillText .ql-editor {
          background-color: transparent !important;
        }
      }
    }
  }
}

.ChatSidebarPeopleCard {
  .activeCardName:hover {
    color: #0b9ed0;
  }
  display: flex;
  // margin-top: 10px;
  // padding-left: 20px;
  // padding-right: 20px;
  padding: 10px 20px 10px 20px;

  &.is-unread {
    .QuillText {
      p {
        color: #575757 !important;
      }
    }
  }

  .profile_img {
    margin-right: 10px;
    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }

    svg {
      border-radius: 50%;
    }
    .label.ui {
      position: relative;
      height: 15px;
      width: 15px;
      background-color: #0b9ed0;
      border-radius: 15px;
      box-shadow: 0px 1px 5px 0px rgba(14, 16, 20, 0.5);
      font-size: 9px;
      font-weight: 600;
      color: #ffffff;
      top: -42px;
      left: 39px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .profile_summary {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .ui.header {
      color: #575757;
      margin-bottom: 0px;
      font-size: 16px;
    }
    // p{
    //   margin-bottom: 2px;
    // }

    .QuillText.is-readonly {
      .ql-editor {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }

      .ql-editor * {
        color: #a1a1a1;
      }
    }
    .summary_title {
      font-weight: 600;
      color: #797979;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .summary_subTitle {
      font-size: 13px;
      color: #a1a1a1;
    }
  }
}

.activeCard {
  background-color: rgba(247, 247, 251, 1);
  .activeCardName {
    color: rgba(11, 158, 208, 1);
  }
}
