.MessagingMobileChatField{
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #eeeef2;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  .MessagingMobileChatBox{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
  }

  .UploadeDocMessaging{
    margin-bottom: 10px;
    padding-right: 0px !important;
  }

  .MessagingMobile_ChatBtn{
    .mobile_chatTemBtn{
      border: 1px solid #efefef;
      background-color: transparent;
      border-radius: 6px;
      // padding: 0;
      margin-right: 7px;
      font-size: 14px;
      padding-left: 5px;
      padding-right: 10px;
      // padding-bottom: 13px;
      // padding-top: 13px;
      color: #0b9ed0;
    }

    .mobile_chatTemBtnIcon{
      padding-left: 5px;
      padding-right: 10px;
      background-color: transparent !important;
    }
  }

  .mobile_chatAttachment{
    // position: relative;
    .FileuploadBtn{
      position: absolute;
      right: 12px;
      bottom: 0px;
    }
  }
  .MessagingMobileChat{
    display: inline-block;
    width: 100%;
    
    textarea{
      padding-right: 40px;
    }
    // .FileuploadBtn{
    //   position: absolute;
    //   right: 45px;
    //   margin-top: 3px;
    // }
  }
}