.PeopleProfileInfo{
  margin-top: 32px;
  // margin-right: 25px;
  .PeopleProfile{
    
    text-align: center;
    
    padding-bottom: 10px;
    .peopleprofileBox{
     border-bottom: 1px solid #eeeef2;
     padding-bottom: 20px;
     display: flex;
     flex-direction: column;
    
    }
    .profileImage{
      img{
        height: 100px;
        width: 100px;
        margin-top: -50px;
      }

      svg{
        margin-top: -50px;
        border-radius: 50%;
      }
    }
    .profileTitle{
       margin-top: 15px;
      .ui.header{
        margin-bottom: 0;
        font-size: 20px;
        cursor: pointer;
        &:hover{
          color: #0b9ed0;
        }
      }
      .titleSub{
        font-family: 'Quicksand';
        font-size: 16px;
        font-weight: 500;
        color: #575757;
        margin-bottom: 0;
      }
      .locationTitle{
        font-size: 14px;
        color: #a1a1a1;
      }
    }

    .peopleSkills{
      padding-top: 14px;
      .list .item{
        color: #575757 !important;
        font-size: 13px;
      }
      .seeMoreBtn{
        text-align: right;
        padding-top: 15px;
        .bgGhostWhite{
          background-color: transparent !important;
          padding: 0 !important;
          color: #a1a1a1;
          text-decoration: underline;
        }
      }
    }
  }
}