.BestSearchCard {

  position: relative;

  .show {
    width: 100%;
  }

  .hide {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
    transform-origin: center;
    .ui.card{
      background-color: #eef6f9 !important;
    }
  }

  &:hover {
    .hide {
      opacity: 1;
    }
  }
}
