.templateMobileFooter {
  .FileuploadBtn {
    padding: 0 !important;
    background-color: transparent !important;
    .label {
      padding: 0 !important;
      background-color: transparent !important;
    }
  }
}

.isMobileFooter_fixe {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #1f2532;
  padding: 10px;
  z-index: 990;
  .ui.grid > .row {
    align-items: center;
  }
  .MobileHeader_Left {
    .backArrowBtn {
      background-color: transparent;
      margin-right: 10px;
      svg {
        transform: rotate(180deg);
      }
    }
    h3 {
      color: #ffffff;
      margin: 0 !important;
      display: inline-block;
    }
    .p2p-tracker-icon-block {
      display: inline-block;
      margin-right: 5px;
      .ui.button {
        padding: 0;
        svg {
          height: 15px;
        }
      }
    }
  }
}
