.questionDefault_container {
  .cardHeader {
    display: flex;
    align-items: baseline;
    p {
      font-size: 18px;
      color: #575757;
      font-family: "Open Sans";
      // margin-left: 15px;
      margin-left: -2px;
      span {
        color: #a1a1a1;
      }
    }
  }
  .questionDefault_body {
    padding-top: 10px;
    .ui.grid {
      width: 100%;
      .MatchSkills_header.row {
        padding-bottom: 0;
        p {
          font-weight: 600;
          color: #797979;
          text-transform: uppercase;
          span {
            color: #a1a1a1;
          }
        }
        .checkBoxTitle {
          .ui.checkbox {
            label {
              color: #a1a1a1;
            }
          }
        }
      }
      .MatchSkills_headerBody.row {
        .pb-15 {
          padding-bottom: 15px;
        }
        // padding-top: 5px;
        padding: 15px 0 0px;
        align-items: center;
        .dateTiming_container {
          display: flex;
          .startTime {
            input {
              width: 100% !important;
            }
          }
          .endTime {
            input {
              width: 100% !important;
            }
          }
        }
        .match_skill_content {
          font-family: "Open Sans";
          font-size: 14px;
          color: #0b9ed0;
          text-align: left;
          p {
            margin-left: 10px;
            margin-bottom: 0px !important;
          }
        }
        .skill-align {
          display: flex;
          align-items: center;
        }
        .Skill_contianer {
          padding-bottom: 10px;
          p {
            margin-bottom: 5px;
          }
        }
        .experience_container {
          padding-bottom: 10px;
          p {
            margin-bottom: 5px;
          }
        }

        .checkBox_container {
          margin-top: 20px;
        }

        .remove_container {
          display: flex;
          justify-content: flex-end;
          .ui.button {
            padding: 0;
            background-color: transparent;
            svg {
              margin-right: 5px;
            }
          }
        }
        .question_container {
          display: flex;
          align-items: center;
          p {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.MatchSkills {
  .MatchSkills_body {
    .addmoreBtn {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .MatchSkills_headerBody.row {
    .dateTiming_container {
      display: flex;
      .startTime {
        margin-right: 14px;
        input {
          width: 100% !important;
        }
      }
      .endTime {
        input {
          width: 100% !important;
        }
      }
    }
  }
}
