
$black: #000000;
$midnight-xpress: #1F2532 !important;
$white: #ffffff;
$white-smoke: #EFEFEF;
$ghost-white: #f7f7fb;


$night-rider: #323232 !important;
$grey: #797979;
$slateGray: #6e768a;
$dark-gray: #acaeb5;
$Matterhorn:#575757;
$davy-grey: #575757;
$dark-gray: #acaeb5;
$nobel: #A1A1A1;
$trolley-grey: #797979 !important;
$whisper: #EDEDED;
$very-light-grey: #C8C8C8;
$lavender-grey: #c8c8c8; 
$pattens-blue: #CEEEFE !important;
$isabelline:#e9ebee;
$munsell: #eeeef2;
$solitude: #DFE9FF !important;
$lightCyanLight: #ceeefe;

$magnolia: #F8F7FC !important;
$pacific-blue: #0B9ED0;
$tiffany-blue: #0bd0bb;
$cerulean: #0080ab;
$persian-green: #009D8C;
$dark-cyan: #009d8c;
$light-cyan: #cefee6;

$aliceBlue: #edf3ff;

$sea-green: #43a047;
$persian-red: #d32f2f;


$facebook: #406AA6;
$google: #EE1E1D;