body {
  background-color: #f7f7fb !important;
}
/*  text-color  */
.text-white {
  color: $white;
}

.text-night-rider {
  color: $night-rider;
}
.text-pacific-blue {
  color: $pacific-blue !important;
}
.text-pattens-blue {
  color: $pattens-blue;
}
.text-Matterhorn {
  color: $Matterhorn !important;
}
.text-davy-grey {
  color: $davy-grey;
}
.text-grey {
  color: $grey;
}
.text-trolley-grey {
  color: $trolley-grey;
}
.text-very-light-grey {
  color: $very-light-grey;
}

.text-tiffany-blue {
  color: $tiffany-blue;
}
.text-sea-green {
  color: $sea-green;
}
.text-dark-gray {
  color: $dark-gray;
}
.text-lavender-grey {
  color: $lavender-grey;
}

.textSlateGray {
  color: $slateGray;
}
.textAliceBlue {
  color: $aliceBlue;
}
.textLightCyan {
  color: $light-cyan !important;
}
.textPersianRed {
  color: $persian-red;
}
.textMagnolia {
  color: $magnolia;
}
.textLightCyanLight {
  color: $lightCyanLight;
}

.text-google {
  color: $google;
}
.text-facbook {
  color: $facebook;
}
.text-nobel {
  color: $nobel;
}
.text-light-cyan {
  color: $light-cyan;
}
.text-solitude {
  color: $solitude;
}
/*  text-color end */

/*  bg-color  */
.bg-transparent {
  background-color: transparent !important;
}
.bg-white {
  background-color: $white;
}
.bg-ghost-white {
  background-color: $ghost-white;
}
.bg-midnight-xpress {
  background-color: $midnight-xpress;
}
.bg-pacific-blue {
  background-color: $pacific-blue !important;
}
.bg-whisper {
  background-color: $whisper;
}
.bg-persian-green {
  background-color: $persian-green;
}
.bg-cerulean {
  background-color: $cerulean;
}
.bg-dark-cyan {
  background-color: $dark-cyan !important;
}

.bgMagnolia {
  background-color: $magnolia;
}

.bg-isabelline {
  background-color: $isabelline;
}
.bg-munsell {
  background-color: $munsell !important;
}

/*  bg-color  end*/

.socialPropup {
  background-color: #1f2532 !important;
  padding: 0.5em !important;
  color: #ffffff !important;
  border: none !important;
  font-size: 12px !important;
  margin-left: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  &::before {
    border-left: 5px solid #1f2532 !important;
    border-right: 5px solid #1f2532 !important;
    border: 5px solid #1f2532 !important;
    background-color: #1f2532 !important;
  }
}

/*  button  */
.btn-small {
  padding: 5px 10px 5px 10px !important;
}
.primaryMiniBtn {
  border-radius: 30px;
  font-size: 12px !important;
  background-color: #e9ebee !important;
  color: #575757 !important;
}

.btnWhite:hover {
  color: $white !important;
}

.btnHoverBlue:hover {
  color: $pacific-blue !important;
}

.btnBlue:hover {
  color: $pacific-blue !important;
  background-color: transparent !important;
}

.btnBlue_Text:hover {
  color: $pacific-blue !important;
}
.socialBtn {
  transition: 0.4s;
  border-radius: 50% !important;
  height: 45px;
  width: 45px;
  border: 0 !important;
  box-shadow: none !important;
  padding: 15px 10px 10px !important;
  svg * {
    transition: 0.4s;
  }

  &:hover {
    background: #f7f7fb !important;
    color: $pacific-blue !important;

    svg g path {
      fill: $pacific-blue;
    }
  }

  &.bestCardHover:hover {
    background: white !important;
  }
}

.searchInput {
  input {
    @extend .b-r-30;
    border: 1px solid #efefef !important;
  }
  input::placeholder {
    @extend .text-pacific-blue;
  }

  input:focus i {
    color: #ffffff !important;
  }
  i {
    @extend .bg-pacific-blue;
    opacity: 1 !important;
    @extend .text-pattens-blue;
  }
  &:hover {
    color: #ffffff !important;
  }
}

.searchInput {
  input:focus {
    box-shadow: 0px 0px 20px rgba(3, 0, 73, 0.09) !important;
  }
}
.actionBtn {
  transition: 0.25s !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
  font-size: 12px !important;
  height: 35px;
  line-height: 16px !important;
  border-radius: 30px;
  background-color: $pacific-blue !important;
  color: #ceeefe !important;
  &:hover {
    background-color: #0787b3 !important;
    color: $white !important;
    box-shadow: 0px 5px 5px rgba(3, 0, 73, 0.15) !important;
  }
}
.actionBtnBanner {
  background-color: #ffffff !important;
  border-radius: 30px;
  font-size: 12px !important;
  color: #323232 !important;
  &:hover {
    background-color: #ffffff !important;
    box-shadow: 0px 5px 5px rgba(3, 0, 73, 0.15) !important;
    color: #0b9ed0 !important;
  }
}

.bgWhiteSmallBtn {
  background-color: $white !important;
  color: $Matterhorn !important;
  height: 35px;
  font-size: 12px !important;

  &:hover {
    color: $Matterhorn !important;
    box-shadow: 0px 5px 5px rgba(3, 0, 73, 0.15) !important;
  }
}

.textNightRiderBtn {
  background-color: $white !important;
  color: $night-rider;
}

.LightCyanBgBlue {
  background-color: $pacific-blue !important;
  color: $light-cyan !important;
}

.pacificBlueBtn {
  background-color: $pacific-blue !important;
  color: $white;
}

.IsabellineBtn {
  background-color: $isabelline !important;
  color: $Matterhorn !important;
}

.ghostWhiteBtn {
  background-color: #f7f7fb !important;
  color: $night-rider !important;
}

.btn-large {
  @extend .bg-pacific-blue;
}

.box-shadow-none {
  box-shadow: none !important;
}
.box-shadow-card {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1) !important;
}
/*  button  end*/

/* box-card-shadow */
.shadow-box-card {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1) !important;
}
/* box-card-shadow end*/

/*  border class  end*/
.b-r-6 {
  border-radius: $b-r-6;
}
.b-r-30 {
  border-radius: $b-r-30;
}
.border-top-0 {
  border-top: none !important;
}

.b-t-r-l-r-6 {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.b-t-1-w-smoke {
  border-top: 1px solid $white-smoke;
}
.b-b-1-w-smoke {
  border-bottom: 1px solid $white-smoke;
}

.divider-hr {
  border-top: 1px solid $white-smoke;
}
/*  border class  end*/

/*  position class  end*/
.position-r {
  position: $position-r;
}
.position-a {
  position: $position-a;
}
/*  position class  end*/

/*  display class */
.displayBlock {
  display: block !important;
}
.displayNone {
  display: none !important;
}
.displayInlineBlock {
  display: inline-block !important;
}
/*  display class end */

.text-aling-center {
  text-align: center;
}
.alingCenter {
  text-align: center;
}
.text-aling-right {
  text-align: right;
}
.alingCenterRight {
  text-align: right;
}
.alingRight {
  text-align: right;
}

/*  font-family */
.font-f-quicksand {
  font-family: $font-f-quicksand;
}
.font-f-open-sans {
  font-family: $font-f-open-sans;
}
/*  font-family end*/

/*  float */
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
/*  float end*/

// .searchPost{
//   color: $pacific-blue;
// }

.companyLogo {
  height: 40px;
  width: 40px;
  svg {
    border-radius: 6px;
  }
}

.educationThumb {
  height: 40px;
  width: 40px;
  svg {
    border-radius: 50%;
  }
}

.userImgThumb {
  svg {
    border-radius: 50%;
  }
}

/*  font weight  end */

.fontSize-12 {
  font-size: 12px !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-13 {
  font-size: 13px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px !important;
}

// font vasitum
.vasitumFontOpen-500 {
  font-family: $font-f-open-sans !important;
  font-weight: $font-w-5;
}

.vasitumFontOpen-600 {
  font-family: $font-f-open-sans !important;
  font-weight: 600 !important;
}

.vasitumFontOpen-700 {
  font-family: $font-f-open-sans !important;
  font-weight: 700 !important;
}

.vasitumQuicksand-500 {
  font-family: "Quicksand" !important;
  font-weight: 500 !important;
}

.filterSkill {
  .item {
    color: $night-rider;
  }
  .ui.horizontal.bulleted.list > .item::before {
    color: $very-light-grey;
    font-size: 22px;
    margin-left: -1rem;
  }
}

.vasitumShareBtn {
  .ui.labeled.icon.button {
    padding-left: 30px !important;
    padding-right: 5px !important;
    .icon {
      background-color: transparent !important;
      color: #c8c8c8;
    }
  }
}

.vasitumFilterDropdowmIcon {
  background-color: #f7f7fb !important;
  box-shadow: none !important;
  color: #c8c8c8 !important;
}

.vasitumBtnPaddin-0 {
  padding: 0 !important;
}

// .truncate {
//   display: block;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

/*   font-weight class */
.font-w-500 {
  font-weight: $font-w-5;
}
.font-w-600 {
  font-weight: 600 !important;
}
/*   font-weight class end */

// line height

.lineHeight-22 {
  line-height: 22px;
}

@mixin font-weight($weight) {
  $weights: (
    thin: 100,
    extra-light: 200,
    ultra-light: 200,
    light: 300,
    normal: 400,
    book: 400,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    demi-bold: 600,
    bold: 700,
    extra-bold: 800,
    ultra-bold: 900,
    heavy: 900,
    black: 900,
    ultra: 900,
    ultra-black: 900,
    extra-ultra: 900
  );

  $output: $weight;
  @if map-has-key($weights, $weight) {
    $output: map-get($weights, $weight);
  }
  font-weight: $output;
}
/* font weight  end */
/* padding and margin  end */
$range: 200;
@for $i from 0 through $range {
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .margin-top-#{$i} {
    margin-top: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .margin-left-#{$i} {
    margin-left: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .padding-top-#{$i} {
    padding-top: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .padding-left-#{$i} {
    padding-left: #{$i}px !important;
  }
}
@for $i from 0 through $range {
  .padding-right-#{$i} {
    padding-right: #{$i}px !important;
  }
}
/* *
 Karan Class Edits
* */
.font-24px {
  font-size: 24px !important;
}
.font-32px {
  font-size: 32px !important;
}
.font-13px {
  font-size: 13px !important;
}
.mtb-2px {
  margin: 2px 0px !important;
}
.mt4b2 {
  margin: 5px 0px 3px 0px !important;
}
.text-a1 {
  color: #a1a1a1 !important;
}
.ListK::before {
  font-size: 24px !important;
}
.ais-SearchBox-form {
  display: none !important;
}
.has-hover-blue {
  box-shadow: 0px 0px 15px rgba(11, 158, 208, 0);
  &:hover {
    color: #0b9eb0 !important;
    svg {
      g {
        fill: #0b9eb0;
      }
    }
  }
}
.paddingBestPanelSignIn {
  padding: 2px 15px 10px !important;
}
.border-r-5 {
  border-radius: 5px;
}
.ui.button.SearchShowMoreBtn {
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 16px !important;
  padding-left: 3px !important;
  color: #797979 !important;
  background: transparent !important;
  // &:hover{
  // background: #f7f7fb !important
  // }
}
.accordion-panel.has-shadow {
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
  border-color: transparent !important;
}
/* padding and margin  end */
/* loader */
$m_green: #008744;
$m_blue: #0b9eb0;
$m_red: #d62d20;
$m_yellow: #ffa700;
$white: #eee;
// scaling... any units
$width: 100px;
body {
  background-color: $white;
}
// demo-specific
.m_showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}
// end demo-specific
.m_loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
.m_circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.m_path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: $m_blue;
  }
  40% {
    stroke: $m_red;
  }
  66% {
    stroke: $m_green;
  }
  80%,
  90% {
    stroke: $m_yellow;
  }
}
.accordion-panel {
  .ui.header.textHoverHeadingBlue a {
    color: #323232 !important;
    transition: 0.25s;
    font-size: 18px;
    &:hover {
      color: #0b9ed0 !important;
    }
  }
  &.has-shadow {
    .ui.header.textHoverHeadingBlue a {
      color: #0b9ed0 !important;
      // font-size: 22px;
      &:active {
        color: #0b9ed0 !important;
      }
    }
  }
}
.jobProfileBody {
  padding-left: 30px;
  padding-right: 30px;
}
