/*   border  */
$b-r-6: 6px !important;
$b-r-30: 30px !important;
/*   border  end*/

/*   position  */
$position-r: relative;
$position-a: absolute;
/*   position  end*/

/*   font-weight  */
$font-w-5: 500 !important;
/*   font-weight end */


/*   font-family  */
$font-f-quicksand: Quicksand;

$font-f-open-sans: 'Open Sans';
/*   font-family  end*/