.chatbot__chat {
  background-image: url(images/bg.png);
  background-color: #1f2532;
  z-index: 1000;
  width: 320px;
  color: #fafafa;
  position: fixed;
  font-family: "Quicksand", sans-serif;
  /* height: 100%; */
  height: 500px;
  bottom: 0px;
  right: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
}

/* @keyframes openbox {
  0% {
    height: 0px;
    width: 0px;
  }
  100% {
    height: 250px;
    width: 320px;
  }
} */

/* @-webkit-keyframes openbox {
  0% {
    height: 0px;
    width: 0px;
  }
  100% {
    height: 250px;
    width: 320px;
  }
}

@keyframes closebox {
  0% {
    height: 250px;
    width: 320px;
  }
  100% {
    height: 0px;
    width: 0px;
  }
} */

/* @-webkit-keyframes closebox {
  0% {
    height: 250px;
    width: 320px;
  }
  100% {
    height: 0px;
    width: 0px;
  }
} */

/* .hideBox {
  -webkit-animation: closebox 0.3s ease-out;
  animation: closebox 0.3s ease-out;
  height: 0;
  width: 0;
}

.showBox {
  -webkit-animation: openbox 0.3s ease-in;
  animation: openbox 0.3s ease-in;
  width: 320px;
} */

.Chatbot__reload {
  position: absolute;
  top: 60px;
  z-index: 1001;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.Chatbot__reload--btn {
  padding: 8px 20px;
  background: #0b9ed0;
  color: white;
  border: 0;
  outline: 0;
  opacity: 0.4;
  transition: 0.3s;
  border-radius: 10px;
}

.Chatbot__reload--btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .chatbot__chat {
    height: 100%;
    width: 100%;
    right: 0px;
  }
}

.chatbot__message-box {
  margin-top: 5px;
  bottom: 0px;
  position: fixed;

  width: 100%;
  z-index: 1000;
  height: 50px;
}

.chatbot__message-box-alt {
  display: none;
}
.chatbot__input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  position: fixed;
  height: 42px;
  border-top: 1px solid #dce3f3;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a1a1a1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #a1a1a1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #a1a1a1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #a1a1a1;
}
.chatbot__input ::placeholder {
  color: #a1a1a1;
}
.chatbot__messages {
  width: 100%;
  height: calc(100% - 60px) !important;
  padding-bottom: 34px;
  z-index: 1000;
  background: #f7f7fb;
  position: relative;
}
.chatbot__submit {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;

  z-index: 1001;
  margin-top: -5px;
}

.chatbot__message-right {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  color: #68d0c5;
}
.chatbot__personal-assistant {
  position: absolute;
  right: 0px;
  width: 35px;
  float: right;
  bottom: -5px;
}

.chatbot__message-personal {
  overflow-wrap: break-word;
  float: right;
  right: 40px;
  min-width: 22%;
  max-width: 80%;
  display: inline-block;
  padding: 10px 10px 16px 10px;
  border-radius: 15px 15px 0px 15px;
  line-height: 20px;
  background-color: rgb(175, 236, 230); /* rgba(0, 157, 140, 1); */
  color: rgba(87, 87, 87, 1);
  position: relative;
  font-size: 13px;
}
.chatbot__message-left {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}
.chatbot__bot-assistant {
  position: absolute;
  left: 0px;
  width: 35px;

  bottom: -5px;
}

.chatbot__bot-assistant img {
  width: inherit;
}

.chatbot__personal-assistant img {
  width: inherit;
}

.chatbot__bot-time-right {
  display: none;
  position: absolute;
  right: 32px;
  bottom: -3px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: rgba(87, 87, 87, 1);
}
.chatbot__message-bot {
  overflow-wrap: break-word;
  float: left;
  left: 40px;
  min-width: 25%;
  max-width: 76%;
  display: inline-block;
  padding: 10px 10px 16px 10px;
  border-radius: 20px 20px 20px 0px;
  line-height: 20px;
  background: #dce3f3; /* white */
  color: rgba(87, 87, 87, 1);
  position: relative;
  font-size: 13px;
  /* margin-bottom: 10px; */
  margin-top: 10px;
}

/* .chatbot__message-bot {
	color: rgba(87, 87, 87, 1);
	font-size: 13px;
	padding: 10px 10px 10px 10px;
	margin-right: 3px;
	margin-top: 10px;
	
	height: auto;
	left: 45px;
	min-height: 30px;
	border-radius: 20px 20px 20px 0px;
	line-height: 20px;
	background: white;
	max-width:60%;
	overflow: hidden;
	position: relative;
} */

.chatbot__message-bot_card {
  color: #575757;
  overflow-wrap: break-word;
  font-size: 13px;
  padding: 10px 33px 16px 10px;
  margin-right: 3px;
  margin-top: 10px;
  max-width: 70%;
  height: auto;
  left: 20px;
  min-height: 30px;
  border-radius: 20px 20px 20px 0px;
  line-height: 20px;
  background: white;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.chatbot__chat-title {
  background: rgba(31, 37, 50, 1);
  top: 0px;
  height: 60px;
  width: 100%;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.chatbot__title-image {
  margin-left: 3px;
  float: right;
  margin-right: 5px;

  padding-top: 5px;
  outline: none;
}

.chatbot__close {
  width: 11px;
  padding: 2px 2px 2px 0px;
  height: 11px;
  margin-top: 22px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 5px;
  background: rgba(31, 37, 50, 1);
}

.chatbot__back {
  height: 14px;
  width: 23px;
  float: left;
  cursor: pointer;

  margin-left: 15px;
  margin-top: 18px;
  border: none;
  background: rgba(31, 37, 50, 1);
}

.chatbot__processing {
  margin-top: 16px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  margin-right: 6px;
  background: rgba(31, 37, 50, 1);
}

.chatbot__grid {
  background: rgba(31, 37, 50, 1);
  width: 17px;
  cursor: pointer;
  margin-top: 19px;
  margin-right: 6px;
  height: 14px;
  align-self: center;
}

#avatar {
  height: 10%;
  width: 10%;
  border-radius: 25px;
  background: blue;

  margin-top: 30px;
}

.chatbot__card {
  cursor: pointer;
  background: white;
  height: 110px;
  border-radius: 5px;
  /* width: 90%; */
  font-family: "Quicksand", sans-serif;
  padding-top: 10px;

  margin: 10px 0px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  border: none;
}
.chatbot__main {
  width: 100%;
  height: 70%;
}

.chatbot__details {
  display: inline-block;
  width: 100%;
  height: 80%;
  float: left;
  position: relative;
}
.chatbot__icon {
  padding-left: 10px;
  width: 48px;
  display: inline-block;
}
.chatbot__other-details {
  width: calc(100% - 48px);
  color: black;
  display: inline-block;
}
.chatbot__heading {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #323232;
  display: inline-block;
  padding-left: 11px;
}
.chatbot__org-detail {
  /* padding-top: 6px; */
}
.chatbot__com {
  display: block;
  padding-left: 6px;
  line-height: 15px;
}
.chatbot__org-name {
  display: inline-block;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;

  font-size: 13px;
  color: #575757;
}

.chatbot__org-loc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #575757;

  font-size: 13px;
  padding-left: 5px;
  width: 90px;
  display: inline;
}
.chatbot__small-icon {
  padding-left: 6px;
}

.chatbot__time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  display: inline;
  color: rgb(153, 160, 177);
  font-size: 12px;
  float: right;
  padding-top: 0px;
  text-align: right;
}

.chatbot__process {
  display: block;
  /* width: 87%; */
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  border-top: 1px solid rgba(239, 239, 239, 1);

  height: auto;
}
.chatbot__org-process {
  padding-left: 18px;

  font-size: 12px;

  color: rgba(11, 157, 207, 1);
}
.chatbot__assistant-card {
  background: white;
  height: 10%;
  margin-top: 15px;
  border-radius: 5px;
  width: 85%;

  font-family: "Quicksand", sans-serif;
  padding-top: 10px;
  position: relative;
}

.chatbot__assistant-icon {
  padding-left: 10px;
  display: inline;
  padding-top: 5px;
}

.chatbot__assistant-details {
  color: black;
  display: inline;
  padding-left: 10px;
  position: absolute;
  width: 80%;
}
.chatbot__assistant-name {
  font-size: 12px;
  font-weight: bold;
  color: #404040;
}
.chatbot__assistant-tag {
  font-size: 12px;
  color: #999999;
  padding-left: 5px;
}

.chatbot__assistant-text {
  padding-top: 3px;
  display: block;
  color: #404040;
  font-size: 12px;
}
.chatbot__day-time {
  color: #999999;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
}
.chatbot__additional {
  display: block;
}

.chatbot__card-with-info {
  margin-top: 19px;
  display: block;
  width: 70%;
  font-size: 14px;
  position: relative;
}
.chatbot__card2 {
  width: 83%;
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 20px;
  color: rgba(87, 87, 87, 1);
  padding-left: 5px;
  background: white;

  border-radius: 5px;

  position: relative;
  padding-bottom: 15px;
}

.chatbot__card2-main {
  cursor: pointer;
  background: #d9d9d9;
  margin-left: 4px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  width: 90%;
  font-size: 15px;
  color: #4d5050;
  padding-bottom: 5px;

  display: inline-block;
}

.chatbot__card2-details {
  width: 70%;
  float: right;
  padding-left: 10px;
}
.chatbot__card2-sm-icon {
  width: 15px;
  height: 15px;
  color: green;
}
.chatbot__card2-icon {
  width: 20%;
  display: inline;
  float: left;
}

.chatbot__card2-heading {
  color: rgba(50, 50, 50, 1);
  font-weight: bold;
}
.chatbot__card2-item {
  color: rgba(87, 87, 87, 1);
  font-size: 13px;
  display: block;
  padding-top: 5px;
}

.chatbot__sub-text {
  display: inline-block;
  font-size: 13px;
  color: rgba(87, 87, 87, 1);
  padding-left: 10px;
  padding-right: 5px;
}
.chatbot__birth-container {
  position: relative;
  width: 70%;
}

.chatbot__birth-card {
  margin-left: 35px;

  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  background: white;

  padding: 12px 10px 12px 10px;
}
.chatbot__birth-card-icon {
  float: left;

  width: 15%;
  position: relative;
}
.chatbot__birth-wish {
  width: 85%;

  font-size: 12px;
  padding-left: 15%;
  position: relative;
}
.chatbot__wish-heading {
  padding: 5px 5px 5px 5px;
  border-radius: 25px;
  background: #0086b3;
  width: 90%;
  font-size: 13px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #0086b3;
  position: relative;
}
.chatbot__wish-text {
  color: rgba(87, 87, 87, 1);
  padding-top: 10px;
  display: block;
  padding-left: 20px;
  font-size: 14px;
}

.chatbot__catagory {
  margin: 10px 5px 5px 5px;
  margin-right: 10px;
  background-color: rgba(31, 37, 50, 1);
  border: 2px solid #272f3f;
  width: 95%;
  border-radius: 5px;
  display: inline-block;

  position: relative;
}
@media only screen and (max-width: 320px) {
  .chatbot__catagory {
    display: none;
  }
}

.chatbot__catagory-item {
  width: 100%;
  margin: 10px 10px 0px 10px;
  position: relative;
  cursor: pointer;
}

.chatbot__catagory-item.is-hidden {
  display: none;
}

.chatbot__process-icon {
  width: 10%;
  padding-right: 4px;

  display: inline-block;
}
.chatbot__expand-icon {
  position: relative;
  display: inline;
  margin-top: 19px;
  cursor: pointer;
}
.chatbot__down {
  width: 15px;
  height: 15px;
  padding-bottom: 10px;
}
.chatbot__process-detail {
  width: 80%;
  display: inline-block;
  border-bottom: 2px solid #272f3f;
}

.chatbot__process-name {
  font-size: 16x;
  color: #00b8e6;
  display: inline;
}

.chatbot__process-time {
  font-size: 14px;
  color: #58698d;
  padding-top: 5px;
  padding-bottom: 10px;
}

.chatbot__op-container {
}
.chatbot__op-card {
  background: #dce3f3;
  border-radius: 5px;
  margin-left: 35px;
  margin-top: 10px;
  width: 70%;
  border-radius: 20px 20px 20px 0px;
  padding: 10px 10px 10px 10px;
  position: relative;
  display: inline-block;
}
.chatbot__op-text {
  color: rgba(87, 87, 87, 1);
  font-size: 13px;
  padding-bottom: 10px;
  line-height: 24px;
}

.chatbot__option {
  padding: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  background: #cccccc;
  border: none;
  margin-top: 5px;
  color: #4d4d4d;
  border-radius: 20px 20px 20px 0px;
  font-weight: bold;
}
.chatbot__option:hover {
  background: #00a3cc;
  color: #fff;
}

.chatbot__collapsed {
  background: rgba(31, 37, 50, 1);
  height: 100%;
  width: 44px;
  position: fixed;
  z-index: 1000;
}

.chatbot__sec-cat {
  width: 44px;
  display: block;
  position: absolute;
  cursor: pointer;
}
.chatbot__number-container {
  position: absolute;
  right: 3px;

  top: 13px;

  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}

.chatbot__number-rec-container {
  position: absolute;
  right: 5px;
  top: 80px;

  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__number-screen-container {
  position: absolute;
  right: 5px;
  top: 150px;

  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__number-general-container {
  position: absolute;
  right: 5px;
  top: 21px;

  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__number-interview-container {
  position: absolute;
  right: 5px;
  top: 220px;

  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__ticker {
  position: absolute;
  left: 5px;
  bottom: -1px;
}
.chatbot__number {
  padding: 0px 3px 1px 3px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgba(11, 158, 208, 1);
  border-radius: 50%;
  font-size: 9px;
  height: 15px;
}
.chatbot__sec-back {
  margin: 10px 10px 10px 10px;
}
.chatbot__sect-item {
  margin-top: 10px;
  display: block;
  border-bottom: 2px solid #313a4e;
  cursor: pointer;
  height: 59px;
}

.chatbot__sec-img {
  height: 20px;
  width: 20px;
  margin: 10px 10px 10px 10px;
}

.chatbot__buttons {
  display: inline-block;
  /* width: 80%; */
  margin-left: 45px;
  margin-top: 10px;
  height: 40px;
  margin-right: 35px;
}
.chatbot__buttons .button {
  border: 0px;
}
.chatbot__first-button {
  text-align: center;
  display: inline-block;
  width: auto;
  /* display: inline; */
  /* height: 39px; */
  /* min-width: 63px; */
  background-color: rgba(238, 238, 242, 1);
  /* border: 1px solid rgba(110, 118, 138, 1); */
  border-radius: 20px;
  padding: 6px 20px;
  font-size: 13px;
  color: rgba(87, 87, 87, 1);
  margin-right: 5px;
  margin-top: 5px;
  border: 2px solid #0b9ed0;
  background: white;
  color: #0b9ed0;
  font-family: "Open Sans", sans-serif;
}
.chatbot__first-button-active {
  text-align: center;
  display: inline-block;
  width: auto;
  background-color: rgba(11, 158, 208, 1);
  border-radius: 20px;
  padding: 8px 18px 8px 18px;
  font-size: 13px;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
}

.chatbot__first-button:hover {
  background-color: rgba(11, 158, 208, 1);
  /* border: 1px solid rgba(110, 118, 138, 1); */
  color: white;
  cursor: pointer;
}
.chatbot_first-button:visited {
  background-color: rgba(11, 158, 208, 1);
}
.chatbot__first-button:active {
  background-color: rgba(11, 158, 208, 1);
}
.chatbot__second-button {
  margin-left: 10px;
  display: inline;
  height: 39px;
  width: 115px;
  background-color: rgba(31, 37, 50, 1);
  border: 1px solid rgba(110, 118, 138, 1);
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  font-size: 14px;
  color: rgba(237, 239, 241, 1);
}

.chatbot__second-button:hover {
  background-color: rgba(11, 158, 208, 1);
}
.chatbot__second-button:active {
  background-color: rgba(11, 158, 208, 1);
}
#chatbot__auto {
  display: block;
  margin-top: 10px;
  top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#chatbot__auto::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
#chatbot__auto::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

#chatbot__auto::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

  background-color: #1f2532;
}
.chatbot__rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.chatbot__search {
  width: 100%;
  padding: 12px 40px;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  position: fixed;
  height: 40px;
  z-index: 2000;
}
.chatbot__search_image {
  z-index: 2002;
  position: absolute;
  top: 9px;
  right: 10px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.chatbot__search_submit {
  display: block;
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 2002;
}
.chabot__search-icon {
  width: 20px;
  height: 20px;
}
.chatbot__tittle_search {
  padding-bottom: 20px;
  height: 69px;
}
.chatbot_forward {
  display: inline;
}
.chatbot_forward_icon {
  position: absolute;
  top: 10px;
  right: 20px;
}
.chatbot__bot-time {
  position: absolute;
  right: 2px;
  bottom: 0px;
  margin-right: 5px;
  display: none;
}
.chatbot__confidence {
  position: absolute;
  margin-top: 12px;
  right: 34px;
  height: 46px;
  width: 63px;
  text-align: center;
  background-color: rgba(244, 244, 249, 1);
  border-radius: 6px;
  padding: 0px 13px 0px 10px;
}
.chatbot__percentage {
  bottom: 10px;
  top: 5px;
  left: 14px;
  position: absolute;
  font-size: 16px;
  color: rgba(0, 157, 140, 1);
}
.chatbot__confidence-text {
  display: inline-block;
  font-size: 10px;
  color: rgba(161, 161, 161, 1);
  position: absolute;
  right: 12px;
  top: 24px;
}

.chatbot__selecter {
  position: absolute;
  padding-left: 13px;
  background: white;
  width: 60px;
  font-size: 16px;
  border: none;
  height: 35px;
  margin-top: 20px;
  margin-left: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.chatbot__dropbtn {
  background-color: white;
  color: rgba(31, 37, 50, 0.69);
  padding: 18px;
  font-size: 12px;
  border: none;
  width: 70px;
  cursor: pointer;
  border-radius: 6px;
}
.chatbot__dropbtn-content {
  position: absolute;
  top: 4px;
  left: 4px;
}

.chatbot__dropdown {
  position: absolute;
  display: inline-block;
  right: 60px;
  margin: 25px 10px 7px 91px;
}

.chatbot__dropdown-content {
  display: none;
  position: absolute;
  top: 17px;
  background-color: #f9f9f9;

  max-width: 120px;
  width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2003;
}

.chatbot__dropdown-content span {
  color: black;
  font-size: 12px;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.chatbot__dropdown-content span:hover {
  background-color: #f1f1f1;
}

.chatbot__dropdown:hover .chatbot__dropdown-content {
  display: block;
}

.chatbot__dropdown:hover .chatbot__dropbtn {
  background-color: white;
}
.chatbot__message_end {
  display: none;
}

.chatbot__rotate90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.chatbot__rotate270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.chatbot__search_up {
  cursor: pointer;
  z-index: 2002;
  position: absolute;
  top: 11px;
  right: 65px;
}

.chatbot__search_down {
  cursor: pointer;
  z-index: 2002;
  position: absolute;
  top: 11px;
  right: 45px;
}
.chatbot__interview-tic {
  position: absolute;
  right: 50px;
  top: 206px; /* 142 */
  padding: 4px 7px 4px 7px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__rec-tic {
  position: absolute;
  right: 50px;
  top: 77px; /* 12 */
  padding: 4px 7px 4px 7px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__general-tic {
  position: absolute;
  right: 50px;
  top: 12px; /* 206 */
  padding: 4px 7px 4px 7px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__screen-tic {
  position: absolute;
  right: 50px;
  top: 142px; /* 77 */
  padding: 4px 7px 4px 7px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  z-index: 4;
}
.chatbot__number1 {
  padding: 1px 6px 2px 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: rgba(11, 158, 208, 1);
  border-radius: 50%;
  font-size: 9px;
  height: 15px;
}
.chatbot__saving {
  font-size: 65px;
  margin-top: 15px;
  display: block;
  margin-left: 37px;
  color: #00a3cc;
  width: 37px;
  height: 73px;
  position: absolute;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.chatbot__saving span {
  animation-name: blink;

  animation-duration: 1.4s;

  animation-iteration-count: infinite;

  animation-fill-mode: both;
}

.chatbot__saving span:nth-child(2) {
  animation-delay: 0.2s;
}

.chatbot__saving span:nth-child(3) {
  animation-delay: 0.4s;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Tooltip container */
.chatbot__tooltip {
  position: relative;
  display: inline-block;
}

.chatbot__tooltip .chatbot__tooltiptext {
  font-size: 10px;
  visibility: hidden;
  width: 100px;
  background-color: #464642;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 50%;
}

.chatbot__tooltip:hover .chatbot__tooltiptext {
  visibility: visible;
}
a:-webkit-any-link {
  text-decoration: none;
}
.chatbot__hide_buttons {
  display: none;
}

.chatbot__ticker-number {
  position: absolute;
  left: 5px;
  top: -2px;
}
