.publicProfile_detailContainer {
  margin-top: -64px;
  background-color: transparent !important;
  .publicProfile_detailContainerList {
    text-align: center;
    .social_containerList {
      .preProfileDetail_row {
        .eight.column:first-child {
          text-align: left;
        }
      }
    }
    .Profile_containerList {
      display: inline-block;
    }
  }
  .preProfileHeaderBtn {
    .publicProfile_followBtn {
      background-color: #ffffff;
      // border-radius: 20px;
      &:hover {
        color: #0b9ed0;
      }
    }
  }
  .preProfileHeaderDetail {
    .PreProfileFollowLikeMobile {
      border-top: 1px solid #efefef;
      padding-top: 10px;
      margin-top: 20px;
      p {
        padding-right: 20px;
      }
    }

    .Mobile_socialBtnContainer {
      .Mobile_followBtn {
        background-color: #ffffff;
        border: 2px solid #0b9ed0;
        color: #0b9ed0;
        margin-right: 5px;
        margin-left: 5px;
      }
      .MoreOptionSocialMenu {
        display: inline-block;
        .ui.button {
          padding-left: 5px;
          padding-right: 5px;
          background-color: transparent;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .publicProfile_detailContainer {
    background-color: #ffffff !important;
    border-radius: 6px 6px 0 0;
    padding-bottom: 0 !important;
    // margin-top: -13px;
    /* z-index: 10; */
    position: relative;
    .publicProfile_detailContainerList {
      .Profile_containerList {
        display: block;
        .preProfileHeaderDetail {
          .preProfileTitle {
           .ui.header {
              font-size: 20px;
            }
            p {
              font-size: 15px !important;
            }
          }
        }
      }
    }
    .preProfileHeaderDetail {
      padding-bottom: 6px !important;
    }
    .preProfileHeaderDetail {
      margin-top: -60px !important;
    }
  }
  .Mobile_socialBtnContainer {
    .search-job-list-share {
      position: absolute;
      top: -110px;
      right: -25px;
    }
  }
}
