.ReviewScreeningQuestionsMobile{
  .ScreeningQuestions_mobileBody{
    
  }
}



@media only screen and (max-width: 1024px){
  .ReviewScreeningQuestions{

    .ScreeningQuestionHeader{
      padding-top: 0;
      .ui.header{
        display: none !important;
      }
    }
    
  }
  .ScreeningQuestions_footer{
    .footer_containerLeft{
      display: none !important;
      
    }
    .footer_containerRight{
      // flex-direction: column;
      width: 100%;
      justify-content: center;
      .saveAsDraft{
        
        .previewBtn{
          display: inline-block;
          display: none;
        }
      }
      .cancelBtn{
        text-align: center;
      }
    }
  }

  .ScreeningQuestionsContainer{
    .ScreeningQuestions_body{
      .QuestionCard_header{
        .rightHeader{
          // margin-top: 230px;
          .ui.header{
            font-size: 16px;
          }
        }
      }
    }

    .questionDefault_container{
      .cardHeader{
        p{
          font-size: 16px;
        }
      }

      .QuestionCard_headerTitle{
        .subTitle{
           font-size: 14px;
        }
      }
    }

    .machskill_container{
      .QuestionCard_header{
        .rightHeader{

        }
        .ui.grid{
          .row{
            .five.column{
              width: 50% !important;

              padding-left: 10px;
            }
            .three.column.checkBox_Container{
              width: 80% !important;
              .question_container{
                padding-top: 5px;
              }
            }
            .three.column.removeBox_container{
              width: 20% !important;
              .remove_container{
                padding-top: 5px;
                span{
                  display: none;
                }
              }
            }
            .checkBoxMarkAll{
              display: none !important;
            }
          }
        }
      }
    }
    .workExperience{
      .QuestionCard_header{
        .ui.grid{
          .row{
            .five.column{
              width: 100% !important;
              padding-left: 10px;
            }
            .three.column{
              width: 100% !important;
              .question_container{
                padding-top: 10px;
              }
              .checkBox_container{
                margin-top: 0;
              }
            }

          }
        }
      }  
    }
  }
}