.NotifyContainer{
  .notify_field{
    .Textarea_field{
      margin-top: 20px;
      .attachment{
        padding-top: 5px;
        svg{
          cursor: pointer;
        }
      }
    }
  
    .InputContainer{
      background-color: #F8F7FC;
      border-radius: 5px;
      padding: 20px 20px 20px 0;
      margin-top: 20px;
    }
  }
  
  .notify_Label{
    .NotifyAplicationLabel{
      label{
        color: #323232;
        font-family: 'Quicksand';
        font-size: 16px;
      }
    }
    
  }
}

