.HomePageSubFooter{
  // border-top: 1px solid #2c3342;
  // margin-top: 30px;
  border-bottom: 1px solid #2c3342;
  background-color: #1f2532;
  margin-bottom: 30px;
  .SubFooter_container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
    .container_left{
      display: flex;
      width: 100%;
      flex-direction: column;
      .subscribeShare_container{
        padding-bottom: 30px;
        width: 100%;
        display: flex;
        .subscribeShare_containerLeft{
          width: 75%;
          .CardInputButton{
            box-shadow: none;
            background-color: transparent;
            padding: 0;
            width: 50%;
            .content{
              padding: 0;
            }
            .ui.header{
              margin-bottom: 10px;
              font-weight: 500;
              color: #ffffff;
              font-size: 20px;
            }
            .subTitleHead{
              font-family: 'Quicksand';
              font-size: 13px;
              color: #727b8f;
              margin-bottom: 15px;
            }
          }
        }
        .subscribeShare_containerRight{
          // margin-left: 60px;
          width: 25%;
          .ui.header{
            margin-bottom: 2px;
            font-weight: 500;
            color: #ffffff;
            font-size: 20px;
            
          }
          p{
            font-family: 'Quicksand';
            font-size: 13px;
            color: #727b8f;
            margin-bottom: 15px;
          }
          .SocialBtn{
            margin-top: 25px;
            .ui.button{
              height: 30px;
              width: 30px;
              padding: 7px 8px !important;
              border: 1px solid transparent;
              background-color: transparent;
              padding: 4px;
              margin-right: 25px;
              &:hover{
                border: 1px solid #0b9ed0;
                color: #0b9ed0;
                .icon{
                  color: #0b9ed0;
                }
              }

              .icon{
                color: #727b8f;
              }
            }
          }
        }
      }

      .aboutCompany_container{
        margin-top: 30px;
        .horizontal.list{
          .item{
            font-size: 12px;
            font-weight: 300;
            color: #515867;
          }
          .asLink:hover{
            color: #0b9ed0;
          }
          .asLink{
            .ui.button:hover{
              color: #0b9ed0;
            }
          }
          .ui.button{
            box-shadow: none !important;
            background-color: transparent;
            padding: 0;
            font-size: 12px;
            font-weight: 300;
            color: #515867;
            .icon{
              display: none;
            }
          }
        }
      }
    }
    .container_right{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: -30px;
      right: 0;
      .topArrowFooter{
        margin-bottom: 8px;
        .ui.button{
           height: 30px;
           width:30px; 
           padding: 7px;
           border-radius: 45px;
           background-color: #0b9ed0;
           svg{
             transform: rotate(-90deg);
           }
           
        }
      }
      .appComing_soon{
        height: 130px;
        width: 136px;
        background-color: #dfeef7;
        border-radius: 10px 10px 0 0;
        text-align: center;
        padding: 10px;
        p{
          font-family: 'Quicksand';
          font-size: 16px;
          font-weight: 500;
          color: #323232;
          span{
            color: #0b9ed0;
            
          }
          svg{
            margin-top: 10px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1024px) {
  .HomePageSubFooter {
    margin-top: 0;
    margin-bottom: 0 !important;
    .ui.container{
      // margin-left: 0 !important;
      // margin-right: 0 !important;
    }
    .SubFooter_container {
      .container_left {
        width: 100%;
        .subscribeShare_container{
          padding-bottom: 14px;
          width: 100%;
          flex-direction: column;
          text-align: center;
          // margin-left: 20px;
          // margin-right: 20px;
          .subscribeShare_containerLeft{
            width: 100%;
            .CardInputButton{
              width: 100%;
            }
          }
          .subscribeShare_containerRight{
            margin-left: 0px;
            width: 100%;
            .ui.header{
              display: none;
            }
            p{
              display: none;
            }
          }
        }
        .aboutCompany_container{
          margin-bottom: 17px;
          border-top: 1px solid #404654;
          padding-top: 20px;
          text-align: center;
          .horizontal.list{
            text-align: center;
          }
        }
      }
    }
  }
}