.CandidatesCardDetail {
  padding-top: 14px;
  margin-bottom: 20px;

  &.is-checked {
    .SearchCardAccordion {
      background-color: #f7f7fb !important;

      .CandidateMediaCard > .MediaCard {
        background-color: #f7f7fb !important;
      }
    }
  }

  .CandidateMediaCard {
    .ui.card {
      box-shadow: none !important;
    }
  }

  .SearchCard {
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13);
    .SearchCardAccordion {
      background-color: #ffffff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .accordion {
        .title {
          padding-top: 10px;
          padding-bottom: 20px;
          cursor: default;
        }

        //   .active{
        //     .accordionArrowCircle{
        //       transform: rotate(180deg);
        //     }
        //   }

        // .accordionArrowCircle{
        //   line-height: .4;
        //   padding-right: 3px;
        //   height: 19px;
        //   width: 19px;
        //   background-color: inherit;
        //   display: inline-block;
        //   &:hover{
        //     border-radius: 30px;
        //     background-color: #eeeef2;
        //   }
        //   svg{
        //     transform: rotate(0deg);
        //   }
        // }
      }

      // .accordionArrowCircle{

      // }

      .MediaCard {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .MediaCardAvatar {
          text-align: center;
          .CandidatesCardMatch {
            background-color: #f4f4f9;
            border-radius: 6px;
            text-align: center;
            padding: 5px;
            margin-top: 5px;
            p {
              font-size: 20px;
              color: #009d8c;
              font-weight: 500;
              margin-bottom: 0;
            }
            span {
              font-family: "Open Sans";
              font-size: 12px;
              color: #a1a1a1;
            }
          }

          .CandidatesCardCheckbox {
            text-align: center;
            margin-top: 5px !important;
            margin-bottom: 10px;
          }
        }

        .CardProfileHeaderDetail {
          .CardSummaryItem {
            color: #a1a1a1;
            margin-bottom: 5px;

            span {
              color: #575757;
            }
          }
        }
      }

      .SearchCardHeaderBtn {
        padding-top: 30px;
        .downloadCV_btn {
          background-color: #f5f5fa;
          margin-right: 5px;
        }

        .interViewBtn {
          background-color: #ceeefe;
          border-radius: 6px !important;
          margin-right: 5px;
          padding-bottom: 5px;
          padding-top: 5px;
          .interViewBtn_box {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .svgIcon {
            display: inline-block;
            svg {
              margin-right: 10px;
            }
          }
          .interTitle {
            display: inline-block;
            p {
              margin-bottom: 0;
              color: #a1a1a1;
              span {
                color: #575757;
              }
            }
          }
        }
      }

      .CandidatesCardDetail_body {
        padding-top: 25px;
        .InfoCard_jobDescription {
          padding-top: 15px;
        }

        .InfoCard_bodySkill {
          padding-top: 30px;
        }

        .InfoCard_bodyBtn {
          padding-top: 30px;
          padding-bottom: 15px;
        }

        .InfoCard_bodyExp {
          padding-top: 30px;
        }

        .CandidatesCardDetail_divider {
          border-top: 1px solid #efefef;
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }

  .mobileDropdown_cardDetail {
    .description {
      color: #0b9dcf !important;
    }
    .text {
      font-family: "Open Sans" !important;
    }
    .Desc_option {
      .text {
        color: #a1a1a1 !important;
      }
    }
  }

  .CardSummary .CardSummaryExtra .body {
    color: #575757;
    font-size: 13px;
  }

  .CardSummary .CardSummaryExtra .todayTitle {
    color: #0b9ed0 !important;
  }

  .CardSummary .CardSummaryExtra .head {
    font-size: 13px;
    color: #a1a1a1;
  }

  .CardSummary {
    // margin-right: 20px;

    .CardSummaryItem {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #0b9ed0;
        &:hover {
          color: #0b9ed0;
        }
      }
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  // .accordionArrow{
  //   color: #cdcdcd;
  //   margin-top: 8px;
  //   padding-left: 3px;
  // }
}

.CandidatesCardDetail {
  .active {
    .accordionArrowCircle {
      background-color: #eeeef2;
      border-radius: 30px;
      .accordionArrow {
        transform: rotate(180deg);
      }
    }
  }
}

.CandidatesCardDetail:last-child {
  margin-bottom: 60px;
}

.CandidatesCardDetail {
  .accordionArrowCircle {
    padding-top: 2px;
    padding-left: 1.5px;
    height: 19px;
    width: 19px;
    background-color: inherit;
    display: inline-block;
    &:hover {
      border-radius: 30px;
      background-color: #eeeef2;
    }
    .accordionArrow {
      color: #cdcdcd;
      transform: rotate(0deg);
    }
  }
  // .accordionArrow{
  //   transform: rotate(0deg);
  // }

  .desktopViewBtn_cardDetail {
    display: block;
  }

  .moblilMore_cardDetail.column {
    display: none !important;
    .mobileDropdown_cardDetail {
      svg {
        height: 13.406px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .MobileCondidate {
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .CandidatesCardDetail {
    padding-top: 10px;
    margin-bottom: 20px;
    .SearchCard {
      .SearchCardAccordion {
        .ui.accordion {
          .title {
            padding-bottom: 0px;
          }
        }
      }
    }

    .CandidateMediaCard {
      .MediaCard {
        .MediaCardAvatar {
          text-align: center;
          img {
            height: 50px !important;
            width: 50px !important;
          }
          .SvgLogo {
            svg {
              border-radius: 6px;
            }
          }
          .CandidatesCardMatch {
            p {
              font-size: 14px !important;
            }
            span {
              font-size: 10px !important;
            }
          }
        }

        .CardSummary {
          margin-left: 0px;
          margin-right: 0;
        }
      }
    }

    .desktopViewBtn_cardDetail {
      display: none !important;
    }

    .moblilMore_cardDetail.two.column {
      display: block !important;
    }
  }
}
