.ScreeningQuestionHeader{
  padding-top: 30px;
  .ui.header{
    font-weight: 500;
    color: #575757;
    margin-bottom: 5px;
  }
  p{
    color: #797979;
  }
  .subHeader_body{
    p{
      margin-bottom: 3px;
      span{
        color: #575757; 
        font-weight: 600;
      }
    }
  }
}