.ApplicationWorkflowList{
  display: flex;
  align-items: center;
  .ApplicationWorkflowList_left{
    .ui.button{
      padding: 0;
      background-color: transparent;
    }
    img{
      height: 82px;
      width: 82px;
    }
  }
  .ApplicationWorkflowList_right{
    margin-left: 5px;
    min-height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #efefef;
    p{
      margin-bottom: 0px;
      color: #797979;
    }
    .candidate-whoTitle{
      font-weight: bold;
      font-size: 15px;
      span{
        font-weight: 400;
        color: #575757;
      }
    }
  
    .application-statusTitle{
      font-size: 14px;
      padding-bottom: 14px;
      display: flex;
      .statusSubTitle{
        margin-left: 5px;
        .ui.button{
          color: #0b9ed0;
          padding: 0;
          background-color: transparent;
          
        }
      }
      
    }
  }
}

.ApplicationBucket_modal.ui.modal{
 .close{
  margin-top: 15px;
  margin-right: 20px;
  opacity: 1;
  border-radius: 30px;
  color: #797979;
  font-size: 14px;
  padding-top: 10px;
  background-color: #ffffff;
 }
}

@media only screen and (max-width: 1024px){
  .ApplicationWorkflowList{
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    .ApplicationWorkflowList_left{
      flex-direction: column;
      .ui.button{
        margin-bottom: 10px;
      }
    }
    .ApplicationWorkflowList_right{
      margin-left: 0;
      flex-direction: column;
      .candidate-whoTitle{
        font-size: 14px;
      }
      .application-statusTitle{
        flex-direction: column;
        p{
          font-size: 13px;
        }
      }
      .statusSubTitle{
        margin-left: 0 !important;
      }
    }
  }
  .ApplicationBucket_modal.ui.modal{
    .close{
      margin-top: -13px;
      margin-right: -8px;
    }
  }
}