.panel-cardBody{
  .upload_resume{
    .ui.tiny.image{
      width: 64px;
      margin-left: 30px;
    } 
    .FileuploadBtn{
      display: inline-block;
      margin-top: 10px;
      margin-right: 10px;
    }
    .FlatDefaultBtn{
      background-color: #ffffff
    }  
  }
}