.search-filter-page {
  .bannrtBtn {
    .login_button {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 10px;
      button {
        align-self: flex-end;
      }
      .recentDropDown {
        margin-right: 10px;
        margin-top: 10px;
      }
    }

    .after_login {
      margin-top: 35px;
    }
  }
}

@media (max-width: 1025px) {
  .search-filter-page {
    .bannrtBtn {
      .login_button {
        flex-direction: row;
      }
    }
  }
}
