.CandidatesDetailpage{
  margin-top: 85px;

  .CandidatesDetailsBody{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1024px){
  .CandidatesDetail_pageMobile{
    
  }
}