

.CandidateStatisticDropMenu{
  display: flex;
  .ui.dropdown .menu{
    border-radius: 0 !important;
    border: none !important;
  }
  .ui.dropdown{
    display: flex;
    align-items: center;
    .dropdown.icon{
      height: 29px;
      width: 29px;
      background-color: #ffffff;
      border-radius: 29px;
      padding-top: 8px;
      font-size: 14px;
      color: #c8c8c8;
    }
  }

  .ui.dropdown.active{
    .dropdown.icon{
      transform: rotate(180deg);
    }
  }

  .dropdownMenu_secondPart.item{
    color: #a1a1a1 !important;
  }

  .labelDropAll{
    p{
      margin-bottom: 0;
    }
    .lavelNumber{
      font-family: 'Quicksand';
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
    }
    .lavelText{
      font-size: 12px !important;
      font-weight: 600;
    }
  }
}