.modal_newTamplate{
  margin-top: 20px !important;
  .close.icon{
    color: #797979;
    height: 37px;
    width: 37px;
    background-color: #e9ebee;
    border-radius: 37px;
    margin-top: 16px;
    padding-top: 10px;
    font-weight: 500;
    margin-right: 20px;
  }
}
// .mainNewTemplate{
//   border-radius: 6px !important;
//   .InfoSection{
//     border-radius: 6px !important;
//     background-color: white; 
//     padding: 20px;
//     padding-bottom: 0;
//     p{
//       color: #797979;
//     }
//     .mainNewTemplateForm{
//       padding-top: 10px;
//       .field{
//         padding-bottom: 25px; 
//         label{
//           font-size: 16px;
//         }
//       }
//      .button{
//        position: absolute;
//        right: 59%;
//        margin-top: 32px;
//      }
//       .QuillText .ql-editor{
//         min-height: 120px;
//       }
//     }
//   }
// }

.mainNewTemplate{

  .UploadeDocMessaging{
    padding-left: 20px;
    padding-right: 20px;
    .messagingMainDoc{
      background-color: #f7f7fb  !important;
      margin-bottom: 18px;
    }
  }
  .ql-formats{
    .ql-picker{
      width: 162px;
      height: 32px;
      background-color: #edeff1;
      // border-radius: 30px;

      .ql-picker-label{
        padding-top: 5px;
        font-family: 'Open Sans';
        font-size: 14px;
        color: #575757;
        font-weight: 600;
      }
    }


  }

  .mainNewTemplateForm{
    .mainNewTemplate{
      .field{
        padding-bottom: 20px;
        label{
          font-family: 'Open Sans';
          font-size: 16px;
          color: #323232;
          font-weight: 400;
          padding-bottom: 5px;
        }
      }
      .addMergeBtn{
        position: absolute;
        left: 40%;
        margin-top: 34px;
        button{
          background-color: #edeff1;
          color: #575757;
          .dropdown.icon{
            // background-color: #cdcdcd;
            color: #cdcdcd;
          }
        }
      }
    }
  }
}