.SelectTemplateMobile{
  .templateMobilemiddleContainer{
    // margin-top: 13px;
    background-color: #ffffff;
    .createNewTemp_mobileBtn{
      .bgGhostWhite{
        padding: 0 !important;
        background-color: transparent !important;
      }
    }

    .mainNewTemplate{
      margin-bottom: 60px;
    }

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    .templateName{
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      border-radius: 6px;
      padding: 10px 15px;
      margin-top: 10px;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      p{
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
      
      text-overflow: ellipsis;
      }

      .title{
        font-family: 'Quicksand';
        font-size: 16px;
        font-weight: 500;
        color: #323232;
      }

      .subTitle{
        color: #797979;
        padding-top: 5px;
      }
    }
    // padding-top: 10px;
    .tempMainDiv{
      padding-top: 30px;
      
    }
  }
}