.resume-action-button-modal {
  .ui.medium.image,
  .ui.medium.images .image,
  .ui.medium.images img,
  .ui.medium.images svg {
    width: 100% !important;
    height: auto;
    font-size: 1rem;
  }
  .header {
    padding: 0 !important;
    text-align: center;
  }
  .close {
    padding: 0.525rem 0 0 0 !important;
    border-radius: 35px;
    top: 2.3rem !important;
    right: 0.1rem !important;
  }
  .close:hover {
    opacity: 1 !important;
    background-color: #0b9ed0;
  }
  .modal-image img {
    display: block;
    margin: 0 auto;
  }
  .resume-header-model {
    font-family: "Open Sans";
    font-size: 22px;
    color: #fffefe;
  }
}
.modal-footer-resume {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
  .resume-action-button-resume-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .pdf-download {
      font-family: "Open Sans";
      font-size: 13px;
      color: #ceeefe;
      text-align: center;
      background-color: #0b9ed0;
      border-radius: 20px;
    }
    .pdf-download:hover {
      color: #ceeefe;
      background-color: #0b9ed0;
    }
    .pdf-download:active {
      color: #ceeefe;
      background-color: #0b9ed0;
    }
    .pdf-download:focus {
      color: #ceeefe;
      background-color: #0b9ed0;
      outline: 0;
    }
    .go-back {
      font-family: "Open Sans";
      font-size: 14px;
      color: #575757;
      text-decoration: none;
    }
    .go-back:hover {
      color: #0b9ed0;
      text-decoration: none;
    }
  }
}
@media (max-width: 767px) {
  .ui.modal.resume-action-button-modal > .content {
    padding: 0rem !important;
  }
}
