.Progressbar{
  
  .Progressbar_Label{
    padding-bottom: 10px;
    p{
      color: #ffffff;
      font-family: 'Quicksand';
      font-size: 20px;
    }
  }

  .Progressbar_Body{
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 6px;
    padding: 20px 20px 0;
    .ui.progress{
      background: #ecedf1;
    }
    .ui.progress .bar{
      background: #0b9ed0;
    }
  }
}

@media only screen and (max-width: 767px) { 
  
  .Progressbar{
    .Progressbar_Body{
      background-color: inherit;
      border: none;
      border-radius: 6px;
      padding: 0 5px 0;
    }
  }
}