.calenderEvent-fullMobile {
  .monthMobile_container {
    background: #ffffff;
  }
}

@media only screen and (max-width: 1024px) {
  .calenderEvent-fullMobile {
    .monthMobile_container {
      margin-top: 55px;
      padding-top: 14px;
    }
    .monthMobile_eventBody {
      background-color: #ffffff;
      padding-top: 15px;
      margin-bottom: 14px;
      margin-top: 14px;
      border-radius: 6px;
      padding-bottom: 14px;
    }
  }

  .dayMobile_container {
    margin-top: 55px;
    background-color: #ffffff;
    padding-bottom: 14px;
    padding-top: 5px;
  }

  .weekMobile_container {
    margin-top: 55px;
    background-color: #ffffff;
    padding-bottom: 14px;
    padding-top: 5px;
    .indicator-block {
      padding-top: 14px;
    }
  }

  .viewAllMobile_container {
    margin-top: 55px;
    // background-color: #ffffff;
    // padding-bottom: 14px;
    .react-calendar {
      background-color: transparent !important;
    }
    padding-top: 5px;
    .indicator-block {
      background-color: #ffffff;
      padding: 14px;
    }
  }

  .calendar {
    .calendar-icon-nav {
      color: #cdcdcd;
    }

    .react-calendar__navigation__label {
      font-family: "Quicksand";
      font-size: 15px;
      font-weight: 500;
      color: #797979;
    }
    .react-calendar__tile {
      height: 42px;
    }
    .vas_rc__highlight {
      // color: #ffffff;
    }

    .vas_rc__highlight:after {
      content: " ";
      border-bottom-style: solid;
      border-bottom-color: #f2711c;
      border-bottom-width: 2px;
      display: table-cell;
      width: 200px;
    }
  }
}
