.RecommendedJobs {
  
  .RecommendedJobs_cardContainer{
    box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
    background-color: #ffffff;
    .SearchCardAccordion{
      .accordion{
        .companydetails{
          .subTitle{
            .jobTypeRoll{
              display: none;
            }
            .loctionExp{
              .experience{
                display: none;
              }
            }
          }
        }
        .active{
          .companydetails{
            .skills{
              display: none !important;
            }
            .subTitle{
              .jobTypeRoll{
                display: flex !important;
              }
              .loctionExp{
                .experience{
                  display: flex !important;
                }
              }
            }
            
          }
        }
      }
    }
    .MyJob_cardContainer{
      .jobDefault_card{
        // border-bottom:  1px solid #efefef;
      }
    }
    .Recommended_jobBody{
      .Recommended_jobBodyContainer{
        display: flex;
        .Recommended_jobBodyLeft{
          min-width: 100px;
        }
        .Recommended_jobBodyright{
          padding-top: 10px;
          padding-right: 30px;
          .InfoSection{
            h2.ui.header.is-medium{
              margin-bottom: 10px;
            }
          }
          .Recommended_jobBodyFooter{
            padding-top: 30px;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}