.ScheduleInterview{
  // margin-top: 10px;
  height: 100%;

  .LabelStar{
    display: inline-block;
  }

  .ScheduleInterview_header{

    .MobileHeader{
      background-color: #0b9ed0 !important;
      border-radius: 0px 0px 0px 0px;
      height: 63px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // .ui.grid{
      //   .row{
      //     .column{
      //       width: 100% !important;
      //     }
      //   }
      // }
      .MobileHeader_Left{
        display: flex;
      }
      .closeBtn_interview{
        padding: 0;
        background-color: transparent;
        &:hover svg path{
          fill: #ffffff;
        }
      }
      .header{
        padding-left: 10px;
      }
    }
  }
}