.InfoSectionGridHeader {
  background-color: #ffffff;
  padding-top: 10px;
  // .grid .row{
  //   padding-bottom: 0;
  // }
  .header-item {
    color: #0b9ed0;
    font-size: 20px !important;
  }

  .header-container {
    .header_editBtn {
      background-color: inherit;
      box-shadow: none !important;
      // border: 1px solid #EFEFEF;
      border-radius: 35px;
      height: 28px;
      width: 28px;
      padding: 1px;
      &:hover {
        background-color: #eeeef2;
      }
    }
  }
}

@media (max-width: 1025px) {
  .InfoSectionGridHeader {
    .header-item {
      font-size: 16px !important;
    }
  }
}
