.fileUpload {
  text-align: center;
  label {
    width: 100%;
  }

  .title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0b9ed0;
    font-size: 12px;
  }
  .subTitle {
    font-size: 12px;
    color: #a1a1a1;
  }
}

.publicProfileBanner {
  img {
    position: static !important;
  }
}

.preProfileDetail {
  .preProfileDetail_row {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
  }
}

.displayBlock {
  display: block !important;
}

.displayNone {
  display: none;
}

.PublicProfileView_detailContainer {
  box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
}
.preProfileDetail {
  // border-bottom-left-radius: 5px;
  // border-bottom-right-radius: 5px;
  .profileEdit_userIcon {
    position: absolute;
    right: 35px;
    margin-top: 10px;
    button {
      background-color: inherit;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-radius: 35px;
      height: 28px;
      width: 28px;
      padding: 1px;

      &:hover {
        background-color: #f7f7fb;
      }

      &:active {
        background-color: #f7f7fb;
      }

      &:focus {
        background-color: #f7f7fb;
      }
    }
  }

  .userImgThumbProfile {
    position: relative;
    .UserLogo {
      svg {
        border-radius: 50%;
      }
    }
    .userImgThumb_editIcon {
      position: absolute;
      height: 37px;
      margin-left: -40px;
      right: -8%;
      margin-top: -100px;
      padding-top: 9px;
      // padding-left: 1px;
      width: 37px;
      background-color: #ffffff;
      border-radius: 37px;
      display: none;
      cursor: pointer;
    }

    &:hover .userImgThumb_editIcon {
      display: block !important;
    }
  }

  .preProfileDetail_row {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
  }
}

.preProfileDetail_body {
  padding: 5px 30px 30px 30px;
  .InfoSectionGridHeader {
    // margin-top: 400px;
    .mandatory_skill {
      padding-top: 10px;
      p {
        font-size: 15px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 5px;
      }
    }
    .skillBtn button {
      background-color: inherit;
      border: 1px solid #efefef;
      border-radius: 16px;
      color: #323232;
      cursor: text;
      .span {
      }
    }
    .optional_skill {
      p {
        padding-top: 10px;
        font-size: 15px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 5px;
      }
    }
  }
  .expwrience-detaile {
    .preHeaderTitle.header {
      color: #0b9ed0 !important;
      font-size: 18px;
      font-weight: 500;
    }

    .expDescription {
      .list {
        padding-top: 0;
        padding-left: 0;
        .expDescriptionHeader {
          font-size: 16px;
          margin-bottom: 0 !important;
          color: #323232 !important;
          padding-bottom: 5px !important;
          font-weight: 500 !important;
        }
        .expDescriptionSub {
          color: #575757 !important;
        }
      }
    }
    .expSummary {
      .ql-editor p {
        color: #797979 !important;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  .educationPreProfile {
    .expDescriptionHeader {
      font-size: 16px;
      margin-bottom: 0;
      color: #323232 !important;
      padding-bottom: 5px !important;
      font-weight: 500 !important;
      font-family: "Open Sans";
    }
  }
}

.PublicProfileView {
  // box-shadow: 0px 10px 15px rgba(3, 0, 73, 0.13) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.divider {
  position: relative;
  .divider-border {
    border-top: 1px solid #efefef;
  }
}

.public-profile {
  .preProfileHeaderDetail {
    .userImgThumb {
      // position: relative;
      img {
        height: 101px;
        width: 101px;
      }
    }
    .content {
      position: relative;
    }
    .socialLike_container {
      display: none;
    }
  }
  .PublicProfileView {
    .preProfileDetail {
      // background-color: #ffffff;
      // .ui.list{
      //   margin-top: -60px;
      // }
    }

    .preProfileDetail_body {
      border-radius: 0 0 6px 6px;
      // margin-left: 14px;
      // margin-right: 14px;
      background-color: #ffffff;
    }
  }
}

.UserPublicProfileDetail {
  margin-top: -64px;
  .FollowBtn_publicProfile {
  }
}

@media only screen and (max-width: 1024px) {
  .public-profile {
    .preProfileDetail_body {
      padding: 5px 14px 30px 14px !important;
    }
    .preProfileDetail_body {
      padding: 5px 30px 30px 30px;
      .expwrience-detaile {
        .preHeaderTitle.header {
          color: #0b9ed0 !important;
          font-size: 16px !important;
          font-weight: 500;
        }
      }
    }
    width: 100%;
    // .ui.container{
    //   margin-left: 0 !important;
    //   margin-right: 0 !important;
    //   .PublicProfileView{
    //     .preProfileDetail{
    //       margin-left: 14px;
    //       margin-right: 14px;
    //       border-radius: 6px 6px 0 0;
    //     }
    //     .preProfileDetail_body{

    //       margin-left: 14px;
    //       margin-right: 14px;

    //     }
    //   }
    // }

    .PublicProfileBanner_img {
      background-size: cover;
      background-position: center center;
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
    margin-top: 50px !important;
    .preProfileHeaderDetail {
      margin-top: -18px;
      .socialLike_container {
        margin-top: 10px;
        margin-bottom: 10px;
        display: block !important;
      }
    }
  }
  .preProfileDetail {
    .userImgThumbProfile {
      .userImgThumb_editIcon {
        right: 31%;
      }
    }
  }
  .UserView_main {
  }
}
