.CardInputButton {
  &.ui.card {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0.6em 0.4em;
    .InputButton{
      .ui.button{
        height: 36px;
        width: 36px;
      }
    }
  }

  .ui.header {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .messageShow{
    padding: 10px;
    text-align: center;
    .title{
      font-size: 18px;
      color: #0b9ed0;
      // text-align: center;
      // padding-top: 20px;
      // padding-bottom: 20px;
      margin-bottom: 0;
    }
    .subTitle{
      color: #575757;
    }
  }
}

@media only screen and (max-width: 1024px){
  .CardInputButton {
    &.ui.card{
      .InputButton{
        .ui.button{
          height: 30px;
          width: 30px;
          padding: 7px;
        }
        input{
          height: 36px;
        }
      }
    }  
  }
}