.AdvanceSearchMobile{
  // padding-left: 2px;
  padding-right: 2px;
  .ui.grid{
    .five.column{
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      .vertical.tabular{
        border: none;
        .item{
          font-family: 'Open Sans';
          font-size: 13px;
          font-weight: 600;
          color: #575757;
          border: none;
          border-left: none;
          padding: 10px 10px;
          &:hover{
            color: #0b9ed0;
          }
        }
        .active.item{
          border: none;
          color: #0b9ed0;
        }
      }
    }
    .stretched.column{
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      .active.tab{
        border: none;
        // padding-top: 0;
      }
    }
  }
  .AdvanceSearchMobile_footer{
    .isMobileFooter_fixe{
      background-color: #f7f7fb;
      border-top: 1px solid #eeeef2;
      .MobileHeader_Left{
        .ui.header{
          display: flex;
        }
        
      }
      .clearAllBtn{
        padding: 0;
        background-color: transparent;
        font-size: 13px;
        color: #0b9ed0;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .AdvanceSearch{
    margin-top: 68px;
    .AdvanceSearchBodyHeaderBody{
      .AdvanceSearchAdd_moreChip{
        margin-top: 0px;
      }
    }
    
  }
}