.InterviewPreferenceFooter{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  .footer_containerLeft{
    p{
      color: #0b9ed0;
      .ui.button{
        padding: 0;
        background-color: transparent;
        color: #0b9ed0;
        
        svg{
          transform: rotate(-180deg);
        }
      }
      a{
        color: #0b9ed0;
      }
    }
  }
  .footer_containerRight{
    display: flex;
    .saveAsDraft{
      .previewBtn{
        display: inline-block;
      }
    }

    .saveDraftBtn{
      .previewBtn{
        display: inline-block;
      }
    }


    .footerActionBtn{
      display: flex;
      flex-direction: column;
      align-items: center;
      .ActionBtn{
        margin-bottom: 5px;
        
      }
      .actionBtn_title{
        text-align: center;
      }
      p{
        margin-bottom: 0;
        font-size: 13px;
        color: #a1a1a1;
      }
    }
    .cancelBtn{
      color: #0b9ed0;
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 1024px){
  .InterviewPreferenceFooter{
    .footer_containerRight{
      flex-direction: column;
      .saveDraftBtn{
        text-align: center;
      }
      .saveAsDraft{
        text-align: center;
      }
      .footerActionBtn{
        .ui.button{
          width: 100%;
        }
      }
    }
  }
}