.mobileSearch_banner{
  padding-top: 14px;
}

@media only screen and (max-width: 767px) { 
  .CardSummary{
    h2.ui.header {
      font-size: 18px;
    }
  }

 .MediaCard {
  .title .card {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  
 }

  .mobileSearch_jobCard{
    padding-top: 14px;
    .MediaCard{
      margin-top: 0 !important;
    }
  }

  .mobileSearch_People{
    margin-top: 30px;
    .MediaCard{
      margin-top: 0 !important;
    }
  }
 
}