#wrapper {
  width: 100%;
  height: 100%;
  // overflow-y: scroll;
}

#sidebar {
  overflow: hidden;
}

.cardFooter_IconArrow {
  .closeIcon_footer {
    background-color: #f7f7fb !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #c8c8c8 !important;
    padding: 1px;
    height: 28px;
    width: 28px;
    padding: 1px;
    border-radius: 30px;
    padding-left: 9px;
  }
}

#searchFilterPanel {
  // color: white;
  // background: #111;
  // // width: 40vw;
  // // float: left;
  // // position: absolute;
  top: 0;
  left: 0;
}

#searchFilterPanel.fixed {
  position: fixed;
  top: auto;
  bottom: 0;
}

// .job-search-filter{
//   position: fixed !important;
//   width: 19.5%;
// }

// fix pagination display
.ais-Pagination-item--disabled {
  display: "none";
}

.search-result-panel {
  .search-filter-menu {
    .FilterClearAllBtn {
      box-shadow: none;
      font-size: 12px;
      background-color: transparent !important;
      &:hover {
        box-shadow: none;
        background-color: transparent !important;
        color: #0b9ed0 !important;
      }
    }
  }

  .people-pane {
    .searchFilterCard {
      .active.title {
        // .search__cardHeader{
        //   padding-bottom: 5px;
        // }
      }

      .content.active {
        .accordian-body {
          padding-top: 0 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .mobileScreen_container {
    .isShowJobTitleDesktop {
      display: none;
    }
    .search-filter-menu {
      position: absolute;
      width: 100%;
      left: 0;
      margin-top: -75px;
      z-index: 1000;
      min-height: 500px;
      background-color: #f7f7fb;

      .mobile__FilterHeader {
        background-color: #1f2532;
        padding-left: 14px;
        padding-right: 14px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10000;
        padding: 14px;
        color: #ffffff;
        .ui.header {
          color: #ffffff;
        }
        .closeBtn {
          background-color: transparent;
          padding: 0;
          svg {
            path {
              fill: #0b9ed0;
            }
          }
        }
        .ApplyBtn {
          background-color: #1f2532;
          border: 1px solid #6e768a;
          color: #6e768a;
          padding-top: 7px;
          padding-bottom: 7px;
          margin-right: 20px;
        }
        .active {
          border: 1px solid #0b9ed0;
          color: #0b9ed0;
        }
      }
      .clearAllBtn {
        margin-top: 20px;
        margin-bottom: 5px;
        padding-left: 15px;
        .clearFilterBtn {
          background-color: transparent;
          padding: 0;
        }
      }
    }
  }
}
