.BodyHeaderDetail{
  .description_container{
    background-color: #ffffff !important;
    border-radius: 0 !important;
    // padding-left: 30px !important;
    // padding-right: 30px !important;
  }
}