.margin-main-block {
  margin: 100px 0 50px;
}
.cv-template-third {
  // .wrapper-section-block {

  // }
  .icon-cv3 {
    margin: 3px 0 0 0 !important;
  }
  .edit-action-arrange {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cv-3-image {
    width: 130px;
    border-radius: 50%;
  }
  .edit-action-button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
  }
  .edit-show-cv-3-image {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .profile-edit-show:hover .edit-action-button {
    visibility: visible;
    opacity: 1;
  }
  .certificate-edit-section:hover .edit-action-button {
    visibility: visible;
    opacity: 1;
  }
  .summary-edit-section:hover .edit-action-button {
    visibility: visible;
    opacity: 1;
  }
  .skills-edit-section:hover .edit-action-button {
    visibility: visible;
    opacity: 1;
  }
  .experience-edit-section:hover .edit-action-button {
    visibility: visible;
    opacity: 1;
  }
  .education-edit-section:hover .edit-action-button {
    visibility: visible;
    opacity: 1;
  }

  .resume-edit-action {
    background-color: inherit;
    box-shadow: none !important;
    border-radius: 35px;
    height: 28px;
    width: 28px;
    padding: 1px !important;
  }
  .resume-edit-action:hover {
    background-color: #f7f7fb;
  }
  .resume-edit-action:active {
    background-color: #f7f7fb;
  }
  .resume-edit-action:focus {
    background-color: #f7f7fb;
    outline: none;
  }
  .title-header {
    display: flex;
    justify-content: space-between;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  a {
    color: #2d7788;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }

  a:hover {
    text-decoration: underline;
    color: #1a454f;
  }

  a:focus {
    text-decoration: none;
  }

  p {
    line-height: 1.5;
  }
  .wrapper-section {
    max-width: 960px;
    margin: 0 auto;
  }
  .wrapper {
    position: relative;
    background: #42a8c0;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .sidebar-wrapper {
    background: #0b9ed0;
    position: absolute;
    left: 0;
    width: 240px;
    height: 100%;
    min-height: 430px;
    color: #fff;
  }

  .sidebar-wrapper a {
    color: #fff;
  }

  .sidebar-wrapper .profile-container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }

  .sidebar-wrapper .name {
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .sidebar-wrapper .tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar-wrapper .profile {
    margin-bottom: 15px;
  }

  .sidebar-wrapper .contact-list .svg-inline--fa {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
  }

  .sidebar-wrapper .contact-list li {
    margin-bottom: 15px;
  }

  .sidebar-wrapper .contact-list li:last-child {
    margin-bottom: 0;
  }

  .sidebar-wrapper .contact-list .email .svg-inline--fa {
    font-size: 14px;
  }

  .sidebar-wrapper .container-block {
    padding: 20px;
  }

  .sidebar-wrapper .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .sidebar-wrapper .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .sidebar-wrapper .education-container .item {
    margin-bottom: 15px;
  }

  .sidebar-wrapper .education-container .item:last-child {
    margin-bottom: 0;
  }

  .sidebar-wrapper .education-container .meta {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 14px;
  }

  .sidebar-wrapper .education-container .time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
  }

  .sidebar-wrapper .languages-container .lang-desc {
    color: rgba(255, 255, 255, 0.6);
  }

  .sidebar-wrapper .languages-list {
    margin-bottom: 0;
  }

  .sidebar-wrapper .languages-list li {
    margin-bottom: 10px;
  }

  .sidebar-wrapper .languages-list li:last-child {
    margin-bottom: 0;
  }

  .sidebar-wrapper .interests-list {
    margin-bottom: 0;
  }

  .sidebar-wrapper .interests-list li {
    margin-bottom: 10px;
  }

  .sidebar-wrapper .interests-list li:last-child {
    margin-bottom: 0;
  }

  .main-wrapper {
    background: #fff;
    padding: 40px;
    padding-left: 280px;
    min-height: 430px;
  }

  .main-wrapper .section-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #0b9ed0;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .main-wrapper .section-title .icon-holder {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #0b9ed0;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: -3px;
  }

  .main-wrapper .section-title .icon-holder .svg-inline--fa {
    font-size: 14px;
    margin-top: 6px;
  }

  .main-wrapper .section {
    margin-bottom: 60px;
  }

  .main-wrapper .experiences-section .item {
    margin-bottom: 30px;
  }

  .main-wrapper .upper-row {
    position: relative;
    overflow: hidden;
    margin-bottom: 2px;
  }

  .main-wrapper .job-title {
    color: #3f4650;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }

  .main-wrapper .time {
    position: absolute;
    right: 0;
    top: 0;
    color: #797979;
  }

  .main-wrapper .company {
    margin-bottom: 10px;
    color: #575757;
  }

  .main-wrapper .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .main-wrapper .projects-section .intro {
    margin-bottom: 30px;
  }

  .main-wrapper .projects-section .item {
    margin-bottom: 15px;
  }

  .skillset .item {
    margin-bottom: 15px;
    overflow: hidden;
  }

  .skillset .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  .skillset .level-bar {
    height: 12px;
    background: #f5f5f5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  .skillset .theme-progress-bar {
    background: #0b9ed0;
  }

  .footer {
    padding: 30px;
    padding-top: 60px;
  }

  .footer .copyright {
    line-height: 1.6;
    color: #545e6c;
    font-size: 13px;
  }

  .footer .fa-heart {
    color: #fb866a;
  }

  @media (max-width: 767.98px) {
    .sidebar-wrapper {
      position: static;
      width: inherit;
    }
    .main-wrapper {
      padding: 30px;
    }
    .main-wrapper .time {
      position: static;
      display: block;
      margin-top: 5px;
    }
    .main-wrapper .upper-row {
      margin-bottom: 0;
    }
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }

  .list-inline {
    padding-left: 0;
    list-style: none;
  }

  .list-inline-item {
    display: inline-block;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }

  @keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }

  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #434e5e;
    transition: width 0.6s ease;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none;
    }
  }

  .progress-bar-striped {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }

  .progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
  }
  @media (min-width: 992px) {
    .skillset .level-title {
      display: inline-block;
      float: left;
      width: 30%;
      margin-bottom: 0;
    }
  }
  .trucate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 768px) {
  .margin-main-block {
    margin: 50px 0 50px;
  }
}
