.DesireJobs{
  .createProfile_SalaryText{
    .column.twelve{
      display: flex;
      align-items: center ;
      p{
        color: #c8c8c8;
        font-size: 14px;
      }
    }
  }

  .createProfile_salaryDropdown{
    .createProfileSalary_mobileContainer{
      display: none;
    }
    .SalaryDropdown{
      margin-right: -10px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .createProfile_salaryDropdown{
    // .createProfileSalary_mobileContainer{
    //   display: block !important;
    // }
    .curentSalary_input .field{
      margin-bottom: 10px !important;
    }
    .mobile_Salary{
      padding-top: 5px !important;
    }
    .mobile_SalaryDropdown{
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .DesireJobs{
    .createProfile_salaryDropdown{
      .createProfileSalary_mobileContainer{
        display: block !important;
        margin-top: 10px;
      }
    }
    .InfoSection.is-subheader {
      .subheader-container{
        flex-direction: column;
        align-items: flex-start;
        .header-item{
          margin-left: 0;
        }
        svg{
          display: none;
        }
      }
    }
    
  }
}