.Main_Box_Filter{
  // width: 320px;
  // height: 480px;
  .candidate_filterContainer{
    margin-top: 60px;
    .ui.grid{
      margin: 0 !important;
    }
  }
  .Main_Form{
    padding: 17px 0 !important;
    // background-color: #ffffff;
    .ui.checkbox input:focus~label{
      color: #0b9ed0 !important;
    }
    
    .SelectOptionField{
      .downArrow__icon{
        // margin-top: -46px;
      }
    }

    .field{
      padding-bottom: 17px;
      label{
        font-family: 'Open Sans' !important;
        font-size: 14px !important;
        color: #575757 !important;
        font-weight: 500 !important;
      }
      .downArrow__icon{
        // margin-top: -46px !important;
      }
    }
  }
}
