.mainNewTemplate{
  border-radius: 6px !important;

  .ql-formats{
    .ql-picker{
      width: 162px;
      height: 32px;
      background-color: #edeff1;
      // border-radius: 30px;

      .ql-picker-label{
        padding-top: 5px;
        font-family: 'Open Sans';
        font-size: 14px;
        color: #575757;
        font-weight: 600;
      }
    }
  }
  .InfoSection{
    border-radius: 6px !important;
    // background-color: white; 
    padding: 20px;
    padding-bottom: 0;
    p{
      color: #797979;
    }
    .mainNewTemplateForm{
      padding-top: 10px;
      .field{
        padding-bottom: 25px; 
        label{
          font-size: 16px;
        }
      }
     .button{
       position: absolute;
       right: 38%;
       margin-top: 32px;
     }
      .QuillText .ql-editor{
        min-height: 120px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .mainNewTemplate{
    .mainNewTemplateForm{
      .mobile_mergeField.ui.button{
        background-color: #edeff1;
        border-radius: 15px;
        font-size: 12px;
        color: #575757;
        height: 30px;
        width: 135px;
        padding-right: 5px;
        padding-left: 5px;
        right: 3%;
        margin-top: 35px;
      }
      .quill{
        .ql-toolbar{
          .ql-formats{
            margin-right: 5px;
            button{
              width: 27px;
              padding: 7px 4px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .mainNewTemplate{
    .InfoSection{
      padding: 10px 12px !important;
      .is-large{
        font-size: 18px !important;
      }
    }
  }
}