.profileUploadeResume{
  display: flex;
  align-items: center;
  justify-content: center;
  .MoreOptionSocialMenu{
    .ui.button{
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
      .ellipsis.icon{
        color: #797979;
      }
    }
  }
}