.ReviewScreeningQuestions{
  margin-top: 75px;
  .screening_note{
    margin-top: 20px;
    p{
      color: #797979;
      span{
       font-weight: 600;
       color: #575757;
      }
    }
  }
}

.ScreeningQuestionsContainer{
  .ScreeningQuestions_body{
    margin-top: 30px;

    .InterviewPreferenceFooter{
      .footer_containerLeft{
        a{
          color: #0b9ed0;
        }
      }
    }
  }
}