.skillsComponent {
  .ui.horizontal.list > .item {
    margin-left: 0.1em;
  }
  button.ui.button {
    background-color: inherit;
    border: 1px solid #efefef;
    border-radius: 16px;
    color: #323232;
    cursor: text;
  }
}
.external-job-button {
  svg {
    margin: 0 0 -2px 8px;
  }
}
.job-search-card-title {
  display: block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px !important;
}
.job-search-card-sub-title {
  display: block !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px !important;
  color: #575757 !important;
}

@media (max-width: 1025px) {
  .search-card-block-one {
    padding: 0 0 0 8px !important;
  }
  .search-card-block-two {
    padding: 0 8px 0 0 !important;
  }
  .job-search-card-title {
    display: block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px !important;
  }
  .job-search-card-title a:active {
    color: #0b9ed0 !important;
  }
  .job-search-card-title a:focus {
    color: #0b9ed0 !important;
  }
  .job-search-card-sub-title {
    display: block !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px !important;
    color: #575757 !important;
    width: 200px;
  }
}
