.DefaultSearchTagField{
  position: relative;
  .downArrow__icon{
    position: absolute;
    right: 20px;
    margin-top: -30px;
    z-index: 1;
  }

  .selection.dropdown{
    border: 1px solid #efefef;
    &:hover{
      border: 1px solid #efefef;
    }
    .ui.label{
      background-color: #ffffff;
      border: 1px solid #0b9ed0;
      border-radius: 15px;
      font-family: 'Open Sans';
      font-size: 13px;
      color: #0b9ed0;
      
      .delete.icon{
        display: none;
        color: #0b9ed0;
        opacity: 1;
      }

      &:hover{
        .delete.icon{
          display: inline-block;
        }
      }
    }
  }
}