// .CandidatesDetailpageMobile{
//   .CandidatesDetail_Header{
//     .isMobileHeader_fixe{
//       .MobileHeader_Left{
//         display: flex;
//         align-items: center;
//         .mobileHeaderLogo{
//           display: inline-block;
//           img{
//             height: 27px;
//             width: 27px;
//             display: inline-block;
//           }
//         }
//         .ui.header{
//           margin-left: 5px !important;
//         }
//       }
//     }
//   }

//   .CandidatesDetail_Footer{
//     .isMobileFooter_fixe{
//       .MobileHeader_Left{
//         .mobileFooter_status{
//           display: flex;
//           align-items: center;
//           p{
//             margin-bottom: 0;
//             font-size: 14px;
//             font-weight: 600;
//             color: #6e768a;
//             margin-right: 14px;
//           }
//           .ui.button{
//             background-color: #1f2532;
//             border: 1px solid #6e768a;
//             border-radius: 6px;
//             font-size: 14px;
//             font-weight: 600;
//             color: #0b9ed0;
//           }
//         }
//       }
//     }
//   }
//   .CandidatesDetail_Body{
//     margin-bottom: 80px;
//     .detailsBody_container{
//       .description_container{
//         .description{
//           .descTitle{
//             margin-bottom: 2px;
            
//           }
//           .menu-list{
//             p{
//               margin-bottom: 5px;
//             }
//           }
//         }
//       }
//     }
//   }
// }



// // .MobileProfileIncrese{
// //   background-color: #ffffff;
// //   border-radius: 6px;
// //   height: 52px;
// //   width: 66px;
// //   text-align: center;
// //   p{
// //     margin-bottom: 0;
// //   }
// //   .Increse{
// //     font-family: 'Quicksand';
// //     font-size: 20px;
// //     font-weight: 500;
// //     color: #009d8c;
// //   }
// //   .match{
// //     font-size: 12px;
// //     color: #a1a1a1;
// //   }
// // }

// @media only screen and (max-width: 1024px){
//   .CandidatesDetailpageMobile{
//     .CandidatesDetail_headerBody{
//       .CandidatesDetailsHeader_leftSide{
//         .back_arrow{
//           display: none !important;
//         }
//         .companyLeftDetail{
//           display: none !important;
//         }
//       }
//     }
//     .UserProfilePageSection{
//       .description_container{
//         flex-direction: column !important;
//         .description .menu-list{
//           flex-direction: column !important;
//         }

//         .downloadCVBtn{
//           margin-top: 10px;
//         }
//       }
//     }
    
//   }
// }