.FileuploadBtn{
  display: inline-block;
  .fileuploadFlatBtn{
    background-color: transparent !important;
    border: 1px solid #c8c8c8 !important;
    border-radius: 5px !important;
    
    .fileUplaod_text{
      color: #f7f7fb;
      display: block;
    }
  }

  .fileuploadDefaultBtn{
    border-radius: 20px !important;
    background-color: #edeff1 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    .fileUplaod_text{
      color: #575757;
    }
    .fileUplaod_icon{
      svg{
        margin-right: 10px;
      }
    }
  }
  
  label{
    text-align: center;
    cursor: pointer;
    .fileUplaod_text{
      font-size: 14px;
      font-weight: 500;
    }
  }
}


@media only screen and (max-width: 767px) { 
  .FileuploadBtn{
    text-align: center;
    .fileUplaod_icon{
      svg{
        margin-right: 7px;
      }
    }
    .fileUplaod_text{
      display: inline!important;
    }
  }
}
