.SearchFilterBtn{
  .SearchFilterBtn_header{
    .jobFilter_Btn{
      background: #eeeef2;
      color: #575757;
    }
    .search__alertBtn{
      background: transparent;
      color: #A1A1A1 !important;
    }
  }
  
}