.HomePageCategories {
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 70px;
  background-color: #ffffff;
  .scrolling-wrapper {
    margin-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    display: flex;
    justify-content: space-between;

    &::-webkit-scrollbar {
      display: none;
    }
    .categoryCardBlack {
      background-color: black;
      display: flex !important;
      align-items: center !important;
      span {
        color: #ffffff !important;
      }
    }

    .categoryCard {
      margin-right: 20px;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 70px;
      box-shadow: 0px 0px 15px rgba(3, 0, 73, 0.13) !important;
      cursor: pointer;
      text-align: center !important;
      padding: 20px;
      border-radius: 6px;

      img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .categoryCardHeading {
        display: block;
        font-family: "Quicksand";
        font-size: 15px;
        font-weight: bold;
        color: #323232;
      }
      .categoryCardSubHeading {
        font-family: "Open Sans";
        font-size: 13px;
        color: #575757;
      }
    }
  }
  .MobileHomepageViewAllCt {
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    color: #0b9ed0;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .categoryCard {
    padding: 10px;
    height: 80px;
    margin-bottom: 0px;
  }
  .categoryCard img {
    display: none !important;
  }
  .categoryCardBlack {
    visibility: hidden;
    display: none;
  }
}
