.mainTemplateButtonFooter{
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-bottom: 23px;
  .bgTranceparent{
    margin-left: 20px;
  }
}