.ChatThreadMessageField {
  background-color: #f7f7fb;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  // position: fixed;
  bottom: 0;

  .templateBtn {
    padding: 0 !important;
    background-color: transparent;
    // border: 1px solid #efefef;
    border-radius: 6px;
    color: #0b9ed0;
    margin-right: 20px;
    // width: 125px;
    &:hover {
      background-color: #ffffff;
    }
  }

  .chatThread_messageFieldBox {
    display: flex;
    flex: 0 auto;
    .chatThread_templateBtnBox {
      // width: 190px;
      text-align: right;
      justify-content: center;
      align-items: center;
      display: flex;
      .FileuploadBtn {
        label {
          padding: 0;
          padding-right: 20px;
        }
      }
      .templateBtn:hover {
        svg path {
          fill: #0b9ed0;
        }
      }
    }
    // textarea:focus .chatThread_messageFieldBox {
    //   box-shadow: 0 0 20px rgba(3, 0, 73, 0.09) !important;
    //   background: #0b9ed0;
    // }
    .chatThread_textAreaBtn {
      width: 100%;
      display: flex;
      align-items: center;
      background: #ffffff;
      border-radius: 30px;
      .chatBox_textAreaField {
        position: relative;
        width: 100%;
        textarea {
          border-radius: 30px 0px 0 30px;
          border: 0;
          // box-shadow: none !important;
          max-height: 73px !important;
        }
        textarea:focus {
          box-shadow: -20px 0 20px rgba(3, 0, 73, 0.09);
        }

        textarea::-webkit-scrollbar {
          width: 5px;
        }

        /* Track */
        textarea::-webkit-scrollbar-track {
          background: transparent;
        }

        /* Handle */
        textarea::-webkit-scrollbar-thumb {
          background: #a1a1a1 !important;
          border-radius: 0 !important;
        }

        // textarea::-webkit-scrollbar {
        //   width: 4px;
        //   height: 100px !important;
        //   border-radius: 0 !important;
        // }

        // /* Track */
        // textarea::-webkit-scrollbar-track {
        //   background: transparent;
        // }

        // /* Handle */
        // textarea::-webkit-scrollbar-thumb {
        //   background: #a1a1a1 !important;
        //   border-radius: 0 !important;
        //   height:50px !important;
        // }
        /* width */

        .sendBtn {
          position: absolute;
          right: 2px;
          top: 5px;
        }
      }

      .messageSend_btn {
        background-color: #ffffff;
        min-height: 41px;
        border-radius: 0px 30px 30px 0;
        line-height: 40px;
        padding-left: 10px;
        margin-right: 5px;
      }

      .UploadeDocMessaging {
        margin-bottom: 10px;
      }

      .chatBox_textAreaField {
        .quill .ql-editor {
          min-height: 60px !important;
        }
      }
    }
  }

  .chatBox_btn {
    margin-top: 14px;
    margin-bottom: 14px;
    .footerBtn {
      .moreOptionIconBtn {
        .menu {
          border: none;
        }
      }
      .sendMessage {
        .sendTitle {
          margin-bottom: 0px;
          font-size: 14px;
          color: #575757;
          font-weight: 600;
        }

        .sendSubTitle {
          font-size: 12px;
          color: #a1a1a1;
        }
      }
    }
  }
  .footerBtn.row {
    align-items: center;
    padding-top: 0;

    .right.column.six {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .attachmentBtn {
      padding: 0;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }

      &:active {
        background-color: transparent;
      }

      &:focus {
        background-color: transparent;
      }
    }

    .sendBtn {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .moreOptionIconBtn {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.TemplateContainer_modal {
  .close.icon {
    color: #797979;
    margin-top: -14px;
    margin-right: 27px;
  }
}
